[2021-01-29 08:53] ErikSchierboom commented on #2285
As of today, the default branch of this repository has been changed to main.

[2021-01-29 09:25] ErikSchierboom commented on #2279
As of today, the website has entered maintenance mode.

[2021-01-29 12:06] BethanyG commented on #1867
@cmccandless -- should we be leaving this open to remind us to look at and restructure the practice [V2] exercises as we move to V3 .... or should we close this in favor of an issue that focuses on mapping V3 concepts to practice exercises?

[2021-01-29 13:36] cmccandless commented on #1867
I think close it. V3 approaches this in a completely different way.

[2021-01-29 13:50] #1867 closed

[2021-01-29 14:50] ErikSchierboom opened #2299 "[v3] Configure online editor"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, students can now choose to work on exercises directly from their browser, instead of having to download exercises to their local machine. The track-specific settings for the in-browser editor are defined in the top-level `"online_editor"`

[2021-01-29 14:50] ErikSchierboom opened #2300 "[v3] Add key features"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, each track must specify exactly six "key features". Exercism uses these features to highlight the most interesting, unique or "best" features of a language to a student.

Key features are specified in the top-level `"key_features"` field

[2021-01-29 14:50] ErikSchierboom opened #2301 "[v3] Add tags"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, tracks can be annotated with tags. This allows searching for tracks with a certain tag combination, making it easy for students to find an interesting track to join.

Tags are specified in the top-level `"tags"` field in the track's `conf

[2021-01-29 14:50] ErikSchierboom opened #2302 "[v3] Add prerequisites to Practice Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Exercism v3 introduces a new type of exercise: [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/product/concept-exercises.md). All existing (V2) exercises will become [Practice Exercises](https://github.com/exercism/v3-docs/blob/main/pro

[2021-01-29 14:50] ErikSchierboom opened #2303 "Pass linting checks"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

The [configlet tool](https://github.com/exercism/canonical-data-syncer) has a `lint` command that checks if a track's configuration files are properly structured - both syntactically and semantically. Misconfigured tracks may not sync correctly, may look

[2021-01-29 14:50] ErikSchierboom opened #2304 "[v3] Build Test Runner"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, one of the biggest changes is that we'll automatically check if a submitted solution passes all the tests.

We'll check this via a new, track-specific tool: the [Test Runner](https://github.com/exercism/v3-docs/tree/main/anatomy/track-too

[2021-01-29 14:50] ErikSchierboom opened #2305 "[v3] Build Representer and Analyzer"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

## Representer

In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/v3-docs/tree/main/anatomy/track-tooling/representers). The goal of the representer is to take a solution and returning a representation

[2021-01-29 14:50] ErikSchierboom opened #2306 "[v3] Update status of track"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

There are several new features in Exercism v3 for tracks to build. To selectively enable these features on the Exercism v3 website, each track must keep track of the status of the following features:

- [Concept Exercises](https://github.com/exercism/v3-

[2021-01-29 14:50] ErikSchierboom opened #2307 "Update status of Concept Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Concept Exercises can have a status specified in their `"status"` field in their `config.json` entry, as specified in [the spec](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/config-json.md#concept-exercises). This status can be one of fou

[2021-01-29 14:50] ErikSchierboom opened #2308 "Launch Tracker 🔴"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

To get your track ready for Exercism v3, the following needs to be done:

- [x] [Configure online editor](https://github.com/exercism/python/issues/2299)
- [x] [Add key features](https://github.com/exercism/python/issues/2300)
- [x] [Add tags](https://gi

[2021-01-29 16:25] cmccandless opened #2310 "[CI] Update tooling for v3"
## Changed components

- Exercises are no longer in just one directory (exercises/). They are in either **`exercises/concept/`** or **`exercises/practice/`**
- Example solutions will now be under a `.meta/` directory:
   - **practice exercise** example files will move from the directory _itself_ (**`two-fer/example.py`**) to a **new** `.meta/` directory.  Optionally, files can be renamed to `proof

[2021-01-29 16:26] cmccandless commented on #2310
Additionally, it might be easier to maintain our CI workflows if we break out ci-workflow.yml into separate workflow files.

[2021-02-01 12:19] BethanyG commented on #2299
The online editor was previously configured for Python, but linking the latest pull request to confirm it is done.

[2021-02-01 12:24] BethanyG commented on #2305
**Note:**  Both a baseline representer and a baseline analyzer are completed for Python.  However, they both need updating for student-facing messages, concept exercises, and the new repo structure -- so this issue needs to stay open until the reminder of the updates are done.  Sub-issues for each will be noted/lined here.

[2021-02-02 09:11] ErikSchierboom commented on #2299
@BethanyG I don't see the online editor being modified in that PR. It looks like my migration PR [added this field](https://github.com/exercism/python/commit/e5f5e0719534c5052e517a776f1c4478a9121212#diff-587cb980af76fdc7e52369fd0b9d926dff266976b6f8ac631e358fecc49ff8cf) to this repo. If so, it will have used the default settings (which might be correct for Python). My script could of course also ha

[2021-02-02 14:10] BethanyG commented on #2299
@ErikSchierboom  -- no -- those settings are correct.  Brain fart on my part.  Let me link the migration PR instead.

[2021-02-02 14:16] ErikSchierboom commented on #2299
Good! If the settings are correct, feel free to close this issue.

[2021-02-02 16:12] #2299 closed

[2021-02-02 19:50] #2301 closed

[2021-02-02 19:56] BethanyG commented on #2285
Closing this but keeping it pinned.

[2021-02-02 19:56] #2285 closed

[2021-02-03 20:55] BethanyG commented on #2307
#2319  Updates statuses to reflect current state as of 2/3/21.
But we'll keep this issue open for a while as we hope to move more exercises from `WIP` to `beta` before launch.

[2021-02-04 01:46] BethanyG commented on #2293
@djjohnsongeek is going to take this on.  🎉 🌟

[2021-02-05 19:13] #2300 closed

[2021-02-06 05:28] BethanyG commented on #2291
Putting this on hold until we can get the issue updated with new specs.

[2021-02-06 16:04] cmccandless opened #2331 "currency-exchange: rename solution file"
`numbers` is a built-in module in Python, and shadows the solution file `numbers.py`

[code]

[2021-02-06 18:29] #2331 closed

[2021-02-09 03:34] BethanyG commented on #2155
Leaving this open for a bit.

[2021-02-09 21:07] BethanyG commented on #2286
I think we need to call a pause on this.
We're currently in the middle of revising the markdown standard and we're also in the middle of thinking through linting & tooling and in a push to get new exercises completed.
Several exercises on this list now also need a revision or re-write due to shifting concepts/ideas.

I propose we not review any more exercises until we've got things a little more s

[2021-02-10 00:51] BethanyG opened #2342 "[Improve Concept Exercise] : inventory-management (dicts)"
This issue is for improvements & changes needed to the [`inventory-management`](https://github.com/exercism/python/tree/main/exercises/concept/inventory-management) concept exercise on the Python track.

## Goals
Improve the [Inventory-management (`dicts`) concept exercise](https://github.com/exercism/python/tree/main/exercises/concept/inventory-management) by adding the `dict.pop()` method & crea

[2021-02-10 08:41] ErikSchierboom commented on #2303
⚠ The original issue did not explain that currently only a subset of the linting rules have been implemented. This means that while your track may be passing the checks at this moment, it might fail later. We (the Exercism team) thus strongly suggest you keep this issue open until we let you know otherwise. The issue's text has been updated to reflect this.

[2021-02-10 09:14] ErikSchierboom commented on #2302
⚠ The spec for Practice Exercises has changed. Besides having a `prerequisites` field, each Practice Exercise should now also have a `practices` field, which should list the slugs of Concepts that this Practice Exercise actively allows a student to practice. See [the spec](https://github.com/exercism/docs/blob/main/anatomy/tracks/practice-exercises.md#practices) for more information.

The issue's

[2021-02-13 18:21] BethanyG opened #2348 "[New Concept Exercise] : dict-methods"
This issue describes how to implement the `dict-methods` (dictionary methods) concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on

[2021-02-13 19:57] BethanyG commented on #2287
@DWalz  -- Please note that the description of this issue has changed, and is now linked to new requirements and documentation.  Since it's been a bit since we've heard from you, I'm going to flag this issue `[help wanted]`.  If you are still working/want to work on this issue, please let me know, and I will re-flag it as `[claimed]` for you.

[2021-02-14 07:41] BethanyG opened #2349 "[New Concept Exercise] : classes"
This issue describes how to implement the `classes` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2021-02-15 01:55] BethanyG opened #2350 "OLD class-customization concept exercise"
This issue describes how to implement the `class-customization` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2021-02-15 16:03] BethanyG opened #2351 "OLD class-inheritance concept exercise"
This issue describes how to implement the `class-inheritance` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following do

[2021-02-15 17:20] BethanyG opened #2352 "OLD class-composition concept exericise"
This issue describes how to implement the `class-composition` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following do

[2021-02-15 17:53] BethanyG commented on #1920
@cmccandless  -- I think with our move to GH Actions, your CI re-write, and our V3 re-org this issue is no longer relevant.  I'm going to close this -- just let me know if I need to re-open.  Thanks!

[2021-02-15 17:53] #1920 closed

[2021-02-16 04:34] BethanyG opened #2353 "OLD functions concept exercise"
This issue describes how to implement the `functions` concept and concept exercise for the Python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the followin

[2021-02-16 04:37] #2279 closed

[2021-02-16 05:00] BethanyG opened #2354 "[New Concept Exercise] : function-arguments"
This issue describes how to implement the `function-arguments` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following d

[2021-02-16 07:22] BethanyG opened #2355 "OLD higher-order functions concept exercise"
This issue describes how to implement the `higher-order functions` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the followi

[2021-02-16 23:51] BethanyG opened #2356 "[ New Concept Exercise] : decorators"
This issue describes how to implement the `decorators` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents

[2021-02-17 04:21] BethanyG opened #2357 "OLD anonymous-functions (lambdas) concept exercise"
This issue describes how to implement the `anonymous-functions` (lambdas) concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the

[2021-02-17 17:40] BethanyG commented on #2356
We may want to consider adding [`functools.wraps()`](https://docs.python.org/3/library/functools.html#functools.wraps) to this exercise, as it is very helpful in defining decorators.  However, it does introduce the whole `functools` _module_, which may not be what we want to do here.

[2021-02-17 22:23] BethanyG opened #2359 "OLD functional-tools concept exercise"
This issue describes how to implement  the  `functional tools` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following d

[2021-02-17 23:19] BethanyG opened #2360 "[New Concept Exercise] : unpacking and multiple assignment"
This issue describes how to implement  the  `unpacking` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2021-02-18 00:17] BethanyG opened #2361 "OLD dataclasses and namedtuples concept exercise"
This issue describes how to implement the `dataclasses` and `namedtuples` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the

[2021-02-19 12:37] #2021 closed

[2021-02-20 17:47] BethanyG opened #2365 "OLD descriptors concept exercise"
This issue describes how to implement the `descriptors` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2021-02-21 05:15] BethanyG opened #2366 "[New Concept Exercise] : functools"
This issue describes how to implement  the  `functools` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2021-02-21 22:52] BethanyG opened #2367 "OLD iterators Concept Exercise"
This issue describes how to implement  the  `iterators` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2021-02-22 15:15] BethanyG opened #2368 "[New Concept Exercise] : itertools"
This issue describes how to implement  the  `itertools` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following document

[2021-02-22 20:52] BethanyG opened #2369 "[New Concept Exercise] : with statement"
This issue describes how to implement  the  `with` concept exercise for the python track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

-

[2021-02-26 01:16] BethanyG opened #2370 "[New Concept Exercise]"
This issue describes how to implement  the  `context-manager customization` **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3081).

<br>

## ✅  Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed backgro

[2021-03-01 13:56] BethanyG commented on #2307
Although we've done an initial pass on the status of these exercises we're keeping this issue open because we expect to move more of the exercises from `WIP` to `beta` as we get closer to launch.

[2021-03-01 17:55] brocla commented on #2155
Hello, I'd like to volunteer to work on the _Representer_.

I've been mentoring for about half a year. I've become interested in leveraging common patterns in student solutions to give feedback, but in a way that does not feel canned.

I see that there is work to do on student-facing messages, concept exercises, and the new repo structure. I'd like to help with all of these. Also, I can write unit

[2021-03-01 20:44] BethanyG commented on #2155
Hi @brocla,

Thanks so much for your message (_and for all the mentor work you're doing for exercism!_).  At this time, we already have people working on the _Representer_, and are not yet ready for the phase where we'll be recruiting mentors to review and create messages for the _Analyzer_ - which will be the tooling that will send automated responses to students based on their submitted solution

[2021-03-01 22:27] brocla commented on #2155
Hi Bethany,

Yes, I'd be glad to work on messages for the *Analyzer*. Send me a note
when you are ready.

Also, if you get to a point on the *Representer *where you are testing it
with large volumes of exercises, and need to wade thru the results, I'd be
glad to help.
(I forked the *Representer *a few days ago and got it running on my
machine. Really very interesting.)

Thanks for getting back to

[2021-03-01 22:38] iHiD commented on #2155
@brocla Just so you're aware, the feedback on the Representer will be managed through the website directly, rather than through the codebase itself. Once we launch v3, we'll be giving you a UI where you can attach feedback to common solutions and reference your existing comments directly through the website 🙂

Thanks so much for all you've done so far 💙

[2021-03-02 02:57] brocla commented on #2155
Hi Jeremy,

  Thanks for the reply.

  I like the plan. Tying responses to common solutions makes the tool
better over time.

  I'm fascinated by how few representations might be made to describe one
set of solutions.

Good luck on the project,

  Kevin (brocla)

On Mon, Mar 1, 2021 at 3:38 PM Jeremy Walker <notifications@github.com>
wrote:

[2021-03-02 03:53] cmccandless commented on #1513
The test generator has been in place for quite a while now; this can be closed.

[2021-03-02 03:53] #1513 closed

[2021-03-02 15:46] ErikSchierboom opened #2373 "Add blurb to Concept Exercises"
Each Concept will have to define a _blurb_, which is a short description of the exercise.

In an earlier PR, a placeholder blurb has been added to the .meta/config.json file of each Concept Exercise. The placeholder blurbs should be replaced with an actual blurb for each Concept Exercise. Blurbs must be limited to 350 chars and will be truncated in some views.

For forked exercises, it might be us

[2021-03-03 04:17] BethanyG commented on #2286
Removing abandoned label, as this is on hold, but not yet abandoned.

[2021-03-04 18:16] BethanyG opened #2379 "[V3]Re-Implement React Practice Exercise to use Functional Programming Paradigms"
This is a placeholder issue (so that we don't forget our discussion) - and it is a bit hand-wavey on the details.  More notes to be added as we get into the work.

The current implementation of `React` [instructions](https://github.com/exercism/python/blob/main/exercises/practice/react/.docs/instructions.md) | [tests](https://github.com/exercism/python/blob/main/exercises/practice/react/react_test

[2021-03-04 21:05] cmccandless opened #2380 "secret-handshake: Rewrite tests and example solution to make input a binary string instead of integer"
For practicing working with binary strings. Example:
`commands(19)`=>`commands('10011')`

### Checklist:
- [ ] Update template to format input as binary string
- [ ] Generate tests
- [ ] Update .meta/example.py

[2021-03-07 13:58] alfa0977 opened #2382 "Exercise"

[2021-03-07 18:31] #2382 closed

[2021-03-15 00:31] BethanyG commented on #2302
First pass done!  🎉    See PR #2377.

[2021-03-17 18:10] BethanyG opened #2386 "[V3] Re-Write /docs/ABOUT.md"
We need to re-write the [ABOUT python](https://github.com/exercism/python/blob/main/docs/ABOUT.md) doc to better reflect what we're doing for V3, and to fit with the context of the track page.

Before joining a track on the v3 website, a student will see a page like the following.  The yellow-highlighted region is where the `ABOUT.md` content will appear.:

![track_about](https://user-images.githu

[2021-03-20 02:41] #2380 closed

[2021-03-22 19:15] #2373 closed

[2021-03-25 17:33] fluxusfrequency opened #2396 "Just wanted to approve Pull 2394"
Sorry that people were being so rude to you on @iHiD. I appreciated being roped in, and it was a nice reminder that exercism exists. That PR looks great to me. Cheers!

[2021-03-25 18:14] iHiD commented on #2396
@fluxusfrequency You've made my day. Thank you ❤️

[2021-03-26 07:27] ErikSchierboom commented on #2396
@fluxusfrequency Thank you so much for opening this issue! We so appreciate it ❤️

[2021-04-08 14:58] cmccandless opened #2400 "Fix Stale bot action AGAIN"
The emoji in our labels still aren't referenced correctly in our stale.yml.

[2021-04-08 16:05] BethanyG commented on #2400
This stale bot action is going to be the death of me.  `Srsly.  🙄 `

[2021-04-08 18:34] dipap2112 opened #2401 "sorry to bother but im dumb"
Hi all, I,m new to excersism and python. Nonetheless, i managed to solve Hello world. I see it works when
i run it on IDLE so happy with that. My issue is the testing and submitting. I tried all i could think of but to no avail. Its either syntax error (even though I copy and paste) or other mess like file not found or directory...
I feel stupid but humble and I hope to get help to pass these firs

[2021-04-09 16:40] dipap2112 commented on #2401
Thanks for the nice words. I have followed every instruction on the site
and pasted commands in powershell and this is what i get
[image: image.png]
I think i managed to install the CLI correctly.
I searched for tutorials on YT by someone with my setup just showing step
by step, but so far when i only got errors back when i use those commands.
I am so stuck. Too old to take up coding maybe??

Have

[2021-04-09 17:14] cmccandless commented on #2401
@dipap2112 I'm afraid your images pasted into email responses don't render on GitHub, so we can't see your screenshot.

[2021-04-09 17:18] BethanyG commented on #2401
Hi Diego (@dipap2112),

I don't think you are "too old" to take up coding, but I do think that you need more interactive help.  Unfortunately, the image you pasted did not resolve, so I cannot see the error messages you are getting in your powershell window.   Could you repost it maybe?

Additionally -- is there any chance you could login to gitter -- either https://gitter.im/exercism/support or h

[2021-04-09 18:32] dipap2112 commented on #2401
Ok. I attached the picture.
I will get on Gitter for more help. I think it is my only chance.
Thanks again guys, I truly appreciate.

Diego

fre. 9. apr. 2021, 19:18 skrev BethanyG ***@***.***>:

[2021-04-13 20:39] BethanyG commented on #2401
@dipap2112  - just checking in to see if your issue was resolved & we can close this.  Please let us know.  Thanks!

[2021-04-13 20:42] BethanyG commented on #2396
@fluxusfrequency  - Thank you again for opening this issue! 🌟   I am going to close now that the PR is merged ... but this was a much-needed morale boost. ❤️

[2021-04-13 20:42] #2396 closed

[2021-04-17 15:20] dipap2112 commented on #2401
yeah, well. I guess you can close the issue, I am on Gitter and looking for
help. I will manage eventually; in my own time frame I'm afraid.

Best regards
Diego

Il giorno mar 13 apr 2021 alle ore 22:40 BethanyG ***@***.***>
ha scritto:

[2021-04-17 19:07] BethanyG commented on #2401
Ok @dipap2112 - Let us know (_with another issue or by reopening this one_) if you need more help.

[2021-04-17 19:07] #2401 closed

[2021-04-30 15:54] BethanyG commented on #2386
Nice reminder...but I do indeed hate that it is a reminder.  😆 .  Removing stale.

[2021-04-30 15:55] BethanyG commented on #2400
Love it when the bot acts in its own self-interest and marks the stalebot bug stale.  🙄

[2021-04-30 15:56] BethanyG commented on #2400
@cmccandless  -- since I cause this problem, I will try and fix it soon.  Apologies for it falling through the cracks.  Assigning it to myself.

[2021-05-13 19:56] cmccandless opened #2428 "[Improve Concept Exercise] : Black Jack (comparisons)"
RE: https://github.com/exercism/python/pull/2420#pullrequestreview-659249249

Improvements are still needed before the `comparisons` Concept Exercise can graduate from `wip` to `active`. These improvements include (but are not limited to):
- [ ] Spelling/Grammar corrections
- [ ] Reference link checking
- [ ] Exemplar/test code cleanup

[2021-05-21 19:46] BethanyG commented on #2304
Closing this as completed, although version 3 changes to the test runner are pending.  However, the current version 2 of the test runner is complete and running, so it is technically "good for launch".

[2021-05-21 19:46] #2304 closed

[2021-05-21 19:47] BethanyG commented on #2305
Closing this since both of these are minimally working. More changes are pending, but these versions meet the minimum requirements for launch.

[2021-05-21 19:47] #2305 closed

[2021-05-21 19:49] BethanyG commented on #2306
Closing this as completed. `config.json` lists the runner, analyzer and representer as `True`.

[2021-05-21 19:49] #2306 closed

[2021-05-21 19:56] BethanyG commented on #2305
Linking pending analyzer issues here to track.
- [Python-Analyzer #7](https://github.com/exercism/python-analyzer/issues/7)
- [Python-Analyzer #11](https://github.com/exercism/python-analyzer/issues/11)
- [Python-Analyzer #24](https://github.com/exercism/python-analyzer/issues/24)
- [Python-Analyzer #25](https://github.com/exercism/python-analyzer/issues/25)
- [Python-Analyzer #26](https://github.

[2021-05-21 20:06] BethanyG commented on #2288
Will be closing this issue, since [PR #2420](https://github.com/exercism/python/pull/2420) completes this.  Any edits/additions/re-writes will be noted under a different issue.

[2021-05-21 20:06] #2288 closed

[2021-05-21 20:10] BethanyG commented on #2155
Closing this issue as the process of becoming a maintainer will be changing for V3.  **Thank you** to everyone who has volunteered and contributed to the Python track thus far -- and to this discussion!  🎉 ⭐

[2021-05-21 20:10] #2155 closed

[2021-05-21 20:13] BethanyG commented on #2286
Closing this in favor of individual improvement issues.  Having one issue cross multiple exercises is too chaotic, so we'll be taking each exercise or concept review/improvement individually.

[2021-05-21 20:13] #2286 closed

[2021-05-22 02:49] BethanyG commented on #2400
Bad stale-bot.  B A D.  😡

[2021-05-28 01:35] BethanyG opened #2438 "[Pretty-Leaflet] Rewrite Exercise to Omit the Use of Classes"
The `Pretty-Leaflet` concept exercise (`string-formatting` concept) needs to be re-written to not require the creation of/ working with `classes` as part of its solution.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, bef

[2021-05-28 17:00] Git389-ma commented on #2438
can you explain the issue
clearly

[2021-05-28 17:24] BethanyG commented on #2438
👋🏽  @Git389-ma - As stated in the description, this issue is a _placeholder_, and needs additional detail, which I cannot fill in right now.

But for details on what a concept exercise for V3 exercism is, and what the expected requirements are, please take  a look here:  [exercism concept exercises](https://github.com/exercism/docs/blob/main/building/tracks/concept-exercises.md).  More background

[2021-05-28 17:27] BethanyG commented on #2438
For a list of other issues in this repo that have `[help wanted]` (_and a lot of detail on what is needed_), please see this list:  [Python: Help Wanted](https://github.com/exercism/python/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22)

[2021-06-09 01:12] BethanyG commented on #2302
Reopening as this task needs to be re-done.

[2021-06-16 00:09] BethanyG commented on #2289
Not yet sure we need/want an entire exercise devoted to `import`.  Putting this back on hold until we decide.

[2021-06-16 00:43] BethanyG commented on #1944
Missed that this was fixed and merged.  Closing.

[2021-06-16 00:43] #1944 closed

[2021-06-18 02:33] BethanyG opened #2456 "[New Concept Documents] : comparisons concept"
This issue describes how to implement  the  `comparisons` concept documents for the python track.

<br>

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2021-06-22 23:28] BethanyG commented on #2302
Re-closing as "fixed" in #2454  & #2455.

[2021-06-22 23:28] #2302 closed

[2021-06-27 17:40] BethanyG commented on #2438
Still active.

[2021-06-27 17:41] BethanyG commented on #2310
Holding open for a bit.

[2021-06-27 17:41] BethanyG commented on #2297
Bad bot!  This is still active.

[2021-06-27 17:42] BethanyG commented on #2202
Still open.

[2021-06-27 17:45] BethanyG commented on #1120
Still Open, needs review.

[2021-07-01 00:59] marcuslxxii opened #2458 "Tests wrong in book_store_test.py"
Hello. I'm facing as a student the latest Python track: book_store. But the test file is almost completely wrong (15 tests are incorrect and only two are correct)! If it is correct, then I didn't understand the exercise...

For example total([2, 2]) can not return 1600, but the correct result is 3040 (760*4)...

See my solutions and my test in https://exercism.io/my/solutions/9ca14381cf4a4fa788216

[2021-07-01 01:45] marcuslxxii commented on #2458
Excuse me: I had only misinterpret the track! It's all OK.

[2021-07-01 01:49] BethanyG commented on #2458
Hi @marcuslxxii  👋🏽 !  As discussed in our Slack channel, the tests are correct as per the canonical data for the problem found here:  [Book Store Specifications](https://github.com/exercism/problem-specifications/blob/main/exercises/book-store/canonical-data.json).  But the examples and problem description could be clarified.  Would you mind opening an issue in `problem-specifications`, and descr

[2021-07-01 01:49] #2458 closed

[2021-07-07 01:56] BethanyG commented on #2291
I don't like you `stalebot`.  Not even a little.

[2021-07-07 01:57] BethanyG commented on #2287
This should stay open.

[2021-07-08 03:31] BethanyG commented on #2400
Fixed (_please oh please oh please_) in [2465](https://github.com/exercism/python/pull/2465)

[2021-07-09 10:33] #2400 closed

[2021-07-09 17:05] T4006 opened #2467 "Prt.sckt.00"
.....

[2021-07-09 17:27] iHiD commented on #2467
Shall I block you from the org, or are you real?

[2021-07-09 17:30] ryank01 commented on #2467
Hey I’m real, I just need to start working on issues and sending out PRs.
On Fri, Jul 9, 2021 at 1:27 PM Jeremy Walker ***@***.***>
wrote:

[2021-07-09 17:35] SleeplessByte commented on #2467
@ryank01 we should conduct a turing test.

What's Prt.sckt.00, and what's up with the mostly empty issue?

[2021-07-09 17:44] ryank01 commented on #2467
port.socket.00 ? Also I have no clue about any empty issues. I’ve never
submitted issues before.

On Fri, Jul 9, 2021 at 1:35 PM Derk-Jan Karrenbeld ***@***.***>
wrote:

[2021-07-09 18:12] SleeplessByte commented on #2467
Did you respond to @iHiD because you're @T4006 or was it a random response to a question not meant for you?

[2021-07-09 18:14] ryank01 commented on #2467
I’m not @T4006, I responded to the question asking if I should be blocked
because of suspicion of being a bot.

On Fri, Jul 9, 2021 at 2:12 PM Derk-Jan Karrenbeld ***@***.***>
wrote:

[2021-07-09 18:20] iHiD commented on #2467
OK. I suggest understanding how GitHub works before doing more things :)

[2021-07-09 18:20] #2467 closed

[2021-07-10 02:28] ryank01 commented on #2467
Hey guys I’m sorry about this, I’ve been in meetings all day and super
busy. I’m now looking at the issues on GitHub, I responded to that question
by mistake for some reason I thought the question was directed at me. I
made the assumption that the maintainers were looking at inactive
subscribers and purging them, and even if they were removing users I doubt
they would email each user and ask if th

[2021-07-10 10:37] iHiD commented on #2467
@ryank01 No worries - these things happen 🙂

FWIW - I thought you and the original poster were the same poster and misread your reply, so sorry for that too!

Anyway, thanks for taking the time to reply - Hopefully see you on a different issue soon! 🙂

[2021-07-10 22:07] ryank01 commented on #2467
Thanks to everyone for understanding, this will not happen again.
On Sat, Jul 10, 2021 at 6:37 AM Jeremy Walker ***@***.***>
wrote:

[2021-07-14 13:32] ErikSchierboom opened #2468 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:32] ErikSchierboom opened #2469 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-07-14 19:23] BethanyG commented on #2214
I am going to re-open this issue.  In light of V3 changes that now depend on `PyTest` and the test runner interface for V3 `concept exercises` having a task number and implementation tests ([runner interface specs](https://github.com/exercism/docs/blob/main/building/tooling/test-runners/interface.md#task-id)), it no longer makes sense to argue that we are "only" using `unittest`.

We now have depe

[2021-07-15 15:24] #2468 closed

[2021-07-15 15:24] #2469 closed

[2021-08-05 18:58] OpenWiseFound opened #2483 "Python Learning Exercise Instruction, Test, and Sub Mismatch (Little Sister's Essay)"
So, the instructions, stub (in the online editor, I haven't tried the CLI), and test make solving this impossible for a beginner/learner.

First, the instructions say this:

<img width="858" alt="Screen Shot 2021-08-05 at 2 37 16 PM" src="https://user-images.githubusercontent.com/18388842/128404337-fe716a27-e87f-45f0-999d-6aae942b174e.png">

And the stub agrees because the student is presented wit

[2021-08-05 22:09] BethanyG opened #2479 "[Little Sister's Essay] Stub File, Instructions, and Tests Do Not Match"
Please see comments under [V3-Beta](https://github.com/exercism/v3-beta/issues/158).

Due to a mis-match between the instructions, code stub, and the imported names in the test file, this exercise cannot be completed or tested.  The `remove_extra_spaces()` method needs to be renamed to `clean_up_spacing()`, and the `old_word` and `new_word` parameters for `replace_word_choice()` need to be flipped

[2021-08-06 16:26] OpenWiseFound opened #2482 "Branch in Python Learning Journey Won't Unlock"
This is the map of the learning journey presented to students for python:

![Screen Shot 2021-08-06 at 12 15 01 PM](https://user-images.githubusercontent.com/18388842/128541001-ecc21a33-ebec-454c-8927-4c1414c33410.png)

We've been working our way through learning exercises to check if they are appropriate for our kids and to help bug test them; however, we've hit a roadblock:

![Screen Shot 2021-0

[2021-08-12 21:59] #2479 closed

[2021-08-16 22:43] BethanyG commented on #2428
Improving this concept exercise will also address #2482, which has been temporarily fixed via [pull #2481](https://github.com/exercism/python/pull/2481) & removal of the exercise from the beta site.

[2021-08-16 22:44] BethanyG commented on #2482
Please also see #2428, for issues that need to be addressed before this exercise can go back to being live.

[2021-08-16 22:46] BethanyG commented on #2483
@OpenWiseFound  -- this should now be fixed & merged.  Please raise a new issue or comment here if that is not the case.  Thanks!

[2021-08-16 22:46] #2483 closed

[2021-08-16 23:01] BethanyG commented on #2482
Closing, as this is no longer blocking progress on the site.

[2021-08-16 23:01] #2482 closed

[2021-08-18 11:40] ErikSchierboom commented on #2303
Closing as this track passes all the linting rules and we do not expect to add more linting rules before launch.

When we add linting rules later on, they will automatically be checked via the configlet CI workflow. There is thus no need for this issue to remain open.

[2021-08-18 11:40] #2303 closed

[2021-08-20 10:47] ErikSchierboom opened #2484 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- [x] `docs/ABOUT.md`
- [x] `docs/INSTALLATION.md`
- [x] `docs/LEARNING.md`
- [x] `docs/RESOURCES.md`
- [x]  `docs/TESTS.md`
- [x] `exercises/shared/.docs/help.md`
- [x] `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automa

[2021-08-20 11:20] BethanyG commented on #2484
@ErikSchierboom  -- Thanks for filing this, and for checking all the links.  I am re-flagging this as `intermediate` knowledge needed, and as size `medium`.  None of these docs are up-to-date with either the latest version of Python nor the latest version of PyTest, so they're going to take a fair amount of work.  Going to try to bring them up to date this weekend.

[2021-08-20 11:36] ErikSchierboom commented on #2484
@BethanyG Great. Just found out that I didn't actually check all links 🤦 But I'm hitting rate limits if I do 🤷

[2021-08-20 12:03] ErikSchierboom commented on #2484
@BethanyG Updated! There _might_ be some false positives, mind.

[2021-08-25 18:25] BethanyG opened #2490 "[Improve Concept Exercise] : Currency Exchange (numbers)"
The [`currencty-exchange`](https://github.com/exercism/python/tree/main/exercises/concept/currency-exchange) concept exercise for `numbers` needs some love.

In particular:

- [ ] Spell checking
- [ ] Language checking
- [ ] Review for readability and topic coverage
- [ ] Review of code examples for syntax and PEP-8
- [ ] Review of `exemplar.py` for syntax and PEP-8
- [ ] Review of test files and

[2021-08-29 19:08] #2490 closed

[2021-08-31 08:43] rcardenes opened #2502 "Problems with Tisbury Treasure Hunt"
* Instructions ask to return `" not a match."` (including a period) for `create_record` under certain conditions. The tests look for `"not a match"` (no period)
* The instructions look quite ugly in the editor mode. There are two tables that are supposed to go side by side, but they end up one over the other. That combined with the heading ("Azara's List  <> Rui's List") is rather confusing.

[2021-08-31 15:19] rcardenes commented on #2502
Main issue is the testing, of course. Maybe U should have opened two issues. The UX one is only a problem in editor mode, at any rate

[2021-08-31 16:32] BethanyG commented on #2502
No worries at all!  It was a really good catch, and an important reminder.  That `tuples` exercise was the very first one written for the track, so there are a lot of things that have gotten changed and re-arranged since.  I am grateful your eagle eye caught the typo -- things like that _seem_ small, but they **really** frustrate users - especially when it is a spec/test difference!

[2021-08-31 16:38] BethanyG commented on #2502
Fixed in [PR #2503](https://github.com/exercism/python/pull/2503)

[2021-08-31 17:49] rcardenes commented on #2502
Oh, no eagle eye at all. I'm trying to redo _all_ the exercises (or at least as many as I can) to try and catch this stuff.

[2021-08-31 19:42] #2502 closed

[2021-08-31 20:34] rcardenes opened #2504 "Too many tests for cater-waiter"
While testing Cater Waiter I noticed that the tests were **timing out**. After discussing it with @BethanyG she figured out that there are _way too many_ tests, which causes the system to time out while trying to run them all, particularly when they fail.

[2021-08-31 20:46] BethanyG commented on #2504
@rcardenes  -- I am assigning this to myself, since I can't assign it directly to you (yet).  Many thanks for the testing and the assist!

[2021-08-31 20:49] BethanyG commented on #2504
I will tag the PR as `medium` or `large` work (depending) when you submit it, since this will take some time and effort to thin out, and therefore deserves an added rep bump. 😄

[2021-09-01 13:58] BethanyG commented on #2484
@ErikSchierboom  - If you have a moment and can click approve on the linked PRs....  😁   I think I am FINALLY done with these!  🎉   (_of course now there will be issues...._).

[2021-09-01 14:03] ErikSchierboom commented on #2484
@BethanyG Sure. Just done that. I haven't read any content though :D

[2021-09-01 14:16] BethanyG commented on #2484
Oh..you really should read the content.  I tell such interesting stories about you!  (_joking, of course!_).  Many thanks for the clickty-clicks!  🌟

[2021-09-01 14:50] ErikSchierboom commented on #2484
Haha, lol.

[2021-09-01 15:37] #2484 closed

[2021-09-02 00:05] toastin0 opened #2522 "lists_test.py in card-games exercise has a wrong answer in the test."
Hey! sorry to bother you, but i'm pretty sure i found a bug in the test for the card games exercise. In the TestApproxAverageIsAverage, test_instructions_example_2's mean is 5, and the median is 4. However, it wants to evaluate to true, meaning that the mean and the median are the same. If this is intentional, i'm sorry for the inconvenience.

[2021-09-02 03:46] mukeshgurpude commented on #2342
Is this task still unfinished?

[2021-09-02 17:05] BethanyG commented on #2342
Hi @mukeshgurpude 👋🏽    This task is indeed unfinished.  I was in the middle of it when we went to launch, so I have a half finished PR.  I'd love some help, if you'd like to join in?  Just let me know, and I can flag it as [claimed' for you.

[2021-09-02 18:45] kbuc commented on #2522
Not a bug.

Note that the exercise gives **two** possible ways of calculating the alternative average:
"by taking the average of the first and last card values in the hand - or by using the "middle" card value (the median) of the hand."

In this particular test the first option is the right one, the average of first and last element (2 and 8) is 5, which is the same as mean.

[2021-09-02 19:12] kbuc opened #2526 "test_round_scores() at Making the Grade accepts only the reversed list of rounded data"
`test_round_scores()` at "Making the Grade" accepts only the reversed list of rounded data (https://github.com/kbuc/python/edit/main/exercises/concept/making-the-grade/loops_test.py).  The focus of the exercise is to round the data in a given list. If the order of the rounded results is not important, (this should be stated in the exercise text!) it broadens the possible approaches (like using `po

[2021-09-02 19:16] BethanyG commented on #2526
@kbuc - Thank you so much for logging this!  Looking forward to the PR.

[2021-09-02 19:20] BethanyG commented on #2526
Noting here that the exercise instructions should also be updated to say that the score order is unimportant.  This can be done in the same PR, or left to a different one.

[2021-09-02 19:30] kbuc commented on #2526
There are 2 commits in the PR, one for the code and one for the instructions.

[2021-09-02 19:39] BethanyG commented on #2526
Closed by #2527

[2021-09-02 19:39] #2526 closed

[2021-09-02 19:56] BethanyG commented on #2522
@kbuc  -- Excellent point!  Thank you for responding to this.  I think I am going to close this, but on looking at the, [stub](https://github.com/exercism/python/blob/main/exercises/concept/card-games/lists.py) and [exemplar](https://github.com/exercism/python/blob/main/exercises/concept/card-games/.meta/exemplar.py) files for this exercise, there is a bug with the `docstrings` that imply that `ap

[2021-09-02 19:58] BethanyG commented on #2522
@toastin0 - @kbuc  is correct, the exercise is to test either method.  So the testing is correct.  But please do feel free to open a separate issue if you think the instructions are confusing or misleading.  Thanks!

[2021-09-02 19:58] #2522 closed

[2021-09-02 20:00] toastin0 commented on #2522
Ah, I see! Next time, I'll read more before I open an issue. Thank you for your time, and apologies for the inconvenience!

[2021-09-02 20:02] BethanyG opened #2528 "Incorrect docstrings for return type in Card-Games"
The, [stub](https://github.com/exercism/python/blob/main/exercises/concept/card-games/lists.py) and [exemplar](https://github.com/exercism/python/blob/main/exercises/concept/card-games/.meta/exemplar.py) files for [`Card Games`](https://github.com/exercism/python/tree/main/exercises/concept/card-games) imply in their `docstrings` that `approx_average_is_average(hand)` should `return` an `int`.

Bu

[2021-09-02 22:13] BethanyG commented on #2528
Closed by #2529

[2021-09-02 22:13] #2528 closed

[2021-09-03 02:16] mukeshgurpude commented on #2342
I would like to help on this task. I would start working on this task later in the day.
Could you please update the links about Markdown style guides in Issue description, they are giving me 404 now🤔.

[2021-09-03 03:40] BethanyG commented on #2342
The task is all yours!  And _**thank you**_ for taking it on!  🌟

I am going to go ahead and PR what I have and flag it as a draft.  You should then be able to make commits to it.  Or not.  Your choice!  You can also start over from the top, if you prefer.  😄

Yes.  Apologies!  All the links should now be updated to go to the nicely formatted website docs.  LMK if you have additional questions or

[2021-09-03 03:56] BethanyG commented on #2342
The draft PR is here: https://github.com/exercism/python/pull/2530

[2021-09-03 04:07] BethanyG commented on #2386
Closing this as updated/done (for now).  [here](https://github.com/exercism/python/blob/main/docs/ABOUT.md) is the current version as of launch.

[2021-09-03 04:07] #2386 closed

[2021-09-03 04:09] BethanyG commented on #2307
Closing this.  Most of our exercises are now in beta, and we're hoping to move them fully live soonish.

[2021-09-03 04:09] #2307 closed

[2021-09-03 09:16] CosmoSt4r opened #2532 "Some problems with "Making the Grade" python task"
I got some problems with ["Making the Grade"](https://exercism.org/tracks/python/exercises/making-the-grade) learning pyhon task

1. First is minor. I think they should be in one style
![int typos](https://user-images.githubusercontent.com/69130500/131979347-0a6357cc-c9fd-4071-8beb-2f2ad6e7d278.png)

2. These closing tags probably aren't supposed to be here
![closing tags](https://user-images.gith

[2021-09-03 11:39] elyashiv opened #2534 "meltdown exercise instructions are printed badly"
I think this picture explains it all:
![image](https://user-images.githubusercontent.com/1577529/131999292-4ccb492d-5a82-493f-96db-7e811e8ff532.png)

[2021-09-03 12:13] punkstarman opened #2535 "Task 1 of Meltdown Mitigation is misleading"
One of the most common blunders a novice can make is to use if-elif-else blocks instead of using a single return statement.

For instance

[code]

should simply be written

[code]

The introduction sets up using `if:elif:else:` blocks. I fear that a novice will blindly fall into the trap of solving task 1 using an `if`.

[code]

or something even worse, when it should be solved with a single retur

[2021-09-03 16:50] BethanyG commented on #2532
Thank you for logging this, (and for the PR!!).  Closed by [#2533](https://github.com/exercism/python/pull/2533).

[2021-09-03 16:50] #2532 closed

[2021-09-03 17:22] BethanyG commented on #2534
Thank you for logging this, @elyashiv!
I took a look at the markdown and the main page instructions, and things _appear_ OK:

Main instructions at https://exercism.org/tracks/python/exercises/meltdown-mitigation
![image](https://user-images.githubusercontent.com/5923094/132043097-c36d34b0-508d-4490-afe8-6fa7cea0d9c5.png)
__________
Markdown in the [exercise file](https://github.com/exercism/python

[2021-09-03 17:25] BethanyG commented on #2534
@iHiD - not a high priority, but I think this is a markdown render issue in the task pane.  Can you transfer this to `exercism/exercism`?  If not, I am happy to recreate the issue -- just let me know.  😄

[2021-09-03 20:47] BigMoonTech opened #2538 "Python - Triple double-quote docstrings are not detected?"
[C0114 missing-module-docstring] : ["Missing module docstring"] was reported by Pylint.

PyCharm suggests that docstrings should be triple double-quotes. I go with my editor and change the docstrings to double-quotes but exercism doesn't detect the docstrings unless the are triple single-quotes.

[2021-09-03 23:44] eirnym opened #2536 "Unknown marking detected by pytest: pytest.mark.task"
This marker seems to be not defined anywhere on resources given to a student (see docs folder). Thus with typical installation using virtual environment with only `pytest` and `pytest-cache` installed as suggested in TEST.md file, a student will get a warning such as below. I suggest to extend documentation or a setup, which student downloads using `exercism` command by including this mark at leas

[2021-09-04 01:16] BethanyG opened #2537 "Use Triple Double-quotes for All Exemplar and Stub Docstrings in Concept Exercises"
While it doesn't create issues with auto documentation tools, having triple single quotes for docstrings does cause `PyLint` to complain.  It is also strongly discouraged by [PEP257](https://www.python.org/dev/peps/pep-0257/).

Since concept exercises are supposed to teach idiomatic and fluent Python, we need to update all of these docstrings ASAP.

There are three tasks involved:

- [x] Update al

[2021-09-04 03:35] BethanyG commented on #2536
Hi @eirnym 👋🏽   Thanks for logging this issue!  Yes - agree we should have instructions (_at the very least_) on how to register the marks - or a `pytest.ini` file that can be used so that PyTest won't complain locally.

The marks are not for selecting tests or resources -- they're being used by our track test runner to associate Concept exercise `task numbers` to `tests`, so that the website UI d

[2021-09-04 03:46] BethanyG opened #2539 "[Testing] Add Pytest.ini file in Python Directory for Local Pytest Configuration"
Since we're using a custom `pytest.marks.task(taskno)` for our Concept exercise tests, we need to have a way for CLI users to register them.  Otherwise, PyTest complains for every test locally (see issue #2536).

The most expedient way to do this is to provide a `pytest.ini` file as part of the python exercise directory.
If we'd rather not do it in the main `exercism/python` folder, we could add i

[2021-09-04 03:49] BethanyG commented on #2536
I've logged the `ini` file and documentation tasks as bug #2539.

[2021-09-04 03:55] BethanyG opened #2540 "[Basics] Update docstring References to be Triple Double-Quotes Per PEP 257"
Since we're going with triple double quotes for our exemplars and stubs (see issue #2537), we should update the references to docstrings in the `basics` concept and `Guidos Gorgeous Lasagna` accordingly.  We should also reference [PEP 257](https://www.python.org/dev/peps/pep-0257/) in the `about.md`

[2021-09-04 08:01] Ou42 opened #2542 "Pretty Leaflet & Restaurant Rozalynn locked, but pre-reqs achieved"
Pretty Leaflet & Restaurant Rozalynn are still locked even though (AFAICT) I have solved their respective prerequisites.

[2021-09-04 08:24] eirnym commented on #2536
why this issue is not a bug report?

[2021-09-04 15:10] BethanyG commented on #2536
Because I was tired, and had also re-logged this as issue #2539, for clarity in what needs changing. 😄     Closing this now in favor of that issue.

[2021-09-04 15:10] #2536 closed

[2021-09-04 15:46] BethanyG opened #2545 "[Currency Exchange] Docstrings Missing return type and value"
The [`currency exchange`](https://github.com/exercism/python/tree/main/exercises/concept/currency-exchange) concept exercise [stub](https://github.com/exercism/python/blob/main/exercises/concept/currency-exchange/exchange.py) and [exemplar.py](https://github.com/exercism/python/blob/main/exercises/concept/currency-exchange/.meta/exemplar.py) files are missing the return type and values from their

[2021-09-04 15:47] BethanyG commented on #2545
@CosmoSt4r  -- if you'd like to take this one, lmk and I will put [claimed] on it.  Thanks!

[2021-09-04 15:51] CosmoSt4r commented on #2545
Yes, I do

[2021-09-04 16:07] BethanyG commented on #2308
Closing this.  Whatever is left on our "to do" list will be in separate issues.

[2021-09-04 16:07] #2308 closed

[2021-09-04 16:20] BethanyG commented on #2542
@Ou42  _Apologies!_  These two exercises should not have been visible on the website.
`Pretty Leaflet` requires a re-write so that the student isn't forced to create a `class` (_which doesn't have a learning exercise yet_).  See issue #2438.

`Restaurant Rozalynn` has prerequisites that are also not (yet) present in the tree, so should not have been flagged to show on the website.

I will be pushi

[2021-09-04 17:08] BethanyG commented on #2545
I have no clue as to why the closes syntax didn't work.  But this is closed by #2548.  Nice work!

[2021-09-04 17:08] #2545 closed

[2021-09-04 17:38] Ou42 commented on #2542
Ah-ha! TY.

My goal is to get to the REST-Api exercise and both of the above are listed as requirements.

I'm new to github issues ... Do I "close" this issue being the one that opened it or do you being the maintainer?

[2021-09-04 17:47] #2542 closed

[2021-09-04 17:52] BethanyG commented on #2542
This closed automagically when I linked it to the PR that removed the exercises.  HOWEVER, I also might need to remove the pre-requisites from `REST-API` 😱   _my apologies_ if it does not now unlock.  Please let me know if it does not.  I think you can re-open this issue...or you can open a new one if you are still blocked.  Thank you so much for your patience!  😄

[2021-09-04 21:51] Ou42 commented on #2542
Just confirming, the total number of exercises is now 129, which I believe is smaller than before.
... and instead of 5 available exercises I now have 94 available ( unlocked ).

[2021-09-04 22:01] BethanyG commented on #2542
We did deprecate a few practice exercises as well...so the practice exercise count should be smaller than what you're used to for the former site.  I also `wip`ed three concept exercises, so there is that as well.  😄    But I think now you should be able to take on REST-API (YAY!).  Have fun coding.  And let us know how it goes.... 🌟

[2021-09-05 00:26] BethanyG commented on #2539
Further techniques to add to documentation (thank you to @kbuc for these) :

One can also run with `pytest -o markers=task`  or put it in an environmental variable `PYTEST_ADDOPTS` .
Especially easy for those running in an pipenv virtual environment.

[2021-09-06 15:19] #2540 closed

[2021-09-06 15:55] BethanyG opened #2557 "[Tooling] Add GH Action to Greet New Contributors and Explain Submission Guidlines."
Similar to this one from Elixir (_and probably based off it...._)

https://github.com/exercism/elixir/blob/main/.github/pr-commenter.yml

[2021-09-06 16:55] BethanyG opened #2560 "[TESTING.md] Enhance TESTING docs with Editor/IDE-Specific Tweaks & Tips"
Per https://github.com/exercism/exercism/issues/5791 and other comments and discussions, it has become clear that students could use some additional detail/help with setting up PyTest locally and running tests from their particular IDEs.  It might also be nice to give students links to plugins or default config files to ease their setup for a given editor.

This would be for Python `3.8` and above

[2021-09-06 17:55] BethanyG commented on #2535
@punkstarman  👋🏽   Thanks for logging this.

[Concept Exercises](https://exercism.org/docs/building/product/concept-exercises) are quite different from the "regular" practice exercises that were carried over from V3.  They're intended to teach a specific _concept_, and must only use the concepts introduced as part of their dependency tree.  Since this concept exercise is designed to teach `conditi

[2021-09-06 20:13] BethanyG opened #2563 "[Practice Exercises] Add Guidance for Exercises that Require Raising Errors or Error handling"
When we transitioned to the current version of exercism, we removed the generic "raising exceptions" notices from all the exercise READMEs.  We felt they were adding confusion and leading students to insert error raising and handling in places where they should not have been inserting it.

For the Python track, we were (and are!) planning `error handling` concept exercises to help students learn h

[2021-09-06 20:21] #2539 closed

[2021-09-06 20:23] BethanyG commented on #2538
👋🏽   @BigMoonTech  -- That took longer than I wanted, but if all went well with the gods of deployment, you should be seeing double quote docstrings for concept exercise `exemplar.py` and stub files now.  😄  .  Let us know if you see any issues or have any questions!

[2021-09-06 20:24] #2537 closed

[2021-09-06 20:26] BethanyG commented on #2535
I've merged #2556.  Please let me know if you have further questions/issues/comments.  Thanks!

[2021-09-06 23:40] BigMoonTech commented on #2538
🤩 You guys rock. From what I've seen, everything looks good so far. Thank you for pushing this fix so fast, and thanks for hearing me!

[2021-09-07 00:43] #2538 closed

[2021-09-07 01:07] mukeshgurpude commented on #2342
Hello @BethanyG. Since there is already a pull request from your fork to the upstream, I thought of pushing changes to your fork only..
I've opened a pull request https://github.com/BethanyG/python/pull/15, but maybe you missed it by chance..

[2021-09-07 01:16] BethanyG commented on #2342
@mukeshgurpude  -- Oh no!  I **did* miss it!  😱   _so sorry_.  I will take a look right now.  Thanks!

[2021-09-07 12:13] doublevcodes commented on #2356
Hello, I would like to contribute to exercism, can I try doing this?

[2021-09-07 13:26] mukeshgurpude commented on #2342
@BethanyG as related PR is merged, we should close this issue now.

[2021-09-07 14:59] punkstarman commented on #2535
PyLint is wrong in this instance. Multiple return statements is the right thing to do.

IMO, this has made things worse. I will suggest something different.

[2021-09-07 16:58] BethanyG commented on #2342
@mukeshgurpude  -- thank you for the reminder!  😂    I have one too many things to do, and forgot this.

[2021-09-07 16:58] #2342 closed

[2021-09-07 17:03] BethanyG commented on #2356
@doublevcodes 👋🏽   (_Python maintainer here_) Yes!  It can be _all yours_ 😄   🌟

I will flag it as claimed, and you can get to work.  Some of the links in here _might_ be out of date -- I will update them today.  Please don't hesitate to reach out with any questions or issues you might have.  And thank you for taking this on. 🌈

[2021-09-07 20:23] BethanyG commented on #2535
Suggest away!  PRs on this welcome, with the caveats listed above. 😄   I will hold this issue open, and flag it as a discussion.

[2021-09-08 12:33] kbuc opened #2565 "Task 2 of the Meltdown exercise should be rephrased."
Our reactor will Meltdown!

The intervals:

[code]

are not properly closed. In which interval does the 79.5% fall? And 59.73%?

The exemplar solution does suggest that `voltage`, `current` and `theoretical_max_power` being integers (but why?);
this fact however does  **not** make the `percentage_range` automatically integer as well.

I see two options:

1. Casting the `percentage_range` to intege

[2021-09-08 16:53] BethanyG commented on #2565
@kbuc - excellent catch!  Thank you for logging this!

I am inclined at first glance to go with `option 2`.  [BUT](https://0.30000000000000004.com/).  😄   So if we are going to do `option 2`, I would want the instructions to be really clear with students, so we don't get solutions that use round or floor or some other funky mechanic.  There are always more decimal places, so a limit needs to be a

[2021-09-09 08:33] kbuc commented on #2535
I agree with this as long as the items are bools.
What if `a` is an integer, or list, or something that has an implicit boolean meaning? `5 or False` returns 5, not `True`, but the above mentioned `if` structure does return `True`. While one can achieve the same with `bool(5) or False`, it might be a bit confusing for a beginner.

I would not simply discard the good old `if`. But yes, there is def

[2021-09-09 09:26] punkstarman commented on #2535
Absolutely

I do not mean to discard it. I mean to make proper use of it in context.

[2021-09-09 10:46] mukeshgurpude commented on #2353
Hello @BethanyG, let me know if I can work on this.

[2021-09-09 13:29] J08K commented on #2560
Heya, I would love to work on this.

**TESTS.md**
I can already see some of the work that has to be done [TESTS.md](https://github.com/exercism/python/blob/main/docs/TESTS.md) such as a more concise tutorial on installing and using Pytest, since, my assumption, is that most students just want to know how to test their solutions locally. Maybe adding a few options which will help them debug their s

[2021-09-09 15:16] BethanyG commented on #2560
Hi @J08K -  I'm so happy you'd like to take this on!  Yay! 🎉

Yes.  This.  Clear and concise directions on how to test your code locally on _your_ OS (_generally - we can't cover everything, sadly...._).  Especially Windows.  We really haven't given much love to the Windows users, and  sort of make an assumption that they will figure out the differences.  But it would be nice if we could give them

[2021-09-09 15:36] BethanyG commented on #2353
@mukeshgurpude  YES!  And many thanks for stepping up and taking it on!  🎉

**Bear with me:**  the links at the top for documentation should all be up-to-date, but the links down below in the detail are old, and need updating.  I will do that here shortly.  Please (_as always_) let me know if you have any questions or issues or need help.

Also - gentle reminder to make sure you update and pull in

[2021-09-09 17:41] BethanyG commented on #2438
**Update: 9/9/2021**  This issue has been updated with details and is open for a contributor to pick up.  Please contact a maintainer (or ask in this issue) if you have any questions or issues.  Thanks!

[2021-09-09 23:44] Ou42 commented on #2504
Warning: NOOB Q's -- but ... Must the tests be thinned or would it be possible to speed up the tests?
( guessing here, but is it possible to keep things in mem for subsequent tests? and/or could the tests catch that "pass" wasn't changed and then not run subsequent tests? )

[2021-09-10 07:45] rcardenes commented on #2504
I believe the problem is not the tests themselves, which in principle run fast enough: as you start passing tests, eventually your results come up. The problem would be the huge amount of output that they produce that have then to be made into a report and presented to the user.

[2021-09-10 09:07] tigerBoss101 commented on #2438
Should `lists` be part of the exercise? I'm wondering because I only see `basics` and `strings` in the prerequisites.

[2021-09-10 09:18] kbuc commented on #2565
Since the focus of the exercise is on conditionals, I would not complicate with floating point peculiarities. As long as the student uses proper math (normal division, comparison with bounds included or not), the tests should pass.

I have rewritten the tests to verify more points, especially around the border cases. For this, I discontinued the practice of making a separate test for each combinat

[2021-09-10 12:52] BethanyG commented on #2438
@tigerBoss101  -- The `config.json` shows both `loops` and `lists` as prerequisites for `string-formatting`.  Where are you seeing that only `basics` and `strings` are prerequisites?

[2021-09-10 13:43] BethanyG commented on #2504
@Ou42  -- great question -- and yes -- if it were _test speed_ we might want to consider some strategies for making data loading or execution faster.  But all 120+ tests for this exercise run in well under 6s -- even with loading data.

As @rcardenes mentions, the particular issue here isn't that the tests or the test runner is bogging down and timing out -- it is that the _**test report**_ for al

[2021-09-10 14:31] tigerBoss101 commented on #2438
@BethanyG
I saw the `basic` and `strings` prerequisites in the design.md file.

[2021-09-10 14:58] BethanyG commented on #2438
@tigerBoss101   - a ha!  Well, I think whomever does this task should probably change that.
Depending, of course on their re-write.  But the `config.json` that controls the tree on the site UI does have `loops` and `lists` in the prerequisites.

[2021-09-10 18:31] Ou42 commented on #2504
@rcardenes & @BethanyG - thank you both for your answers. Very informative! ( & also thank you for your efforts! )

[2021-09-12 12:58] samfrances opened #2572 "Linked list tests - independent iterators"
I have an idea for an additional test for the "Linked List" task.

I would love to contribute by creating a PR for this change, but I note you are not accepting unsolicited PRs at the moment, so I thought it best to create an issue first.

The task has the following test.

[code]
It would be good to have a test that `iter` returns an independent iterator each time, so that different "clients" don'

[2021-09-13 09:06] pranasziaukas opened #2576 "Unclear TODO in `guidos-gorgeous-lasagna`"
https://github.com/exercism/python/blob/e0404a284548924d373bf3c357283257164410f6/exercises/concept/guidos-gorgeous-lasagna/lasagna.py#L2

I approached this exercise as a student for the first time, so should not be biased.

It was not immediately clear to me that `PREPARATION_TIME` means the preparation time of a single layer of lasagna - it is not explicitly described in code or instructions. Fur

[2021-09-13 09:37] BethanyG commented on #2576
It is true that we don't explicitly test for the use of `PREPARATION_TIME`, although our `exemplar.py` file does use that constant.  We do have a [hint](https://github.com/exercism/python/blob/main/exercises/concept/guidos-gorgeous-lasagna/.docs/hints.md) that declaring a constant for the prep time might be a good idea to avoid using "magic numbers".
The TODO was intended as an extra "nudge" in th

[2021-09-13 10:07] pranasziaukas commented on #2576
Thanks for the feedback @BethanyG.

True, these make it pretty clear about the usage of `PREPARATION_TIME`. However, neither the hints nor the `exemplar.py` are normally looked at before approaching the problem independently.

I like it! The only thing is, it still does not make it really clear that the `PREPARATION_TIME` is about the time to prepare a single layer of lasagna. That is, unless we p

[2021-09-13 10:36] BethanyG commented on #2576
I know this may sound silly, but the only reason I wouldn't put the note only with the note about the function is that I want to make sure students put constants at the top of a file mostly (_yes - I know there are exceptions to that, but...._).

How about something like the following:
`# Consider defining a 'PREPARATION_TIME' constant `
`# equal to the time it takes to prepare a single layer.`

A

[2021-09-13 14:46] BethanyG commented on #2572
Hi @samfrances!  👋🏽

Thank you so much for writing up this issue and for asking before PR-ing!  🌟

I don't see any harm in adding this to the test suite as extra credit.  Feel free to go ahead and PR it.

It _may_ fail CI - I cannot remember if I need to regenerate anything when the tests change for this exercise .. but we will cross that bridge when we get to it.  😄

[2021-09-13 15:12] cjwomack opened #2577 "Are example.py meant to show up in Guidance in the Mentoring Window... because exemplar.py do?"
I was wondering whether it is intentional that only exemplar.py (for concept exercises) is shown under the Guidance tab in Mentoring discussion or is this because it is new for concept exercises ? This is no sample solution shown for practice exercises despite there being example.py as a sample solution. Should .meta/config.json be changed or is the functionality is correct?

[2021-09-13 16:10] IsaacG commented on #2577
The mentoring guide is pulled from [webite-copy](https://github.com/exercism/website-copy/tree/main/tracks/python/exercises) and maintained separately from the exercises themselves.

The exemplar.py is intended as an example of how the exercise can be solved - not necessarily the optimal solution, though.

[2021-09-13 23:15] BethanyG commented on #2577
@IsaacG  -- the `exemplar.py` files for concept exercises are considered a standard.  The `example.py` files are not - or not as much.

[2021-09-14 01:33] cjwomack commented on #2577
Thanks for getting back to me with all this information.

[2021-09-14 01:33] #2577 closed

[2021-09-14 07:55] pranasziaukas commented on #2576
SGTM

[2021-09-14 09:58] pranasziaukas opened #2579 "(Very) Long lines in exercises"
I agree that by now [PEP8](https://www.python.org/dev/peps/pep-0008/#maximum-line-length) is dated and modern setups easily and conveniently display more than 79 characters in a line of code. However, I'm not aware of any widely used conventions or IDEs that go beyond 120 characters by default (most likely for the sake of readability).

In that regard, there is a handful of violators within exerci

[2021-09-14 10:35] iHiD commented on #2534
I missed this, sorry. Is this fixed now?

[2021-09-14 15:12] BethanyG commented on #2579
@pranasziaukas  -- Thank you for running this, and for logging an issue about results!  😄

 Agree that there are some exercises that are egregious.  A few thoughts:

1.  The track is still in heavy flux right now with exercises and tooling changing.  I would want it to settle a bit before we do something like a "line length" patrol where we look for and fix line length across exercises.
2. Having

[2021-09-14 15:14] BethanyG commented on #2579
Happy to have an ongoing discussion in this issue, but I am going to flag this as stats "on hold", simply because we need to focus on higher-priority issues such as adding new concepts and exercises, updated tooling, and fixing obvious errors and typos in existing exercises.

[2021-09-14 15:15] BethanyG commented on #2576
Thank you again for logging this, and for your thoughtful discussion.  😄   Since the PR has merged, I am closing this as done.

[2021-09-14 15:15] #2576 closed

[2021-09-14 17:16] BethanyG commented on #2572
Closed by #2580

[2021-09-14 17:16] #2572 closed

[2021-09-14 17:18] BethanyG commented on #2438
In the spirit of optimistic merging, I am going to close this issue, as it has largely been addressed.  Further rewrites are needed before this exercise can go live, but they will be detailed in a follow-on issue.

[2021-09-14 17:18] #2438 closed

[2021-09-14 17:53] pranasziaukas commented on #2579
Thanks for the thoughtful response. Given the circumstances, makes sense to not prioritize it at this point in time.

[2021-09-14 22:15] IsaacG opened #2582 "Stubs and examples can use linting"
This is a superset of https://github.com/exercism/python/issues/2579 (long lines)

`pylint` flags all sorts of issues that ought to be cleaned up.

[code]

Logging this is a "on hold, revisit later" type issue for now.

[2021-09-14 22:39] BethanyG commented on #2582
..and as a superset of #2579, it has a hold for a similar reason.  We need to have the track a bit more stable and a bit more filled out with concepts and concept exercises before we loop back for a discussion about `practice` stub files, line length, or any PyLint whining.  We may also choose to not enforce some PyLint rules.  That is still TBD.

Additionally - `example` files are more or less ex

[2021-09-15 06:33] pranasziaukas opened #2585 "Task 3 of the Meltdown exercise makes no sense"
Task 3 of the `meltdown-mitigation` exercise makes no sense IMO.

Some output `temperature * neutrons_produced_per_second` is compared to the `threshold` as described by the following 3 cases:
https://github.com/exercism/python/blob/43294ee33627fed530b832d5c38d0155d5021913/exercises/concept/meltdown-mitigation/.docs/instructions.md#L59-L67

All in all, the following intervals (as percentages of th

[2021-09-15 06:44] pranasziaukas commented on #2585
P.S. The tests don't cover the `[40; 90)` case anyway so only the description would need to be changed.

[2021-09-15 07:23] pranasziaukas commented on #2428
Where is an exercise set as `wip` or `active`?
My best guess was `config.json` but doesn't look like it.

[2021-09-15 12:39] BethanyG commented on #2428
It is indeed `config.json` 😄   -- but it's the _track_ [`config.json`](https://github.com/exercism/python/blob/main/config.json).  Here's the entry for BlackJack.  Note that the `status` flag says 'wip`.  WIP exercises are not accessible on the site, but will (_eventually_) be viewable by maintainers. :

<img src="https://user-images.githubusercontent.com/5923094/133434214-23c8e61e-2e60-4522-9ec1-

[2021-09-15 13:02] BethanyG commented on #2585
Normally, I wouldn't say this..but given all the discussion around the first task in this exercise and all the comments on [PR 2568](https://github.com/exercism/python/pull/2568), I am a bit worried we'll create even more issues by making more adjustments to this exercise at this time.

Could I ask you to coordinate this issue and your [PR 2584](https://github.com/exercism/python/pull/2584) with @

[2021-09-15 18:39] samfrances opened #2586 "[New Exercise Idea]: Maybe functor"
I don't know if this is too much Functional Programming for Python, but I wonder if a basic exercise to construct a Maybe functor (not monad) would be a welcome addition? I would be happy to have a go at writing this.

[2021-09-15 20:26] Steffan153 commented on #2295
Is this actually claimed? :) If not, I'd like to work on it. By the way, can we steal https://github.com/exercism/elixir/blob/main/exercises/concept/boutique-suggestions/.docs/instructions.md for this? Elixir's list comprehensions are very similar.

[2021-09-15 21:20] BethanyG commented on #2295
Hi @Steffan153!  Welcome to the Python track.  👋🏽
This is indeed already claimed by me, and is in progress.  Thanks for checking tho!

[2021-09-15 21:38] Steffan153 commented on #2357
I'd like to work on this. Thanks!

Btw, I noticed we already have an exercise for this: https://github.com/exercism/elixir/tree/main/exercises/concept/secrets It's in combination with bit manipulation tho (which should also be taught in Python). So should I use that or make a new one?

[2021-09-15 22:25] BethanyG commented on #2357
Hi @Steffan153  -  Happy to have you work on it! 🎉  Unfortunately, bit manipulation is not a prerequisite for this exercise, and this is probably not the place to introduce it.  We have an exercise planned, but it's not on our priority list right now.  You are more than welcome to fork that exercise and adapt it -- but I think we need to leave the bit manipulation out.

Also -- be warned:  unlike

[2021-09-15 22:46] Steffan153 commented on #2357
Is there a link to the exercise? Also, I think the Secrets exercise will work fine, we just need to remove the 2 bitwise functions.

[2021-09-15 22:55] BethanyG commented on #2357
Apologies - I wasn't very clear in my language above (I corrected it).  I meant that you are more than welcome to adapt the **Elixir exercise**.  We don't have anything (yet) for bitwise operators/manipulation.

Please keep in mind that one of the major uses of `lambda` in Python is as a `key expression` for things like `sort()`, `sorted()`, `min()` and `max()` -- so you'll want to add those use c

[2021-09-15 23:26] Steffan153 commented on #2357
BTW, are you sure the top links are 7p to date? Some of them 404 on me.

[2021-09-15 23:33] BethanyG commented on #2357
Looks like the moved `tasks` under `product` 😱   It should be updated now...and the others all work for me.  LMK if you find anything else, tho.  😄

[2021-09-16 00:45] Ou42 opened #2587 "Twelve-Days - 3 Tests use student's code to compare against the student's code"
The following 3 tests compare the results of the student's code against ... itself:
[code]
How I found this? I misspelled "fourth" in an early iteration. ( forth )

I've worked on the twelve_days_tests.py and have a non-impressive ( ie IMHO nothing worth the student duplicating ) version that I believe solves this issue ( and AFAICT doesn't create new problems. ) How do I share it?

TY

[2021-09-16 00:57] BethanyG commented on #2587
Hi @Ou42 👋🏽    Thanks for logging this!  The test cases for `Twelve-Days` on the Python track are auto-generated from a central [`problems specifications`](https://github.com/exercism/problem-specifications) repo, so any changes/issues should first be brought up there, then we can asses if the changes should be in a python-only append, or if the central specification needs to be changed.  Thanks!

[2021-09-16 01:09] Ou42 commented on #2587
Oops. 🤦‍♂️ Should've asked first, eh?
OK. Learning.
I dug and found:
https://github.com/exercism/problem-specifications/blob/main/exercises/twelve-days/canonical-data.json
and it looks like it explicitly states the 3 range based tests.
I'm not sure where to go from here. I'm off until later this evening.

Thanks again.

[2021-09-16 05:53] Ou42 commented on #2587
Found the support chat and talked to @NobbZ and I think I grok it now.
Once the first 12 tests pass -- testing each verse individually -- it's then OK to test a (start, stop) "range" of args against a range of individual verses.
It's a tad confusing, but clever.
Also, when I typo fourth ( 'forth') again, it only fails the 1 test now. Not sure if this is on my end or a fix on the dev side or what.

[2021-09-16 05:53] #2587 closed

[2021-09-16 15:21] BethanyG commented on #2586
HI @samfrances 👋🏽

I did have to google `Maybe functor` 😊   😉
But I don't think a `Maybe functor` would be "too much" functional programming for Python! 😄    And I'd love you to "have a go".

Would this be a practice exercise, or a concept exercise?

If it is a concept exercise, we'll probably want to discuss it in a bit more detail, and I might want to enlist your help thinking through the chunki

[2021-09-16 17:00] samfrances commented on #2586
So, I guess it would be a practice exercise, since functors etc. aren't really central to learning Python. What do you think? Is that the correct criteria?

[2021-09-16 18:03] BethanyG commented on #2586
Well... (_playing advocate with my devil horns on_) I don't know if the distinction should be that strict.  Python is _mulit-paradigm_ - and functional-style programming is very very popular.

Of course, Python is **not** a functional language, but that doesn't mean that you cannot use functional constructs or style -- and indeed, there are many places where you can do so, and where it helps simpl

[2021-09-16 18:27] samfrances commented on #2586
Ok. I think I should go away and read those contributing docs and then get back to you. Thanks @BethanyG for your guidance. :)

[2021-09-16 20:26] andrerfcsantos opened #2588 "little-sisters-vocab: exemplar uses untaught concepts"
I noticed that the [exemplar.py](https://github.com/exercism/python/blob/main/exercises/concept/little-sisters-vocab/.meta/exemplar.py) of `little-sisters-vocab` uses indexes and index ranges on a string, but these concepts were never taught to the student. The concept `lists` only appears later on.

This exercise should only appear after the `lists` concept, with an explanation that strings can a

[2021-09-16 21:29] BethanyG commented on #2588
Hi @andrerfcsantos  👋🏽   Thanks for logging this issue.

I think you may be both confused and a bit mistaken.  This exercise does indeed [teach indexing and slicing](https://github.com/exercism/python/blob/main/exercises/concept/little-sisters-vocab/.docs/introduction.md) for `str`, because strings (like `lists` and `tuples`) are a [sequence type](https://docs.python.org/3/library/stdtypes.html#te

[2021-09-16 21:58] andrerfcsantos commented on #2588
This is my bad, I completely missed it. I was just looking at the concept `about` and the exercise instructions before entering the editor. Completely forgot to check the instructions in the editor.

Checking those instructions, I think they are really good and do teach about everything that's needed for the exercise, so you can disregard my feedback. Sorry for taking your time with this.

You mad

[2021-09-16 22:47] BethanyG commented on #2588
This concerns me quite a bit, since it feels all too easy to skip to the code part ...and thereby miss out on vital information!   The only place the information is showing is in the `introduction.md` _after_ you click through to the editor.  🤔   Feels like there **is** a bug of some sort there, or at the very least we should examine what information we put in the concept `introduction.md`.

Thank

[2021-09-16 22:47] #2588 closed

[2021-09-17 16:14] BethanyG commented on #2535
I am going to close this issue.  The tasks in this exercise are being reviewed/revised, but we are unlikely to change `Task 1` to not use an `if`.  We may revisit this in the future, but we need to keep this exercise focused on the use of conditionals (not Booleans) for now.

[2021-09-17 16:14] #2535 closed

[2021-09-20 17:47] devi0s opened #2591 "Currency Exchange Instructions & Variable Descriptions Need Updating?"
Has anyone taken a look at https://exercism.org/tracks/python/exercises/currency-exchange lately?   Does anyone else think the instructions and variable descriptions need to be expanded for "5. Calculate value after exchange" and "6. Calculate unexchangeable value"?  Apologies if it makes perfect sense to others but I just can't wrap my head around it as constructed.  For example, 5 seems to actua

[2021-09-21 07:50] J08K commented on #2591
Hiya, thank you for (as I can see) your first Issue!
You want to update the instructions of exercise number 5 & 6. The name function `exchangeable_value` does imply that it is the value and not number of bills, but I do think that the number of code blocks used in the instruction is a little much and it makes it crowded. Might write a separate issue myself for that. :)

Exercise 5 is asking for th

[2021-09-21 19:32] solt87 commented on #2591
@J08K Thank you for the worked example, that explains it. Like @devi0s, I also had problems with understanding the instructions. Unless someone beats me to it, I'd like to open a pull request with proposed changes, but I'd also appreciate some preliminary feedback on the following ideas:

- Make descriptions and names more specific to "function scope". E.g. `estimate_value()` could be `calculate_v

[2021-09-21 19:59] IsaacG commented on #2591
I also found the exercise quite confusing. I think the naming and word crafting could benefit from more clear language.

[2021-09-21 20:54] J08K commented on #2591
This exercise, like a lot of other python exercises, has a lot of things that we need to change/revise. @BethanyG and I are trying to get it all done, but we do rely on your help. So please do submit a PR, but we might need to do some other work on this exercise, just to make it fully working for this version of the website, since it was ported from V2.

If @devi0s wants to work together on this w

[2021-09-21 21:34] J08K commented on #2356
Heya @doublevcodes, just checking in on this issue. Haven't heard anything from you for a few days.

If you need any help or are stuck on this issue, feel free to contact me by pinging me on Github or Slack! Would also love to know how much you've done. Let me know!

[2021-09-22 05:08] BethanyG commented on #2565
Closing this as [PR2568](https://github.com/exercism/python/pull/2568) has been merged and closed.

[2021-09-22 05:08] #2565 closed

[2021-09-22 09:20] Rafeqm commented on #2591
Hello, I go straight right into this repo to create an issue to express my depression and confusion after lots of trying to understanding what exactly the instructions tell me to do. But I found this issue first. So without explaining what is my issue just is:

- task 3 is, in my understanding,  completely irrelevamt with the rest of tasks.
- task 4, is the budget in EUR or USD?
- task 5 and 6,  s

[2021-09-22 12:23] J08K commented on #2591
Hey @Rafeqm, I can understand your confusion, this exercise is definitely not perfect, but we are working to make that better.

**Task 3:** The exercise is not about exchanging currencies or about money. The exercise hopes to explain to a student how numbers work in Python. A simple multiplication is quite important to learn in Python. Plus, understanding this task sets the student's brain into th

[2021-09-22 12:32] J08K commented on #2353
Heya @mukeshgurpude,
how's it going with this concept exercise? Haven't heard anything in a few days, so I'm just checking in!

Do you need me to look at some drafts of the exercise for you? Or do you have any questions? Feel free to ping me here, or submit a draft PR that we can look at and ping me there. You can also always ping me on slack!

Good luck and happy coding! 🐍

[2021-09-22 12:38] mukeshgurpude commented on #2353
Hello @J08K,
actually, I'm in the middle of my examinations. I'll be working on this just after that.
I'll open a draft PR with my first edit only..

[2021-09-22 12:57] J08K commented on #2353
Cool, focus on your exams first ofcourse! Goodluck. Tag me in your draft PR when you make it. :)

[2021-09-22 16:01] Rafeqm commented on #2591
I found that in HINTS.MD, `\\` should return float if both operands is float. But you said it exclude decimal number, which one is true? Sorry the Python docs is a bit hard to navigate.

[2021-09-22 16:49] J08K commented on #2591
@Rafeqm, Sorry, it will still return a variable of type `float`, but the decimal will be `.0`. So this is an example:
[code]
If you want to get an integer, convert it to an integer.

Please do keep in mind that this issue is about improving the exercise and not about me explaining the ins-and-outs of it. Please if you have any questions. Ask your mentor, or if you're really stuck, please post it i

[2021-09-22 21:02] joaoguilherme1 commented on #2591
For me the task 5 and 6 was confusing because he needs the maximum value (?) but doesn't explain for what. If you guys add something like amount to pay the bills or something like that will help, in my opinion :).

And maybe integrate the necessity to pay the bills on the instruction history will help the user to think on int() numbers and the // operator.

[2021-09-23 07:55] J08K commented on #2591
Heya @joaoguilherme1, Thanks for your comment.
`Maximum value` refers to the `maximum_amount_of_bills * denomination`, in turn you will need to re-use your code from previous functions in your solution to finish the tasks.

[code]
This is my one-liner to solve _task 5_, it's not the most pretty, but it does work and it's compact. Please do not use this example for when you're mentoring, this is ju

[2021-09-23 15:09] BethanyG opened #2594 "[Currency Exchange]: Improve Variable Naming and Clarify Instructions"
The [currency-exchange](https://exercism.org/tracks/python/exercises/currency-exchange) concept exercise for `numbers` needs additional editing for clarity and readability.
For background, see [Issue 2591](https://github.com/exercism/python/issues/2591)

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating

[2021-09-23 15:13] BethanyG commented on #2591
Thank you all for your discussion and suggestions! 🌟 🌈
I have logged [issue 2594](https://github.com/exercism/python/issues/2594) as a task list of what needs to be done to improve this exercise.

It's currently assigned to @J08K -- but anyone here is welcome to help with a PR.  Please coordinate with @J08K if you do so.

[2021-09-23 17:11] BethanyG commented on #2534
Yup.  Just re-read this (I ended up missing your comment as well, apologies).  Turns out, we had a bad closure on some of the highlights, so it was our issue all along.  With any luck, [PR2595](https://github.com/exercism/python/pull/2595) fixes it.

[2021-09-23 17:16] BethanyG commented on #2456
**PLEASE NOTE**: [PR592](https://github.com/exercism/python/pull/2592) is the implementation of the associated concept exercise.  However, that exercise cannot "go live" without this associated concept write-up.

[2021-09-23 18:01] #2534 closed

[2021-09-23 19:10] J08K commented on #2594
Currently working on this! :)

[2021-09-24 09:34] Minamikaze392 commented on #2591
I don't understand the meaning of **bills**... I thought if that are some additional charges I need to pay during the exchange...

And what means the unexchangeable_value in Task 6? Should it mean the remaining budget after the exchange, in the original currency (Should be USD in this Exercise, and would be float instead of int)?

[2021-09-24 09:56] J08K commented on #2591
Hey @Minamikaze392, could you please clarify what you mean with `bills`, there are a few times `bills` is mentioned in the exercise.

About _task 6_, the `unexchangeable_value()` function returns the `value` (in the foreign currency) that is not able to be exchanged due to it not being properly divisible by the `denomination`. I am currently rewriting the instructions to make matters like these mo

[2021-09-24 13:16] BethanyG commented on #2591
Closing this discussion.  Items to improve are listed under #2594.

[2021-09-24 13:16] #2591 closed

[2021-09-24 18:43] SaschaMann opened #2597 "[Card-Games]: Phrasing of Task 5 Leads Students to Think Associated Test Cases Are Wrong"
in test 15, approx_average_is_average(hand) for hand = [2,3,4,8,8] expects True, however, unless I am taking crazy pills, the average of hand is 5, and the median is 4.

5 == 4 is False. No?

---

I think there might be a little problem with Task 6. The second example (which also happens to be test 14) has the following list: [2, 3, 4, 8, 8], that is, median 4, average 5. Since the task asks us to

[2021-09-24 20:59] BethanyG commented on #2597
Putting the instructions in here to be really really clear (_emphasis mine_):

 Elyse thinks she can "shortcut" the traditional calculation to get an _average-like_ number by taking the average of the first and last card values in the hand - **or** by using the "middle" card value (the median) of the hand.
  She is hoping **one of these calculations** might come close to the average, but be quicke

[2021-09-24 21:07] BethanyG commented on #2597
Proposed change:

 The function should return  `True` if _one (or both)_ of Elyse's approximations yields the same value as calculating the "full" average of a hand.
  The function should return `False` if _neither_ approximation formula yields the same value as the "full" average.
  For the sake of a simple median, we are going to assume the hand always has an odd number of card values.

[2021-09-26 13:06] BethanyG commented on #2585
@pranasziaukas  -- if you have time, the "churn" on `Meltdown Mitigation` has slowed, so this issue can be taken up again.  PRs #2568  &  #2584 have been merged.  I am going to take this off `hold`.  Let me know if you'd like to work on it.  Thanks! 🌟

[2021-09-26 13:17] ynfle opened #2602 "Inconsistent whitespace in stubs"
In [meltdown-mitigation](https://github.com/exercism/python/blob/2eaeb28bdc49bb23686175da0445162163454cec/exercises/concept/meltdown-mitigation/conditionals.py#L16) there is a blank line after the docstring before the `pass`, while in [ghost-gobble-arcade-game](https://github.com/exercism/python/blob/2eaeb28bdc49bb23686175da0445162163454cec/exercises/concept/ghost-gobble-arcade-game/arcade_game.py

[2021-09-26 13:22] BethanyG commented on #2602
Hi @ynfle 👋🏽  !  Thanks for logging this.  Yes, there should be one blank line after the docstring.  And yes -- perfectly fine to submit a PR for `ghost-gobble-arcade-game`.  But please don't go through _all_ the stubs at this time.  We're still cleaning up things like instructions and code samples, so PR-ing a bunch of blank lines across exercises will add chaos we don't want.  😄

[2021-09-26 13:24] ynfle commented on #2602
Ok. I can totally wait and not do anything right now. Would one for `ghost-gobble-arcade-game` be useful? If not I can just wait.

[2021-09-26 13:26] #2597 closed

[2021-09-26 13:26] #2594 closed

[2021-09-26 13:27] BethanyG commented on #2602
Honestly?  There are other things that are more important right now (content & tests), so if you could wait that would be good.  😄

[2021-09-26 15:41] ynfle commented on #2602
So if you think this should be closed, then feel free. Good luck with the rest of the track

[2021-09-26 17:16] #2602 closed

[2021-09-27 16:44] BethanyG opened #2605 "[Card Games] Refactor Tests and Add Sum() and Len() to Exercise"
Per notes in [PR2590](https://github.com/exercism/python/pull/2590), this exercise needs to have its tests and documents refactored.  In particular:

- [ ] Refactor tests to include additional test scenarios and variants (with `subTest`) as needed.
- [ ] Refactor `exemplar.py` to omit the use of `loops`, since `loops` is not a prerequisite of this exercise, so cannot be used.
- [ ] Edit `introduct

[2021-09-27 16:46] BethanyG commented on #2605
@pranasziaukas  -- I cannot seem to assign you to this (_instead I will assign myself_), but it is all yours to work on.  And thank you very much for taking it on! 🌟

[2021-09-27 16:53] #2585 closed

[2021-09-27 23:51] BethanyG commented on #2356
@doublevcodes  -- someone else has asked if they can work on this issue, so I am un-assigning you.  Please let me know if you want to continue/start work on it, and I can re-assign you.  Thanks!  🌟

[2021-09-28 07:02] Urkchar opened #2609 "Python track strings_test.py unfinished"
When using the local cli, I downloaded the exercise for Little Sister's Vocabulary. This gave me `strings.py` and `strings_test.py`.
The tests were left incomplete. In all other test files that I've used, they've ended with
[code]
however `strings_test.py` does not have this code. This means that, when running the test file, none of the tests are actually ran. To fix this, add
[code]
to the end of

[2021-09-28 08:19] dawidl022 opened #2608 "[Improve Practice Exercise] Complex Numbers: Test mixed operations (complex number with real number)"
Hello, after having spoken to my mentor on exercism, I thought I would contribute to the tests to make them check operations such as (1+2i) - 2, as currently they only check operations on two complex numbers. I am not sure if the creators of this exercise want this complexity though, so that's why I'm asking here beforehand.

[2021-09-28 15:24] pranasziaukas commented on #2605
I created a PR to bring the tests to a better shape.

When it comes to getting rid of `loops`, my understanding is the following:
- `instructions.md` looks good to me as it doesn't ask to loop over anything
- `hints.md` has broken links AFAICT, plus
  - "iterating over a `list`" part needs to be removed
- `introduction.md`
  - mentions iterations and `for` loops in multiple places, including examp

[2021-09-28 16:43] BethanyG commented on #2605
@pranasziaukas -- understandable.  It is indeed a mess -- and you don't have to clean it up if you don't want to.  😄   I can add the rewrite parts to my to do list.

[2021-09-28 17:28] BethanyG commented on #2609
@Urkchar  -- That code does indeed allow the test file to be run stand-alone (_invoking `unittest` as the test runner_), and we will start omitting it from new exercises and removing it from older ones going forward.

I've allowed it to hang around because I didn't think it was harming anything -- but it appears to be causing confusion about how our tests should be run and is causing an uptick in

[2021-09-28 17:28] #2609 closed

[2021-09-29 02:39] BethanyG commented on #2563
I can only **_hope_** to abandon this.  Nice try, gitbot, but I think this needs to stay open.  😞

[2021-09-29 04:55] BethanyG opened #2614 "[Cater-Waiter] PyLint Has Praise Locally and Errors on Website."
Running the `Cater-Waiter` `expemplar.py` through the Python analyzer locally results in the following `analysis.json`:

[code]

However, the same file results in the following in the web editor:

![image](https://user-images.githubusercontent.com/5923094/135205201-4294bd34-ae47-47cc-9ea6-c757e0639435.png)

Suspect `PyLint` is getting greedy and running analysis on the test data files, or otherwis

[2021-09-29 04:55] BethanyG commented on #2614
First thought here is to edit the test files to see if that stops the whining.

[2021-09-29 05:00] #2428 closed

[2021-09-29 06:23] BethanyG commented on #2608
Hi @dawidl022 👋🏽   Thanks for logging this issue!

The tests for this exercise are auto-generated from data in the `problem specifications` repo and changes to them should be taken up for discussion there first, unless you feel that these changes are Python-specific, and warrant a special addendum.   I'll transfer this issue there.

[2021-09-29 08:46] #2504 closed

[2021-09-29 19:42] J08K commented on #2614
`exemplar.py` does not seem to generate the issue from my account. It is most likely linked to an older, outdated, version.
![image](https://user-images.githubusercontent.com/48634934/135337346-6687ac5a-8d82-4a9f-ab21-e42f2ca8f45f.png)

[2021-09-29 19:42] #2614 closed

[2021-09-30 22:12] kwikiel opened #2616 "Lasagna may be too hard - making first exercise more accessible."
The problem:
I've mentored over 150 solutions and finished exercism v2 python track so I assume I have some basic python skills, however I was unable to solve simplest exercise in v3 - the lasagna one.

Previous problem had almost zero mental overhead ( hello world two_fer AFAIK )

With the help of @BethanyG I found the culprit in the error message :

[code]

It seems like I didn't implemented pre

[2021-09-30 22:35] kwikiel commented on #2586
https://skeptric.com/python-maybe-monad/

But also I would like to encourage you to work on some exercise that would test if one could implement functions that could handle weird edge cases like empty lists, strings or Nones.

It would improve "Error Handling" syllabus.

[2021-09-30 23:24] SleeplessByte commented on #2616
"for the beginner or the absolute beginner with 0 programming experience small things like that can prevent them from going forward and they could just drop out learning after failing to solve exercise nr 1."

Yes, and this is the point. Exercism is _not_ a platform to *learn programming*. It's a platform for programmers to gain fluency in a new language. Most of your comments seem to cater a begi

[2021-10-01 13:59] iHiD commented on #2616
:wave: Thanks for logging! A few thoughts.

1. FYI, Hello World comes before this exercise in the flow, so they've had to get a working setup before then (or used the editor).
2. Re enabling mentoring if someone can't solve the issue. The problem with this is that it means basically anyone can sign up with no programming experience and start using the mentors to help. If we allowed that, we'd get

[2021-10-01 23:07] BrooksAz opened #2621 "[Currency Exchange] Confusing Wording and Directions"
The actual coding work is extremely easy, it's just basic arithmetic. The problem is understanding what you are supposed to be calculating. Everything is easy until task 5, when you-know-what hits the fan, at least for me. In the beginning, budget was a total, and we were just taking a portion out of it to be used, with exchanging value and such. Now it appears we are spending it all in one place?

[2021-10-02 07:12] BethanyG commented on #2616
The `ImportError` UI messages for this exercise have been updated to:

For `constants`:

![image](https://user-images.githubusercontent.com/5923094/135707175-7293687a-e9ca-49ba-b510-296671f983e0.png)

For `functions`:

![image](https://user-images.githubusercontent.com/5923094/135707196-3586d00a-2213-482e-a76d-e2538c4d5c87.png)

For the command line, the error includes the traceback:

<img width="

[2021-10-02 07:52] epyklion commented on #2621
I agree

[2021-10-02 08:52] #2616 closed

[2021-10-02 09:09] BethanyG commented on #2621
Hi @BrooksAz 👋🏽

Thanks for logging this.  @epyklion - thanks for commenting. 🌟 🌈

Please take a look at the discussion in [Issue 2591](https://github.com/exercism/python/issues/2591) (now closed as fixed by [PR 2601](https://github.com/exercism/python/pull/2601 )).  I think some of the comments there might help clarify things a bit.

We'd also love if you have any suggestions or thoughts on how t

[2021-10-02 19:48] J08K commented on #2616
Great work @BethanyG!

[2021-10-02 22:00] BethanyG opened #2624 "[General: Slow Testing Exercises] Exercises that have Slow Running Tests that Time Out in the UI"
This is an open issue for Exercises that have reasonable solutions that "time out" under test in the UI.

To be clear -- this is not for exercises that time out due to inefficient code, but ones that reasonably pass in in the runner locally or in docker, but take too long in the UI once the containers are spun up and configured.

For now, we need to flag these as "slow", so that they don't run on

[2021-10-02 22:22] BethanyG commented on #2624
As talked about in a previous Slack discussion, we should add notes to these exercises to the effect:

[2021-10-02 22:29] BethanyG commented on #2624
Link to issues that also deal with this problem:  [Elixir 817](https://github.com/exercism/elixir/issues/817) & [exercism docs 169](https://github.com/exercism/docs/pull/169).

Link to the docs that cover [track config](https://github.com/exercism/docs/blob/main/building/tracks/config-json.md)
Link to [practice exercise config](https://github.com/exercism/docs/blob/main/building/tracks/practice-ex

[2021-10-03 01:23] mukeshgurpude commented on #2353
Hello, @BethanyG, @J08K
While #2623 is under review, I need some suggestions for the real world example for this exercise.
I thought of something as `interest-calculator`, which will just calculate the simple and compound interest, but in this it wasn't possible to show reusability🤔.

[2021-10-03 02:18] Bixxith commented on #2621
Would it be a bad thing to just say "to calculate this you need to take the quotient of x and y and then find the product of the resulting number and z"?  It would shift the focus of the problem from trying to comprehend currency exchange to implementing mathematical equations and working with numbers.

[2021-10-03 06:40] R4ygen opened #2625 "[Card Games] Suggestions improvements for Task 5"
https://github.com/exercism/python/blob/1c2b930b952eb32f61973e222ee41e11b2d775f2/exercises/concept/card-games/lists_test.py#L99

Hello, while doing the test 5 in Python track's Card Games I encountered an issue with the Variation #7. I think it should return `False` instead of `True`. Since 8/2 and the median term equals 4, wich differs from the average of 5.
Correct me if I'm wrong.

[2021-10-03 07:00] BethanyG commented on #2625
Hi @R4ygen 👋🏽

Thanks for logging this issue!  We've been discussing changing this task. Even with a (recent) wording change, it appears to be confusing users.  For reference, I'm going to past the directions for `Task 5` below:

![image](https://user-images.githubusercontent.com/5923094/135743440-a40a7a7a-e013-4cd9-bd48-2ac6f846a70c.png)

Not that is is an **`OR`** condition, and that the result

[2021-10-03 15:46] BrooksAz commented on #2621
I think it would be better to have some aspect of identifying the problem, but add in hints for every step that point you in the right direction.

[2021-10-04 15:55] BrooksAz commented on #2621
I have created a pull request which I think clears up a lot of the vagueness that currently exists in the exercise.

[2021-10-04 15:58] BethanyG commented on #2621
@BrooksAz  -- could you please link that PR to this issue?  Many thanks. 🌟  I will try to review & comment on it later today my time (I am in PST).

[2021-10-04 16:17] BrooksAz commented on #2621
Right here - [https://github.com/exercism/python/pull/2626](url)

[2021-10-04 16:18] BrooksAz commented on #2621
#2626 Right here

[2021-10-04 17:36] R4ygen commented on #2625
Hello,
Thanks for the help, I see the mistake now, my bad. I was pretty tired when tried to do the exercise and misread the text in fact.

I could do a couple of suggestion to help improve the introduction to the test though, yes:
 

• The instructions for the exercise could be more separated from the "story" part of the text, to help focus more the attention on what is needed for the exercise and

[2021-10-04 18:16] BethanyG commented on #2625
@R4ygen - Nice!  I like those changes.  @J08K  -- what are your thoughts?  If these look good, maybe you can help Marco with submitting a PR?

[2021-10-04 22:06] J08K commented on #2625
@BethanyG, @R4ygen, I would love to see a PR on this with your full edit! Don't forget to ping either of us, @R4ygen.

Yes, the instructions definitely need a re-write, make them more readable at least. On the other hand, I think the instructions should still represent the context of the exercise. We do not want to give the student all the info, but we do want to hint them to them. It is important

[2021-10-05 10:49] s-torn opened #2627 "[Ghost Gobble Arcade Game] Lacking test for win conditions"
The Ghost Gobble Arcade Game exercise is solvable by defining a win only as not losing, the condition of having eaten all dots is not tested.
In the current state the exercise passes the tests if the win function returns _not lose(power_pellet_active,touching_ghost)_.

[2021-10-05 10:59] s-torn commented on #2627
I'm not able to link my pull request, which I think is about permissions?
#2628

[2021-10-05 12:15] J08K commented on #2627
Hi there, nice catch! I did test out what you meant and you're right, the tests do allow for a student to pass the exercise even if they don't use `has_eaten_all_dots`. Funny that this was never noticed... I wonder how many students used this loop-hole to pass the exercise.

I will be reviewing your PR #2628 about this!

[2021-10-05 12:35] #2627 closed

[2021-10-05 20:11] J08K commented on #2560
Check PR #2611

[2021-10-05 21:14] J08K commented on #2293
Heya, I am going to work on this.

## My idea
An airline needs your help with assigning seats for passengers, to do this they need **you** to make them a generator for that.

First, clarification:
A `seat` uses the following format `11F`, with each `1` being a number from 1 through 9, AKA the `rows`. And the `F` is the seat in each row, it uses `A through F`. It is important to note that a lot of

[2021-10-06 13:11] BethanyG commented on #2293
No worries @djjohnsongeek!  We're happy you are back, and hopefully everything is going well for you.
If you'd like, I think @J08K might be open to collaboration?   Just check in with him.

But there are also other issues ([open issues](https://github.com/exercism/python/issues?q=is%3Aopen+is%3Aissue)) you can take on as well (if you'd like) -- just let us know!  😄

[2021-10-06 18:56] BrooksAz opened #2630 "Grains exercise missing instruction."
Testing fails on this exercise if you don't raise a value error when the number is over 64 (the number of squares on the board). This is not mentioned in the instructions so I am going to make a pull request adding this as a step.

[2021-10-06 19:03] BrooksAz commented on #2630
[https://github.com/exercism/python/pull/2631](url)

[2021-10-06 19:35] IsaacG commented on #2630
Per my comment on the exercise, many of the exercises on Exercism are built with the problem description laying out the broad expectations and the unit tests encoding the details of the expected behavior. Users are expected to take a test-driven approach to solving the exercises and filling out the details. This is by design and not an oversight.

[2021-10-07 20:11] ynfle opened #2633 "Unnecessary warnings because of task ids"
[code]

These warnings could be avoided by adding a pytest.ini file to register the custom mark, as outlined [here](https://docs.pytest.org/en/stable/mark.html)

I'd happily submit a PR to fix this if it were useful and didn't mess up anything

[2021-10-07 20:17] BethanyG commented on #2633
@ynfle  -- please download the file.  It is already in the repo.

[2021-10-07 20:17] #2633 closed

[2021-10-07 20:53] ynfle opened #2634 "Card Games `test_code` is missing some code"
<img width="516" alt="Screen Shot 2021-10-07 at 10 25 57 PM" src="https://user-images.githubusercontent.com/23086821/136449788-2157608f-0da1-43f7-8e3b-1e8850f24775.png">

[2021-10-09 12:10] BethanyG opened #2641 "[Little Sister's Vocab/Essay]: Update About.md to Include removeprefix and removesuffix"
Python `3.9` [introduces](https://docs.python.org/3.9/whatsnew/3.9.html#new-features) two new string methods that make removing prefixes and suffixes easier.

`Little Sisters Vocab` has the student remove prefixes and suffixes, but uses Python `3.8` methods.  Its follow-on exercise `Little Sisters Essay` has the student work with `startswith()` and `endswith()`.

We should note in the `string-meth

[2021-10-09 15:06] BethanyG opened #2642 "[Log-levels]: Add Formal Docstrings to exemplar.py and stub files"
For `log-levels` (Enums concept), we need to add proper docstrings to both the [stub file](https://github.com/exercism/python/blob/main/exercises/concept/log-levels/enums.py) and the [`exemplar.py`](https://github.com/exercism/python/blob/main/exercises/concept/log-levels/.meta/exemplar.py).

Example docstrings can be found [here](https://github.com/exercism/python/blob/main/exercises/concept/melt

[2021-10-10 12:37] kana800 commented on #2641
Hi can I work on this?

[2021-10-10 16:35] BethanyG commented on #2641
@kana800 - Certainly!  🎉

Below are some additional links to exercism docs.  Let I or @J08K know if you have any questions or issues!

- [Contributing to Exercism](https://exercism.org/contributing) |  [Help](https://exercism.org/docs/building/product)
- [What are those Weird Task Tags about?](https://exercism.org/docs/building/tasks)
- [Building Language Tracks: An Overview](https://exercism.org/

[2021-10-10 18:40] gregoryhills opened #2644 "[Tisbury Treasure Hunt] Hints aren't showing up on web"
When I look at the hint file on GitHub for Tisbury Treasure Hunt, I see a bunch of detailed hint information.
However, when I try to pull up the hints in the web interface, the informative hints present in GitHub do not appear.
I'm running Chrome on Mac OS BigSur.

[Link to hints on Github](https://github.com/exercism/python/blob/main/exercises/concept/tisbury-treasure-hunt/.docs/hints.md)
Github

[2021-10-10 18:51] BethanyG commented on #2644
@J08K  -- left you a note on Slack.  Can you take a look in your account?  *Thank you so much!*

I can't see anything obviously wrong with the markdown, that doesn't mean that there isn't a problem.

[2021-10-10 19:04] J08K commented on #2644
Yep, I am getting the same issue on task 5! This is ONLY on task 5, which is weird because nothing about the raw `markdown` in the task 5 header is different than the rest of the file.

This is the same for `currency exchange` although on that exercise NONE of the hints are working (To be fair, this exercise is pretty cursed).

I think it might be a website error? But I am not sure, will investiga

[2021-10-12 02:55] goatthinking opened #2647 "[Guido's Gorgeous Lasagna] instructions.md showing different var names"
In the instruction page for "Guido's Gorgeous Lasagna" concept exercise a variable has two different names within the document.

When instructing on how to make the function it says to use: `elapsed_bake_time`
* https://github.com/exercism/python/blob/efc213ac959a76e4f204214ffb98e185227960ff/exercises/concept/guidos-gorgeous-lasagna/.docs/instructions.md?plain=1#L38

However in the next section it

[2021-10-12 19:53] AdamJel opened #2648 "general question: does code style in tests of exercises matters?"
Hello,

first of all, thank you all for this absolutely great project.

I have a suggestion. I always take a look at the test files as I learn to gain some insight on how people write tests and python code in general. And I believe I am not the only one. Therefore the code style and format style of tests teaches young programmers how to write codes as well. And so they should be written well and u

[2021-10-12 22:04] #2648 closed, assigned to nobody

[2021-10-13 04:05] BethanyG commented on #2647
@goatthinking -- thanks for the catch!  We've fixed this in #2651.

[2021-10-13 04:05] #2647 closed

[2021-10-13 13:40] AdamJel opened #2656 "[Supported Language Versions] Possible Move to Python >= 3.10 for Tooling and Exercises"
Hi,

using `match case` syntax from python 3.10 raises errors and causes solution to fail.

Please, bump python version.

[2021-10-14 11:20] chel-ou opened #2657 "[Card games] Bonus round rule: test not matching the instructions"
For Bonus round rules, the instructions shows that the `maybe_double_last()` function should return None, and just change the `hand` list in place.
Yet the test (task 7) compares the result of `maybe_double_last()` and not the updated `hand`. So following the instructions lead to a failed test, as `maybe_double_last()` should return None.
Instructions or tests should be updated.
I personally think

[2021-10-14 19:45] chel-ou commented on #2657
Hi @BethanyG !
Thank you for your quick reply.
Actually what confuses me is the output of the shell. If the function `maybe_double_last()` would return the updated `hand`, it should appear in the shell (see screen grab below).
At least it is what happens in my standard python shell.
What you highlighted on the screen grab of the instructions, is the returned value of the `hand` command. Not the re

[2021-10-15 14:01] pranasziaukas opened #2661 "[Making the Grade] Union return type in Task 6"
https://github.com/exercism/python/blob/650a597311104f94f5c807a68c7859e16dc76327/exercises/concept/making-the-grade/loops.py#L51

IMO the union return type is not needed in a concept exercise. Besides, I don't see the value it provides at all in the current setting because `<student name>` is the only unique part that is matched.

My suggestion is to have a `str` return type, i.e.:
[code]

Happy t

[2021-10-15 21:12] J08K commented on #2661
Hey there,

If we would look at it from a _broad_ view, yes, it wouldn't really make that much sense to teach a student to return a `Union` of two different types. **But**, I do have to say that when you look at the information given and the task at hand, it is easier to just return a `sublist` of a `list`.

I think the exercise should just be about the concept of `loops` and that we shouldn't rea

[2021-10-16 04:18] pranasziaukas commented on #2661
I'm not sure if this is what you had in mind @J08K but I agree that it is easy to return a sublist of students with perfect scores. I.e. `[[<student name A>, 100], [<student name B>, 100], ...]`, and a no-match would naturally be `[]`.
In fact, it is conceptually very similar to `above_threshold(student_scores, threshold=100)`.

That said, I think it's a good exercise to only ask for the first mat

[2021-10-17 13:04] BethanyG commented on #2641
@kana800,

No apologies needed!  😄  - and thank you for your excellent questions.

Since these two methods are `Python  3.9`, and we (currently) only support `Python 3.8`, we should leave them out of the documents for the exercises proper for now.  -- so no changes to any of the files you mention above.

 But having this issue, and the changes in the `about.md` files for the  related concept docum

[2021-10-18 09:34] pranasziaukas commented on #2661
I expect to pick this right after #2668 is merged (or dismissed).

[2021-10-18 20:33] BethanyG commented on #2644
The issues with `currency exchange` hints is most likely resolved by PR #2677.
There was a missing top-level Markdown header.

The Tisbury hints (I hope!) might be fixed by #2678 -- but we won't know until it's merged and pushed to the site.

[2021-10-18 21:54] BethanyG opened #2680 "[CONTRIBUTING]: Update Configlet Instructions for New Sync Command"
After [PR #366](https://github.com/exercism/configlet/pull/366) in the Configlet repo is merged, we need to update the "Generating Practice Exercise Documents" section of our CONTRIBUTING file to reflect the new way to sync/generate Practice Exercise documents.

[2021-10-21 06:15] ancilcleetus opened #2683 "Python Analyzer [C0303 trailing-whitespace] : ["Trailing whitespace"] reported that is against PEP257"
After adding a blank line between summary & rest of the docstring (as per PEP257), Python Analyzer gives "Trailing whitespace" warning.

![Screenshot from 2021-10-21 11-37-08](https://user-images.githubusercontent.com/25684256/138221412-fc2726be-e4be-4d1b-8b57-905e7342ebb1.png)
![Screenshot from 2021-10-21 11-37-56](https://user-images.githubusercontent.com/25684256/138221431-82cf918a-2938-4a1a-9c

[2021-10-23 03:35] #2661 closed, assigned to nobody

[2021-10-23 03:37] #2641 closed, assigned to kana800

[2021-10-25 21:23] glennj opened #2695 "[Cater Waiter] Emojis in Introduction too small to see differences"
I find the emojis in the Construction section of the Introduction are virtually indistinguishable.
![image](https://user-images.githubusercontent.com/122470/138772985-1d285a9d-17e6-4678-92fc-71671c7ead2f.png)

I'd appreciate text strings, even single characters, which would be easier to read
.

[2021-10-25 23:10] #2695 closed, assigned to nobody

[2021-10-27 14:15] BethanyG opened #2698 "[CI]: Consider More Detailed JinJa2 Template Linting and Checking"
After doing numerous JinJa2 template PRs and test file regeneration (_and getting caught by a nasty indentation bug_), it feels like we could benefit from setting up some linting rules and checks for JinJa2 templates that are a bit more detailed and custom.  Right now, we check that the files will produce test files that can be linted by Black, but we don't _really_ do much additional validation.

[2021-10-27 15:15] BethanyG opened #2700 "[CONTRIBUTING]: Update Pre-Commit Checklist"
We need to update the pre-commit checklist to omit the `exercise-test.py` script instructions.  They no longer work, and the script has been deleted.  We need to direct contributors to use `generate-tests.py` instead, as well as checking files manually.  We should probably remove/edit the note about `hints.md` as well.

Here is the current checklist:

<br>
  <details>
    <summary>⚠️&nbsp;&nbsp;<b

[2021-10-29 06:08] szabgab opened #2702 "[New Exercises] using the input() function"
People coming from a GUI-only background will have a lot of fun getting used to the command-line. IMHO it would be a good idea to have them practice. I'd be happy to contribute one or more of my super-simple exercises:

https://code-maven.com/slides/python/exercise-rectangle
https://code-maven.com/slides/python/exercise-calculator
https://code-maven.com/slides/python/exercise-age-limit
https://cod

[2021-10-29 06:11] szabgab opened #2703 "[New Exercise Idea]: using sys.argv"
People coming from a GUI-only background will have a lot of fun getting used to the command-line. IMHO it would be a good idea to have them practice. I'd be happy to contribute one or more of my super-simple exercises:

https://code-maven.com/slides/python/exercise-rectangle-argv
https://code-maven.com/slides/python/exercise-calculator-argv

This might require the understanding of lists, though on

[2021-10-29 19:51] BethanyG commented on #2702
Hi @szabgab  -- for `input()` I disagree. There is very little use for `input()` in the vast majority of production Python code.  There are some corner cases where it is useful - but for a majority of cases, it is something that may be helpful to new programmers, but is really not helpful for someone looking to be fluent in core Python.

In addition to that, due to the nature of our track structur

[2021-10-29 19:53] BethanyG commented on #2702
@J08K  -- your thoughts on this?  Would figuring out an exercise on `input()` be useful you think?  Open to discussion here, if there is a use-case I am forgetting or ignoring.  😄

[2021-10-29 20:27] J08K commented on #2702
Heya, thank you @BethanyG for tagging me in this! So, about `input()` I have 2 points:
 1. Exercism is (to my knowledge) not interested in `stdin` and `stdout` types of exercises (`input()` falls under `stdin`). We want to teach people programming, automation and just general ways to deal with given data. The kind of problems we teach are problems that _would_ theoretically deal with the user in a

[2021-10-29 20:29] BethanyG commented on #2703
`sys.argv` would be way down the concept tree, so dependancies wouldn't be an issue.  And I do think this might be an interesting concept exercise to add.  Writing tests for it could be rather involved, but an interesting problem to solve.

However, if the purpose of this would be to get someone used to the command line (not Python), then I would recommend that they do some exercises on the [Bash]

[2021-10-29 20:39] szabgab commented on #2702
I am trying to understand, where do students normally run their code. Because I run it on my own computer natively, not inside any container. In that setting the user would just run the `python some_code.py` that would ask for the input. I can put together a test for this and let you check it on whatever system you have.

[2021-10-29 20:43] szabgab commented on #2702
And for the reason, when I teach python (or any other language) I like to to teach students some way they can interact with the program. That, I feel, makes a much more fun experience as they can make useful little things after an hour of learning.

[2021-10-29 21:09] szabgab commented on #2703
I am not sure I understand why would writing tests be difficult?

[code]

[code]

After having one or two exercises with plain `sys.argv` I'd also think there could be exercises with `argparse`.

[2021-10-29 21:12] J08K commented on #2702
So @szabgab, code is tested in two ways on Exercism. You can write your solutions locally on your own machine using the CLI. It is also possible to do it via the website directly, which a lot of our students are currently doing. Either of these two options will require the `test-runner` to run the tests on your code and let the tests pass.

The `test-runner` is inside a `docker container` on an AW

[2021-10-29 21:26] BethanyG commented on #2703
https://docs.python.org/3/library/sys.html#sys.argv.  Please note the section where it says that the path names are **dependent on the file system**

[2021-10-29 21:59] J08K commented on #2703
So, if you look at the official `blurb` for the [sys library](https://docs.python.org/3/library/sys.html), it says it's _system-specific_. So for a website with over 750.000 students, it will be quite dangerous to make tests for any OS and that is running on just linux. So, I agree with @BethanyG on that we might want to have a look at `argparse`, which is in a production standpoint much better to

[2021-10-29 22:52] IsaacG commented on #2703
Given the plethora of higher level and more modern tools for handling commands and flags, e.g. click, would teaching argparse be the most value for time?

[2021-10-29 23:12] BethanyG commented on #2703
The advantage I see with `argparse` is that is is (somewhat) higher level, and yet still included in the standard lib.

But I agree that click (and possibly [fire](https://github.com/google/python-fire)) are superior.  The issue with those is that they are third-party libs.  And we could very well include them and make exercises about them....but we should also thoroughly cover the used and useful

[2021-10-30 04:34] szabgab commented on #2703
I think as a concept one first needs to understand that the user can put values on the command line that appear as a `list` in a variable called `sys.argv` and all the other, higher-level, modules are just processing that list.

As I read the python documentation, it seems to indicate that the content of `argv[0]` is system-dependent. The rest of values are not. They are just the values that were

[2021-10-30 04:52] szabgab commented on #2702
So if I understand the problem is not with the automated tests. The problem is letting the user run their program that expects interaction. People who use the command-line tool of Exercism to download and submit the code will have no problem.

Such exercises could explicitly say that they (currently) are only supported for people working on their own computer. For an even better UX, this could be

[2021-10-30 05:40] BethanyG commented on #2702
As both @J08K and I have stated, the "problem" is that interaction on the command line for something like `input()` is not the intended purpose for exercism exercises.  At best, it teaches a specific _proficiency_, **not** _fluency_ in Python.  It also has limited value to students beyond the beginning programming level.  As such, it is not a great return on effort for this track at this time.

I

[2021-10-30 05:59] szabgab commented on #2702
OK, I am closing this issue.

[2021-10-30 05:59] #2702 closed

[2021-10-31 00:43] #2557 closed

[2021-10-31 11:45] mathstrains21 opened #2712 "[My Little Sisters Essay] Parameter order"
On my little sisters essay, the parameter naming order for `replace_word_choice()` is inconsistent.

The template has:
[code]
While the exemplar solution is:
[code]
The template is clearly correct in the function definition, while all of the other 3 orders are wrong.

I'd like to fix this if possible!

[2021-10-31 15:31] IsaacG commented on #2712
Would you like to submit a PR for this? Or would you like this to be fixed by anyone, in which case I can submit a PR?

[2021-10-31 16:37] mathstrains21 commented on #2712
I'd like to fix this

[2021-10-31 16:38] IsaacG commented on #2712
Feel free to submit a PR.

[2021-10-31 17:10] mathstrains21 commented on #2712
👍 will submit one later today!

[2021-10-31 17:48] #2712 closed

[2021-10-31 20:00] BethanyG opened #2714 "[Practice Exercise Leveling]: Reassess "Difficulty Level" of Practice Exercises"
We've come to the stage where we'd like to re-examine and re-asses the stated difficulty level of our practice exercises.  Some exercises marked "easy" (**e.g.** Palindrome Products) feel as though they are much more difficult than others in the "easy" category.

Below is a table with links to exercises, example solutions, and "starred" community solutions.  It's sorted in ascending difficulty fro

[2021-11-02 15:20] shumashv1 opened #2717 "Missing init code for test scripts"
Test scripts import both pytest and unittest.  I run code locally in the Spyder GUI, and tests don't execute until I add initiator lines.  If I add an initiator to the last lines of the script (as previous test scripts have done) as follows:

if name == "main":
pytest.main()

 -or-

if name == "main":
unittest.main()

the tests run.  Running the tests from the command line also works with:
python

[2021-11-02 15:28] shumashv1 opened #2718 "Sorting of Published Solutions"
There should be more than just looking for some unknown user's solution.  I have no clue how the solutions are sorted now, but there should be options to sort on "newest to oldest", "oldest to newest", "date range", "alphabetic by user", etc.

[2021-11-02 21:16] IsaacG commented on #2717
This is working as intended.

Per the [Python testing docs](https://exercism.org/docs/tracks/python/tests), you should be able to configure your editor to run tests using `pytest` or `python3 -m pytest`. That's the intended workflow.

Running the test file directly as an executable script is not the intended or supported workflow. The Python maintainers have been explicitly removing the `if __name

[2021-11-03 00:17] J08K commented on #2718
Hi there @shumashv1,
I am assuming that you are currently talking about the `community solutions` page on every exercise, correct?

Even though I do agree with you, and that there should be a way of sorting things a little different, that is not up to the `Python track`. This is an _issue_ on all community solutions on all tracks.

Please have a look in the main [Exercism Repo](https://github.com/

[2021-11-03 00:17] #2718 closed

[2021-11-03 02:29] shumashv1 commented on #2717
OK, I’ll buy that, but when I go to the Testing docs link and attempt to look into Tools, I get this:

https://exercism.org/docs/tracks/python/TOOLS.md
***@***.***
Not very helpful.

From: Isaac Good ***@***.***>
Sent: Tuesday, November 2, 2021 3:17 PM
To: exercism/python ***@***.***>
Cc: shumashv1 ***@***.***>; Author ***@***.***>
Subject: Re: [exercism/python] Missing init code for test scripts

[2021-11-03 02:43] IsaacG opened #2721 "Tools.md doc is not published to the website"
@BethanyG did some major rework of the https://github.com/exercism/python/blob/main/docs/TOOLS.md file in https://github.com/exercism/python/pull/2611/files

However, while the [tests](https://exercism.org/docs/tracks/python/tests) page shows up on the website, the tools page does not. I believe that's due to the tools page lacking an entry in https://github.com/exercism/python/blob/main/docs/conf

[2021-11-03 02:43] IsaacG commented on #2717
You're absolutely right. Thanks for calling that out. I filed https://github.com/exercism/python/issues/2721 to fix that.

You can view the TOOLS.md [directly in Github](https://github.com/exercism/python/blob/main/docs/TOOLS.md) in the meanwhile.

[2021-11-03 02:46] IsaacG commented on #2721
Side note: the MD files link locally using names like `[TOOLS](./TOOLS.md)` which works when renders on Github but generates invalid links when displayed on the website.

[2021-11-03 03:02] BethanyG commented on #2721
It was actually @J08K who did that massive amount of work.  I did the CONTRIBUTING and READMEs.  😄
Let's get the links logged in a separate issue and corrected before we PR anything to show on the site.

[2021-11-03 03:10] BethanyG commented on #2717
@shumashv1

The details in this issue may be of help.  Spyder actually has an add-in that will allow you to run pytest files.  However, if you have Spyder 5, I don't know that the plugin works.  The other details in the issue address various ways to invoke Pytest from iPython/Spyder.  https://github.com/exercism/exercism/issues/5791.

We'll get the linking issues with the testing/tooling docs fixe

[2021-11-03 12:03] shumashv1 commented on #2717
Thanks for the response. Very helpful.

From: BethanyG ***@***.***>
Sent: Tuesday, November 2, 2021 9:11 PM
To: exercism/python ***@***.***>
Cc: shumashv1 ***@***.***>; Mention ***@***.***>
Subject: Re: [exercism/python] Missing init code for test scripts (Issue #2717)

@shumashv1 <https://github.com/shumashv1>

The details in this issue may be of help. Spyder actually has an add-in that will allo

[2021-11-03 12:12] shumashv1 commented on #2717
Thanks. Very helpful.

From: BethanyG ***@***.***>
Sent: Tuesday, November 2, 2021 9:11 PM
To: exercism/python ***@***.***>
Cc: shumashv1 ***@***.***>; Mention ***@***.***>
Subject: Re: [exercism/python] Missing init code for test scripts (Issue #2717)

@shumashv1 <https://github.com/shumashv1>

The details in this issue may be of help. Spyder actually has an add-in that will allow you to run pyte

[2021-11-03 17:10] BethanyG commented on #2717
@shumashv1  - very happy that helped!

I am going to close this issue as resolved.  Please feel free to open another, should you need help, have a question, or spot a bug.  🌟

The publishing/links problem you encountered is logged as issue #2721 .

[2021-11-03 17:10] #2717 closed

[2021-11-03 17:14] IsaacG opened #2726 "Local MD doc links break on the website"
The MD files link locally using names like `[TOOLS](./TOOLS.md)` which works when renders on Github but generates invalid links when displayed on the website. On the web, the tools link ought to be `./tools`

Related/blocks https://github.com/exercism/python/issues/2721

[2021-11-08 16:20] BethanyG commented on #2642
@tigerBoss101  -- our sincere apologies!  We missed your note, and this was fixed by someone else.  😞

Closed by #2730.

[2021-11-08 16:20] #2642 closed

[2021-11-09 00:48] tigerBoss101 commented on #2642
@BethanyG I see! Don't worry, it's all fine!

[2021-11-09 13:12] #2563 closed

[2021-11-09 15:05] BethanyG commented on #2625
@J08K -- do you have time this week to address this?  Let me know -- thanks!

[2021-11-09 23:55] jaywritescode opened #2745 "Eliminate spurious Pytest warnings about unregistered marks"
When running the test suites for a Python exercise in a local environment, Pytest generates a set of warnings because each of the tests is annotated (decorated) with `@pytest.mark.task`. Because `task` isn't [registered](https://docs.pytest.org/en/latest/how-to/mark.html#registering-marks), the Pytest output includes lines such as
[code]
This output is noisy and of little value to the developer.

[2021-11-09 23:57] jaywritescode commented on #2745
Taking a second look, there is the appropriate `pytest.ini` file in this repo; however, it's not being copied into the individual exercise packages.

[2021-11-10 01:13] BethanyG commented on #2745
Hi @jaywritescode,

Thanks for logging this issue.  The warnings should vanish if you place the `ini` file in the root of the exercise folder (e.g. under `python/`.  We're investigating why it isn't currently downloading with the exercises.

Additionally, you can run pytest with `pytest -o markers=task` or use the `PYTEST_ADOPTS` env var to get the warnings to disappear.

[2021-11-10 18:34] BethanyG opened #2760 "[🤖 Auto-Responders 🤖 ]: Add Link to New "How to Make a Good PR" Docs"
Now that we have this awesome ["How to Make a Good PR"](https://exercism.org/docs/community/being-a-good-community-member/pull-requests) doc ([GitHub :octocat: Link](https://github.com/exercism/docs/blob/main/community/good-member/pull-requests.md)), we should update the "bots" and the "docs" where needed to refer to it:
- Add to issue auto-responder
- Add to PR auto-responder
- Add to CONTRIBUTIN

[2021-11-10 18:35] BethanyG commented on #2745
Flagging this as a bug, since we haven't (yet) figured out how to get this to download with the CLI.

[2021-11-10 21:28] #2700 closed

[2021-11-10 21:40] J08K commented on #2625
Yup sure! Will get to this tomorrow!

[2021-11-12 00:09] BethanyG opened #2765 "[Templates]: Create New Concept Document Issue Template"
We should create an new issue template for [Concept Documents], similar to this issue https://github.com/exercism/python/issues/2456, but with `details` sections that can be expanded/collapsed.

[2021-11-12 00:41] BethanyG commented on #2644
Fixed (FINALLY) by #2763

[2021-11-12 00:41] #2644 closed

[2021-11-12 00:44] BethanyG opened #2766 "[Templates]: Create [Support] Issue Template"
We should create an issue template for users who need support with technical issues they're encountering.

[2021-11-12 00:45] BethanyG opened #2767 "[Templates]: Create Website Issue Template"
For issue encountered on the website as they relate to the Python track.

[2021-11-12 00:45] BethanyG opened #2768 "[Templates]: Create New Concept Exercise Issue Template"

[2021-11-13 03:44] BethanyG commented on #2745
After discussing this with @ErikSchierboom, the ultimate resolution will be to place our `pytest.ini` file in `python/exercises/shared/`, so that it can be dowloaded via the CLI.

However, that download behavior is not yet supported, so in the interim, we will have setup notes/instructions for students to download the file from the repo to copy into their root `python/` folder, or have them create

[2021-11-13 17:27] mohmad-null opened #2772 "[Twelve Days]: Odd formatting of data structures in tests leads to confusion"
The 12 days exercise:
https://exercism.org/tracks/python/exercises/twelve-days

Problems:

* No instructions for what start_verse and end_verse are meant to mean / relate to. I can guess, but I shouldn't have to guess.

* The tests look like:
[code]
Chances are reading that if you're not familiar with the tests you think you've got 4 strings in a list. Really it's one string in a list but depicted

[2021-11-13 17:42] mohmad-null opened #2773 "[Making the Grade]: Confusing Grading Intervals - American Cultural Bias"
The Making the Grade Exercise: https://exercism.org/tracks/python/exercises/making-the-grade/

Task 4:

[code]

The code itself has this comment:
[code]

This is extremely unclear and I have zero idea what it's asking for. The problem is that it's presupposing knowledge of a certain (American?) culture's grading system.

* Why does the comment say F-A but the thing says A-D.
* What order is correc

[2021-11-13 17:50] mohmad-null commented on #2714
I'd like to suggest that "Complex Numbers" is definitely not "Medium". I mean it might be if you have that level of algebra, but I'd suggest that most people don't. Heck I don't even really understand the first sentence of the instructions!

[2021-11-15 12:55] JAdelhelm opened #2775 "Meltdown Mitigation has wrong Test cases?"
![image](https://user-images.githubusercontent.com/83546217/141785265-c7ecf5c9-52de-4662-83a6-62000d392274.png)

The output should be DANGER and not NORMAL or am I wrong?

Example Test Case :
MeltdownMitigation > fail safe [variation #5] (expected='NORMAL', neutrons per second=901, temp=10, threshold=10000)

neutrons per second = 901
temp = 10

tempNeutrons = 901*10 = 9010
ratio = 9010/10000 = 90.

[2021-11-15 14:00] J08K commented on #2775
Hi there,
I think you might be missing something about the exercise. For the reactor to be `normal` it is between 10% difference of a 100% of the threshold. So it would be between 90% and 110%. So the tests are correct, since you came out at 90.1%.
![image](https://user-images.githubusercontent.com/48634934/141794482-dbafd15d-2f53-488a-9e8b-a16ed2893c21.png)
Anyway, have a nice day, and if you are

[2021-11-15 14:00] #2775 closed

[2021-11-15 15:58] #2456 closed

[2021-11-15 18:19] J08K commented on #2582
Whoops, closed the wrong thing 💙

[2021-11-15 18:19] #2721 closed

[2021-11-15 18:58] #2760 closed

[2021-11-16 02:52] BethanyG commented on #2772
Hi @mohmad-null 👋🏽

Thanks for bringing this up.  I agree:  if you are unfamiliar with [implicit line joining in python](https://docs.python.org/3/reference/lexical_analysis.html#implicit-line-joining) and how the [Black code formatter](https://black.readthedocs.io/en/stable/) formats data structures, it can be confusing to read the test files, and your brain might fill in commas where there aren'

[2021-11-16 03:02] BethanyG commented on #2773
Hi @mohmad-null

Thanks for filing this issue.  Not quite sure this is _bias_ as much as it is a confusing set of intervals that are not consistently defined.  We'll take a look at rephrasing them a bit. 😄

[2021-11-16 08:26] #2772 closed

[2021-11-16 08:31] #2773 closed

[2021-11-16 21:25] #2765 closed

[2021-11-16 21:25] #2766 closed

[2021-11-16 21:25] #2767 closed

[2021-11-16 21:25] #2768 closed

[2021-11-17 08:00] 12rambau opened #2786 "[High Scores]: Improve Test Cases / Exercise for Mutability Discussions"
I just did this exercise in php and python and I think that the Python version would require some improvement. I would like to discuss if it makes sense and eventually contribute via PR.

## explanations

When you jump in the exercise, the explanation are very small. the user faces 4 functions and without looking at the test I would have never understood what the last were about (https://github.co

[2021-11-17 22:15] BethanyG commented on #2786
Hi @12rambau 👋🏽

Thanks for filing this issue.  I think you bring up some valid points, some of them addressable, and some of them not addressable.  Bear with me, there is a bit to unpack here:

This is "by design".  For Practice exercises, we give very minimal stubs.  The 'ethos' behind this is that it is "test driven development".  You _should_ be looking at the tests to get a feel for what is e

[2021-11-17 22:39] 12rambau commented on #2786
woaw, that's a complex and very specific process. But that's great !

Thanks for enlightening me on the difference between Concept exercises and Practice exercises that's more clear now and I think forcing us to do some TDD is a good thing.

On my issue, and as the process require a lot more work than I expected, I'll see how much time I can dedicate to it but I'll be glad to see what's the worklf

[2021-11-17 23:14] BethanyG commented on #2786
Just to be clear:  This complexity is for an existing **_practice_** exercise and amending or changing the exercise or the tests.
The process looks different for **new** exercises, and for _**concept exercises**_, or for small bug fixes or typos.  So there are other places to contribute to exercism and to the Python track that have a much less complicated workflow.  😄  &nbsp;

Feel free to hit us

[2021-11-19 15:50] martinfreedman opened #2795 "[Concept Exercises] Strings Concept needs Conditionals and Booleans as pre-requisites"
This applies to the ` Little Sister's Vocabulary` the first unlocked strings concept exercise. It requires the Conditionals concept in order to complete some of the tests.

[2021-11-19 18:20] BethanyG commented on #2795
Thanks for catching this, @martinfreedman!  We'll get a fix out as soon as we can.

[2021-11-19 22:27] googlymog opened #2796 "Prime Factors solution already given (not by me)"
Hello,

(I looked for a similar issue in exercism/python and exercism/exercism before posting). I tried doing the Prime Factors exercise and I believe a solution was already saved.  I don't remember populating this solution and it doesn't look like the point of the exercise is refactoring.  Additionally, the code passed all the tests without needing to change anything.  The code present when I sta

[2021-11-20 08:37] BethanyG commented on #2796
@googlymog  - Thank you very much for filing this issue!  We've been doing some cleanup on our practice exercises, and accidentally left an example solution in the "stub" file for this exercise.  😱 &nbsp; -- not the kind of thing we like to do.

We'll push a fix shortly.  😄

[2021-11-20 12:09] #2796 closed

[2021-11-22 05:00] googlymog opened #2799 "[Wordy]: Conflicting Expected Error Messages in Exercise Tests"
I'm having trouble with the tests on Wordy.  Below are two test which test two operators and numbers in a row respectively.  Each expect a ValueError with the text 'syntax error'.

[code]

And these are the track specific tests which test two numbers and operators in a row respectively.  Each expect a ValueError with the text 'unknown operation'.

[code]

I believe both of these sets of tests shou

[2021-11-25 18:33] mohmad-null opened #2804 "[Currency Exchange] Confusing instructions and tasks"
I must admit when I got to Currency Exchange I was somewhat confused as to what was required on the later tasks.

Now I've just had a friend who I'm mentoring get road-blocked at Task 5. And because of the complicated nature of the requirements, I can't just quickly look at them go "yep this is what's wanted", then tell my friend what they need to do.

My friend's (unsolicited) feedback that promp

[2021-11-25 19:08] mohmad-null commented on #2772
@BethanyG - Mayhaps, but that doesn't mean it (implicit line joining of strings) is a good idea. :-)
It's certainly not something I've come across often in my 10+ years of Python, and the infrequency it's used will make it all the harder for folks to retain knowledge of it (I'd forgotten). There's also the fact that almost everyone (non-programmers included) will have decades of experience of expe

[2021-11-25 21:39] BethanyG commented on #2804
Hi @mohmad-null

Thanks for giving feedback on this exercise & opening an issue.  This echos what is stated in issue #2621, so I am going to link and close this.  I think it's more helpful to have the feedback all in one place, as we determine next steps for this exercise.  Thanks!

[2021-11-25 21:39] #2804 closed

[2021-11-25 21:41] BethanyG commented on #2621
Please see also [issue #2804](https://github.com/exercism/python/issues/2804) (_closed in favor of tracking feedback here_), which has additional feedback and comments for improvement.

[2021-11-25 22:03] BethanyG commented on #2772
Maybe -- maybe not.  ;-)  As with most things, context, project, and team matter.

..but the the docs definitely go over it, and present it as normal.  Here's the string bit in the tutorial:

![image](https://user-images.githubusercontent.com/5923094/143502775-71bd9b5e-e6a3-40ff-846d-a35358efe99a.png)

I took a look at the JinJa template for the tests for this exercise.  It uses a macro to break u

[2021-11-28 12:50] mathstrains21 commented on #2356
Hi! I would love to work on this issue! I'm a little confused by what some of the text in the OP means - do I need to write concept and exercise or just exercise?

[2021-11-28 18:34] BethanyG commented on #2356
Hi @mathstrains21 !

Thanks so much for stepping forward to work on this issue -- **we really appreciate it!** 🌟

Both the [concept docs](https://github.com/exercism/python/tree/main/concepts/decorators) and the concept _exercise_  itself need to be written.  However, we can deal with that in several ways:

1.  I or another maintainer can write the concept docs, if you'd like to concentrate on the

[2021-11-28 18:50] BethanyG commented on #2745
via PR #2806, made a copy of the `pytest.ini` file in `exercises/shared`.  Testing docs have been updated.  Once the file is downloadable via CLI, we can close this issue.

[2021-11-28 19:29] BethanyG commented on #2799
Hi @googlymog 👋🏽

Thanks for filing this issue.  Apologies that it's taken a while to get back to you.

I agree that an argument could be made for the error messages you cited matching, and that `syntax error` makes the most sense, given the tests and the context.  **_However_** the following cases (_which come straight from [problem-specifications](https://github.com/exercism/problem-specificatio

[2021-11-28 20:00] BethanyG commented on #2795
Just wanted to update this, since this has been sitting for 9 days 😱 .

Since this is a change to the track `config.json`, we decided to get some other things cleaned up first.  Once we have some of our linting, bug fixing, and new exercise changes through, we'll PR this.  ETA most likely in the next week.

Thanks for your patience.  😄

[2021-11-28 20:16] mathstrains21 commented on #2356
Hi! I think I will do both! If I don't write good explanations etc. that is what the review process is for!

What do you think is easier to do first? I guess writing exercise first so then explanations can lead a bit from that?

Note:
I might not get much done over the next few weeks due to school! After that Christmas holidays give me loooooooooads of time :-)

[2021-11-28 20:41] BethanyG commented on #2786
@12rambau -- Just checking in here.  😄

I went ahead and backed out the mutability test cases and regenerated the test files in PR #2808.   This way, there is no need for effectively "empty" or "useless" functions in the exercise.

But I am going to leave this issue open in case you'd like to PR additional test cases for Python that would get at discussing mutability issues.  Or if you would like

[2021-11-28 21:04] BethanyG commented on #2356
_I love your "can-do" spirit!_  And yes -- as you have probably seen, the review process can be lengthy.  But it can also be very collaborative and fun -- **all of our exercises are a work in progress,** and all of them could be improved.  In fact, we're going back over all of our concept exercises over the holidays and seeing where we can make them better.

😄     This is a personal thing.  I myse

[2021-11-28 21:57] #2799 closed

[2021-11-29 00:20] #2582 closed

[2021-11-29 00:20] J08K commented on #2582
Closed by 8 PRs, linted all stubs and exemplars.

[2021-11-29 00:22] BethanyG commented on #2579
Now that @J08K  has finished linting (**THANK YOU**).  I think we can safely close this issue.

[2021-11-29 00:22] #2579 closed

[2021-11-29 01:56] googlymog commented on #2799
Hi @BethanyG 👋,
Thank you for taking the time to respond and explaining your reasoning.  I agree 100% with what you decided, the python track specific tests should cause a syntax error.  Also, thank you for submitting a PR and fixing the issue.

[2021-11-30 03:22] formidablae opened #2811 "[Guido's Gorgeous Lasagna]: Tests or Instructions Might be Wrong"
The code doesn't reflect the instructions.

[2021-11-30 07:31] 12rambau commented on #2786
I think this exercise could be super useful for mutability, unfortunately, I'm swamped in webinars for work and preparation is so much time-consuming....

Thanks a lot for your PR and I agree we should leave it open, at some point I'll have time to breath and work a PR for this exercice!

[2021-11-30 19:06] BethanyG commented on #2811
Hi @formidablae -

Could you please cite and screengrab which of the instructions are not matched with the code?  On a scan of what we currently have in the repo, I am not seeing a mis-match.  That **doesn't** mean there isn't one -- just that I can't find it.

Many thanks!

[2021-11-30 21:19] formidablae commented on #2811
Please see [this comment](https://github.com/exercism/python/pull/2812#issuecomment-983028564)!

[2021-11-30 23:37] Chris-May opened #2813 "Clock exercise goes against documented use of `__repr__` method"
This issue isn't the biggest of deals, but the python documentation [about `__repr__`](https://docs.python.org/3/reference/datamodel.html#object.__repr__) suggests that:

I would imagine the reason the exercise suggests defining the `__repr__` is that every time the student sees errors from the test cases, they'll see the `hh:mm` repr, as opposed to the `<clock.Clock object at 0x102247190>` repr.

[2021-12-01 19:45] BethanyG commented on #2813
Hi @Chris-May 👋🏽

Thanks for filing this issue.  😄

You **are** complicating things -- but in the best way.  Because there isn't a whole lot of straightforward guidance or examples for overriding or customizing these methods.  Worse yet - many libraries and projects don't use these quite correctly either.  I remember coming across the Stack Overflow post below at some point, and thinking  **_"I am

[2021-12-01 23:03] BethanyG commented on #2811
Are you sure you have the most recent update of this exercise, and that you've named your parameters correctly?  Remember, parameters are _positional_ by default in python -- so their names are not as important as their _values_, and what you do with them.

When I run the current [Guido's Gorgeous Lasagna `exemplar.py`](https://github.com/exercism/python/blob/main/exercises/concept/guidos-gorgeous

[2021-12-02 01:13] formidablae commented on #2811
My mistake. Parameter order is forced by the exercise and tested that way. Sorry for the confusion. You can close this as solved.

[2021-12-02 01:27] #2811 closed

[2021-12-02 18:53] Chris-May commented on #2813
Awesome! I would love to help out with this.

In addition, I'd be interested in helping to create one or more dunder-method exercises. I'm writing a book on classes in python, and I'm thinking about a few anyway. It would be nice to have more of the topic covered in Exercism!

[2021-12-03 20:28] mathstrains21 commented on #2356
Hi, so could I confirm that this is what I should fill in:

python/config.json - add in exercise
concept/about.md - add a detailed explanation of decorators
concept/introduction.md - give some basic info about decorators
concept/links.json - provide links for further reading
concept/.meta/config.json - add blurb and myself as an author

The exercise files I have got a little confused about, so cou

[2021-12-03 23:23] J08K commented on #2356
Heya @mathstrains21,
We have documentation linked in the `## Getting started` header. This should probably tell you what you need to know. You could also watch [this video](https://www.youtube.com/watch?v=gkbBqd7hPrA) if that's more your style :). If you really need help, just message me on slack (@J08K).
Have a nice day / evening! 🐍

[2021-12-04 07:17] mathstrains21 commented on #2356
Hi!

I had read that, but I was probably quite tired so didn't learn too much from it! Will review now that I have been refreshed after a good sleep!

Just to note, the what is the weird tasks tag link above points to a non-existent page. It points to /building/tasks, while the page on the docs points to /building/product/tasks!

[2021-12-04 11:05] mathstrains21 commented on #2356
Hi again! Is there a recommended max line length in the source markdown files?

[2021-12-04 17:01] BethanyG commented on #2356
@mathstrains21 --

Thanks for the head's up!  We keep re-organizing docs on the site, and then forgetting to update issues.  _Sigh_.

Nope!  But we strongly recommend the [one sentence per line](https://asciidoctor.org/docs/asciidoc-recommended-practices/#one-sentence-per-line), which can feel really confusing at first.  The docs are parsed and then re-formatted for the web site, so the EOL at the

[2021-12-04 17:09] BethanyG commented on #2356
For some examples of how the various pieces of a concept exercise are put together (and what a concept `about.md` looks like VS a concept `introduction.md`) check out these concept exercises:

[Guidos Gorgeous Lasagna](https://github.com/exercism/python/tree/main/exercises/concept/guidos-gorgeous-lasagna) & [basics concept](https://github.com/exercism/python/tree/main/concepts/basics)
[Inventory M

[2021-12-04 17:10] BethanyG commented on #2356
Also -- because of the prerequisites and flags for setting an exercise live -- it is probably best if @J08K or I do the edits to the track `python/config.json`.  We'll do it as a last step when we finalize your PR.  😄

[2021-12-07 18:26] BethanyG commented on #2813
Hi @Chris-May -- apologies for the delay in messaging back.  I've assigned you this issue, and I'm delighted you want to take this on!

I would love to chat further about dunder-method exercises -- both our existing practice exercises, and the `class` related concept exercises we're about to add.  We have a lot of exercises you could potentially work on, should you have the interest and time!  😄

[2021-12-09 07:59] goatthinking opened #2815 "[Cater-Waiter] Test Data Files Not Copied to Analyzer - Website analysis fails with ImportError"
Website link: https://exercism.org/tracks/python/exercises/cater-waiter
Git link: https://github.com/exercism/python/tree/main/exercises/concept/cater-waiter

Tests fail if just submitting `sets.py`
[code]

However the tests pass locally.
[code]

Data from `sets_categories_data.py` & `sets_test_data.py` is needed as well. I found this out due to
* https://exercism.org/tracks/python/exercises/cater

[2021-12-09 20:15] BethanyG commented on #2815
Hi @goatthinking 👋🏽

Thank you for filing this issue.  I think there are actually two problems here, and your solution got tangled up in them.

The first error you are seeing is actually tied to some maintenance work on old solutions that has been running in the background.  We've been running all community solutions (_seven years worth!!_) on all tracks against the most recent version of the test

[2021-12-09 22:14] BethanyG opened #2817 "[Cater-Waiter]: Test Data in Failed Tests Makes Output hard to Read in UI"
When a test fails for `Cater-Waiter`, the test inputs and outputs are printed in the UI.  Given the large amount of text in this exercises test cases, this makes the UI output **very** hard to read:

<img width="651" alt="2021-12-09_14-10-59" src="https://user-images.githubusercontent.com/5923094/145483985-53144c8b-a6fe-467e-b14d-5ffa2f3184f0.png">

We need to edit the tests or the failure reporti

[2021-12-14 09:04] Farhaduneci opened #2818 "[Basics Concept Docs]: Typo/MisName in `links.json`"
There is a link to `https://docs.python.org/3/reference/expressions.html#calls` on this page which holds the description `called` that is miss typed, It must follow the link and be typed **`calls`**.

https://github.com/exercism/python/blob/8998d30bb0d6665dd233354670f21c4d11c2f1a0/concepts/basics/links.json#L74-L77

I can fix the issue and request a PR if it helps!

[2021-12-14 15:50] Farhaduneci commented on #2818
I did fix the issue on #2819 and linked that PR to this issue, It's not yet showing up here (Not sure why), but I note this here for letting you know!

[2021-12-14 19:46] BethanyG commented on #2621
Since we're being slow in re-writing this exercise and decided to merge #2804, I am going to close this issue as resolved -- until we re-design/re-write the exercise.

[2021-12-14 19:46] #2621 closed

[2021-12-14 19:47] BethanyG commented on #2625
@J08K  Just a gentle ping -- do you still want to work on this?  Let me know ... thanks!

[2021-12-14 19:54] #2818 closed

[2021-12-15 18:46] #2625 closed

[2021-12-19 12:15] mohmad-null opened #2821 "[Bank Account] Threading Tests Incorrectly Passing on Website, Correctly Failing Locally"
The bank account problem is meant to be "hard" with the difficulty coming from the need to lock the account during threading.

I created a solution that passed all of the other tests and completely ignored the threading part (there was no code at all for that). On my local PC it passed all tests except the threading one, exactly as expected.

Except when I copy/pasted it to exercism and ran the te

[2021-12-19 21:04] BethanyG commented on #2815
As it turns out, the test data files were not being copied over to the space where the analyzer could use them.  This should be addressed in https://github.com/exercism/website/pull/2257, which is not yet merged.  Will hold this issue open until that issue is merged.

[2021-12-19 21:22] BethanyG commented on #2821
Hi @mohmad-null,

Thanks for logging this issue!
The `TL;DR` is that this works "as expected" on a local environment, but does **not** behave "as expected" within Docker (_which is how our test runner works in production_).  Current working suspicion is that Docker is limiting the number of threads, thereby short circuiting the behavior needed to create a locking issue.

This one is tricky, and I

[2021-12-21 21:09] mohmad-null commented on #2821
I had a friend complete the Bank Account one, and like mine, they made no attempt to do the locking thing. Their solution was broadly similar to mine.

For them, *all* tests passed in their local environment(!), but the concurrency test correctly failed when the code was copy/pasted to exercism. So the exact opposite behaviour to what I was getting.

[2021-12-21 21:33] mohmad-null opened #2824 "[React] Needs Clarity - What is Needed for Exercise is not Clear in the Instructions"
There's a 15-day old Mentoring request for the React task that basically just says: "I don't understand the task, please explain". Reading the instructions for the task I have to agree; it's not at all clear what it's asking for.

I could probably decipher it from the tests, but that seems like a lot of work and evidently it's not something this user is able/willing to do either.

I'd suggest some

[2021-12-22 20:26] BethanyG commented on #2824
Hi @mohmad-null!

First, _thank you_ 💜   for investigating why a student is stuck, and thinking through what might help them be less stuck!

Problem descriptions for practice exercises are drawn from a central repository called [problem specifications](https://github.com/exercism/problem-specifications).  Often, tests for practice exercises are pulled from this repository as well - although in thi

[2021-12-22 20:33] BethanyG commented on #2821
We found similar issues when we were testing/investigating.  I could get a pass or a fail on my Mac by reducing thread count as noted in the Slack thread -- but only under some other OS load.  Pass/Fail wasn't exactly reliable.  @J08K had more reliable luck using Windows.  The website seemed more reliably bad/incorrect -- although 1 out of 4 would fail "as expected", with the other three passing.

[2021-12-26 14:19] mohmad-null commented on #2714
I appreciate difficulty is subjective, but I would also suggest this opportunity be used to add a few more difficulty levels. 3 isn't really granular enough. 5 might work better. "Very Easy" and "Very Hard" maybe?

[2021-12-26 17:37] mohmad-null opened #2827 "[Yacht] Remove legacy Python 2 Stub Comment"
A number of exercises seem to have things explicitly working around Python 2 limitations. For example, anything that's using Enums.
Given Python 2 has been out of support for over 18 months, I'd suggest it's worth remove all of the Python-2-workaround stuff to follow best-practices that use a recent supported version of Python 3 (as of 3 days ago, this became 3.7).

For example: Yacht - https://gi

[2021-12-26 17:52] kotp commented on #2714
On 21/12/26 06:19AM, mohmad-null wrote:

It appears that there is at least a minimum of 8 levels, as shown in the
description:

﻿ Rest Api                 │ 🔹🔹🔹🔹🔹🔹🔹🔹 │ example.py  \|  by most ⭐

[2021-12-26 18:35] BethanyG commented on #2827
Hi @mohmad-null,

While the `Yacht` stub does indeed have a note about Python 2, using
`NAME = some_value_expected_to_be_treated_as_constant`
is not limited to Python 2, nor is the use of `Enum`  in place of that convention considered any more or less idiomatic in `Python 3.x`.

This track ceased support for Python 2.x somewhere in 2018 (if not before) -- though we may have missed  the odd comment

[2021-12-26 18:49] BethanyG commented on #2714
@mohmad-null to @kotp point -- the levels are from 1-10, though nothing on the Python track has yet to reach difficulty 10.  It is one of the reasons we have this "leveling" bug open:  we have far too many exercises that are in the 2-4 range, and not enough at the other levels.  😄

[2021-12-27 13:00] mohmad-null opened #2828 "Seive tests can check for div/mod"
It occurs to me that the tests of the Sieve problem can check to make sure the user isn't using a disallowed function.

https://stackoverflow.com/questions/427453/how-can-i-get-the-source-code-of-a-python-function

`/`, `%`, and the entries from `operator` too

Whatever you come up with can be circumvented of course, but that's true of any test (someone can just hard-code the results based on the

[2021-12-27 13:12] mohmad-null commented on #2824
@BethanyG - Thanks for your feedback. Raised here: https://github.com/exercism/problem-specifications/issues/1902

I get what you're saying but fervently believe that you can't actually solve many problems without understanding the problem in the first place. Devs who only mindlessly code-to-spec aren't really something you want.
Lets say there was a exercise for doing Fibonacci sequence's. "Find

[2021-12-27 14:31] Chris-May commented on #2813
That sounds great, @BethanyG! I would be happy to help out as I can!

I've added an initial pull request for you to review. I'm not confident I updated everything I needed to, and I am very much in favor of editing work or any other suggestions you may have for... well, anything.

Thanks for your work!

Oh! In addition, I would love to know what other exercises you'd like help with!

[2021-12-27 14:41] mohmad-null commented on #2827
Well, I was thinking that with 3(.4), you've got the [Enum Module](https://docs.python.org/3/library/enum.html). Given the purpose of Exercism is to promote/encourage learning, to me at least it seems like a good opportunity to use that.

The other obvious thing that's... well not 2.x specific, but now in all supported versions of Python 3.x is type hints. But that'll be a separate ticket. :-)

[2021-12-27 22:26] BethanyG commented on #2828
Hi @mohmad-null,

Thanks for logging this.  The directions in this case specifically say that it is up to the student to check if they are using "disallowed" operators -- the tests don't check for them.

That being said, `Seive` tests on the Python track are auto-generated from [problem-specifications](https://github.com/exercism/problem-specifications/tree/main/exercises/sieve), so if you want to

[2021-12-27 22:26] #2828 closed

[2021-12-27 23:03] BethanyG commented on #2827
_No one is telling you that you **can't** use an `Enum` in your solution._  😉 .  We don't _prevent_ you -- should you see a need -- here or in any other exercise.  We're only requiring that you pass the given tests.

Now, we do heavily bias you in the current stub  comment (_which we'll fix shortly_), and we do prompt with constant names -- so I may remove both, and see if having someone start fro

[2021-12-27 23:35] BethanyG commented on #2827
As for typehints .... I will warn you now that it won't happen anytime soon - if ever.

Typehinting is considered **optional** in the reference implementation of Python for a very very good reason.
**Python is dynamic and duck-typed.**

If you want a static language, I'd recommend Go or Java or C#.

Now, there are scenarios where typhinting is really good - but in those cases, it's usually paired

[2021-12-28 00:37] BethanyG commented on #2824
_But isn't over-specifying implementation expecting exactly that -- that someone blindly follow a spec instead of working through what they are given and researching what they need to do?_  It's a hard balance between describing/giving detail and implying a strategy via step-by-step direction.

Take your Fibonacci example -- I can link to good definitions.  I can draw a diagram, or show examples.

[2021-12-28 17:12] piccoloser opened #2830 "Two-Fer exercise recommends against input validation."
My solution to the Two-Fer exercise included a test for `isinstance(name, str)`, and the analyzer states that conditionals are used unnecessarily. This could be a completely preferential thing and I'm just over-engineering, but I feel like input validation shouldn't be considered "unnecessary."

If I'm wrong about this, at least I'll have learned something haha

[2021-12-28 19:39] BethanyG commented on #2830
Hi @piccoloser!

Thanks for logging this!  😄   Without seeing your solution, I can't comment in detail.  But having worked on the Analyzer for this exercise, and had MANY discussions about it, I can say that there is an "exemplar" solution that avoids the need for any sort of input validation -- hence the feedback.

The spec (and tests) ask that you return a `str` composed of the input and some ot

[2021-12-28 19:52] piccoloser commented on #2830
@BethanyG, thanks for your reply! Your explanation makes a lot of sense actually, I appreciate it.

This is the solution I implemented:
[code]

It makes sense that type-checking would be unnecessary now that you mention `f-string` behavior (to be honest, I'd forgotten about that lol). Thanks again for clarifying!

[2021-12-28 20:49] BethanyG commented on #2830
@piccoloser

_You are most welcome!_.  And all that being said -- I can clearly see why you'd want to be suspicious if you were taking in "random" user input.  (_users are creative and terrible engines of chaos!_).  Certainly something to think through if this was part of a larger program or was a method designed to interact with an entry screen.  Also something to **_really_** think through if th

[2021-12-28 20:51] piccoloser commented on #2830
I think that should do it; I appreciate the info and quick response!

[2021-12-28 20:58] #2830 closed

[2022-01-01 01:39] BethanyG commented on #2824
Closing this in favor of [exercism/problem-specifications#1902](https://github.com/exercism/problem-specifications/issues/1902)

[2022-01-01 01:39] #2824 closed

[2022-01-01 01:40] BethanyG commented on #2813
As #2829 is now merged and closed, closing this related issue.  Please feel free to re-open should you feel the need.  😄

[2022-01-01 01:40] #2813 closed

[2022-01-01 18:28] mlistewnik opened #2833 "[Introduction] Wrong output presented for __doc__attribute of number_to_the_power_of"
Hi,
I was reading the Introduction article about Python ([link](https://exercism.org/tracks/python/concepts/basics)) and found a code snippet that I tested in my IDLE Shell (Python 3.8.10).
[Markdown permalink:](https://github.com/exercism/python/blob/main/concepts/basics/introduction.md?plain=1#L181-183)

[code]
And then:
`print(number_to_the_power_of.__doc__)`

What I get is:
[code]

But in line

[2022-01-02 19:54] generalpy101 opened #2835 "[Currency Exchange] What to do in Task 6( non_exchangable_value)?"
All my tasks are done but I don't know what to do in task 6. It says to calculate non exhangable values but I don't know how to calculate that. Can someone please provide me formula for that.
My current code :
[code]

Please ignore non_exchangable_value() function, I know it is wrong.

[2022-01-02 20:47] BethanyG commented on #2835
Hi @generalpy101 👋🏽

I think you're _almost_ there -- but got a little confused by the wording of the task (_our apologies there!_).  In `task 5`, we ask you to calculate what **_can be_** exchanged - which you have done.

 In `task 6`, we're asking what the "waste" , "leftover", or "remainder" there might be from `task 5`.  So if you take your formula from `task 5`:

[code]

And make a small chan

[2022-01-03 06:15] #2817 closed

[2022-01-03 06:16] #2827 closed

[2022-01-03 20:31] BethanyG commented on #2835
@generalpy101  -- Please let us know if that helps/answers your question.  I will leave this open for another day and close it after unless you have additional questions or issues.  Thanks!

[2022-01-03 20:32] BethanyG commented on #2833
Closing as fixed in #2837.  Thanks again, @mlistewnik! 💛

[2022-01-03 20:32] #2833 closed

[2022-01-04 04:41] RNeilsen opened #2839 "[Bowling] Exception-expecting tests pass themselves by accident"
**(status: ~~I am currently working on learning how to fix, and then fixing, this bug :)~~ [Pull request](https://github.com/exercism/python/pull/2840) submitted!)**

The following tests are supposed to be checking that they get an exception when they ask for the score when a game is incomplete for various reasons:

- `test_an_unstarted_game_cannot_be_scored`
- `test_an_incomplete_game_cannot_be_s

[2022-01-04 09:31] generalpy101 commented on #2835
Thanks fo your answer @BethanyG . I understood the answer and have no further questions. The fact that modulo can be used to find remainder slipped my mind. Thanks for your answer!!!

[2022-01-04 09:31] #2835 closed

[2022-01-05 00:24] #2839 closed

[2022-01-08 12:29] fish-food89 commented on #2361
These are things I use daily at work :rofl: I might be able to contribute one way or another.

First idea.
I would teach the named tuple concept using [`typing.NamedTuple`](https://docs.python.org/3/library/typing.html#typing.NamedTuple) instead of `collections.namedtuple()`. They are essentially the same things, but the typing out of a `NamedTuple` is much closer to that of a `@dataclass` decorat

[2022-01-08 17:57] fish-food89 opened #2845 "Misleading reference to supporting module in README.md of concept exercise "Cater Waiter""
The README of the exercise instructs readers to use the file `categories.py`, but it is infact [`sets_categories_data.py`](https://github.com/exercism/python/blob/847f612226e1d5f3ff71516a1ba94e965ac410e7/exercises/concept/cater-waiter/sets_categories_data.py).

The misleading references can be found on these lines:
- https://github.com/exercism/python/blob/847f612226e1d5f3ff71516a1ba94e965ac410e7/

[2022-01-08 18:01] BethanyG commented on #2845
Hi @fish-food89!  All I can say is .... 🤦🏽‍♀️ .  Would you care to submit a PR?? 💜  😄

[2022-01-09 19:42] fish-food89 commented on #2845
Sure thing. I can create a PR to solve this.

[2022-01-09 21:39] BethanyG commented on #2361
Hi @fish-food89 👋🏽

Because type hinting and type aliasing are both "newer" and **_optional_** in Python (_the cpython reference implementation of the run time ignores type annotations_), I think that those things need to be in their own "branch" of the concept tree, and far enough down that a student understands that these are _**optional tools**_.

They have their uses and abuses -- and it is no

[2022-01-09 22:00] BethanyG opened #2848 "[CI]: Consider/Discuss Tools for Verifying Fenced Code in Markdown Documents"
This came up in discussing PR #2838, so opening an issue here for longer discussion/evaluation.

We currently "hand validate" example python code used in `introduction.md`, `about.md`, and `instruction.md` and similar documents.  This leads to errors where certain code will not work in the REPL, or syntax or other errors get made and published.  As we scale up exercises, this doesn't feel like a s

[2022-01-09 22:24] #2845 closed

[2022-01-10 14:11] mohmad-null opened #2849 "[Track UI] Unknown "En" Concept shown as Mastered"
Not sure if this is a Python specific thing or an exercism thing.

On this https://exercism.org/tracks/python - I'm seeing this:
![image](https://user-images.githubusercontent.com/22342282/148779562-0e2e7316-f048-4476-b76c-d7eed17e0381.png)

Problem is, there is no "En" Concept as far as I can see. And looking at the tracks page, only the Ba(sic) is all-completed (I assume that's what "mastered" m

[2022-01-10 16:53] fish-food89 commented on #2361
I see where you are coming from. And I agree in the benefit of introducing both versions of a "named tuple" to a student. But yeah, not necessarily all in the same concept exercise where Data Classes are being introduced. I think the amount of information needed to ingest with Data Classes alone is quite sufficient in itself. So if all three were to be covered in the concept tree I would give them

[2022-01-11 01:22] IsaacG commented on #2849
The Python repo is used for Python documentation, concepts, exercises, etc. I suspect you want to post that issue to the exercism/exercism repo.

[2022-01-11 03:55] kotp commented on #2849
@ErikSchierboom I think you can move this, it is likely in the wrong one repository as @IsaacG noted above.

[2022-01-11 07:15] ErikSchierboom commented on #2849
@mohmad-null What is your Exercism username?

@IsaacG @kotp Whether it is in the wrong repository is something I'll dig into. It _might_ not be.

[2022-01-11 08:04] kotp commented on #2849
Thanks @ErikSchierboom

[2022-01-11 21:43] BethanyG commented on #2849
@mohmad-null - Did you by chance complete either `Bank Account` or `Log-Levels`?  Those are the two (currently) according to our `config.json` that are connected to the `Enums` concept.....which I am taking a wild guess might map to **[En]**.

`Log-Levels` was live briefly, and then we set it back to `wip`, but if in that time you completed it and `Bank-Account`, the site may still be reading it a

[2022-01-11 21:47] BethanyG commented on #2849
Follow-on to say that in my account **[An]** (_I have no idea what this maps to_) and **[Fu]** (_functions??_) also show as "Mastered", but we don't currently have concepts live for either - and looking at which exercises are tagged to practice `functions`, I have yet to complete several of them.

[2022-01-12 07:16] zepam opened #2850 "[Inventory Management] Hints are missing"
Hints in the instructions return just the title of the task rather than the hints that are listed in the docs.

[2022-01-12 07:19] zepam commented on #2850
![image](https://user-images.githubusercontent.com/12726758/149081535-fdce358b-c3a9-4025-bded-2c8194662c33.png)
I'd fix it myself if I could figure out how to do it.

[2022-01-12 07:31] ErikSchierboom commented on #2849
Thanks for the detailed analysis @BethanyG. We'll take a look.

[2022-01-12 11:43] ErikSchierboom commented on #2849
@BethanyG I've checked in the database, and your concepts are:

[code]

Does that make sense for you?

[2022-01-12 21:04] BethanyG commented on #2849
🤔

Yes.  I've completed the related practice exercises.  However, none of them have live concept exercises.

* `functional-tools` -- there are  2 exercises that practice that (`Matrix` and `Largest Series Product`)
* `anonymous-functions` -- there are only two exercises that practice that (`Tournament` and `Largest Series Product`)
* `collections` -- there are 4 exercises that practice that (`Word

[2022-01-12 21:47] BethanyG commented on #2850
@zepam  -- Thank you for logging this!  We've had this issue before with a few other exercises.  I think its a Markdown parsing/syntax issue.  Let me take a look at other exercises that had this issue.   If there's a fix, I'll note it here and would be delighted if you wanted to then submit a PR.  😄

[2022-01-12 22:12] BethanyG commented on #2850
This is indeed a parsing issue.  More specifically - a title mis-match issue.  🤦🏽‍♀️   When the site parses the `hints.md` file, it matches `hint` content based on the **task** title in `instructions.md`.  If the two titles don't match, the `hint` content doesn't make it to the right place.  😢

So in this case, we'll need to make sure that the **hint** titles are the same as the ones in the `instr

[2022-01-13 05:53] astrieanna opened #2855 "Error Messages Should Include Line Numbers"
One of the most consistently frustrating experiences when doing Python Exercism exercises is the feedback for code that doesn't work -- that throws an error do to a typo or similar. In a normal coding environment, I would always expected to get a line number with my error message. But in Exercism, I do not get a line number.

This is the place that I see errors without line numbers:

<img width="5

[2022-01-13 06:30] astrieanna opened #2856 "[Kindergarten Garden] Making instructions clearer"
I would like to be able to complete this exercise by reading the instructions without examining the tests. This is not currently possible because the instructions do not define the interface that the `Garden` class is expected to implement.

From completing the exercise, I believe that the interface is:

- A constructor that takes one positional argument and one optional argument. The positional a

[2022-01-13 09:16] BethanyG commented on #2850
Closed by #2854.  Many thanks, @zepam!

![image](https://user-images.githubusercontent.com/5923094/149300989-edfc67bb-49ba-4f49-b221-d0a6919589f5.png)

[2022-01-13 09:16] #2850 closed

[2022-01-13 10:58] kotp commented on #2850
Very nice.  Came over from the PR, and this now looks very nice.

Definitely thank you @zepam !!

[2022-01-14 00:37] BethanyG commented on #2855
Hi @astrieanna 👋🏽

Thank you for filing this issue.  It is indeed frustrating to have to rummage through your code for an error and not have a line number as a starting point.  Unfortunately, there is not a whole lot we can do about that either in our test runner nor UI at the moment.

Our [Python Test Runner](https://github.com/exercism/python-test-runner) is a [PyTest](https://docs.pytest.org/en

[2022-01-14 01:43] BethanyG commented on #2856
Hi @astrieanna 👋🏽

Thanks for this issue, and for the offer to re-work the instructions.  A few things to note:

1.  By design, the practice exercises (_the exercises that are not in the syllabus tree as the "main" exercises in the boxes_) are implemented as a form of TDD - [Test-Driven development](https://www.agilealliance.org/glossary/tdd/#q=~(infinite~false~filters~(postType~(~'page~'post~'aa_

[2022-01-15 16:52] BethanyG commented on #2849
@mohmad-null -- do these explanations make sense?  Can I close this issue?

[2022-01-16 14:58] DjangoFett commented on #2370
The `What are those Weird Task Tags about?` link in getting started is broken at the moment. URL: https://exercism.org/docs/building/tasks

[2022-01-18 18:12] BethanyG commented on #2370
@DjangoFett - Thanks for the head's up.  😄   These are fixed in this now, and we'll update the other issues as we get time.

[2022-01-18 23:01] chuck-alt-delete opened #2857 "[Meltdown Mitigation] minor criticism -- always use units of measurement"
Thanks for your work on exercism!

The `temperature` parameter is simply a number, and there is logic pertaining to whether it is above or below 800. 800 what? Degrees Fahrenheit? Degrees Celsius? Kelvin? Parameter descriptions should always include proper units of measurement. It seems like a small point, but ambiguous units can [be very costly](https://www.latimes.com/archives/la-xpm-1999-oct-01

[2022-01-18 23:43] BethanyG commented on #2857
Hi @chuck-alt-delete 👋🏽

Thanks for filing this issue.  😄   Happy for you to PR what you think might be appropriate.  Keep in mind that this is a very **very** simplified exercise, and leaves out much of the calculations for [criticality](https://www.nuclear-power.com/nuclear-power/reactor-physics/nuclear-fission-chain-reaction/reactor-criticality/).  But we probably should specify units of temper

[2022-01-20 12:09] DjangoFett opened #2861 "[Numbers] Update concept and exercise to include definitions of precision, floating-point, conversion"
In the numbers concept introduction, it uses `precision` to describe the differences between ints and floats. It does link to arbitrary precision for ints but would be nice to add a small definition of `precision` before defining ints and floats. This would serve as a good reminder for those that may not have had a strong education in math.

`Narrow` could be more clearly defined too. I found I un

[2022-01-20 18:59] BethanyG commented on #2861
Hi @DjangoFett 👋🏽

Thanks for logging this!  Yes -- I fully agree that we've done a lot of "hand waving" when it comes to precision, numeric types, floating point math, and how Python "converts" numeric types.

The "narrower" usage is cribbed [directly from the Python docs](https://docs.python.org/3.9/library/stdtypes.html#numeric-types-int-float-complex), but doesn't really track well unless you

[2022-01-20 19:28] BethanyG commented on #2855
Hi @astrieanna 👋🏽

Please let me know if you have additional questions or issues.  I am going to close this issue for now -- but please feel free to re-open it (or open other issues), should you need to.  😄

[2022-01-20 19:28] #2855 closed

[2022-01-20 19:30] BethanyG commented on #2849
@ErikSchierboom  -- is this something we should transfer, or close?  Feels to me like a by-product of the fact that Python has prerequisites and practices defined that are not (yet) directly linked to live concepts/concept exercises.

But there is also some confusing UI things (_that I'm sure have already been logged -- I just can't find them_).

[2022-01-20 19:31] astrieanna commented on #2855
Thanks! Yes, that makes sense -- that it's not easy to get the right error output for this case.

[2022-01-20 19:31] BethanyG commented on #2856
Hi @astrieanna  --  are you still interested in working on an `instructions.append` for this exercise, or should we close it for now?  Please let me know!  😄   Thanks.

[2022-01-20 19:33] astrieanna commented on #2856
Yes, I'm interested. Thank you for the thorough and quick response. Sorry, I had a busy week and didn't get back to this.

I'll submit a PR for the `instructions.append` in the next few days.

[2022-01-20 19:48] BethanyG commented on #2856
Thrilled you want to take it on!  🌟   Just as a bump (_that answer above was ... long_  😉 ), here are several `instruction.append` file examples:

1.  [Clock](https://github.com/exercism/python/blob/main/exercises/practice/clock/.docs/instructions.append.md)
2.  [Affine Cipher](https://github.com/exercism/python/blob/main/exercises/practice/affine-cipher/.docs/instructions.append.md)
3.  [High Sco

[2022-01-20 19:58] aashishvanand opened #2862 "For markdown solution is pre-fed in the code"
For [Markdown](https://exercism.org/tracks/python/exercises/markdown) exercise the problem is pre-fed.
Fix: remove the solution by modifying existing code

[2022-01-20 20:33] BethanyG commented on #2862
Hi @aashishvanand 👋🏽

Thanks for filing an issue!  Two points:

1.  This is a **refactoring** exercise, as is stated in the exercise instructions (_emphasis mine_):

2.  This is a **practice exercise**.  Practice exercise problem descriptions are pulled from the common [problem specifications](https://github.com/exercism/problem-specifications) repo.  Substantial changes to them are proposed there

[2022-01-20 20:33] #2862 closed

[2022-01-21 03:01] #2795 closed

[2022-01-22 06:14] PaulT89 commented on #2349
I'd like to take a shot at this.  I'm thinking of having the user create an Enemy class for an otherwise unspecified game.  Not entirely sure how to demonstrate object creation though.  Maybe I'll have some standalone function where the user has to create a list of 3 different enemies, given some data passed to that function, and then return the list.

[2022-01-22 09:34] PaulT89 commented on #2349
@BethanyG Okay, I've completed an exemplar file, a solution file, and a test file.  It's getting late, so I think I'll start on the documentation tomorrow.  I suspect that I may need help with everything else though (metadata files and whatnot).

[2022-01-22 22:34] BethanyG commented on #2349
@PaulT89  -- Late logging in today, so I missed you.  😞   **Delighted** you'd like to take this on!  I am happy to do the concept write-ups and other metadata stuff, if that helps -- and I look forward to seeing what you've come up with!  😄 🌟

[2022-01-23 08:55] PaulT89 commented on #2349
@BethanyG What exactly should I do with the files that I have so far?  Do I just start making pull requests one by one (assuming there isn't a way to upload the files all at once), or do you want to review them first (i.e. before a deluge of PRs) or something else?  Also, I'm only vaguely acquainted with Slack, so I was wondering if I needed access to a particular channel to contact you.

[2022-01-23 11:51] PaulT89 commented on #2349
I've created hints.md and instructions.md (locally), so I just need to write the introduction.  I suspect it will be simultaneously quite long and quite hand-wavy.  i.e. "Welcome to OOP - something something inheritance - but ignore that for now; something something polymorphism - fun word, ignore that too; something something, encapsulation - never mind that; here we go - classes, methods, and va

[2022-01-23 11:52] BethanyG commented on #2349
@PaulT89  -- if you are already a member of/in our Slack channel, you can DM me by selecting the `+` sign next to `Direct Messages` in the left-hand menu:

<img src="https://user-images.githubusercontent.com/5923094/150676165-dd748046-d771-4e71-98d2-d950429d1f53.png" width="400">

 You can also ask questions in the #discussions channel or #maintaining-python or #track-python.  If you are not a mem

[2022-01-23 11:54] PaulT89 commented on #2349
Okay thanks.  It's about 11pm here so I'll be going to bed soon anyway.  I'll look at this in the morning. 😄

[2022-01-23 19:06] jaywritescode opened #2871 "[Kindergarten Garden] — Test suite contradicts problem instructions"
In the "Kindergarten Garden" problem, the instructions specifically say:

The first seventeen of nineteen tests in the problem's test suite conform to the given instructions; however, the final two unit tests introduce students Samantha, Patricia, Roger, and Xander. These students, according to a reasonable interpretation of the instructions, are _not_ in the class. We are told that the class has

[2022-01-24 05:27] BethanyG commented on #2349
I'll need an email to send an invite to (_if you don't want to note it publicly here, you can email it to me at bethany(at)pyladies(dot)com_), and I can send you an invite. Or you can also join through `exericsm.org`, if you sign up to be a mentor.  😄

I ... feel you on the OOP/class thing.  And we may need to break it out into multiple docs.  _It's ok!! We'll get there together -- its a big-ass t

[2022-01-24 09:57] PaulT89 commented on #2349
Okay, it's in the exercism/python/exercises/concept as 'ellens-alien-game'.  I've given the introduction and and design files the suffix -draft (as there's nothing in them yet).

Other things:
- While the test file works, and is verbose in its error messages, I'm not entirely sure I've laid it out in a way that would make perfect sense for a concept exercise.  I'll need feedback on whether or not

[2022-01-25 05:38] BethanyG commented on #2349
@PaulT89   _**thank you so much for this!!**_  😄  🌟

It might take me a bit tonight to review this.  Just to let you know how I typically review something this big (_please let me know if I need to adjust my strategy_):

1.  I make a pass to see if all the files are in place and things like configuration look good.
2.  Look at topic/subject content, and see if there are topics that need to be adde

[2022-01-25 07:36] ErikSchierboom commented on #2849
I think this is a valid remark and the cause of most of the confusion, right?

This definitely warrants a separate issue. Feel free to open a new open if you can't find the older issue, we'll find the older one at some point.

[2022-01-25 12:38] BethanyG commented on #2857
@chuck-alt-delete  - are you interested in PR-ing a unit of measure change?  Please let me know -- thanks!

[2022-01-25 12:51] chuck-alt-delete commented on #2857
I can’t commit to that (pun intended). I’m pretty swamped at work right this week. Maybe later, though!

[2022-01-26 07:27] zepam opened #2877 "[word-count] instruction suggestion"
I wrote a not very elegant solution to this one, then once I looked at some other solutions I realized that using regex would make things a lot easier. Once I made that switch, it was a much better solution. I wonder if the instructions should drop a hit that regex may be a good way to solve it. I also found [this post](https://github.com/exercism/python/issues/2856#issuecomment-1012673345) that d

[2022-01-26 10:11] BethanyG commented on #2877
Hi @zepam   --  Thanks for filing this issue!

Indeed, the [mentor notes](https://github.com/exercism/website-copy/blob/main/tracks/python/exercises/word-count/mentoring.md) for this exercise point to RegEx as a possible solution.  But they also cover the use of `str` methods and additional strategies like using `collections.Counter` to take care of tabulation.

I am not opposed to putting togethe

[2022-01-26 10:40] BethanyG commented on #2871
Hi @jaywritescode 👋🏽

Thanks for filing this issue!  I agree that the instructions for this exercise might be easily mis-interpreted or mis-read without careful reading of the test file and a bit of trial-and-error.

As outlined in my reply to issue #2856  - the instructions for this `practice` exercise (_actually all current practice exercises_) are cross-track and are maintained in a repo called

[2022-01-26 10:40] #2871 closed

[2022-01-26 16:59] jaywritescode commented on #2871
Thanks for redirecting me to the right place. Much appreciated!

[2022-01-26 17:51] MatthijsBlom commented on #2656
I understand last october was not the time to upgrade to 3.10. However, perhaps now is the time?

Can I help?

By the way: I feel like this issue should be reopened and the label _wontfix_ removed, as at present it gives the impression this wil _never_ be fixed &ndash; which I do not think is the intention.

[2022-01-26 19:18] zepam commented on #2877
I think the variety of working solutions is what makes this exercise an interesting one. I'm trying to think of a way to structure a `hints.md` that would acknowledge that while also giving people hints on the different ways to solve it.

Once I figured out that I could use regex, the solution came together quickly. But for beginning programmers, being introduced to Regular Expressions and Counter

[2022-01-26 21:19] IsaacG commented on #2877
While there are certainly elegant ways to [solve this using regex](https://exercism.org/tracks/python/exercises/word-count/solutions/zepam), there are also elegant solutions which [do not use regex](https://exercism.org/tracks/python/exercises/word-count/solutions/IsaacG).

This exercise can certainly be used as a place to practice regex. However, unless the exercise is specifically intended as a

[2022-01-26 21:57] zepam commented on #2877
Agreed. Especially for those who aren't familiar with regex, it may feel like more of a mass of confusion rather than a helpful hint. Instead of tagging solutions as "beginner" or "advanced", they could be tagged as... something that I can't think of right now. Essentially a way of saying there are several different ways to solve this and they are all good learning experiences. If you need a hint,

[2022-01-26 22:45] BethanyG commented on #2877
`THIS`  💜

and I fully agree:

And to your point above, @zepam  -- I might even remove terms like "beginner" from the hints text.  Because maybe it's less "beginner" vs "advanced", and more choosing to use `str` tools or `dict` tools over importing/using modules like `re` or `collections`.  All are good learning experiences, and the `hints` are about letting someone know what the "paths" or "optio

[2022-01-26 23:14] BethanyG commented on #2656
@MatthijsBlom   - I wouldn't expect a discussion on 3.10 before June, or possibly later.  There is just too much other work for the track and the tooling.  It's far more important that we get content, tests, and analysis in place for the track than it is we support the "latest" version of the language.  And given that the Python 3.10.2 was expedited because 3.10 had some unfortunate bugs...well...

[2022-01-27 02:36] MatthewTFarley opened #2878 "Numbers introduction page - Precision section contains a typo"
I believe I've identified [a grammatical typo](https://exercism.org/tracks/python/concepts/numbers#:~:text=can%20be%20represented.-,An,.,-Arithmetic) in the Numbers introduction page, under the Precision section

<img width="680" alt="excercism-python-numbers-intro-grammer-typo" src="https://user-images.githubusercontent.com/9663417/151281027-da9f123a-d1e9-43f4-bf70-06693d7eb1f7.png">

I believe t

[2022-01-27 04:36] #2878 closed

[2022-01-28 07:23] zepam commented on #2877
Are there examples of other `hints.md` files that provide suggestions for additional options?
If you think this would be a helpful file, I will browse through the other solutions to come up with some ideas

[2022-01-28 20:30] Timo4B opened #2883 "[Chaitana's Colossal Coaster] Correct spelling mistakes in the introduction"
As mentioned in the text of the introduction 'pop' has the parameter 'index'. The syntax is described `<list>.pop(<item>)`. I think it should be `<list>.pop(<index>)`.

[2022-01-28 22:32] BethanyG commented on #2883
Closing as PR #2884 has been merged.

[2022-01-28 22:32] #2883 closed

[2022-01-31 19:42] Mehyar-ALS opened #2888 "Typos in the tuples_test.py?"
Hello,

Going through the **tisbury-treasure-hunt** in **python**, I noticed that the test string of the fifth function **clean_up** has some unexpected "\\"s  and "\n"s in it.

Example:  (lines 126 and 127)
[code]

which I believe should be:
[code]
Are they typos, or am I missing something?

My best and thank you for the great work