[2022-01-31 19:47] #2888 closed

[2022-02-03 23:18] BethanyG commented on #2877
@zepam -- I am so sorry!  😱   My intention was not to have you close this -- It just fell through the cracks.  Are you still interested (provided I can find examples)?

[2022-02-05 14:25] Timo4B opened #2895 "[Tisbury Treasure Hunt] Correct spelling mistake in the introduction"
As mentioned blow in the introduction the table heading "Quandrant" should be "Quadrant".

[2022-02-06 10:04] Timo4B opened #2897 "[Inventory Management] Correct typo in the introduction"
`(key`, `value`) should be changed to (`key`, `value`)

[2022-02-06 10:21] #2895 closed

[2022-02-06 10:21] #2897 closed

[2022-02-06 12:30] Timo4B opened #2901 "[Conditionals] Correct typo in config"
"," is redundant and at the wrong place I think.
concepts/conditionals/.meta/config.json

[2022-02-06 12:34] Timo4B opened #2902 "[Strings] Correct typo"
"," should be moved and whitespace deleted I think
concepts/strings/.meta/config.json

[2022-02-06 12:56] Timo4B opened #2904 "[String Methods] Correct typo in config"
"," after "translating" should be deleted I think
concepts/string-methods/.meta/config.json

[2022-02-06 13:05] Timo4B opened #2906 "[Comparisons] Correct typo"
"True or False" should be changed to "'True' or 'False'" as in the other texts
concepts/comparisons/.meta/config.json

[2022-02-06 21:35] BethanyG commented on #2901
As stated in the closed PR:  I disagree. I think the comma was in the correct _place_, but the space in front of it needed to go.

But this blurb also needs to be re-written slightly in light of the introduction of structural pattern matching in Python 3.10, so I think we'll leave it as-is until that re-write can be logged  as an issue and the work on that done.

[2022-02-06 21:35] #2901 closed

[2022-02-06 21:36] BethanyG commented on #2904
**Per note in PR:** I disagree with this.  The comma is there because of the `or` -- there is a list of three followed by `or otherwise`, and therefore the comma is warranted  See [Oxford Comma](https://en.wikipedia.org/wiki/Serial_comma#:~:text=In%20English%2Dlanguage%20punctuation%2C%20a,of%20three%20or%20more%20terms.)

[2022-02-06 21:36] #2904 closed

[2022-02-07 16:55] #2902 closed

[2022-02-07 20:33] bhagerty opened #2907 "Sublists exercise - not "easy""
The sublists exercise is probably valuable, but it is not "easy." I have been working at it for quite some time and still can't get the tests to pass. I am and advanced beginner/early intermediate Python programmer. It is frustrating and discouraging to have this exercise classified as "easy," and I think there should be some additional hints or suggestions on how to solve this. It's frustrating m

[2022-02-08 11:14] BethanyG commented on #2907
Hi @bhagerty 👋🏽

Thank you for filing this issue.  I am sorry that you are so frustrated. While we don't have `hint` files (yet!) for practice exercises, we do have several ways of getting "unstuck" when you can't complete an exercise.

The first is to ask for mentoring on a partial solution.  While you can't (right now) ask for mentoring through the website without having all the tests pass, you

[2022-02-09 16:22] DanielNoord opened #2909 "PR Commenter template is a bit overwhelming"
Hi guys,

I just opened my first PR (#2908) after using Exercism myself two years ago to learn Python. Thanks for all the things you have done! I just wanted to give a little (unsolicited) feedback.

The comment under my PR which is based on https://github.com/exercism/python/blob/3626ec763ca3bee9e672f38cb887f8f3d8906eac/.github/pr-commenter.yml feels a bit overwhelming. With all the smileys and `

[2022-02-09 17:30] tamireinhorn opened #2910 "Incorrect tests in book_store.py"
Despite the README from the exercise being the same as the C# track, for example, the tests all expect the return to be an int, and not a float. Therefore, even for the simplest test 'test_only_a_single_book', the test expectes 800, not 8! Either the tests should go have their results changed or the readme should be different on this track.

[2022-02-09 20:51] kotp commented on #2910
The base unit is 1 cent, and so 800 is an appropriate price for a book.

[2022-02-10 02:18] astrieanna opened #2913 "[Robot Name] Is this test correct?"
In the text of the problem, the robot name generator is supposed to:

When I read that, I assume that you should be using function from random to generate a name.

[One of the tests](https://github.com/exercism/python/blob/main/exercises/practice/robot-name/robot_name_test.py#L29-L47) generates a name, resets the random seed, resets the robot, and then asserts that the new name is **not** the same

[2022-02-10 02:36] IsaacG commented on #2913
The names should be random. The names must be unique. Those are independent requirements.

When you randomly generate values, there is a risk of collision. That test ... encourages a collision to ensure that when a collision occurs, your code ensures the names are unique. If you're relying on random values being unique, you shouldn't. This test exposes that.

[2022-02-10 02:39] #2909 closed

[2022-02-10 02:41] #2910 closed

[2022-02-10 03:24] astrieanna commented on #2913
But it says:

If my robot has been reset, then its name is not in use. So it should be able to generate the same name, shouldn't it?

[2022-02-10 03:36] IsaacG commented on #2913
When you reset, the name must be different from the prior name.

When you generate a name, you must ensure it's not in use.

[2022-02-10 03:46] BethanyG commented on #2913
Hi @astrieanna 👋🏽

[This issue](https://github.com/exercism/problem-specifications/issues/1937) and its related ones in [problem specifications](https://github.com/exercism/problem-specifications) might be of interest to you.  Problem specifications is the repo where we keep cross-track specifications for **practice exercises**, and discuss changes to them.  Tracks then pull from problem specifica

[2022-02-10 03:58] astrieanna commented on #2913
Thanks! I'll move over to the problem specifications instead.

[2022-02-10 03:58] #2913 closed

[2022-02-10 05:31] BethanyG opened #2916 "[Two Bucket]: Update Test Generation Template To Accommodate New Tests"
Recently, we updated the `Two Bucket` exercise to incorporate new tests from the [problem-specifications](https://github.com/exercism/problem-specifications) repo.  Unfortunately, these new tests have broken test generation for the exercise, and had to be skipped in the [tests.toml](https://github.com/exercism/python/blob/main/exercises/practice/two-bucket/.meta/tests.toml) file.

We need to:
1.

[2022-02-10 06:18] BethanyG opened #2918 "[Meltdown Mitigation]: Update Instructions and Other Docs to Include Appropriate Unit of Measure"
As per [issue 2857](https://github.com/exercism/python/issues/2857) filed in this repo, we'd like you to update this exercise with the appropriate unit of measure for the `temperature` parameters.  Any "sensible" unit will do.

Please look in the following places to see if the chosen unit of measure needs to be inserted - either in the text or docstrings:

- [ ] instructions
- [ ] hints file
- [ ]

[2022-02-10 06:47] BethanyG commented on #2856
Now that #2915 has been merged, I am going to close this issue.  Nice work, @astrieanna!

[2022-02-10 06:47] #2856 closed

[2022-02-10 08:38] jlim0159 opened #2919 "Tisbury Treasure Hunt: Inconsistent quotes used in exercise 5"
In the provided sample for the exercise (shown below), only single quotes appear in the final returned string. However, the expected answer used in the test also has double quotes inside of it. More precisely, double quotes are used to wrap the location name in the first tuple.

I guess that the reason for this is because there is already a single quote used in that particular location name and th

[2022-02-10 20:02] Timo4B opened #2920 "[Cater Waiter] Example uses Dict instead of Set for introducing Sets in the Introduction"
In an example of the introduction to "Cater Waiter" a `dict ` is used to introduce "Fast Membership Testing" on sets.

It is named `animals`:
[code]
Later this `dict `is used to show that a set is always a loose subset of itself:
[code]
There is also a `set` named `birds` in this example:
[code]
I would prefer using `birds` instead of `animals` to show that a **set** is always a loose subset of it

[2022-02-10 20:43] Timo4B opened #2922 "[List Methods] Unnecessary Quotation mark in blurb"
There is an unnecessary quotation mark in the blurb of "List Methods":

concepts/list-methods/.meta/config.json

[2022-02-10 20:59] Timo4B opened #2924 "[Cater Waiter] Typo in Introduction"
I think there is a typo in the introduction of "Cater Waiter":

Probably `dicts `are meant.

exercises/concept/cater-waiter/.docs/introduction.md

[2022-02-10 21:53] #2924 closed

[2022-02-11 03:20] astrieanna opened #2926 "[Clock] Proposal for additional tests"
I was mentoring a friend who solved the problem in a way that surprised me: his `__repr__` implementation always returned the values the clock was initially constructed with. Regardless of how you mutated the clock, his `__repr__` would stay the same. Since this incorrect solution passed all existing tests, I'd like to add a couple more tests.

Since the tests for `__repr__` are in `practice/clock

[2022-02-11 16:56] #2907 closed

[2022-02-11 20:45] BethanyG commented on #2926
Hi @astrieanna 👋🏽

Thanks so much for filing this issue!  I'd be delighted if you'd like to PR these changes.  Let's see if I can address your concerns in order. 😄

🌟  You are correct.  We'd add these proposed tests in the `additional_tests.json` file, as they are specific to this track's implementation.

🤔   Yeah.  That does sound like its a new (_or at least slightly more complex_) test type.  N

[2022-02-11 21:18] BethanyG commented on #2926
Hi @astrieanna 👋🏽

_Apologies for the email spam -- there was something funky with my GH interface, and this message posted while I was still writing it.   Nuked the first half of my message. 😱_

Thank you so much for filing this issue - and I would be thrilled if you wanted to PR additional tests for  the `Clock`  exercise!

Let's take these point-by-point:

🌟  You are correct.  We'd add these pr

[2022-02-11 21:44] BethanyG commented on #2919
Hi @jlim0159 👋🏽

Thanks for filing this issue.

**Your guess is correct:**  the reason Python supports both double quotes and single quotes for strings is exactly this scenario.

 _But there is a further complication here:_  The expected result is a multi-line string that is wrapped in triple **double quotes** (_so that we don't have to escape all those single quotes from all the tuples_).  Changi

[2022-02-11 22:06] BethanyG commented on #2920
Closing as fixed.  Thanks!

[2022-02-11 22:06] #2920 closed

[2022-02-12 21:57] mhorod commented on #2916
I think I have solved the issue. Is there any formatter for template files that I should use before committing my changes?

[2022-02-12 22:21] BethanyG commented on #2916
Excellent, @mhorod.  Thank you so much for taking this on!  🌟

No - we don't yet have a JinJa formatter in place.  😅    I'll have to eyeball it.  If you have experience with JinJa, and have recommendations on formatters, I'd love to hear them.  We have an issue open here on JinJa templating and linting: [issue 2698](https://github.com/exercism/python/issues/2698)

When you do check in, please incl

[2022-02-14 03:06] jlim0159 commented on #2919
I'm sorry I forgot to check for replies.

Whoops, my bad. I didn't think of this solution. Yeah, now this makes more sense :facepalm:. I think it might be better to keep it as it is. I didn't think that the formatter would deal with it for me. Really sorry for the trouble.

However, I think the argument for escaping the single quote isn't really valid because there isn't a need to escape it in the

[2022-02-14 03:06] #2919 closed

[2022-02-15 03:22] BethanyG commented on #2918
Closing, now that #2930 has been merged.

[2022-02-15 03:22] #2918 closed

[2022-02-15 03:23] BethanyG commented on #2916
Closing now that #2929 has been merged.

[2022-02-15 03:23] #2916 closed

[2022-02-15 03:27] BethanyG commented on #2857
Closing.  See #2918 & #2930.

[2022-02-15 03:27] #2857 closed

[2022-02-17 09:34] Metallifax opened #2934 "[Meltdown-Mitigation] Expected and actual were swapped in self.assertEqual"
I'm pretty new to contributing in general, but I'm excited to have the chance to work on this awesome platform with you all and I hope I can be of some use. I remember working on the Meltdown Mitigation problem a while back while using PyCharm and the expected and actual results were reversed in the testing tool output, so the value that is returned by the FUT would be the expected value and the a

[2022-02-17 10:09] kotp commented on #2934
The [patch] looks good to me.

I would probably submit the PR for this concept exercise, and develop from there.  (It makes it easier to talk about the patch specifics as well if it is easily available to talk about.)

[patch]: https://github.com/Metallifax/python/commit/af0664b49c5404869ec2832030017f50db0889c8.patch

[2022-02-17 10:14] kotp commented on #2934
Actually, I did get the picture, but that does not mean that I can read it easily.  It can be more accessible to copy and paste textual things, than to show a picture of that textual thing.  (A lot more accessible.)

[2022-02-17 11:17] kotp commented on #2934
Even though it may not be an accepted fix, (if it is not) at least it will be documented for the next person that sees it (and you have already done the Patch work anyway, so no lost time, consider it practice) it has value.

Thank you for the work done!

[2022-02-17 11:48] BethanyG commented on #2934
@Metallifax  -- please see comments in PR #2935.  Closing as won't fix.

[2022-02-17 11:48] #2934 closed

[2022-02-17 12:12] Metallifax commented on #2934
@kotp As you said, any experience is good and I feel like I learned a lot about the process. It felt great to just work on code and go through the review process and see what happens, I also learned much more about the process in the repo as well. Cheers.

[2022-02-17 23:49] #2861 closed

[2022-02-18 02:16] asheeeshh commented on #2354
@BethanyG I want to work on this issue, but if I do work on it, this would be my first contribution here, and I'm not really sure about how to build those exercises, I understood the `making concept` and `documentation` part though.

[2022-02-18 02:39] BethanyG commented on #2354
Hi @asheeeshh 👋🏽

**I am delighted you want to help!**  Don't worry about it being your first contribution, or not knowing how to "build" an exercise -- I and the other maintainers and volunteers for the Python track are more than happy to help you through the process. 😄

I will assign this issue to you and remove the help wanted label.
**Next** -- I will be back with some links and examples for y

[2022-02-18 03:20] asheeeshh commented on #2354
Alright, I'll try to find some ideas for the exercise too, once something hits me, I'll start working on it.

[2022-02-18 03:25] BethanyG commented on #2354
If coming up with a story seems intimidating, we do have a [story listing](https://exercism.org/docs/building/tracks/stories) of stories that have been used for exercises across language tracks.  If any of those look interesting to you, you can adapt one of them to this exercise.  😄

[2022-02-18 03:28] BethanyG commented on #2354
One thought would be to also go back over the [concept exercises we currently have](https://github.com/exercism/python/tree/main/exercises/concept), and see if any of those stories/problems could be extended or adapted for using as a `function-argumenst` exercise.  No need to reinvent the wheel.

[2022-02-18 05:11] BethanyG commented on #2354
So -- for links/detail:

This is a `concept exercise` - which is intended to focus the student on a small set of topics or concepts from Python.  So, generally, we assume the student knows how to program -- just not in Python -- but only has the bits of Python knowledge that have already been covered in the exercise prerequisites.

So for `function-arguments`, you have a healthy amount of tools yo

[2022-02-18 05:50] IsaacG opened #2936 "Non-code-review review of ellens-alien-game"
* Files use CRLF line endings.
* Class names do not follow naming convention.
* Words which are not proper nouns are occasionally capitalized.
* Some of the grammar is inconsistent and some terms are incorrect.
* Comments do not consistently end with/without periods.
* Methods should use docstrings over comments for documentation.
* There's a bunch of stray double spaces.
* When teaching, concepts

[2022-02-18 12:52] BethanyG commented on #2349
All Done!  🎉

[2022-02-18 12:52] #2349 closed

[2022-02-19 05:44] asheeeshh commented on #2354
@BethanyG
I took a little inspiration from the `lasagna` exercise and was able to come up with this `bake the cake` exercise, where the learners would create different function to make the cake, bake it, and the calculate it's price.

The `make_cake( )` function can take in parameters like ingredients and amount of ingredients, so we can implement the `*args` / `**kwargs` method here.

The `bake_c

[2022-02-19 07:52] siebenschlaefer commented on #2539
Why was this issue closed?

The file `HELP.md` still says

And if I do that I get tons of warnings:
[code]

Of course, if I start to look around there's a link in `HELP.md`:

and at the end of that lengthy document there's a section *Fixing warnings*.

That's not a great user experience. If I as an experienced developer find that bothersome and had to spend some time to find that paragraph how mus

[2022-02-19 18:06] BethanyG commented on #2745
Linking closed issue #2539, as the documentation is still not ideal around this issue.  Will be opening separate issues for updating documentation to make it clearer what needs to happen for students to set this up properly.

[2022-02-19 18:11] BethanyG commented on #2539
Hi @siebenschlaefer   -- Thanks for the poke.  😄   YES -- **there is indeed a better way** -- and I need to follow up on it.  See issue #2745 -- which is a similar issue outlining what we will ultimately do (_and why we closed this issue_):  have the said `pytest.ini` file downloaded as part of the CLI, and have instructions on how to place it in the correct position to silence the warnings.

**Bu

[2022-02-19 22:26] mohmad-null opened #2946 "[Currency Exchange] - last exercises too complex"
https://exercism.org/tracks/python/exercises/currency-exchange

The last two methods you have to create: `exchangeable_value` and `non_exchangeable_value` - are both far too complicated in their requirements.
I struggled to understand what was going on when I did them (I'm proficient at Python), and both of the friends I'm mentoring struggled as well, and we all three of us have at least a Masters

[2022-02-19 22:46] kotp commented on #2946
I know you said "that kind of thing" but definitely not this thing.  Because it is not true.

[code]

[2022-02-21 08:49] fish-food89 opened #2948 "[Practice Exercise: Hamming] Unnecessary test case"
The Hamming practice exercise has one test twice. Nothing harmful, but unnecessary.

The test cases [`test_disallow_right_empty_strand`](https://github.com/exercism/python/blob/6e11dfd03c6bb3167d706eb38c66820554e78106/exercises/practice/hamming/hamming_test.py#L47) and [`test_disallow_empty_second_strand`](https://github.com/exercism/python/blob/6e11dfd03c6bb3167d706eb38c66820554e78106/exercises/p

[2022-02-21 09:09] kotp commented on #2948
Double check that this does not need to be addressed in the source repository for practice exercises at https://github.com/exercism/problem-specifications

[2022-02-21 09:13] fish-food89 commented on #2948
Acknowledged. I'll have a look into that.

[2022-02-21 10:04] narenkeshav commented on #2946
I concur. I found `exchangeable_value` to have a lack proper description in the final part.

[2022-02-21 17:46] BethanyG commented on #2948
@fish-food89 - Thanks for filing this.  Looks like a reimplemented test case from problem specifications was pulled by the template.  I'll set it to false and re-generate the tests.

[2022-02-21 18:48] BethanyG opened #2951 "[Numbers Concept Exercise]: Rethink/Redesign"
Per issues #2946 ,  #2621 , #2835,  #2804,  #2591,  and #2490  -- this exercise has gone through a lot of improvements and also complaints.

Since multiple re-works and improvements have not succeeded, we have decided a complete re-design of the `Numbers` exercise is in order.

**Concept docs can be retained, or revised as needed.**  Design documents should be updated.

Original specs for `Numbers

[2022-02-21 18:53] BethanyG commented on #2946
@mohmad-null  -- since you also filed issue #2804, it was probably better to reopen that one instead of filing a new issue against the same exercise.

Consolidating related issues under #2951.  Closing this to reduce noise and focus on the redesign.

[2022-02-21 18:53] #2946 closed

[2022-02-21 19:27] DjangoFett commented on #2951
I was preparing to work on this. Commenting here for the ticket to be assigned

[2022-02-21 22:12] BethanyG commented on #2354
@asheeeshh

I love it!  We could name it `Himari's Cake Shop` 😄 .  And have pricing that is based on number of ingredients or types ...
There are so many parameter variants, I'm sure we can find cake permutations for all of them.  😉

One quick idea:  we could use  `calculate_price( )`  with default arguments for a "base" cake, then use `**kwargs` with "price markups" for additional ingredients/lay

[2022-02-22 02:55] asheeeshh commented on #2354
Yes, I would start working on the fork, and open a pr once I'm done with the basic structure of exercise.

But first I want to know about the flow of exercise, like as far as I know each exercise is divided into tasks, I want to know about the alignment of tasks based on concepts, like keeping the first task `**arg` and `**kwarg` may not be a good idea, or I'm wrong?

I would like to know about ho

[2022-02-22 02:56] BethanyG opened #2953 "[Support Docs] Update Support Docs with Better & Clearer Pytest.ini info."
Per issues  #2536 , #2539 and #2745  -- Without a `pytest.ini` file placed at the root of the exercise repo, `Pytest` will throw "unregistered mark" warnings for the marked test tasks in our test files.

Since we have not resolved having this file download automatically with the CLI, we need to be very clear in our docs with how student get these warnings  to disappear/silence.  We should include:

[2022-02-22 03:24] BethanyG commented on #2354
Ah!  Yes -- good questions.  😄

So - for this, I think the general "attack" would be to build from the most familiar to the least familiar/most complicated:

- positional parameters
- named parameters (AKA _keyword or "named" parameters_)
- default parameters (_named parameters with a pre-set value_)
- arbitrary parameters (AKA as _variadic  arguments or  *args and **kwargs_) -- this might be two

[2022-02-22 04:37] IsaacG opened #2954 "[Ellen's Alien Game] should tests allow for health not to go below 0?"
My first solution for `hit()` did `self.health = max(0, self.health - 1)` ... and that failed the tests. Should the test fail if `hit()` doesn't reduce health below 0?

[2022-02-22 07:26] asheeeshh commented on #2354
Got it, I'll start working on it right away and make a PR soon, thank you :)

[2022-02-22 21:29] tsikmartin opened #2955 "Guido's Gorgeous Lasagna - Python Error"
ImportError while importing test module '.mnt.exercism-iteration.lasagna_test.py'.
Hint: make sure your test modules.packages have valid Python names.
Traceback:
.mnt.exercism-iteration.lasagna_test.py:6: in <module>
    from lasagna import (EXPECTED_BAKE_TIME,
E   ImportError: cannot import name 'EXPECTED_BAKE_TIME' from 'lasagna' (.mnt.exercism-iteration.lasagna.py)

During handling of the above

[2022-02-22 23:49] BethanyG commented on #2955
Hi @tsikmartin --

Could you please provide some more information on what you need help with?  Are you stuck on the error, or do you think you've received the error by mistake?  Without further detail, it is a bit difficult for me to help you fully.

If you are confused as to why you are getting an error -- the reason is noted on the last line of the stack trace:

**` ImportError: In your 'lasagna

[2022-02-23 01:08] tsikmartin commented on #2955
ahhh okay. i was working bit by bit, hoping it would give me something if i started from the top down and check my answers as i go. Did not realize i needed to complete the whole thing to check a part of my answer.

[2022-02-23 02:00] BethanyG commented on #2955
You don't need to!  If you use the [stub file](https://github.com/exercism/python/blob/main/exercises/concept/guidos-gorgeous-lasagna/lasagna.py).  I think the expected function names are in the comments.

If you define the function names and use the keyword `pass`, you should be able to run the tests without import errors and see all of the failures -- so that you can get a start on what the test

[2022-02-23 02:07] tsikmartin commented on #2955
ahhhh perfect!!! thank you so much!!!!

[2022-02-23 02:07] #2955 closed

[2022-02-25 06:53] #2948 closed

[2022-02-25 19:16] mohmad-null commented on #2946
Oh; I'd completely forgotten about that issue. I suppose that just re-enforces my point that about that particular exercise. :-)

[2022-02-26 09:02] mohmad-null opened #2957 "[Little Sister's Vocabulary] exercise uses lists + other issues"
https://exercism.org/tracks/python/exercises/little-sisters-vocab

[code]

There are two problems here:

a) It requires the user to manipulate a list before you've introduced lists.

b) If I saw this in real-world code, it would flag my code-smell detector. We should be teaching people good code practices. The function definition should be:
`def make_word_groups(prefix, vocab_words)` - the prefix

[2022-02-26 18:53] BethanyG commented on #2957
Hi @mohmad-null 👋🏽

Please see the reasoning laid out here in closed issue #2588. As long as there are clear examples, it is not forbidden to add in an additional concept. I would also say that having `.join()` _unpack_ in iterable is not the same as having a student use `list.sort()` or `list.append()`. So we are not asking students to manipulate lists - only understand that `.join()` can process

[2022-02-26 19:57] BethanyG commented on #2951
Hi @mohmad-null 👋🏽

As clearly stated at the top of the description (_emphasis mine_):

The specs here were provided _**as a reference to the person who will be re-architecting the exercise**_, not a commandment nor set of debate points.  I'll let @DjangoFett speak to the plans he has going forward (_if he wants to do that_), although he shouldn't feel that he **has** to.

I am also going to ask y

[2022-02-27 04:59] IsaacG commented on #2954
Health in games tends to be something that goes from a value above zero down to zero. Negative health values tend to not be valid in most games. In fact, `alien.hit()` when `alien.is_alive() == False` might even be expected to through an exception.

Testing for `in (0, -1)` would allow the students the freedom to implement it either way. Not calling `alien.hit()` on a dead alien would also make se

[2022-02-27 05:19] kotp commented on #2954
On 22/02/26 09:00PM, Isaac Good wrote:

Is this only true if they are submitted via the online editor?  Or does
Python allow the "normal" submit via the exercism cli?

[2022-02-28 01:20] #2954 closed

[2022-02-28 18:04] BethanyG commented on #2350
Currently being worked on in PR#2960.

[2022-03-01 00:12] BethanyG commented on #2351
Currently being worked on in issue #2960.

[2022-03-01 11:39] mohmad-null commented on #2957
I raise these issues because not only did I struggle with them (as a result of the instructions not being entirely clear and the code-smell), but also because a mentee struggled too.

It should be. The purpose of these exercises is to teach, and to do so effectively. That means not putting in other concepts that are not pertinent; that will simply add confusion to the exercise. Teach one thing and

[2022-03-01 11:49] mohmad-null commented on #2951
By definition if the math is too complex then you will be creating exercises that are going to confuse and frustrate students who do not have that math. See also my comments in this thread: https://github.com/exercism/problem-specifications/issues/1902 which are highly pertinent.

As noted in my other comment, I'd genuinely forgotten I'd raised the issues months previously; I wasn't being vexatiou

[2022-03-01 13:28] DjangoFett commented on #2951
Hi @mohmad-null, I'm submitting a couple exercises as a form of a/b testing. If you want to submit your own PRs as well, I'm super into it. The way I'm envisioning tackling complex / imaginary exercises are in a separate PR still related to this issue and simplifying the current arithmetic exercises (read: currency exchange). My plan is to borrow exercises from other languages that cover the same

[2022-03-01 17:10] BethanyG commented on #2957
@mohmad-null   I think I am going to stop my participation in this discussion here, as I don't think we are going to come to an agreement.  I've asked several other maintainers to take a look, and weigh in on what they think of this exercise, its "code smells", and where it's placed in the exercise tree.

Meanwhile, I'd encourage you to submit a PR with changes you feel improve this exercise, or t

[2022-03-01 17:55] BethanyG commented on #2951
@mohmad-null

We don't want more of the same feedback on the existing exercise at this point, since @DjangoFett is re-designing it, and has also taken on thinking through multiple exercises with regards to numbers in Python.  Hence the comment about updating design docs -- he may very well end up with design docs that split the topic into multiple concepts and topics.

So do please either particip

[2022-03-01 23:17] BethanyG commented on #2926
@astrieanna  -- just a friendly ping!  Are you still interested in working this?  Just let me know...thanks!

[2022-03-04 11:43] asheeeshh commented on #2354
Just wanted to let you know, it would take some more time for me to finish this, I have some exams next month so I need to study.

[2022-03-04 13:58] BethanyG commented on #2354
Thanks for the note @asheeeshh. 😄

**_good luck on the exams!_**  We'll keep you assigned to this issue, and you can work on it as you have time.

[2022-03-07 15:25] jdkang opened #2969 "Add VS Code test runner files"
It feels like it would be useful for CLI users to include a default `.vscode/settings.json` with each exercise.

e.g
[code]
For VS Code users, this would mean it would be extremely straight forward to pull down the exercise locally, run tests, and then submit.

[2022-03-07 20:06] kotp commented on #2969
I would vote against it, as it opens the door for adding other personal choice things.

[2022-03-07 22:05] BethanyG commented on #2969
Hi @jdkang 👋🏽

Thanks for filing this.  😄   As @kotp said above, if we did this for VS code, we'd _immediately_ have requests for 20+ other IDES and editors .... across _**56 different programming languages**_, each with their own test runner and test format.  😱   I don't think the team working on the [CLI](https://github.com/exercism/cli) wants to take that on.

But there **are** ongoing discussi

[2022-03-09 06:52] BethanyG opened #2972 "[New Concept Docs]: Class Inheritance"
This issue describes how to implement the `class-inheritance` concept docs.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [Contributing

[2022-03-09 07:02] BethanyG commented on #2972
Linking PR #2960

[2022-03-09 07:05] BethanyG commented on #2972
@[girijakar](https://github.com/girijakar) - not able to directly assign you, but this is an issue for just the concept docs.  😄

[2022-03-10 06:43] IsaacG opened #2974 "Docstring style/format is not consistent"
The docstring param and return blocks vary from file to file. See:

[code]

([Full output](http://ix.io/3RPQ))

The predominant style appears to be:

[code]

where the description begins with a lowercase letter and ends with a period.

Happy to send a PR if this is acceptable.

[2022-03-10 13:13] BethanyG commented on #2974
@IsaacG  -- I think these are largely fine as they stand.  As long as they **_generally_** follow this format:

[code]

**TL;DR**:  I think it's too much to be ridged around the fine details, as long as we stay within what PEP257 and PEP8 describe and additionally have some consistency with how we mark out the `:params:` and `:returns:`.

As the intro to PEP257 says:

I consider the `-` and the `<

[2022-03-10 23:13] Metallifax commented on #2974
Hey @IsaacG,
I'll keep an eye out for missing types in the param/return lines as @BethanyG said when I have the time to devote to the repository again, which should be pretty soon (recent midterms ate up a lot of my time). If there's a way to extend pydocstyle or any other docstring linter to check for missing types, that'd be our best bet for uniformity from exercise to exercise (in my opinion),

[2022-03-11 01:13] BethanyG commented on #2974
@Metallifax  - if/when either you or I have time, maybe we can take a look at some of the programs in the documentation generation space for Python.  In particular:

[Sphinx](https://www.sphinx-doc.org/en/master/usage/quickstart.html)
[pydoctor](https://pydoctor.readthedocs.io/en/latest/codedoc.html)
[pdoc](https://pdoc.dev/docs/pdoc.html)
[doxygen](https://www.doxygen.nl/manual/docblocks.html#pyt

[2022-03-11 06:09] IsaacG commented on #2974
Would recording an official preferred style be worth having?

[2022-03-11 07:42] BethanyG commented on #2974
Not at the moment.  I think we're not quite there yet.  Maybe after this last pass by @Metallifax, and some noodling on what we might want to cover in a `doctstring` and `doctest` series of concept exercises.

But even then, it would be for track exemplar code and (selected) stub files.  I am not about to go and require them on all submissions or mentor notes.  And we will NOT be putting any in te

[2022-03-11 11:41] Tarun193 commented on #2366
Hey, I just want to work onthis . But I am a newbee to open source. So, may I try to built it?

[2022-03-11 17:33] BethanyG commented on #2366
Hi @Tarun193 👋🏽

We're delighted you'd like to take this on!  🎉

I'll assign this issue to you and remove the [help wanted] tag.

And don't worry -- we're happy to help you through the process.  You can always ask questions here (_or on Slack or Gitter if you are on those platforms_), and we have loads of documents that outline what's required.  Make sure to go over those spec docs carefully.  😅

[2022-03-11 17:35] BethanyG opened #2976 "Autoresponder Test"

[2022-03-11 17:35] #2976 closed

[2022-03-11 23:06] IsaacG commented on #2974
Sorry if I wasn't clear. I definitely didn't mean to imply that we should be pushing a style for student submissions! I was thinking it'd be helpful for stubs, examples and exemplars to keep them consistent. Thanks!

[2022-03-12 00:41] BethanyG commented on #2974
Same answer.   Not there yet.

[2022-03-12 06:03] Tarun193 commented on #2366
Thanks , I will let you know when I need some help.

[2022-03-12 07:35] Tarun193 commented on #2366
Hey, I want to know that I have to write about these concepts.

functional tools in python
functools module
generic functions
decorators
higher-order functions
partial objects in python/partial evaluation in python
single dispatch

[2022-03-12 17:16] Metallifax commented on #2974
@BethanyG Sorry if I left ya hanging for a minute, I just wanted to research the subjects here and devote some time to the topic.

Will this be a part of a future exercise or is this just so we can hone in on our style eventually? Or more exciting, a documentation site for the repository to make use of our new found documentation skills 🤔?

Then if you'd like my nooby advice, I'd go with the fewes

[2022-03-12 17:43] girijakar commented on #2972
Ok thank you

[2022-03-13 00:20] BethanyG commented on #2972
Once you commented, I could assign.  So now you are assigned.  😉

[2022-03-14 07:17] vijayshan opened #2979 "Issue with markdown exercise in python"
All tests pass when the exercise is downloaded. I think the solution was accidentally presented as the question.

[2022-03-14 08:31] BethanyG commented on #2979
Hi @vijayshan 👋🏽

If you read the [instructions](https://github.com/exercism/python/blob/main/exercises/practice/markdown/.docs/instructions.md),  they state that this is a **_refactoring_** exercise.  The intent was to give you messy and complex code that passes the tests and have you clean up and refactor it to be clearer and cleaner and _still_ pass the tests.  The code that is in the file curr

[2022-03-14 21:30] kotp commented on #2979
Closing as it is by design.  See response to [comment here].

[comment here]: https://github.com/exercism/python/commit/32c96c98ada60893d847bbaf448e5b25cc7486e8#commitcomment-68619754

[2022-03-14 21:32] BethanyG commented on #2979
@kotp  -- please don't close issues in this repo unless the OP has responded, or we've waited an interval for the OP to do so.  Thanks!

[2022-03-14 21:42] BethanyG commented on #2979
I reopened it.

[2022-03-17 04:47] clziegler opened #2983 "[Twelve Days] Instructions are unclear as to what the function should return."
What does it mean to "output the lyrics?" There is no indication that the output should be a list, or that the verses should be items of said list. The only way to find this is to look at the tests.

A pre-added docstring for the `recite()` function could be helpful.

for example:
[code]

[2022-03-17 06:25] BethanyG commented on #2983
Hi @clziegler 👋🏽

Thanks for filing this issue.

For [Practice exercises](https://exercism.org/docs/building/product/practice-exercises), we give very minimal stubs.  The 'ethos' behind this is that practice exercises are implemented as a form of [test driven development](https://www.agilealliance.org/glossary/tdd/#q), where we've written out the core tests for you ahead of time.  You **_should_**

[2022-03-17 06:45] BethanyG commented on #2979
@vijayshan  - closing this issue.  Please reopen this one or submit a new one if you have additional questions or problems.

[2022-03-17 06:45] #2979 closed

[2022-03-17 11:47] Tarun193 commented on #2366
hey anyone is there

[2022-03-17 21:58] kotp commented on #2366
Yes.  I saw this "Hey, " message when it got posted.  It was, to me, a declaration, and so no request of action was recognized.

So, what can we help you with @Tarun193 ?

[2022-03-17 22:06] BethanyG commented on #2366
@Tarun193  -- My sincere apologies!  I have been really swamped with work, and this slipped through the cracks.  **Yes**, we do need to write about those concepts.  But if you'd like, I can do the concept write-up, and you can focus on the exercise itself.  Just let me know how you'd like to proceed.

Here is [an example](https://github.com/exercism/python/tree/main/concepts/classes) of what a con

[2022-03-18 13:41] Tarun193 commented on #2366
No problem @BethanyG  ,I would like to help in writing concept. I will try  to do as good as I can.

[2022-03-19 16:31] ezabus opened #2984 "[Two Buckets] Potentially incorrect test case"
Hi team!

I am not sure, but I think the following test case is not correct

https://github.com/exercism/python/blob/c0a63e5e0de0d2f50f77b558d99158c6ea51f2d5/exercises/practice/two-bucket/two_bucket_test.py#L19

There is a solution with less than 8 actions:
1. Initial step. Fill the second bucket: [0/3], [5,5]
2. Pour from second to first: [3/3], [2,5]
3. Empty the second: [3/3], [0/5]
4. Pour fro

[2022-03-19 17:31] IsaacG commented on #2984
You're not wrong. But, from the instructions:

Your step 3 violates this requirement.

[2022-03-19 17:36] ezabus commented on #2984
Oh, I see. Sorry for spending your time.

[2022-03-19 17:36] #2984 closed

[2022-03-19 21:12] BethanyG commented on #2983
Since it's been a few days, I am going to go ahead and close this issue.  Please feel free to re-open it or file a new issue, should you want to add hints or discuss the structure of this exercise further.  Although the specification for this exercises is pulled from the central [problem specifications](https://github.com/exercism/problem-specifications), so it's best to bring up overall design is

[2022-03-19 21:12] #2983 closed

[2022-03-19 21:17] BethanyG commented on #2969
I am going to go ahead and close this issue.  @jdkang -- should you want to spike a VS code plugin or alter the track documents, please feel free to either re-open this issue, or create a new one.  Should you want to add information to the help documents for the track, we'd warmly welcome a pr.  😄

[2022-03-19 21:17] #2969 closed

[2022-03-19 21:22] BethanyG commented on #2815
Closing, since https://github.com/exercism/website/pull/2257 has now been merged.

[2022-03-19 21:22] #2815 closed

[2022-03-20 06:05] StevenBontius opened #2985 "Clock recommended after 10 solved exercises"
Hi, I really like this project but I think there is a small issue with the recommended exercises.

Clock was recommended to me after I've solved just 10 exercises . Besides the fact that concept is still locked, it is way to difficult for people to solve who just started.

[2022-03-20 14:47] Tarun193 commented on #2366
hey I have wrote the introduction part of the concept , please let me know if some improvements required.

[2022-03-20 15:13] kotp commented on #2366
#2986

[2022-03-21 05:04] BethanyG commented on #2985
Hi @StevenBontius 👋🏽

Thanks for filing this issue.  I agree that `Clock` is probably not something you want to take on after just 10 exercises.  Not entirely sure how the recommendation happened, since `Clock` isn't even linked in the (_currently_) active syllabus tree.

My _suspicion_ is that it unlocked because it only has three prerequisites - `basics`, `numbers`, and `strings` - so once you c

[2022-03-21 08:45] StevenBontius commented on #2985
Thanks @BethanyG

[2022-03-23 16:57] DjangoFett commented on #2951
Not Abandoned! Just slower than I'd like

[2022-03-23 18:15] BethanyG commented on #2951
For shame, github bot!  _For shame._

[2022-03-28 22:58] goople-tech opened #2988 "Incorrectly Labeled Sections in "Journey""
<img width="1183" alt="Screen Shot 2022-03-28 at 3 53 58 PM" src="https://user-images.githubusercontent.com/74932922/160500203-df981fdd-fbd5-4522-ada3-5676b8a39b8c.png">
<img width="432" alt="Screen Shot 2022-03-28 at 3 55 14 PM" src="https://user-images.githubusercontent.com/74932922/160500268-c98d724e-b622-49b6-9b52-0ef17929e7a2.png">

These sections in my "Journey" are incorrectly labeled. Firs

[2022-03-28 23:24] BethanyG commented on #2988
Hi @goople-tech 👋🏽

Thanks for filing this issue!

This repo is for the _content_ of the exercism Python track.  For UI and interface issues, you should use the [exercsim](https://github.com/exercism/exercism) repo.

I am going to transfer this issue there.

[2022-03-31 06:54] lotruheawea opened #2992 "[Ellen's Alien Game] Tests are Blocked from Running in Editor & Locally Due to Function Import Error"
Dear community,

working on Ellen's Alien Game, the tests do not run and I get this message:

There is `from classes import new_aliens_collection` in line 4 in `classes_test.py`. Why is it there?

[2022-03-31 07:32] lotruheawea commented on #2992
Ah, the last instruction calls for the creation of function `new_aliens_collection`. Well, there are two ways, I guess. Either

- create a dummy implementation of `new_aliens_collection` in the default `classes.py` or
- use a `try`-`except` clause like in lines 6-10.

Having just done the exercise, I think it is good to have the tests running step by step. So the second option would mean they fail

[2022-03-31 16:06] BethanyG commented on #2992
Hi @lotruheawea 👋🏽

Thanks for filing this issue!  There is a bit of a dilemma  here, since this exercise was intended to teach both class creation, and some basics around using or calling the class. We also wanted to show that Python supports both defining a `class` and defining stand-alone functions within the same module. Pre-defining the stand-alone function stub short-circuits that learning s

[2022-04-01 01:23] BethanyG commented on #2539
@siebenschlaefer - I've made updates to `exercises/shared/.docs/tests.md` and `/docs/TESTING.md`.  Would love any feedback you have to give on either document wrt clarity around pytest markers.  _Many thanks for your help!_.

@ErikSchierboom - any update on whether or not we've got the `pytest.ini` file download via the CLI?  I'll want to change the directions once it starts downloading....

[2022-04-01 08:28] lotruheawea commented on #2992
Aaaaalright, thank you @BethanyG for your very detailed and descriptive explanation! Maybe I start with my opinion on the strategy. I personally have done some exercises in the Python track a while ago (v. 2), came back now and do the recommended learning exercises. I imagine that this is a common procedures for Python newbies. So eventually, the beginners end up in Ellen's Alien Game and have so

[2022-04-01 19:32] BethanyG opened #2998 "[Darts]: Hints File Does Not Display Nested Bullets or RefLinks"
The `hints` file for Darts (available [here](https://github.com/exercism/python/blob/main/exercises/practice/darts/.docs/hints.md)) has both nested bullets and markdown reflinks.  These display fine on GH:

![2022-04-01_09-53-18](https://user-images.githubusercontent.com/5923094/161329358-9a17f54a-15fd-4407-9b7d-77f0a6b613de.png)

The same bullets and links are dropped when the file is displayed o

[2022-04-01 19:34] BethanyG commented on #2998
@ErikSchierboom -- I went with this issue.  If it's not an easy fix, just ping me, and I can push the reformatted file.  Since this is our very first practice exercise hint file, I am not a a big hurry, since I don't think its going to really be quickly discoverable.

[2022-04-04 12:20] SSahas opened #2999 "K-means clusters using raw python"
Hello, I am Sahas. I wanna create a python problem which is implementing k-means clusters algorithm using raw python. please tell me if this is considerable or too much for an exercise or it requires any changes.

K- means Algorithm :  The K-means clustering algorithm computes centroids and repeats until the optimal centroid is found. It is presumptively known how many clusters there are. It is al

[2022-04-05 14:38] ErikSchierboom commented on #2998
@BethanyG I've just checked, and reference links in top-level list items work. The issue is likely with the nested list items.

[2022-04-05 17:06] BethanyG commented on #2998
Good to know!  I'll go back to the reflinks, and un-nest the bullets for now.  Thanks for checking.  😄

[2022-04-05 18:12] BethanyG commented on #2999
Hi @SSahas 👋🏽

Thanks for filing this issue, and for stepping forward to (possibly) design an exercise for Exercism!

**`TL;DR`:**  Specifications for [practice exercises](https://exercism.org/docs/building/tracks/practice-exercises) and specifications for [concept exercises](https://exercism.org/docs/building/tracks/concept-exercises).  Additionally, we use `pytest` as a runner for the track, so

[2022-04-05 18:28] ErikSchierboom commented on #2998
Sure. I'll see if I can fix the nesting.

[2022-04-06 19:57] SSahas commented on #2999
Hello @BethanyG,

Thanks for your Response 😄,
I am glad you are showing interest, I am not so sure but  I will try to resolve this issues as soon as possible , but I cannot implement this algorithm in R, Julia, Ruby, C  , JS, Go etc. .. I have not learned this languages. so may be it should be a practice exercise.

[2022-04-08 20:14] SSahas commented on #2999
Hey @BethanyG,
I think this is hard , this will take time 😅.So i think we should stop this.

[2022-04-08 23:43] BethanyG commented on #2999
@SSahas  - I'll close for now.  But feel free to re-open, should you want to work on this!

[2022-04-08 23:43] #2999 closed

[2022-04-11 08:24] jalriols opened #3003 "[Guidos Gorgeous Lasagna] Correction to Instructions"
The first step of the exercise consist on defining a constant. In the instructions there is an example where the the constant is called as follows:
[code]

I believe that the constant was probably an atribute from the lasagna class in an earlier version of the problem, and now it just makes it difficult to understand what "lasagna" means in the exercise.

[2022-04-11 21:20] ErnieWhite opened #3005 "[Meetup] Descriptors for Week of Month in Problem Statement Don't Match the Descriptors in the Tests"
The descriptors for the week in the instructions.md do not match what is used in the unit test.  The best fix in my opinion would be to modify the instructions.md to match the unit test.  This would maintain the validity of existing submissions.

instructions.md:
    first, second, third, fourth, fifth

meetup_test.py
    1st, 2nd, 3rd, 4th, 5th

[2022-04-12 03:58] BethanyG commented on #3003
Hi @jalriols 👋🏽

Thanks for submitting this issue.

While it may be confusing (_and we may need to make the example clearer by explicitly showing the import_), it is not wrong here to say `lasagna. EXPECTE_BAKE_TIME`.  It wasn't left over from a `lasagna` **_class_**, rather `lasagna` is the name of the exercise **_file/module_**.

 The convention in Python is to use  **`<module name>`.`<object na

[2022-04-12 11:47] ErnieWhite commented on #3005
Hello @BethanyG

I would like to take on the work.  I always enjoy learning something new.  On the surface this seems to be a fairly easy fix,  though that is rarely the case though.

[2022-04-12 12:03] jalriols commented on #3003
Hi @BethanyG, thanks for your thorough explanation.

I think you expect me to modify the first example to look like this:
[code]

But then I think I should also add the _import_ for the rest of the functions to be consistent, like the example below:

[code]

Another option would be leaving only the first import, but calling all the functions with the complete name:

[code]

What do you think?

[2022-04-12 20:35] ErnieWhite commented on #3005
Okay, the example file passes all 103 test.  That was the easy part, here is where I might need a little help. Do you want me to just create another pull request on it tagging this issue?

[2022-04-13 16:37] BethanyG commented on #3005
@ErnieWhite - _awesome!_

Did you edit the test generation template & regenerate the test files as well?

If so -- **yes** -- please open a PR with the new template, the regenerated tests, and the updated example file, tagging this issue.  😄

_Many thanks_

[2022-04-13 16:46] BethanyG commented on #3003
Hi @jalriols, thanks for your thoughtful reply!

Now that I am looking at it, I like the idea of adding the more specific import for the functions as well.  That gives two different examples of imports -- the whole file/module vs a specific function from it.

But as a learner, is that going to be confusing?  If not, then I say go with your top two examples above - and many thanks for filing the is

[2022-04-13 16:58] IsaacG opened #3008 "[Clock] Improved/additional tests for __add__ and __sub__"
Motivation: I've seem multiple solutions where `Clock.__add__` either (1) returns a `str` or (2) modifies and returns `self`. Ideally `a = b + c` should not mutate `b` or `c` and `Clock + int` should return a `Clock`.

Proposal: Add a test or two where,
[code]

Possibly replicate for `__sub__` as well.

I'd be happy to work on this myself.

[2022-04-13 18:00] tamireinhorn opened #3009 "[Single Linked List] Head concept doesn't seem to match descriptions"
Reading the descriptions for Linked Lists in general, and even in the cited documentation for the exercise give us the idea of a list that would work as [1,2,3] where 1 would be the head node and 3 would be the tail node, hence follow LIFO. However, all the tests seem to expect that the HEAD would be 3, and, for instance, any new node pushed into the list would be the new head.
Given that even the

[2022-04-13 18:00] BethanyG commented on #3008
Hi @IsaacG 👋🏽

Thanks for filing this issue.  Since the `clock` exercise pulls from [problem-specifications](https://github.com/exercism/problem-specifications/blob/main/exercises/clock/canonical-data.json), and already has **100 test cases** and three additional test cases for `__repr__` tacked on, I am loath to _add_ any more to it by extending `additional_tests.json`.  There are about 50 more t

[2022-04-13 18:06] BethanyG commented on #3008
Another exercise that could be "riffed on" or extended is [matrix](https://github.com/exercism/python/tree/main/exercises/practice/matrix).  The current exercise doesn't get at _altering_ or _updating_ the `Matrix` with new information.  But we could either do an addendum or a follow-on exercise that requires that, which could set up the problem of mutating or returning a new object.

[2022-04-13 18:11] BethanyG commented on #3009
Hi @tamireinhorn 👋🏽

Thanks for filing this issue.  I don't have time at the moment, but will investigate when I do.  Meanwhile, could you give me a little more detail?  Which tests seem off to you, against which code?  What would be your proposed changes?

[2022-04-13 18:17] tamireinhorn commented on #3009
For instance, this test:
`def test_non_empty_list_has_correct_head(self):
        sut = LinkedList([1, 2])
        self.assertEqual(sut.head().value(), 2)
`
clearly expects that THE LAST element of the list is the head. In my mind, the test should read:
`def test_non_empty_list_has_correct_head(self):
        sut = LinkedList([1, 2])
        self.assertEqual(sut.head().value(), 1)
`.
This test exe

[2022-04-14 02:12] #3005 closed

[2022-04-14 02:37] #2957 closed

[2022-04-14 02:46] BethanyG commented on #3008
Adding another note here.  [this issue](https://github.com/exercism/python/issues/2926) gets at a somewhat related issue.  Although the opposite of what is described here -- in issue #2926, mutation (_and the mutation being reflected in the `__repr__` is being discussed._ ).

[2022-04-16 17:30] IsaacG commented on #3008
Thank you for your response, Bathany. I filed [an issue](https://github.com/exercism/problem-specifications/issues/2010) against the problem specs to discuss if changing the canonical expectation around Clock's add and subtract make sense.

Having been part of the discussion on multiple discussions around Matrix updates, I'm hesitant to suggest that it be extended to support mutability. Doing so i

[2022-04-16 17:36] IsaacG commented on #3009
`LinkedList.push()` pushes elements to the head of the list. Whether intentional or not, `LinkedList([a, b, c])` expects elements `a, b, c` to be pushed to the list ... in that order. Pushing `a` to a `ll` results in `list(ll) = [a]`. Pushing `a` then `b` results in `list(ll) == [b, a]`. And pushing `a` then `b` then `c` results in `list(ll) == [c, b, a]`.

This means `list(LinkedList([a, b, c]))

[2022-04-16 18:38] tamireinhorn commented on #3009
Exactly. However, any conceptual aid that a student might seek about linked lists, even the one referenced in the README, will point them towards expecting `list(LinkedList([3,4,5])) = [3, 4, 5]`. You could argue that this exercise expects a stack implementation, but here's the catch: the exercise expects that the LL is set as: 5 (head) -> 4 -> 3 (tail). Any representation of the LL expected by th

[2022-04-17 02:44] BethanyG commented on #3008
Elsewhere.  Maybe we do it in [2786](https://github.com/exercism/python/issues/2786), since that's the last filed issue against High Scores, and does discuss mutability.  That way, the author of that issue will also get a ping letting him know you've picked it up - in case he wants to join in the discussion.

I think (for now) we close this issue -- and also the other `Clock` issue.  We may want t

[2022-04-17 02:44] #3008 closed

[2022-04-17 02:46] BethanyG commented on #2786
@12rambau  -- just a note here.  Mutability has come up in another exercise discussion - this one around `Clock`.  I think we've decided that rather than change `Clock`, we're going to bite the bullet and re-implement `High Scores` as a class-based exercise, setting up a mutability discussion.  To that end, @IsaacG has stepped forward to take that on.  I'm going to past the start of our discussion

[2022-04-17 02:47] BethanyG commented on #2786
@IsaacG  -- pasting my last comment from #3008 below:
______

Elsewhere.  Maybe we do it in [2786](https://github.com/exercism/python/issues/2786), since that's the last filed issue against High Scores, and does discuss mutability.  That way, the author of that issue will also get a ping letting him know you've picked it up - in case he wants to join in the discussion.

I think (for now) we close

[2022-04-17 07:44] #2974 closed

[2022-04-17 07:49] BethanyG commented on #2786
@IsaacG  - The resurrected files from High Scores are [here](https://github.com/exercism/python/pull/3011) in a draft PR.

As noted, there is still work around getting the immutability cases marked true and modifying the JinJa2 template to support them.  It should be fairly straighforward.  After the template is modified, the test case file will need to be regenerated.

Let me know if you have que

[2022-04-17 07:51] BethanyG commented on #2786
[here](https://github.com/exercism/problem-specifications/blob/main/exercises/high-scores/canonical-data.json) is the canonical data for the exercise.

[2022-04-17 17:40] BethanyG commented on #2998
Noting https://github.com/exercism/website/pull/2616.  Once that's merged, this should resolve.  😄

[2022-04-17 18:09] BethanyG commented on #2926
Hi @astrieanna  -- as noted in #3008, this exercise now has over 100 test cases.  It feels like we should take a pause and figure out how to pare that down and then maybe add some cases as proposed here.  To that end, I am going to close this issue for now, with the thought that we'd maybe revisit this entire exercise in a few months to see where we're at, and what we want to do.  I'll log a "trac

[2022-04-17 18:09] #2926 closed

[2022-04-17 18:20] BethanyG opened #3012 "[Clock] Review Test Cases and Discuss Structure and Objectives of Exercise"
Filing this as a tracking issue and invitation to a discussion on revisions to this exercise.

The intent of `Clock` was to practice class customization and operator overloading via `dunder methods` in Python.
We've recently had quite a few changes, adding `__repr__` to the mix, as well as additional instructions and tests in support of that change.  A few issues have now come up around it:

1. Is

[2022-04-17 18:36] BethanyG commented on #2310
Closing this as no longer relevant given the changes made to configlet and other re-arranging.

[2022-04-17 18:36] #2310 closed

[2022-04-17 18:37] BethanyG commented on #2202
Closing as no longer relevant, given that configlet has been updated to sync these.

[2022-04-17 18:37] #2202 closed

[2022-04-17 18:47] BethanyG commented on #1120
Upon review (and considering that now the bulk of these test files are auto-generated via JinJa2 from problem specifications), I am closing this issue.

[2022-04-17 18:47] #1120 closed

[2022-04-18 00:37] IsaacG commented on #2786
1. I'm not clear why or how adding in a class would or should impact the mutability aspect of the tests. The idea that functions should (generally) not mutate input data is distinct from classes. This approach may highlight that class methods should not mutate class instance attributes as a side effect. However, I feel that the lesson around mutating function inputs is less obvious and, as such, m

[2022-04-18 10:35] BethanyG commented on #2786
I remain skeptical that this particular concept can be taught through _tests_.  It really feels like it needs to be a discussion with a mentor who can answer questions and highlight nuance.  Unless a student is given good "whys" around this, it becomes an arbitrary and cargo-cult thing.

That is true.  But that this exercise (right now) is fairly early in the progression and there is no intuitive

[2022-04-19 01:06] #3003 closed

[2022-04-19 19:26] BethanyG commented on #1497
Since we've both gone through making a test generation template for this exercise and several updates from problem-specifications, I think this issue has largely been addressed.  If not, please open a fresh issue against the current form of the exercise.  Many thanks for the thoughtful discussion.

[2022-04-19 19:26] #1497 closed

[2022-04-19 19:31] BethanyG commented on #1976
Noting here:  90% of this work has been completed in PR #2096.  However, there has been **a lot** of changes since that PR was submitted, so the exercise, the specifications, and the generated tests need to be reviewed to make sure everything would still work with the template.  Leaving this issue open as a reminder that the review work needs to be completed, and at if all possible, we should resu

[2022-04-21 13:08] CodebyKhayla opened #3017 "Cannot run tests on "Guido's Gorgeous Lasagna""
clicked "Run Tests" Got the following error:

We received the following error when we ran your code:
OSError: pytest: reading from stdin while output is captured!  Consider using `-s`.

[2022-04-21 13:53] CodebyKhayla opened #3018 "[Gigasecond]: Suggestions Regarding Instructions"
I repeat, this is not a bug. However, could the instructions for the Gigasecond exercise be edited for clarity?

It is marked as easy, but links to material for Ruby not Python.
Also, it would be helpful if it gave example inputs and outputs to help a beginner understand.

Current exercise instructions:
"_Given a moment, determine the moment that would be after a gigasecond has passed.
A gigasecon

[2022-04-21 17:04] BethanyG commented on #3018
Hi @CodebyKhayla 👋🏽

Thank you for filing this issue.  Where are you seeing links to Ruby material?  I'm not seeing any in the instructions themselves - were you looking at a hint file or other element in the UI?

If you could provide a screen grab, that would be super-helpful in me tracking down the issue (_different parts of the UI are pulled from different files_).  While this isn't a _bug_ per

[2022-04-21 20:05] CodebyKhayla commented on #3017
Hi @BethanyG !

Wow, thanks for getting back to me so quickly. I definitely think my code is still not the right answer to the exercise, however, here is a screenshot.

![image](https://user-images.githubusercontent.com/44632276/164543658-820ca756-ddd8-4b9d-b3fc-c32a6c63d189.png)

[2022-04-21 20:26] CodebyKhayla commented on #3018
@BethanyG,

Thanks for the information! it definitely helps to understand the methodology behind the exercises.

I guess from my viewpoint as being new to the site and somewhat new to Python (with only beginner experience in another language), I'm completing the Python track (as we speak, I'm 0.8% complete it lol). This is one of only 3 exercises that are available for me to try. Even with the fee

[2022-04-21 20:38] BethanyG commented on #3017
Hi @CodebyKhayla

Your code does indeed have an issue.  On line 9, you are defining a parameter that accepts interactive arguments from the command line (I am assuming as a test on your own system??).  [`input()`](https://docs.python.org/3.9/library/functions.html#input) is something that you should in general be very cautious using.  You must always intercept and check data from `input()`, as you

[2022-04-21 20:47] CodebyKhayla commented on #3017
Thanks @BethanyG ! I definitely thought it was because of something I was doing.

Could it maybe be added to the instructions to not include input()?

Either way, thanks again, you've been amazing

[2022-04-21 21:03] BethanyG commented on #3017
🤔   As you have probably seen, the directions for this exercise are already quite long, and many students don't read them through to the end.  Although maybe adding a comment in the stub to remind people could be a good addition.  I will think about it.

We may need to just be up front with students and have a general doc that outlines the `dos` and `don'ts` of our online system.  Neither `input()

[2022-04-21 22:23] BethanyG commented on #3018
@CodebyKhayla

I need to examine why `Gigasecond` is showing up when you have learning mode on and have not yet completed `Guidos Gorgeous Lasagna`.  You should have different exercises available to you.  Consider it on my `todo` list!

<br>

I wholeheartedly agree!  And just to be clear:  we never intended for this to be one of three exercises a brand-new user sees when they start Python, so I wi

[2022-04-21 23:42] BethanyG commented on #3018
There are a few ways you can create a PR.  I am going to assume you are new to both git and GitHub, so apologies if this is overly-explanatory.

- Our general guidelines for PRs are [here](https://exercism.org/docs/building/github).  I'll include more detailed links for GitHub and Git below.
- Exercism uses [markdown](https://www.markdownguide.org/) for text documents.  Our guides for markdown and

[2022-04-22 15:42] CodebyKhayla commented on #3018
Yes. I would love that.

[2022-04-22 19:57] #2877 closed

[2022-04-22 22:32] BethanyG commented on #2786
Closing, as #3013 and #3016 are merged.

[2022-04-22 22:32] #2786 closed

[2022-04-23 00:28] #2985 closed

[2022-04-23 00:35] #2998 closed

[2022-04-23 02:54] BethanyG commented on #3018
Making note here about keeping this issue open. While the `hints` file and the `instruction append` have been added (YAY), I still need to make and issue around TDD docs, so leaving this as a reminder to do so.

[2022-04-23 08:04] BethanyG opened #3023 "[Track Improvement]: Thoughts on Difficulty, Flow, and Prerequisites."
Copied over from `exercism/exercim` [Issue #6333](https://github.com/exercism/exercism/issues/6333)

I think we can address some of these via re-working the track prerequisites and practices, so opening an issue here.
Emphasis added to highlight different areas of focus, and the TL;DR was brought to the top.

`This issue is open for additional comments around leveling, grouping practice exercises,

[2022-04-23 19:50] BethanyG commented on #2293
Closing this issue, since we've merged the `Plane Tickets` exercise.  Any further changes will be logged in a new issue.  Thanks everyone for your work!

[2022-04-23 19:50] #2293 closed

[2022-04-23 20:25] BethanyG commented on #2366
❗❗  **`Note to the contributor who picks this task:`**

The concept docs for this exercise were completed by a previous contributor, and can be found here:  [functools concept docs](https://github.com/exercism/python/tree/main/concepts/functools).

We suggest going through them before getting started with the rest of the documents and pinging if you have any questions or issues.

[2022-04-24 05:13] Metallifax commented on #2366
Hello :wave:
I can pick up from where the last author left off since I can see there is already some momentum going. I'll study the resources while I wait to hear back. Thank you for your time and regards.

[2022-04-24 05:45] BethanyG commented on #2366
All yours and many thanks @Metallifax!  🌟 🎉 🌮

[2022-04-27 01:47] BethanyG commented on #3009
Hi @tamireinhorn 👋🏽

First - apologies for taking so long to get back to you.  Things have been busy, but I also wanted to make absolutely sure that I had resources as well as an implementation consistent with a `stack` that passes all the tests.  I agree that it is easy to get confused, as many resources on singly linked lists cover both `stacks` AND `queues`, which have somewhat "opposite" imple

[2022-04-27 06:24] tsigma6 opened #3025 "[Card Games] Test coverage for Task 6."
The current test cases for Task 6 (for `def average_even_is_average_odd(hand)`) allows for `return card_average(hand) % 2 == 0` to pass all tests, however this is probably not the intention of this particular Task, and as written a counter example that should return `True` but returns `False` for this given solution would be `[1, 3, 5]`.

[2022-04-28 17:43] BethanyG commented on #3025
Hi @tsigma6 👋🏽

Thanks for filing this issue!  Would you like to propose additional and/or different tests for task 6?
We'd warmly welcome a PR/suggestions for it.  😄

[2022-04-29 00:18] BethanyG commented on #3009
Hi @tamireinhorn -

I've submitted both an instruction append and a hints file in PR #3026.  I'd welcome any thoughts or additions/edits you'd want to make.  It also OK if you don't want to comment.

[2022-04-29 03:04] tobeannouncd opened #3027 "[Grep]: Unnecessary newline character at end of output"
After banging my head against the wall debugging my solution to [Grep](https://exercism.org/tracks/python/exercises/grep), I noticed that the tests assume that each line in the output ends with a newline character except when there are no matches. I have no clue why this the case, as there seems to be only one pattern that would generate output this way:

[code]

Other exercises in the Python trac

[2022-04-29 08:27] PaulT89 commented on #2992
Wait, what's happening?

[2022-04-29 12:44] tsigma6 commented on #3025
I've added a pull request with a single additional test that should resolve it.

[2022-04-29 21:30] #3025 closed

[2022-04-29 21:44] BethanyG commented on #2992
@PaulT89  - **TL;DR:** _only if you want to_.  😄

I see this as not ... _really_ a bug with the exercise as you've written it, more of an issue with the way we test in general on the track.  You see, we make a very large assumption about function names (_that they will be there for importing_) - but the resulting stack trace can look a heck of a lot like a tooling error, rather than an import erro

[2022-04-29 23:57] PaulT89 commented on #2992
Okay, I've got them split them up into classes and classes_standalone_function, though I don't know if the auto-tester is going to choke on the exemplar and exemplar_standalone_function

[2022-04-30 00:57] BethanyG commented on #2992
It will.  There is no way to sequentially test solution files.  Our test runner assumes one main file under test and it concatenates all tests into one file.  In fact, it takes all discovered tests and organizes them by task and line number.  So if there is going to be two exemplars, there will need to be two exercises, with their own tests.  I think we should probably leave the exercise as it as

[2022-04-30 14:29] ViniSalvon opened #3031 "[Twelve Days] Instructions are too vague"
In [this exercise](https://exercism.org/tracks/python/exercises/twelve-days), the overall instructions are not clear. For example:

- If I take the instructions alone in a literal way, a simple return or print with the string containing the whole lyrics would actually be a solution. However, when you begin the test, it shows you a function that receives a start and an ending verse. While it is int

[2022-04-30 17:28] tamireinhorn commented on #3009
Perfect! I think it's much better and clearer now. I'll see if I can add a
small representation with arrows as to what the LL should look like, what
do you think?

Em qui, 28 de abr de 2022 21:18, BethanyG ***@***.***>
escreveu:

[2022-05-01 05:41] jeewonkoo commented on #3009
I found this issue on https://ovio.org/projects and would love to contribute! I am new to Github contribution but have coding experience in Python. Please let me know!

[2022-05-01 15:41] BethanyG commented on #3009
@tamireinhorn   _excellent!_   I think a diagram would be **great** - both in the append and the hints.  I just can't remember the process for how we include them.  I think we have a separate repo for images that get embedded into exercise files.  I will hunt that process down, and we can get that in its own PR (so you get full credit for it).  😄

[2022-05-01 18:14] tamireinhorn commented on #3009
That works! I was thinking of a crude one done in the text itself, like
(head) 3-> 2 -> 1 (tail)

Em dom, 1 de mai de 2022 12:42, BethanyG ***@***.***>
escreveu:

[2022-05-02 12:11] BethanyG commented on #3009
@tamireinhorn   - apologies for the delay in reply.

(head) 3-> 2 -> 1 (tail)

 _I didn't think of that!_   -- that would be much better on two counts:

1.  No elaborate process for adding an image.
2. Clearer for those downloading the exercise to work locally.

Would you like to make those changes/add them in the existing PR, or do them as follow-on PR after the current docs are merged?  Either w

[2022-05-02 23:04] BethanyG commented on #3009
Hi @jeewonkoo 👋🏽

Thank you for your interest in this issue and in exercsim.

_**We would love to have you as a contributor!**_  However, places like `ovio.org` might not be the best place to look for issues, since we organize and use this repo in a very specific way.

Issues that are generally open for contribution are flagged with a `[help wanted]` tag.  You can find our current list [here in Gi

[2022-05-04 18:10] BethanyG commented on #3031
Hi @DarkCyborg00 👋🏽

Thank you for filing this issue!

The current directions are indeed ... vague.  They were actually updated recently in our [problem specifications](https://github.com/exercism/problem-specifications/blob/main/exercises/twelve-days/description.md), but we didn't get around to updating the Python version until now.  Apologies for that!  You can find our update in PR #3032, which

[2022-05-05 14:05] tamireinhorn commented on #3009
Hi @BethanyG , sorry for the delay. I thought I had answered this one with my question, but it seems I didn't, so here goes:
Where do we put it? I'm torn on whether the README would be ideal, given your PR and the fact that this could impart on the student the idea that a LL is always 3-> 2 -> 1 and NEVER 1 -> 2 -> 3. Given that, at least intuitively the second option was the one that came to me,

[2022-05-05 15:22] BethanyG commented on #3009
@tamireinhorn

_my apologies!_  I missed your question the first time around.  🤦🏽‍♀️

I think that repetition cannot hurt in these circumstances, so both the instructions and the hints could use the addition of the diagram.

For the `instructions_append`, maybe in the middle of the first paragraph?  (_rough example below, with existing text quoted_):

_push and pop happen here_

  &nbsp; &nbsp; &n

[2022-05-05 16:34] tamireinhorn commented on #3009
I think the insertion points work, and I don't think it hurts to have the counterexample. It is possible that it will be confusing at first, but the explanation and the existence of two possibilities will stop the student from wrongly consolidating that a LL should always be LIFO.
You've done it all, so if you could change the PR, I'd be very happy. Thank you so much for listening to my complaints

[2022-05-06 18:24] BethanyG commented on #2745
@ErikSchierboom  -- tagging you because we discussed a while ago having the `pytest.ini` download via the CLI, and I'm  not sure where we are on that front.  (_no worries if there is a delay -- I just don't want to forget about it._)

I have updated our testing documentation, and that has helped with this issue a lot -- but would also love to have the config file available via CLI in `exercises/sh

[2022-05-06 18:31] BethanyG commented on #3009
Closing now that the PRs merged.

[2022-05-06 18:32] #2849 closed

[2022-05-07 04:22] BethanyG commented on #3009
D'Oh!  _PRs not merged_  Reopening

[2022-05-10 12:51] ErikSchierboom commented on #2745
Yeah, sorry, that has not yet been implemented. I'll let you know when I get to that (such a huge list of TODOs :D)

[2022-05-12 20:46] viperblack opened #3049 "Assertion error"
On exercise [[Card Games in Python]](https://exercism.org/tracks/python/exercises/card-games) on file lists_test.py (line 76) the list for correct assertion be True is [2, 3, 5, 7, 8] and not [2, 3, 4, 8, 8] where median is 4 and mean is 5.

[2022-05-14 17:12] bhagerty commented on #2992
I want to offer an opinion as a learner: I think that it is important to modify the test code so a learner who fails to stub out `new_aliens_collection` does not get the current error that is raised.

The error currently raised does not give even a smart beginner, who can read some stack traces, a sufficient clue that the problem is in *their* code. The learner will see this:

[code]

This tells t

[2022-05-14 19:49] BethanyG commented on #2951
@DjangoFett - its been a bit and I know you have a LOT going on, so I am going to un-assign you from this task right now.  I have another contributor who may take it on.  However, I am more than happy to also have you work on it or collaborate - just let me know!  And many thanks for all your efforts thus far.  😄   💙  🙏🏽

[2022-05-14 20:13] BethanyG commented on #3027
Closing this for now.  Will re-open if needed for discussing changes.

[2022-05-14 20:13] #3027 closed

[2022-05-15 04:27] BethanyG commented on #3031
Closing now that #3050 has been merged.

[2022-05-15 04:27] #3031 closed

[2022-05-16 20:42] IsaacG commented on #3049
The instructions read:

The mean of the list is 5. The mean of the first and last value is 5. Hence the approximate average is equal to the average.

[2022-05-16 21:33] BethanyG commented on #3049
Hi @viperblack 👋🏽

Thanks for filing this issue.  As @IsaacG has stated above, the task is asking for an `OR` situation.  **One `OR` the other `OR` both**, as opposed to "One `AND` the other".  The test case you cite was added purposefully to get at this particular scenario, and is not a bug.  I am going to go ahead and close this issue, but please let us know if you have any additional questions

[2022-05-16 21:33] #3049 closed

[2022-05-17 01:57] BethanyG opened #3052 "[New Concept Docs]: Recursion in Python"
This issue describes how to implement the `recursion` concept docs.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [Contributing to Exer

[2022-05-17 03:58] BethanyG commented on #3031
@ViniSalvon 😱   _apologies._ I promised I would ping back, and forgot to do so.  Please see the merged PR above for the changes we've made to Twelve-days.  Please feel free to log an additional issue or PR to add to those changes if you fee they are lacking in any way.  Thanks again for filing this issue!

[2022-05-17 04:17] BethanyG opened #3053 "[New Python Track Docs]: Test Driven Development (TDD)"
This issue describes how to implement the `Test Driven Development (TDD)` Python Track docs.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2022-05-17 04:24] BethanyG commented on #3018
Hi @CodebyKhayla 👋🏽

 _apologies for the delay in getting back to you!_  I've opened a new issue around Test Driven Development, and would love any additions you'd like to chime in with.  😄   You can find the issue [here](https://github.com/exercism/python/issues/3053).  We've got a contributor who's thinking about drafting something up, so keep your eyes out for that when it happens.  Meanwhile I

[2022-05-17 05:21] BethanyG opened #3054 "[New Python Track Docs]: Reading and Troubleshooting Stack Traces in Python"
This issue describes how to implement the `Stack Traces and Troubleshooting` Python Track docs.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2022-05-17 07:37] bobahop commented on #3052
Already started!

[2022-05-17 18:09] viperblack commented on #3049
Thanks @IsaacG and @BethanyG for instructions! I pay attention in the next time.

[2022-05-18 16:12] BethanyG commented on #2366
@Metallifax  - do you still want to work on this?  Totally OK if you do not.  Just ping when you have time, and let us know.  Thanks!

[2022-05-18 19:06] BethanyG commented on #3018
reopening as a brief test.

[2022-05-18 19:06] #3018 closed

[2022-05-19 23:25] Metallifax commented on #2366
@BethanyG I feel bad for leaving this claimed for so long, but I've also been focused on other projects/work/study. That said, I don't want to be all excuses and would like to make a solid commitment to moving this exercise forward.

I finish schoolwork/tests on June 5th, and I'm hoping to have my personal project finished by then (hopefully); would that be an okay timeline to start making progres

[2022-05-19 23:43] BethanyG commented on #2366
@Metallifax  -- Thanks for letting us know!  Totally understandable that you have life, studying, and work!  I don't think we're in any particular hurry, so I'm fine with leaving you assigned (_I just wanted to make sure you still wanted to take this on_).  If someone else does pick this up, we can ping at that point, or set up a collaboration.  😄

_Good luck with school and all your projects!_

[2022-05-21 06:20] BethanyG commented on #2992
@bhagerty @lotruheawea @PaulT89  --

I've submitted PR #3058 to address some of these issues.

The first change is a `try-except` that "fences" the import.  So now the stack track for a missing `new_aliens_collection()` should read similar to the following:

[code]
The most important line there being the last one.

<br>

--------
I've updated the exercise instructions to read:

## 7. Creating a Li

[2022-05-21 18:58] #2992 closed

[2022-05-21 22:33] BethanyG commented on #2745
Tagging this as officially "on hold" for the auto-download option.  Since we've changed the docs to clarify, this feels somewhat lower-priority at this stage.

[2022-05-21 22:39] BethanyG commented on #1780
See also #2275 for additional considerations for the `error handling` concept cluster and set of exercises.

[2022-05-21 22:41] BethanyG commented on #2105
Renaming this to be what it is:  A discussion on weather or not re heavily revise or just remove `hangman` as an exercise.

[2022-05-25 20:59] BethanyG commented on #3009
Ok.  This is finally merged!  Closing this issue as resolved (for now 😄 ).

[2022-05-25 20:59] #3009 closed

[2022-05-26 15:02] #2714 closed

[2022-05-27 18:22] chuck-alt-delete opened #3068 "[Tisbury Treasure Hunt]: Feedback"
Thanks as always for building Exercism! I have two pieces of feedback on tisbury-treasure-hunt:

### 1. Return None or raise error instead of "not a match" in create_record function

The `create_record` function says to return a record if coordinates match or the string "not a match" if the coordinates don't match. In my opinion, this encourages bad habits unnecessarily. I think instead, if there

[2022-05-28 13:02] joshgoebel opened #3069 "[Diffie Hellman]: Test File Needs Reformatting so that the Test Runner Does Not Cut Off Test Code in the UI"
Test 3
DiffieHellman > can calculate public key using private key

Under Code run all I see is:

[code]

[2022-06-02 13:01] bobahop commented on #3052
Addressed by the merging of #3051

[2022-06-02 16:59] BethanyG commented on #3068
Hi @chuck-alt-delete 👋🏽

Thanks for the feedback, and for filing this issue!  💙  Apologies for the delay in getting back to you.

For concept exercises, we're not permitted to use any language features that have not been introduced in a prior exercise or in the exercise itself, so raising an error here or _explicitly_ returning `None` is off the table.  However, we could have a student only return

[2022-06-02 17:07] chuck-confluent commented on #3068
Awesome, thanks for this thoughtful response, Bethany :-)

[2022-06-02 20:23] FranciscoRguezMelgar commented on #3068
It seems, if I have understood correctly, that the problem is that the test expects the students to rely on Python's serialization of tuples with strings inside, which will prefer the string quotation that won't requiere scaping when printed. While one could think that the simple quotations around the fields of the strings are part of the format that the test requires. To avoid that, a solution th

[2022-06-02 23:46] BethanyG commented on #3068
Closing now that #3072 has been merged.

[2022-06-02 23:46] #3068 closed

[2022-06-03 12:52] BethanyG commented on #3069
Fixed in #3073

![2022-06-03_05-50-17](https://user-images.githubusercontent.com/5923094/171857555-eaa464c7-a4ee-4f21-89e2-d31318a10636.png)

[2022-06-03 12:52] #3069 closed

[2022-06-03 14:07] joshgoebel commented on #3069
Awesome. Thanks so much. 😎

[2022-06-07 05:42] PaulT89 opened #3078 "Request to Remaster Pascal's Triangle"
### The TL;DR Version 🥱
I've rewritten Pascal's Triangle as an exercise to practice recursion, but the exercise is currently listed as 'deprecated'.  I am of the belief that the conditions under which it became deprecated 8 years ago no longer apply.  I am requesting permission to open a PR to re-instate Pascal's Triangle as an exercise.

### The Nuanced Version 🎓
As has been brought to my attenti

[2022-06-08 19:25] BethanyG opened #3081 "[New Concept Docs]: Context Manager Customization"
This issue describes how to implement the `context manager customization`  **concept docs**.
 The related **concept exercise** issue can be found [here](https://github.com/exercism/python/issues/3090).

 If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅  Getting started

**`Please please read the do

[2022-06-09 21:36] ChristianMilillo2007 opened #3083 "learning"

[2022-06-09 21:37] #3083 closed

[2022-06-10 18:21] CosmoSt4r opened #3084 "[LIst Ops] Wrong test case in list-ops exercise (python)"
Hi there!

I am currently on a python track and trying to solve the [list-ops](https://exercism.org/tracks/python/exercises/list-ops) exercise.
I don't get the test of **foldr** function:
[code]
Since this is an analog to **foldRight** function the result should be `!msicrexe`, isn't it?

For example, here how it works in Scala:
![Example in Scala](https://user-images.githubusercontent.com/6913050

[2022-06-10 18:21] CosmoSt4r opened #3085 "[LIst Ops] Wrong test case in list-ops exercise (python)"
Hi there!

I am currently on a python track and trying to solve the [list-ops](https://exercism.org/tracks/python/exercises/list-ops) exercise.
I don't get the test of **foldr** function:
[code]
Since this is an analog to **foldRight** function the result should be `!msicrexe`, isn't it?

For example, here how it works in Scala:
![Example in Scala](https://user-images.githubusercontent.com/6913050

[2022-06-10 18:26] CosmoSt4r commented on #3085
I got it, guys. Sorry! :)

[2022-06-10 18:26] #3085 closed

[2022-06-10 23:31] BethanyG opened #3086 "[New Concept Docs]: `with` Statement"
This issue describes how to implement the `with` (keyword)  **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3087)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the docs before startin

[2022-06-10 23:39] BethanyG commented on #2369
Closing for re-write

[2022-06-10 23:39] #2369 closed

[2022-06-11 00:17] BethanyG opened #3087 "[New Concept Exercise]: `with` Statement"
This issue describes how to implement  the  `with statement`  **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3086).

<br>

## ✅  Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed background knowledge.

[2022-06-11 00:56] BethanyG commented on #2368
Closing for re-write

[2022-06-11 00:56] #2368 closed

[2022-06-11 01:05] BethanyG opened #3088 "[New Concept Exercise] : `itertools` Module"
This issue describes how to implement  the  `itertools` Module  **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3089).

<br>

## ✅ Getting started

If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed background knowledge.

[2022-06-11 01:26] BethanyG opened #3089 "[New Concept Docs]: `itertools` Module"
This issue describes how to implement the `itertools` module  **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3088)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the docs before start

[2022-06-11 16:04] BethanyG opened #3090 "[New Concept Exercise] Context Manager Customization"
This issue describes how to implement  the  `context-manager customization` **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3081).

<br>

## ✅  Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed backgro

[2022-06-11 16:05] BethanyG commented on #2370
Closing for rewrite.

[2022-06-11 16:05] #2370 closed

[2022-06-11 16:22] BethanyG opened #3091 "[New Concept Docs]: `iterators`"
This issue describes how to implement the `iterators`  **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3092)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the docs before starting.`**

[2022-06-11 16:35] BethanyG opened #3092 "[New Concept Exercise]: `iterators`"
This issue describes how to implement  the  `iterators`  **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3091).

<br>

## ✅ Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed background knowledge. Some

[2022-06-11 16:37] BethanyG commented on #2367
Closing for re-write

[2022-06-11 16:37] #2367 closed

[2022-06-11 16:54] BethanyG opened #3093 "[New Concept Docs]: Class Customization"
This issue describes how to implement the `class-customization` **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3094)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the docs before sta

[2022-06-11 17:12] BethanyG opened #3094 "[New Concept Exercise]: Class Customization"
This issue describes how to implement  the  `class-customization` **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3093).

<br>

## ✅ Getting started

If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed background knowledg

[2022-06-11 17:22] BethanyG commented on #2350
closing for rewrite

[2022-06-11 17:22] #2350 closed

[2022-06-11 17:39] BethanyG commented on #2972
Closing, as the PR for this has been optimistically merged.  Further changes and improvements will be tracked under an improvement issue.  Many thanks for your work on this, @girijakar!

[2022-06-11 17:39] #2972 closed

[2022-06-11 23:08] Metallifax commented on #2366
I am working on it, just slower than I'd like. I'll try to get a PR out by the weekend to move this along. Thanks for the patience on this.

[2022-06-11 23:15] BethanyG commented on #2366
@Metallifax - This issue is up for a re-write, so I might close this and then re-open it fresh, if that's OK with you?  I'll ping you on Slack whenI am done and you can then comment so I can re-assign you.

[2022-06-11 23:31] BethanyG opened #3095 "[Improve Concept Docs]: Class Inheritance"
This issue describes desired additions and improvements to the `class inheritance` **concept docs.**.
The related **concept exercise** issue and specs can be found [here](https://github.com/exercism/python/issues/3096),

<br>

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.  Additionally, we recommend r

[2022-06-11 23:58] BethanyG opened #3096 "[New Concept Exercise]: Class Inheritance"
This issue describes how to implement the `class-inheritance` concept exercise  **concept exercise** for the Python track.
The related **concept documents improvement issue** can be found [here](https://github.com/exercism/python/issues/3095#issuecomment-1153019285).

<br>

## ✅ Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront

[2022-06-12 00:00] BethanyG commented on #2351
Closing for re-write.

[2022-06-12 00:00] #2351 closed

[2022-06-12 00:00] Metallifax commented on #2366
Go ahead! Since we're on the topic of adding resources, I found broken links to the concept and concept exercise docs in the issue description (you're probably already aware):

- https://github.com/exercism/docs/blob/main/anatomy/tracks/concept-exercises.md
- https://github.com/exercism/docs/blob/main/anatomy/tracks/concepts.md

Which I think should go to:

- https://github.com/exercism/docs/blob/

[2022-06-12 00:04] BethanyG commented on #2366
Yup!  😄   That's one of the reasons we're closing most of the issues logged in Feb. and re-writing them!  See #3091  and #3092 for some examples.  In addition to updating the links, we're going to be splitting the concept docs writing from the _exercise_ writing, so if you still want to do both things, remember comment on both issues and I'll assign you to them.

[2022-06-12 00:26] Metallifax commented on #2366
Thank you for summarizing, and sounds great! I'll keep plugging away and keep an eye out for the new issue in the meantime.

[2022-06-12 00:26] BethanyG opened #3097 "[New Concept Exercise]: `functools` Module"
This issue describes how to implement  the  `functools` module **concept exercise** for the Python track.
The related **concept documents improvement issue** can be found [here](https://github.com/exercism/python/issues/3098).
This issue replaces an earlier issue that has some discussion attached.  The old (closed) issue can be found [here](https://github.com/exercism/python/issues/2366)

<br>

##

[2022-06-12 00:27] BethanyG commented on #2366
The new issue is HERE:  https://github.com/exercism/python/issues/3097.  😄   There will be an additional improvement issue for the concept docs shortly.  Closing this now as "OLD".

[2022-06-12 00:27] #2366 closed

[2022-06-12 00:37] Metallifax commented on #3097
Present! Thank you for updating this.

[2022-06-12 01:06] BethanyG opened #3098 "[Improve Concept Docs]: `functools` Module in Python"
This issue describes desired additions and improvements to the `functools` module **concept docs.**.
The related **concept exercise** issue and specs can be found [here](https://github.com/exercism/python/issues/3097),

<br>

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.  Additionally, we recommend re

[2022-06-12 01:07] BethanyG commented on #3098
@Metallifax  -- This is the "improve concept docs.  Comment to be assigned.  😄

[2022-06-12 01:18] Metallifax commented on #3098
:wave: :taco:

[2022-06-12 01:19] Metallifax commented on #3098
:wave: Comment!

[2022-06-12 01:39] BethanyG opened #3099 "[New Concept Docs]: Descriptors"
This issue describes how to implement the `descriptors` **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3100)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the docs before starting.`*

[2022-06-12 01:45] BethanyG opened #3100 "[New Concept Exercise]: Descriptors"
This issue describes how to implement  the  `descriptors`  **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3099).

<br>

## ✅ Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed background knowledge. Som

[2022-06-12 01:47] BethanyG commented on #2365
Closed in favor of #3099 and #3100.

[2022-06-12 01:47] #2365 closed

[2022-06-12 02:01] BethanyG opened #3101 "[New Concept Docs]: Class Composition in Python"
This issue describes how to implement the `class-composition` **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3102)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the docs before start

[2022-06-12 02:08] BethanyG opened #3102 "[New Concept Exercise]: Class Composition in Python"
This issue describes how to implement  the  `class-composition` **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3101).

<br>

## ✅ Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed background knowledge

[2022-06-12 02:10] BethanyG commented on #2352
Closing in favor of #3101 and #3102.

[2022-06-12 02:10] #2352 closed

[2022-06-13 11:30] bobahop commented on #3053
This is addressed by the WIP PR #3059

[2022-06-13 17:12] #3084 closed

[2022-06-13 17:59] BethanyG opened #3103 "[New Concept Docs]: Higher Order Functions"
This issue describes how to implement the `higher-order functions` in Python  **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3104)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the d

[2022-06-13 18:07] BethanyG opened #3104 "[New Concept Exercise]: Higher Order Functions in Python"
This issue describes how to implement  the  `higher-order functions` **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3103).

<br>

## ✅ Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed background know

[2022-06-13 18:08] BethanyG commented on #2355
Closing in favor of #3103 and #3104

[2022-06-13 18:08] #2355 closed

[2022-06-13 18:29] BethanyG opened #3105 "[New Concept Docs]: Anonymous Functions (lambdas) in Python"
This issue describes how to implement the `anonymous functions (lambdas)` in Python  **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3106)
There was some previous discussion in the old concept exercise issue, which you can find [here](https://github.com/exercism/python/issues/2357).

If you have not yet contributed to concept d

[2022-06-13 18:53] BethanyG opened #3106 "[New Concept Exercise]: Anonymous Functions (lambdas) in Python"
This issue describes how to implement  the  `anonymous functions (lambdas)` in Python  **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3105).

In addition, there was some previous discussion in the old concept exercise issue which you can find [here](https://github.com/exercism/python/issues/2357) and

[2022-06-13 18:54] BethanyG commented on #2357
Closed in favor of #3105 & #3106.

[2022-06-13 18:54] #2357 closed

[2022-06-13 19:15] BethanyG opened #3107 "[New Concept Docs]: Functional Tools in Python"
This issue describes how to implement the `functional tools` in Python  **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3108)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the docs be

[2022-06-13 19:33] BethanyG opened #3108 "[New Concept Exercise]: Functional Tools in Python"
This issue describes how to implement  the   `functional tools` in Python  **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3107).

<br>

## ✅ Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed backgroun

[2022-06-13 19:34] BethanyG commented on #2359
Closing in favor of #3107  and #3108.

[2022-06-13 19:34] #2359 closed

[2022-06-13 20:11] BethanyG opened #3109 "[New Concept Docs]: Dataclasses in Python"
This issue describes how to implement the `dataclasses` in Python  **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3110)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read the docs before

[2022-06-13 20:24] BethanyG opened #3110 "[New Concept Exercise]: Dataclasses in Python"
This issue describes how to implement  the `dataclasses` **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3109).

Additionally, the old concept exercise issue had some discussion attached to it and this concept exercise has been reduced in scope to only `dataclasses` as a result.  You can find the old i

[2022-06-13 20:26] BethanyG commented on #2361
Closing in favor of the split up #3109  and #3110.

[2022-06-13 20:26] #2361 closed

[2022-06-14 03:17] BethanyG opened #3111 "[New Concept Docs]: Unpacking & Multiple Assignment in Python"
This issue describes how to implement the `unpacking` and `multiple assignment`  **concept docs**.
You can find the related **concept exercise** issue [here](https://github.com/exercism/python/issues/3112)

If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.

## ✅   Getting started

**`Please please read th

[2022-06-14 03:27] BethanyG opened #3112 "[New Concept Exercise]: Unpacking and Multiple Assignment in Python"
This issue describes how to implement  the `unpacking` and `multiple assignment`  **concept exercise** for the Python track.
The related **concept documents issue** can be found [here](https://github.com/exercism/python/issues/3111).

<br>

## ✅ Getting started

_If you have not yet created or contributed to a concept exercise, this issue will require some upfront reading to give you the needed ba

[2022-06-14 03:29] BethanyG commented on #2360
Closing in favor of the split-up and re-written #3111  & #3112

[2022-06-14 03:29] #2360 closed

[2022-06-14 12:47] tamireinhorn opened #3114 "[Sattelite] Insufficient tests"
This exercise presents an interesting challenge, specially after solving Binary Search Trees. However, for some reason, its trees do not use numerical values, and even the letter values do not seem to follow the usual alphabetical logic as far as I can see. Coupling that with the fact that of the 7 tests, only 2 are not exception verifications, I think the exercise could have more tests, derived f

[2022-06-14 17:05] BethanyG commented on #2354
Since the concept for this is written an merged, and @asheeeshh has expressed interest in continuing with the concept exercise, I am going to re-assign them.  😄

[2022-06-14 18:40] BethanyG commented on #3114
Hi @tamireinhorn,

That is correct -- you will want to update the `canonical-data.json` for the exercise.  😄

You can find the specifications for the file under the [README -- Test Data](https://github.com/exercism/problem-specifications#test-data-canonical-datajson).  Any [valid UUID(v4)](https://en.wikipedia.org/wiki/Universally_unique_identifier) will work.  I often use this web-based [UUID Gen

[2022-06-15 00:30] tamireinhorn commented on #3114
Here's the [PR](https://github.com/exercism/problem-specifications/pull/2058)

[2022-06-16 14:32] #2356 closed

[2022-06-16 15:02] bobahop opened #3118 "[Improve Concept Docs]: TRACEBACKS - Add PDB section"
If you have not yet contributed to concept documents, this issue will require some upfront reading to give you the needed background knowledge.  Additionally, we recommend reading the existing `about.md` docs [here](https://github.com/exercism/python/blob/main/concepts/functools/about.md), and an example of completed concept docs [here](https://github.com/exercism/python/tree/main/concepts/classes

[2022-06-16 15:05] BethanyG opened #3119 "[New Concept Exercise]: Decorators"
This issue describes how to implement  the  `Decorators` **concept exercise** for the Python track.
This has been re-worked from an older concept exercise issue, which can be found [here](https://github.com/exercism/python/issues/2356).
The related **about.md** can be found [here](https://github.com/exercism/python/blob/main/concepts/decorators/about.md).
The `links.json`, `introduction.md` and me

[2022-06-16 15:11] bobahop commented on #2353
@BethanyG  Any idea for what you want to see for the exercise here? Any analogous exercise you might want transcribed from another track? I can start looking at the tracks I'm familiar with. Nothing comes to mind right now.

[2022-06-16 15:12] BethanyG commented on #3118
@bobahop, please add the [appropriate tags](https://exercism.org/docs/building/product/tasks), so that this issue gets listed on the website.  It might also be helpful to add a **getting started** section, so that contributors have links to docs.   An example of that is [here](https://github.com/exercism/python/issues/3098) .  Thanks!

[2022-06-16 15:31] BethanyG opened #3120 "[Improve Concept Docs]: Decorators"
This issue describes desired additions and improvements to the `decorators` module **concept docs.**.
The completed portion of this concept can be found [here](https://github.com/exercism/python/blob/main/concepts/decorators/about.md).
The related **concept exercise** issue and specs can be found [here](https://github.com/exercism/python/issues/3119).

<br>

If you have not yet contributed to conc

[2022-06-16 16:00] BethanyG commented on #2353
@bobahop there are a few things to note here:

1.   This issue has very outdated links and descriptions and it also pings the attached users every time we make a comment, so I think its best if we close it in favor of a new issue using the new template.  I will do that shortly.

2. I have a strong preference for original stories/exercises, unless the port/concept is an almost 1-to-1, as was the ca

[2022-06-16 16:16] BethanyG opened #3121 "[New Concept Exercise]: Functions in Python"
This issue describes how to implement  the  `functions` **concept exercise** for the Python track.
There is an outdated issue for this exercise with some discussion.  It can be found [here](https://github.com/exercism/python/issues/2353)
The related **concept documents** can be found [here](https://github.com/exercism/python/tree/main/concepts/functions).

<br>

## ✅ Getting started

_If you have

[2022-06-16 16:21] BethanyG commented on #3121
**Comments for discussion ported from original issue:**

@BethanyG  Any idea for what you want to see for the exercise here? Any analogous exercise you might want transcribed from another track? I can start looking at the tracks I'm familiar with. Nothing comes to mind right now.

_Originally posted by @bobahop in https://github.com/exercism/python/issues/2353#issuecomment-1157775990_

-----------

[2022-06-16 16:22] BethanyG commented on #2353
Closing this in favor of #3121

[2022-06-16 16:22] #2353 closed

[2022-06-16 20:51] BethanyG commented on #3121
So this wouldn't be a port of the tasks, but if you like the `lasagna` story, [`lasagna master`](https://github.com/exercism/go/tree/main/exercises/concept/lasagna-master/.docs) from **go** could be used and the tasks replaced/adapted/added to.

[Secrets](https://github.com/exercism/elixir/blob/main/exercises/concept/secrets/.docs/instructions.md) on the **Elixir** track looks like it has a good s

[2022-06-16 21:05] bobahop commented on #3121
Sound like many promising leads. I'm a bit remiss on researching the tracks, as I'm also slowly slogging through crafting interpreters. Very slowly.

[2022-06-16 21:07] bobahop commented on #3121
I like the dystopian DMV idea... a lot.

[2022-06-16 21:35] BethanyG commented on #3121
Creating an "Adventures at the DMV" story would have the added benefit of carrying a story credit (_and a legendary badge_).  😉

**Inspiration**:  https://www.youtube.com/watch?v=ONFj7AYgbko.  You could even borrow (with credit) the premise from Zootopia - the DMV is populated by Sloths, and any mistake not only sends you to a new line...but then you have to deal with the Sloths.

Might need some

[2022-06-16 23:12] bobahop commented on #3121
I think I'll start to work up some files tomorrow. And you're getting author credit, too, since it's your story idea.

What do you think of the title "Della's Delays at the DMV"?

[2022-06-16 23:17] BethanyG commented on #3121
"Della's Delays at the DMV"  is _**great**_.  A personal ambition of mine is to have as many alliterative concept exercise titles as possible.

[2022-06-17 14:17] bobahop commented on #3121
I just looked over the learning objectives and concepts and I winced a bit at `global` and `nonlocal`. Is it okay to include them in a way that shows how they can be problematical? Or should we leave them just in the about.md and not give the student experience in them as if they are something encouraged to be done?

[2022-06-17 20:36] BethanyG commented on #3121
Apologies.  Had some things to take care of this afternoon, so am late with replying to things.

I think for the _exercise_, it's important to provide students the opportunity to practice using both `global` and `nonlocal` in an appropriate or "safe" fashion (_heavy guardrails_).  It doesn't have to be elaborate, and it doesn't have to be much more than a basic mimic (_I am thinking of something s

[2022-06-18 17:52] asheeeshh commented on #2354
update: I have my exams on 25th of june so I'll start working on this issue again from 26th hopefully :)

[2022-06-29 12:12] shjustinzhang opened #3129 "Python permissionerror: [Errno 13] Permission denied"
Hi Guys, I have a question, although I have already get it fixed, but I don't know why, I hope your guys can get the bottom of that.

The case is as long as I move under path "c:/", I will get permission denied, and I get into "c:/Users/juntizha/Python example" to run the script, don't have issue, do you know why ?

OS Env : Win 10
python : 3.10.2

PS C:\Users> & C:/Users/juntizha/AppData/Local/Pr

[2022-06-29 15:21] BethanyG commented on #3129
Hi @shjustinzhang 👋🏽

This repo is for the Python track content of exercism.org.  Your question appears to be related to more general Windows / Python permission problem or configuration problem on your machine and is out of scope for this repo.  Consequently, I will be closing it.

That being said, based on the paths you have posted, your issue could be related to one or more of the following:

1

[2022-06-29 15:23] #3129 closed

[2022-06-30 07:55] shjustinzhang commented on #3129
Thank you.

Yeah, my bad, I install python 3.7 and python 3.10, on this script, I need to use python 3.7, sorry for the wrong information about python version.

Your script (or Python) may not have all the appropriate permissions to write to logging, execution, or configuration directories. That can cause permissions errors. This [stack overflow](https://stackoverflow.com/questions/66596574/the-er

[2022-07-03 04:12] BethanyG commented on #3098
@Metallifax -

Evidently, the bot is _anxious_   🙄   Will fix that up tomorrow my time. Apologies for the ping.

[2022-07-03 04:12] BethanyG commented on #3097
_naughty bot!_

[2022-07-05 06:07] shjustinzhang opened #3130 "When one main_py file call sub_py file, which will occure Failure OSError: [Errno 22] Invalid argument"
---------------tt_main.py---------------------------

import os
import csv
import sys,re

def test():
      # os.popen(r"python37 C://Users/juntizha/Project/AVFS/tt_sub.py","r")
      os.popen(r"python C://Users//juntizha//Project//AVFS//tt_sub.py","r")

if True:
      test()

---------------tt_sub.py---------------------------
import os
import csv
import sys,re

print('AA')

Failure output

PS C:

[2022-07-05 06:35] Aliwahid17 opened #3131 "how to contribute"
I'm new in the programming world and I want to contribute some new questions.

How can I do that? please guide

[2022-07-05 16:31] bobahop commented on #3053
Awaiting review of #3059.

[2022-07-05 16:48] #3130 closed

[2022-07-05 16:54] Crucibl opened #3132 "[Ghost Gobble Arcade Game]: Stub Notes are Confusing"
Should be mentions of "If Else statements in the readme because the Boolean expressions are a red herring. You cannot solve anything by setting the value to true or false.

[2022-07-05 17:15] BethanyG commented on #3132
Hi @Crucibl 👋🏽

Thanks for filing this issue.  You are, however mistaken.  It is quite possible to solve the `Ghost Gobble Arcade Game` without the use of conditionals.  Please see the [exemplar solution](https://github.com/exercism/python/blob/main/exercises/concept/ghost-gobble-arcade-game/.meta/exemplar.py) here in the repo for more details.

We worked very hard to ensure that the `bools` exerc

[2022-07-05 17:26] Crucibl commented on #3132
Yes so this says to return a Boolean

 """Verify that Pac-Man can eat a ghost if he is empowered by a power pellet.
    :param power_pellet_active: bool - does the player have an active power pellet?
    :param touching_ghost: bool - is the player touching a ghost?
    :return: bool - can the ghost be eaten?
    """

[2022-07-05 17:26] Crucibl commented on #3132
And you dont return a boolean, you simply return the parameters

[2022-07-05 18:02] BethanyG commented on #3132
@Crucibl - I believe you are misunderstanding the code.  Please take a look at this Real Python article [Python Booleans](https://realpython.com/python-boolean/#python-booleans-as-keywords) for more information.  It is not the **_parameters_** that are important in the `return` statement, it is the use of `or`, `and`, `not`.

The evaluation of those Boolean Operators results in `True` and `False`.

[2022-07-05 18:10] Crucibl commented on #3132
I completely misunderstand because of the way it is written

[2022-07-05 18:10] Crucibl commented on #3132
Would be better to write the parameters (has_eaten_all_dots, power_pellet_active, touching_ghost) are boolean values that need to be evaluated

[2022-07-05 18:14] Crucibl commented on #3132
"""Evaluate that Pac-Man can eat a ghost if he is empowered by a power pellet by returning the parameters
touching_ghost and  power_pellet_active: bool - does the player have an active power pellet?- is the player touching a ghost?
"""

[2022-07-05 18:14] Crucibl commented on #3132
"""Evaluate that Pac-Man can eat a ghost if he is empowered by a power pellet by returning the parameters
touching_ghost and power_pellet_active: which are already set to a bool in the test file - does the player have an active power pellet?- is the player touching a ghost?
"""

[2022-07-05 19:51] Crucibl commented on #3132
Did they complete the exercise by looking at prior solutions before answering? How can you read this and not be confused

[2022-07-05 19:51] Crucibl commented on #3132
Stub notes or readme. Anything to clarify what is being asked

[2022-07-05 19:54] Crucibl commented on #3132
The docstrings and Readme lead me to believe that I must set something to true or false. So when I read. Verify that Pac-Man can eat a ghost if he is empowered by a power pellet. :param power_pellet_active: bool - does the player have an active power pellet? :param touching_ghost: bool - is the player touching a ghost? :return: bool - can the ghost be eaten? I first think set parameter power_pelle

[2022-07-06 12:01] Crucibl commented on #3132
"We also risk confusing people more by adding more words."
Im not trying to add more words. Im trying to optimize the wording for intellectually challenged people like myself who dont realize the variables are already defined in the test files

[2022-07-06 12:04] Crucibl commented on #3132
Then maybe 12,000 people can solve the puzzle not 6300

[2022-07-06 12:07] Crucibl commented on #3132
1008202
members have earned this badge for joining Exercism. but only 294540
members have earned this badge. for submitting an exercise. So out of 100 users only 36 or 37 actually submit an exercise. Why do more than 60 people out of every 100 not submit an exercise?

[2022-07-06 12:08] Crucibl commented on #3132
More than half the people join and quit

[2022-07-06 12:09] Crucibl commented on #3132
Surely we can improve

[2022-07-06 12:14] Crucibl commented on #3132
There are 194,498 students in the Python track and only 6300 have been able to solve the 3rd exercise

[2022-07-06 13:37] BethanyG commented on #3132
@Crucibl  - my reasons are mentioned in my [comment above](https://github.com/exercism/python/issues/3132#issuecomment-1175416070), and I don't think going back and forth as if this is a chat window is helpful.  We'll think about your feedback and consider changing the wording, **but it's not going to happen right now.**  We need to gather feedback from other users/mentors and maintainers on if th

[2022-07-06 13:37] velaco commented on #3120
Hi @BethanyG
I would like to be assigned to help out with this task if it hasn't been taken already 🙂

[2022-07-06 13:43] BethanyG commented on #3120
@velaco  - _Happy to have you do it!_  🎉

FYI - if after going over the `about.md` doc you have improvements or changes you think are needed, please feel free to make them - none of it is set in stone.

Give a shout if you have any questions or issues.

[2022-07-07 01:24] shjustinzhang commented on #3130
Gotcha, sorry for inconvenience.

[2022-07-07 15:19] krion7 opened #3134 "[Triangle]: Bug that allows faulty solutions to be accepted"
Hello Exercism team, thank you for your continuous work and contributions on the website!

FYI, I am a beginner to Python (only 16.8% completion on the Python track) and brand new to GitHub, so please excuse me if I make any mistakes on this issue.

I would like to inform you about a bug I encountered on the Triangle exercise in Python, more specifically at the scalene part. Say, we've got a code

[2022-07-07 19:50] BethanyG commented on #3134
Hi @krion7 👋🏽

Thanks for filing this issue!

And that is indeed what I am going to suggest to you.  😄   The `Triangle` practice exercise (_and its associated tests_) for this track is actually pulled from a cross-track [problems specifications](https://github.com/exercism/problem-specifications) repo.  The Python track auto-generates the details based on the canonical data there.  So I would reco

[2022-07-08 14:12] velaco commented on #3120
Hi @BethanyG
Any chance you can give me permission to push a local dev branch, or do I need to fork the repo and create a PR from there?

[2022-07-08 14:37] Aliwahid17 commented on #3131
thanks

[2022-07-08 14:37] #3131 closed

[2022-07-09 11:02] joemichalak opened #3136 "[Transpose] - unittesting code error"
I am working on the python Transpose exercise and it appears that there is an issue with the unittest setup.

For the code block:
`lines = ["Single line."]
expected = ["S", "i", "n", "g", "l", "e", " ", "l", "i", "n", "e", "."]
self.assertEqual(transpose("\n".join(lines)), "\n".join(expected))`

My code is returning the value assigned to expected. But I believe that 'self.assertEqual transpose("\n

[2022-07-11 13:42] BethanyG commented on #3134
Closing the issue here in the Python repo, as the issue has bee raised cross-track in problem specifications.

[2022-07-11 13:42] #3134 closed

[2022-07-11 15:10] velaco commented on #3119
Hi @BethanyG 👋

I would like to give this issue a try now. I never worked on exercises before, so might take a while though 😅

[2022-07-11 20:04] BethanyG commented on #3119
Hi @velaco 👋🏽 !

We would be delighted to have you work on this. 😄   Don't worry about taking a while - I've written several exercises, and they always take time to get through.  Just ping if you need help, or have any questions.  In particular, the tests might be complex for this exercise, and we may also want to discuss analyzer scenarios and comments.

During the writing of the concept `about.m

[2022-07-11 23:17] BethanyG commented on #3136
Hi @joemichalak 👋🏽

Thanks for submitting this issue.  There are two things that might be very confusing about the way these unit tests are written:

1.  The tests are indeed passing a `str` to the function under test..but it's not entirely obvious that they are doing so.  The test data for this exercise is pulled from a common repo, [problem-specifications](https://github.com/exercism/problem-spe

[2022-07-12 20:22] velaco commented on #3119
Hi @BethanyG
Well, if you can suggest any resources that help you come up with exercise ideas, other than the existing concept exercises, I'd love to hear them 🙂

We can discuss how many exercises we need and what to cover, that would be nice. I can ping you about that when I get some idea what kind of exercises will work for this concept.

[2022-07-13 05:53] joemichalak commented on #3136
Hi @BethanyG ,

I see what's happening now, and you're completely correct. Thank you very much for the very insightful answer!

[2022-07-13 05:53] #3136 closed

[2022-07-13 16:10] BethanyG commented on #3120
Closing this as resolved now that #3135 has been merged.

@velaco  -- thank you very much for working on this!  🎉

[2022-07-13 16:10] #3120 closed

[2022-07-14 09:28] OndrejMarsalek opened #3141 "[List Ops]: Potential mismatch between instructions and tests"
The instructions for `append` say "given two lists, add all items in the second list to the end of the first list". Although I understand someone could read it the other way, to me, a strict reading of this is that the first list should be modified. The tests do not guard against constructing a third list that contains items from both inputs, and people will commonly solve this with `return list1

[2022-07-14 15:18] dfreeman500 opened #3142 "[List Ops]: def concat(lists) possible test error"
Hello,
I'm a relative newbie so hopefully I'm not adding more work.

In the Python List Ops project 'list_ops.py',

def concat(lists): is supposed to "(given a series of lists, combine all items in all lists into one **flattened** list)".

On line 36 in the test file the expected result does not appear to be a flattened list:
`    def test_concat_list_of_nested_lists(self):
        self.assertEqua

[2022-07-14 17:23] IsaacG commented on #3142
The prose might benefit from some rewording but this is an intro to lists exercise. There's an [explicit and specific exercise for list flattening](https://github.com/exercism/python/tree/main/exercises/practice/flatten-array) which is distinct from this exercise.

[2022-07-14 18:18] BethanyG commented on #3142
Hi @dfreeman500 👋🏽

Thanks for filing this issue.

We pull the test cases for practice exercises from a common repo, [problem specifications](https://github.com/exercism/problem-specifications) and use a test-case generator here on the Python track to turn the canonical data for a given exercise into python unittest/pytest test cases.

[Here](https://github.com/exercism/problem-specifications/blob

[2022-07-20 01:20] bobahop commented on #3132
Adding my feedback as a student, mentor, and maintainer... (sorry for the late response, I haven't checked issues for a while)

That is more vague than the actual instructions. The instructions specify

What is being set is the function's return value. It's not simply a matter of returning the parameters. It's a matter of how they are joined in the returned expression.

`    return power_pellet_ac

[2022-07-21 23:44] BethanyG commented on #3098
@Metallifax  -- Checking in here .. do you still want to work on this?  Anything I can do to help?

[2022-07-21 23:45] BethanyG commented on #3097
@Metallifax -- Just pining here...are you still interested in working on this?

[2022-07-22 00:17] BethanyG commented on #3078
Hey @PaulT89  - apologies for the long rumination on this.  Things got busy, and I also needed time to really think on it.  I am still not totally convinced that this problem is terribly useful on the Python track, but as you've said:

So given that, I am willing to have you give reconstituting it a go.  Having an additional practice problem can't hurt.  But let's give it a really good once-over,

[2022-07-22 00:20] BethanyG commented on #3023
Closing, given that there has not been significant feedback or critique of the re-org.  Will re-open (or log new issue) should leveling and ordering of exercises come up again as a problem.

[2022-07-22 00:20] #3023 closed

[2022-07-22 00:26] BethanyG commented on #2656
@MatthijsBlom @AdamJel  -- It's now July, and Python 3.11 is in `beta`.  Time flies!

I think we might be ready to take the plunge and start upgrading our tooling to 3.10.  This (mostly) means testing the tooling, CI, and exercises to make sure everything works with 3.10 and doesn't explode.  The CI for the Python track in particular might need a good looking over.  Would either of you still be in

[2022-07-22 00:27] BethanyG commented on #2656
Once I hear back, we can put together a checklist of what needs to happen and log a tracking issue either here or in the tooling repos.

[2022-07-22 00:29] BethanyG commented on #2354
@asrvd  - just checking in -- are you still interested in working on this?  Just let me know...thanks!

[2022-07-22 12:16] MatthijsBlom commented on #2656
Sure, I'm in.

[2022-07-22 12:27] bobahop opened #3145 "[Docs] [Test Driven Development] Links not parsing correctly"
An edit seems to have broken the parsing of links.

[2022-07-22 12:39] bobahop commented on #3145
Addressed by #3146

[2022-07-22 15:11] PaulT89 commented on #3078
I'll get on that in a day or two - IRL craziness going on for me right now.  I've already done most of the work, but it was a while ago and I'll need to recheck everything (for my own peace of mind, if nothing else).

[2022-07-22 15:53] unfirthman opened #3147 "[Card Games]: Missing period in `/.docs/introduction.md`"
The final sentence of the first paragraph appears to be missing a period. This is a super small thing, but I am super new to github and would like the practice!

Happy to take this on if that's alright.

[2022-07-22 18:37] #3145 closed

[2022-07-22 20:27] BethanyG commented on #3147
Hi @unfirthman 👋🏽

We love that you want to practice (_and no PR is too small_ 😄 ).  There are a few ways you can go about this:

1.  Right here in the Git Hub webpage/interface.  If you navigate to the file in the UI, you can click on the edit button (highlighted below), and can edit the markdown directly.  Git Hub will make a special "patch branch" (see second image) that you can then title, com

[2022-07-22 21:54] unfirthman commented on #3147
Sounds great. Thanks @BethanyG ! I will go through these other documents and add them to my PR if I find any spelling or grammar improvements.

[2022-07-23 23:09] MultiP-Dev opened #3149 "[Ghost Gobble Arcade Game]: Wrong param docstring description."
Looking at the instructions and the parameter name itself, it looks like the docstring for the param touching_power_pellet on the score() function should be changed to "is the player touching a power pellet?" instead of "does the player have an active power pellet?"

I initially opened a pull request to fix this issue but I soon realized any change that is not typo fixing should be discussed first

[2022-07-24 11:46] BethanyG commented on #3149
Hi @MultiP-Dev 👋🏽

Thank you for filing this issue!  I saw your PR yesterday fly by in my notifications, but did not have time to answer until now.
You're right - the parameter name for `score()` in the stub is inconsistent with the question in the docstring.  We'd be happy if you'd PR the change.  😄  I think you might be able to re-open your closed PR from yesterday, if that makes things easier.

[2022-07-24 12:34] BethanyG commented on #3119
Hi @velaco -- sincere apologies for the delay in getting back to you.  I've been swamped.  Let me do a little thinking, and see what I can come up with within the next couple of days.  I'll post some things here as I go.

Thank you for your patience.  😄   Hopefully, we can come up with a great exercise together.

[2022-07-24 14:01] MultiP-Dev commented on #3149
Thanks a lot for your thorough and friendly reply :)! I've created a new PR since I had deleted the fork previously. Looking at the related documents you mentioned, I've found a small typo and incorporated that into the PR also.
Happy to contribute!

[2022-07-24 21:41] velaco commented on #3119
Hi @BethanyG

No worries, this week I had to put this issue on the back-burner unfortunately, so no progress at all :(
Next week should be a bit slower, so I will also look into some ideas for the exercise.

Looking forward to hearing what you come up with 😄

[2022-07-27 02:28] BethanyG commented on #3053
Closing, as #3059 has been merged.

[2022-07-27 02:28] #3053 closed

[2022-07-27 16:02] BethanyG commented on #3054
Closing, since #3059 has been merged.

[2022-07-27 16:02] #3054 closed

[2022-07-27 16:03] BethanyG commented on #3149
Closing now that #3151 has been merged.  Thank you for your contribution, @MultiP-Dev!

[2022-07-27 16:03] #3149 closed

[2022-07-27 16:05] BethanyG commented on #3147
Closing now that #3152 has been merged.  Thank you for your contribution, @unfirthman!

[2022-07-27 16:05] #3147 closed

[2022-07-27 16:07] BethanyG commented on #3142
Closing this for now, since the issue lies in problem specifications.  Can re-open if an instruction append on the track is needed.

[2022-07-27 16:07] #3142 closed

[2022-07-27 16:11] BethanyG commented on #3132
Closing this for now, as we've had no additional complaints.  Will re-open if the issue comes up again from additional students or mentors.

[2022-07-27 16:11] #3132 closed

[2022-07-27 16:13] BethanyG commented on #3114
My apologies @tamireinhorn - I've been really swamped.  As soon as I get time to go back through the exercise, I will go ahead and add my review for your proposed changes.  Please bear with me.  😄

[2022-07-28 09:06] tamireinhorn commented on #3114
No worries, thanks for the update!

On Wed, Jul 27, 2022 at 7:13 PM BethanyG ***@***.***> wrote:

[2022-08-06 16:02] scmbradley opened #3154 "[List Ops]: clarity about what operations we are permitted to use"
The instructions ask us to implement `map`, `filter` etc "without using existing functions.". But what does that mean? For example, `append` can simply be `return list1+list2` but that seems like cheating, and not in the spirit of the exercise. But which resources are we permitted to draw on and which not? It's not very clear what counts as a reasonable solution and what solutions are just cheatin

[2022-08-06 17:19] bobahop commented on #3154
It means to implement them without using the built-in functions. Those functions are described [here](https://book.pythontips.com/en/latest/map_filter.html). Other than that, use what makes sense to you. If the solution passes all the tests, and you'd like feedback, you can request mentoring.

[2022-08-06 17:30] bobahop commented on #3154
Of course, you may use other built-in functions: just not the ones that are essentially equivalent. For instance, "how would I get the length if the `len()` function were not available to me?" That would involve using a function other than `len()`; most likely something that would count up the elements of whatever you're getting the length of.

[2022-08-07 09:23] scmbradley commented on #3154
Thanks for the replies, but I think there still needs to be more clarity on what we can and can't use. For example, `append`can be implemented just with `list1+list2`: is that permitted? `reverse`is just `input_list[::-1]`is that OK? Are we allowed to use `range`? What about list methods like `append`? What about list comprehension? That makes some of the functions trivial to implement...

There's

[2022-08-07 12:33] bobahop commented on #3154
Thank you for the level of conscientiousness you're bringing to this.

What is "allowed" is real constrained by only two things.

What passes the tests is what is "allowed" by Exercism.

What level of challenge to accept is what is "allowed" by yourself.

So, even if `map` and `filter` were used here, Exercism would "allow" it.

But if you feel you don't learn enough by doing that, then try to fig

[2022-08-07 14:29] scmbradley commented on #3154
Happy to give something back, I've learned a lot from exercism.

I think the point about setting your own level of challenge is a helpful one, and perhaps we should say something like that in the instructions.

I think the issue is that python is a very expressive language, and this exercise is actually very easy if you can use python's slicing and list comprehension constructs. Perhaps the instru

[2022-08-07 15:24] bobahop commented on #3154
Setting one's one level of challenge  applies to all exercises, so a place to make that more clear may be in the [Getting Started](https://exercism.org/docs/using/getting-started) doc for Exercism.

An issue with suggesting specific functions to solve an exercise is that Exercism doesn't want to give away a solution. It is up to the student to explore what approaches are available and to implement

[2022-08-08 15:18] BethanyG commented on #3121
While stale, this issue should remain open.

[2022-08-10 06:51] BethanyG commented on #3154
Hi @scmbradley 👋🏽

Just chiming in here to say that since we've re-ordered the track, we have had a few questions on this particular exercise.  See #3142, #3141, and the related #[2078](https://github.com/exercism/problem-specifications/issues/2078) in  problem-specifications.  It is probably due for a little going over/revising.

As discussed in #2078, there are several avenues we could take in c

[2022-08-10 07:21] BethanyG opened #3156 "[List Ops]: Review/Improve Exercise"
This is a tracking issue for reviewing and improving the `List Ops` practice exercise for Python.

Please see issues #3142,  #3141 (with the related #[2078](https://github.com/exercism/problem-specifications/issues/2078) in problem-specifications), and #3154 for details and discussion on some explanations/clarity that's needed.

In particular, there are the following issues:

1.  `concat` instruct

[2022-08-10 07:23] BethanyG commented on #3141
Closing to track under #3156.  Please give a shout if you'd like to work on the issue.

[2022-08-10 07:23] #3141 closed

[2022-08-10 13:50] pranasziaukas opened #3157 "[Currency Exchange] Inconsistent change value type (`float`/`int`)"
Exchanged value is of type `float`:

https://github.com/exercism/python/blob/48e47c1f6af8050e135747461085d713a3231164/exercises/concept/currency-exchange/exchange.py#L6

Remaining value is of type `float` as well:

https://github.com/exercism/python/blob/48e47c1f6af8050e135747461085d713a3231164/exercises/concept/currency-exchange/exchange.py#L17

Value exchangeable in bills of a certain denominati

[2022-08-10 20:53] BethanyG commented on #3157
Hi @pranasziaukas 👋🏽

Welcome back.  😄

I'm very happy to discus you reworking this exercise - I like the changes you propose above, and I think more practice with the modulo operator would also be good.

As you can see from the discussions in #2951 , and the additional issues linked within -- we've had some issues with `currency exchange` and the general `numbers` concept.  We've been contemplati

[2022-08-10 20:58] BethanyG commented on #3157
Also just putting this here for reference, so we have a link to how the Python docs talk about numeric types: https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

[2022-08-12 02:18] asrvd commented on #2354
hey @BethanyG sorry for the late response, i'm still on it, will try to finish this by the end of month, would need a lot of help on the PRs though

[2022-08-13 21:33] KaiAragaki opened #3159 "[Improve Concept Docs] Rules for Using Underscores in PEP 515"
The [Numbers](https://exercism.org/tracks/python/concepts/numbers) concept tutorial states:

However, [PEP 515](https://peps.python.org/pep-0515/#underscore-placement-rules), from which the concept tutorial references, is in my interpretation stating _general trends among other languages_, rather than syntax allowed in Python. Python (at least 3.8.5) appears to follow the first bullets rules - onl

[2022-08-14 02:06] #2656 closed

[2022-08-14 02:33] BethanyG commented on #2656
@MatthijsBlom  - we went ahead and bit the bullet, but would LOVE more testing/attention on Python `3.10.6` - specific features, so if you'd like to go to town on your favorite practice or concept exercise using `3.10.6` features and report any weird things you see, that would be much appreciated!  😄

[2022-08-14 11:17] MatthijsBlom commented on #2656
The solution I suspect brought this issue to my attention [is now accepted](https://exercism.org/tracks/python/exercises/tournament/solutions/MatthijsBlom). I remember trying to use [PEP 618](https://peps.python.org/pep-0618/)'s optional length-checking in `zip`, and even wishing for its extension to `map`, but I cannot find the relevant exercises now. Not sure what else there is to test.

[2022-08-14 16:15] BethanyG commented on #3159
Hi @KaiAragaki 👋🏽

Thanks so much for filing this issue, and catching that problem!  Would you be willing to submit a PR to correct it?  I'd be happy to help you walk through the process if needed.  😄

Since exercises are comprised of multiple files, there are several places we'd want to double check the reference/wording:

1.  The _concept_ (numbers) [introduction.md](https://github.com/exercism/

[2022-08-14 16:59] KaiAragaki commented on #3159
Thank you @BethanyG! PR #3160 should close this issue. Let me know if anything is amiss!

[2022-08-16 04:36] BethanyG commented on #3159
Closed via #3160

[2022-08-16 04:36] #3159 closed

[2022-08-16 04:37] BethanyG commented on #3154
@scmbradley  - closing this in favor of the tracking issue.  Please comment there if you would like to work on it and submit a PR.  Many thanks for filing this!

[2022-08-16 04:37] #3154 closed

[2022-08-17 16:15] Ollie-Judge opened #3161 "[Guido's Gorgeous Lasagna]: Unable to Complete the Final Task (adding comments) for Python"
i have 5 parts to the question and on the last part its asking me for adding comments, which i have done, i know the answers to the questions are right and ive checked the whole code area for pep8 and pep 20 compliance and cant seem to get the success message, so, i cant help but feel that this is a bug

[2022-08-17 20:59] BethanyG commented on #3161
Hi @Ollie-Judge 👋🏽

Thanks for filing this issue.  If you don't mind, could you add in the code that you were testing & a screenshot of the test results you are getting in the UI?

Although this exercise has not changed recently, there may indeed be an issue with the tests --  but I need to see your solution to test that hypothesis out /be sure it's a bug.

Many thanks in advance 🌟

[2022-08-17 21:36] BethanyG commented on #2951
Bad Bot!  Stop marking this abandoned.

[2022-08-18 08:10] Ollie-Judge commented on #3161
here are the screenshots that i took, the error.png file should show the code and the error-messages.png file should show the error messages

![error](https://user-images.githubusercontent.com/78495702/185344118-3d9ce155-a2d2-4e81-93b4-c3d5c5f1f7a0.png)
![error-messages](https://user-images.githubusercontent.com/78495702/185344120-28ef91cf-26f7-4c3a-9e2d-46caeee8ea0f.png)

[2022-08-20 00:18] bobahop commented on #3161
It would be helpful if the code for the failing task were pasted into a comment as text. More than a dozen solutions have been successfully published within the last 24 hours, so to be able to look at the code  and run it would be helpful. The screenshot of the code isn't the best suited for that. Thanks!

[2022-08-20 00:22] bobahop commented on #3161
Scratch that. I think the problem is a missing docstring that's expected.

[2022-08-20 00:23] bobahop commented on #3161
Some resources for how to write docstrings can be found [here](https://www.programiz.com/python-programming/docstrings) and [here](https://www.geeksforgeeks.org/python-docstrings/).

It's good to know [the distinctions between comments and docstrings](https://www.pythonforbeginners.com/comments/difference-between-comments-and-docstrings-in-python).

[2022-08-20 00:25] bobahop commented on #3161
Actually, it's not that the docstring is missing so much as it's located in the wrong place. Underneath the code instead of just below the function declaration.

[2022-08-20 08:19] BethanyG commented on #3161
@bobahop - A couple of things to note here:

1.  It's always best to link to the [Python Documentation](https://docs.python.org/3/index.html) or relevant [PEPs](https://peps.python.org/pep-0000/) when talking about standards. Both of the resources you've linked for writing docstrings are somewhat incorrect.  While triple single quotes will indeed work with the Python interpreter, [PEP257](https://

[2022-08-20 08:25] BethanyG commented on #3157
@pranasziaukas  - just checking in - are you still interested in making a PR for this?  If not, I can add your comments to the tracking issue we have for reworking this exercise.  Just let me know.  Thanks!

[2022-08-21 16:53] KaiAragaki opened #3163 "[Darts]: Mention what should happen when a dart lands 'on the line'"
Though it's implied in the tests, it might be nice to include that if a dart lands on the border between one ring and the other (say it lands at 0, 5) that it should go to the higher values. If this is acceptable, I can make a PR to update the exercise.

[2022-08-22 13:16] pranasziaukas commented on #3157
Sorry, I still intend to circle back to this @BethanyG. I opened this issue just before my vacation thinking I might have some spare time while traveling, but I was wrong :)

[2022-08-22 19:45] bobahop commented on #3163
I think the `test_on_the_XXX_circle(self)` tests are specific that the border hit counts higher, but I have nothing against making it clearer in the instructions. It's not my call, though.

[2022-08-22 19:57] KaiAragaki commented on #3163
A question more about the philosophy of these exercises: should we consider reading the tests as part of the exercise, or should one be able to successfully complete the exercise without ever reading the tests?

[2022-08-22 20:11] IsaacG commented on #3163
See https://exercism.org/docs/tracks/python/test-driven-development where the track explicitly discusses this issue.

The test *is* the definitive embodied exercise requirement. The prose simply provides an overview and context.

[2022-08-22 20:15] KaiAragaki commented on #3163
Good point. I'll close the issue.

[2022-08-22 22:10] BethanyG commented on #3163
@KaiAragaki  - I am going to reopen this issue, as I intended to have a discussion, but was delayed by other work.  I'll chime in with more thoughts later today my time.  😄

@IsaacG  - while you are technically correct, I think we should always consider suggestions from students - especially those new to the track when they say something needs to be clarified in the instructions or hints.  Yes - w

[2022-08-22 22:31] BethanyG commented on #3157
@pranasziaukas  - I hope you were wrong because you were busy having fun on vacation!  😄   And no worries - ping when you are ready.   Meanwhile, I'll  assign this to you .

[2022-08-23 12:42] BethanyG commented on #3163
@KaiAragaki - Because this is a practice exercise, we have less leeway (_actually, more complication_) in editing problem instructions and tests.  We pull both descriptions and test specification from the [problem-specificaions](https://github.com/exercism/problem-specifications) repo using a tool called [configlet](https://github.com/exercism/configlet).  Test data is then run through a generator

[2022-08-23 14:12] KaiAragaki commented on #3163
@BethanyG - Thanks for your detailed response.

It looks like [#1976](https://github.com/exercism/problem-specifications/pull/1976) in problem-specs already addresses the math issue, unless you believe more clarification is still needed. Should I still add my recommendation to this issue?

[2022-08-25 11:20] pranasziaukas commented on #3157
Hello and thanks for your thoughtful (as always) response @BethanyG.

Since I'm still an infrequent visitor, not really comfortable to do a deep strategic dive.
I will iterate the current exercise to hopefully make things more consistent and friendly to further changes.

PR incoming!

[2022-08-28 14:55] IsaacG opened #3166 "Pylint is complaining about invalid/useless flags."
For Ellen's Alien Game, Pylint is complaining about:

[code]

I'm not sure why or what but it would seem that the analyzer may need updates in light of recent updates to Pylint and/or Exercism's Python version.

[2022-08-28 19:34] BethanyG commented on #3166
Transferring to `python-analyzer` repo, since this is a problem with the analyzer, and not the track content.

[2022-08-30 18:19] #3157 closed

[2022-08-31 15:33] BethanyG commented on #3121
Arg.  This keeps falling off the radar.  Will do better this week!

[2022-08-31 20:34] bobahop commented on #3121
I still think it is a good idea, but I am just focused on other things. I also have an idea for a practice exercise, but that is on the back burner as well.

[2022-08-31 20:50] BethanyG commented on #3121
I won't have time before this weekend I don't think - but I am going to PR turning off the stale bot, since none of us on the track are moving very fast these days (which is OK!).  Right now, if we comment on anything and 22 days pass, the critter wakes up and flags things as abandoned.  It's starting to not be useful, so.  😀

[2022-08-31 20:51] BethanyG commented on #3121
And no worries about doing other stuff - I just didn't want the bot to auto-close something that someone is still working on.

[2022-09-05 16:32] DevanshRawat28671 commented on #3106
@BethanyG  I'd like to work on this

[2022-09-07 03:20] BethanyG commented on #3106
ghost -- I can't assign you since your GitHub profile has been deleted.  If you've created a new profile, please re-comment if you'd like to work on this issue, and I can assign you.  Many thanks!

[2022-09-08 12:04] eminphi opened #3169 "No tests ran issue"
I've installed exercism via brew on my Mac and downloaded the hello world exercise. When I run the test it shows `collected 0 items` and `no tests ran in 0.00 s`. Can you help?

[code]

Test output:

[code]

[2022-09-09 13:49] BethanyG commented on #3169
Hi @eminphi 👋🏽

Thanks for filing this issue.  😄   I **think** the problem here is that you are attempting to run the code file (`hello-world.py`) with pytest as opposed to the test file (`hello_world_test.py`).

Could you try

[code]

For me, and see if that runs the tests?  If not, I'll need to dig into this further.  _Many thanks!_

[2022-09-09 15:13] eminphi commented on #3169
You are absolutely correct! What was I thinking? :) Thanks for your response. I also found out that running `pytest` is sufficient to properly run the test. All I have to do is to make sure I am in the exercise directory and run `pytest` in the Terminal.

[2022-09-09 15:13] #3169 closed

[2022-09-09 19:49] BethanyG commented on #2951
Nope.

[2022-09-11 16:05] eminphi opened #3171 "Bad indentation error for tab size of 2"
Python Analyzer produces an essential error when tab size of `2` is used instead of `4`. I work exercises locally via CLI.

`exercism version 3.0.13`

<img width="480" alt="Screen Shot 2022-09-11 at 12 02 24 PM" src="https://user-images.githubusercontent.com/42714627/189537428-e9df6dab-a894-4115-a209-cd92b2880c7d.png">

[2022-09-11 23:21] bobahop commented on #3171
Thank you for your interest in improving the Python track on Exercism.

The analyzer follows the [Python Style Guide for Indentation](https://peps.python.org/pep-0008/#indentation) which says

So the analyzer is enforcing the style guidelines as written by the creator of the Python language and others.

Please let us know if this response is satisfactory so we can close this issue. Thanks!

[2022-09-12 00:09] eminphi commented on #3171
Thanks for the Guide reference. I always, inaccurately, assumed that the indentation is just a personal preference. Something new I've learned today!

[2022-09-12 00:09] #3171 closed

[2022-09-13 14:52] BethanyG commented on #2295
Flagging this as a re-do with new issue template, as this has aged, and the actions bot is getting annoying.  Closing for now until the redo can happen.

[2022-09-13 14:52] #2295 closed

[2022-09-13 14:58] BethanyG commented on #2348
Flagging as a close and re-open with new issue template.

[2022-09-13 14:58] #2348 closed

[2022-09-13 14:59] #2290 closed, assigned to BethanyG

[2022-09-13 15:00] #2294 closed

[2022-09-13 15:02] BethanyG commented on #2289
Flagging as close and re-open with new issue template.  Also needs clarification on scope.

[2022-09-13 15:02] #2289 closed

[2022-09-13 15:03] BethanyG commented on #2291
This needs more detail and a write-up under the new issue template.  Closing for now until we can get to that.

[2022-09-13 15:03] #2291 closed

[2022-09-13 15:05] BethanyG commented on #2287
Flagging as close and re-write with new issue template.  Also take a look at scope.

[2022-09-22 02:14] #3163 closed

[2022-09-25 06:12] kana800 commented on #3106
hey @BethanyG, if @ghost isnt working on it; I can give this a try !

[2022-09-30 02:14] #3121 closed

[2022-10-05 21:41] BethanyG commented on #3106
Hi @kana800  👋🏽

_**I am so so sorry!**_. Your comment slipped through the notification cracks, and I am **just now** seeing it.  🤦🏽‍♀️   I do hope you are still interested, and if so ... this issue is **all yours**!  🎉

 I will assign you, and just let me know if you still want to work on it/are no longer interested.  💙

As a reminder, there was a previous draft created [here](https://github.com/

[2022-10-07 16:18] oseghr opened #3176 "Solution hints not helpful."
Completed the solution but kept getting several warnings such below:

Line 12 [C0303 trailing-whitespace] : ["Trailing whitespace"] was reported by Pylint.
Which means this code doesn't follow general [code style](https://www.python.org/dev/peps/pep-0008/) conventions. While this type of issue generally doesn't affect the way code executes, it can hurt readability or the performance of automated t

[2022-10-11 09:05] tamireinhorn commented on #3009
I'll add them, I'm currently in the midst of a moving process so later this
week! I just don't know where exactly I'd put it, in hints, README, etc

Em seg, 2 de mai de 2022 13:11, BethanyG ***@***.***>
escreveu:

[2022-10-12 20:49] izmirli opened #3178 "[Crypto Square] exercise is lacking a test for empty text after normalized"
For exercise [Crypto Square](https://exercism.org/tracks/python/exercises/crypto-square) there is no test case for plaintext made up of just spaces and punctuation.

There are tests for normalized input - one for removing spaces, and one for removing punctuation, but not for the case text is empty after normalized. Mentored someone with code that pass all tests, but have a bug in this case, so wan

[2022-10-13 11:28] BethanyG commented on #3178
Hi @izmirli 👋🏽

Thanks for filing this issue, and for reading through other issues and documentation to get oriented. 💛 💙  _**You did the exact right thing!**_ - `Crypto Square` is indeed a practice exercise with a test generation template, so when adding test cases, it is best to open a PR in `problem-specifications`,  so that the new case(s) can be discussed cross-track.  The only exception woul

[2022-10-13 11:44] BethanyG commented on #3176
Hi @oseghr,

Thanks for filing this issue.  When PyLint complains about "trailing whitespace", it is because there are excess "white space" (_non visible but present_) characters that are left at the end of lines of code.  Things like [tab] (`\t`) or [space] (`' '`) or [newline] (`\n`) or [carriage return] (`\r`). While these are not _fatal_, they can cause problems under certain circumstances.

T

[2022-10-13 12:01] izmirli commented on #3178
Thanks @BethanyG for your kind words and for detailing the process with mention regarding the exception case.

Should this issue be kept open till new test case incorporated here? Or closed if there is no further use for it?

BTW, do you have permission for making an approving review for the PR in `problem-specifications`?

[2022-10-13 12:13] BethanyG commented on #3178
@izmirli -- Let's keep it open as a reminder to me to follow up on the issue in `problem-specs`.  I don't have time this morning to review the `problem specs` PR, but do hope to get to it by the end of my day today (I am in pacific time).

However, since `problem-specs` is a bit of a special repo, you'll need approvals from three track maintainers, as opposed to the one we require for an individua

[2022-10-13 12:23] izmirli commented on #3178
@BethanyG -- Thanks for your good intentions!
There is no rush, so only if and when you'll have free time.
BTW, there are already 2 approvals for the PR.

[2022-10-13 20:06] Tex-Mex76 opened #3180 "Solving"

[2022-10-13 20:07] #3180 closed

[2022-10-14 05:04] BethanyG commented on #3178
I just became the third approver.  I've also merged it in.  Thanks again for the PR!  ⭐ 🌈

[2022-10-14 05:04] #3178 closed

[2022-10-14 07:04] LindaK92 opened #3181 "[Lasagna]: `ImportError` While Doing Exercise"
Hi all!

I hope this forum is the right place to put bugs.

I am doing excersise 2 (Lasagna) from Python and I get an import error, see below.
I do not think I made a mistake with programming, because I have also looked at the solutions from the community and when I enter the exact same solution, it gives the same error. Now I cannot continue.

So how can this problem be fixed? Thank you very much

[2022-10-24 03:18] BethanyG commented on #3176
Closing as resolved/abandoned.

[2022-10-24 03:18] #3176 closed

[2022-10-26 23:37] rodrigosantiag opened #3186 "[Cater Waiter] Possible mistake in "categorize_dish" method docstring"
I think that there's an error in param dish_ingredients param type description in `categorize_dish' docstring.

On "task" introduction is written:
[code]

But on method's docstring the `dish_ingredients` param type definition is as list

[code]

Looking to method's unit tests, we can see that, in fact, the second method argument is `set'

[2022-10-27 00:17] BethanyG commented on #3186
Hi @rodrigosantiag 👋🏽

Thanks for filing this issue!  There is indeed a mistake - would you like to submit a PR to fix it?  😉   If not, I'll see if I can get to it this weekend.  😄

[2022-10-27 14:24] MondoBurrito commented on #2591
I know this is late to the game, but as a beginner, I too found most of this exercise VERY confusing. Especially part 6.  And the worst thing is that I can get the answer I need when I code in Replit. But when I copy and past that code over to Exercism I get failed. I have resorted to asking Reddit for help, but those guys are confused as well. And as a beginner, I have problems even knowhing what

[2022-10-27 16:03] SarvarRaxmonov commented on #3110
I'd like to work on this

[2022-10-27 17:52] BethanyG commented on #3110
@SarvarRaxmonov  - That's awesome to hear!  🎉   I will assign you.  Just a a note -- there is a related issue for writing up the **concept** of dataclasses.  You can find that [here](https://github.com/exercism/python/issues/3109).  And check the pre-existing discussion under the old issue [here](https://github.com/exercism/python/issues/2361).

You don't have to write up the concept (_I or someon

[2022-10-27 17:59] BethanyG commented on #2951
Stop it, stale bot!

[2022-10-27 18:20] BethanyG commented on #2591
Hi @MondoBurrito 👋🏽

Thanks for your comment.  💙

We do indeed have problems with this exercise, and have an open issue to re-examine and re-work it.  We just need to get the bandwidth/volunteer time/space to do so! See issue #2951 for all the linked problems, rationals, attempts and ... discussion.  Feel free to add thoughts and suggestions there as well.

My apologies that that this has been a s

[2022-10-27 20:42] MondoBurrito commented on #2591
Thanks for the reply.
My main issue is that this exercise jumps right into algebra and formulas. I know there are a few hints here and there, but it just felt overwhelming. I think this was a case of the challange asking too much from a beginner all at once. It is better to be eased into problems like this, rather than throwing us in head-first.  At this point, I was 100% fine with the syntax... i

[2022-10-27 22:01] MondoBurrito commented on #2951
Hi everyone.  I believe I am the perfect person to chime in here... specifically about the Currency Conversion exercise. I am a noobie who, like millions of other noobies, are struggling to learn to code.
This particular exercise was just too overly complex and frustrating... especially when one is trying so hard to learn the basics of coding.

On the surface, it seems simple. Division, multiplica

[2022-10-27 23:26] rodrigosantiag commented on #3186
Hi @BethanyG .

I opened the PR [#3187](https://github.com/exercism/python/pull/3187)

Regards

[2022-10-28 01:28] BethanyG commented on #3186
Hi @rodrigosantiag  - Thank you for the PR!  It is approved and merged.  😄   Closing this now as fixed. 🌟

[2022-10-28 01:28] #3186 closed

[2022-10-28 03:07] BethanyG commented on #3161
Leave my issue alone, stale bot!

[2022-10-30 05:35] list4c opened #3190 "[Cater Waiter] test for separate_appetizers function accepts a set in return statement"
I was doing the task no. 6 'Pull out Appetizers for Passing on Trays' and found out that my result passes tests even though it's a set and not a list.

This is because the test uses the `sorted()` function which returns an object with `list` type. I think this is a bug, because the requirements said I should return a `list`.
My idea of fixing the test is to use the method `sort()` instead of `sort

[2022-11-01 10:08] meatball133 commented on #3118
The goal is to write a section in the tracebacks file on how to set up prettier and that you should not include syntax/concept in your solution which hasn't been covered in earlier concepts/exercises? Also that you should follow REPL?

[2022-11-01 11:22] meatball133 commented on #3118
This is my first "big" pr for Exercism, I would appreciate all the feedback I can get.

[2022-11-02 09:50] Sanreddy007 opened #3194 "Dr"

[2022-11-06 17:50] list4c opened #3195 "[New Concept Docs]: List Comprehensions"
Hi,
So I was interested in knowing more about the Python concepts in Exercism and found these curious folders with lots of TODOs in them :).  I started working on the list comprehensions concept documentation. I'm not really proficient in them yet, but this would be a great way to practice for me. I was looking for a help-wanted issue, but have not found one for list comprehensions. Can this be on

[2022-11-06 19:34] BethanyG commented on #3195
Hi @list4c 👋🏽

Thanks for your interest.  😄   At this time, we'd really like volunteers to take on the open issues tagged with **`[Help Wanted]`** .  They're ones we've flagged as needing to get done first - minus the ones maintainers or long-term contributors are working on.  List Comprehensions, Other Comprehensions, and several other topics are actually on my to-do list - so I would prefer that

[2022-11-08 19:36] list4c commented on #3195
Hi @BethanyG,
I do understand, it's fine. I'll work on getting to grips with one of the help-wanted topics

[2022-11-09 17:54] zylideum opened #3196 "[Tisbury Treasure Hunt] Task Example Correction"
# Tisbury Treasure Hunt Task 4

Task 4 has the following example, pulled directly from the site:

[code]

As you can see in the second call of create_record, the `rui_record` tuple is formatted incorrectly, listing the coordinate tuple before the location.

The example posits the format of `rui_record` as such: `(location, coordinate, quadrant)`.

## Verification via Unit Tests

Upon looking at [t

[2022-11-09 18:07] zylideum commented on #3196
Closed with PR #3197

[2022-11-13 14:32] kana800 commented on #3106
@BethanyG hello ! I am sorry I just saw this; Sadly I am not able to work on it right away; I am gonna un-assign myself so that anyone else who is interested can work on this.

Really sorry about the inconvenience.

Thanks !

[2022-11-14 07:18] valof opened #3198 "Please update the Python version for the unit test checking"
As you can see from the Python track in my Iteration #2 of the Space Age exercise, even though the solution was correct it has not been accepted.
Apparently the version of Python you are using is having this problem not fixed. I checked that it is fixed at the latest version of Python.
This is my iteration: https://exercism.org/tracks/python/exercises/space-age/iterations
This is my discussion wit

[2022-11-14 10:26] joMarsch opened #3199 "Python Forth Exercise Test 29 is wrong"
Test 29 of the Forth exercise seems wrong. If I understand the test the right way the output should be [1,2,2] instead of [1,2,1].

[2022-11-14 18:38] BethanyG commented on #3198
Hi @valof 👋🏽

Thanks for filing this issue.  Unfortunately, I am unable to view your solutions or mentor discussion from the links you have provided.  You'll need to provide the code & discussion in a code fence or via screengrabs.

 However, I do know that our track and tooling are on Python 3.10+, and that since Python 3.11 has only just gotten out of beta, we are not going to upgrade to it unti

[2022-11-14 18:56] BethanyG commented on #3199
Hi @joMarsch 👋🏽

Thanks for filing this issue.  The Python track pulls test data (inputs and expected results) from a central repo, [problem specifications](https://github.com/exercism/problem-specifications), where the [canonical data](https://github.com/exercism/problem-specifications/blob/main/exercises/forth/canonical-data.json#L342) shows that `[1,2,1]` is indeed the expected result for the c

[2022-11-14 18:56] #3199 closed

[2022-11-14 21:46] valof commented on #3198
Hi Bethany ✌
This is the code, it is trivial, I made a simplification to it.
As for bringing this topic to the forum, I can do it, but first I would like to ask if you agree that it is a bug (note, the behavior in 3.11 is as I expected it to be.)
Thanks!

[code]

[2022-11-15 00:23] BethanyG commented on #3198
Given the result of the discussion, I am going to close this issue.  However, for future reference, I'll link the mentioned article:

[Late Binding Variables: It's a Trap!](https://medium.com/skiller-whale/late-binding-variables-its-a-trap-c17af980164f).

For one (_older, but really good_) dynamic programming strategy, I recommend [this community solution](https://exercism.org/tracks/python/exerci

[2022-11-15 00:23] #3198 closed

[2022-11-17 16:47] fabiorzfreitas opened #3205 "[Support][Yacht] Concerning the lambdas and the sequence in which exercises are solved"
I got to Yacht after completing all previously available Bool, Numbers and Basic exercises. It felt weird to me that this sequence didn't correspond to the first n exercises in the first row on the track's overview.

I couldn't seem to grasp the solution intended for Yacht. If I were to design on from scratch, I though I wouldn't be using the given variables at all. So I decided to compare to comm

[2022-11-17 23:49] BethanyG commented on #3196
Hi @zylideum 👋🏽

Thank you for filing this issue.  Apologies for the delay in getting back to you.  I think the one change to `instructions.md` should do it.  If not, we can do a follow up. 😄

[2022-11-18 00:06] zylideum commented on #3196
Looks like it made it to the site, thanks!

[2022-11-18 02:10] #3196 closed

[2022-11-18 02:42] BethanyG commented on #3110
That's it.  I am turning off the bot, dangit.

[2022-11-18 05:32] BethanyG commented on #2951
No, bot.

[2022-11-18 09:44] #3118 closed

[2022-11-18 21:08] meatball133 commented on #3112
This would be the first concept I would write but I like to give it a shot. I already have an exercise for this concept made for javascript(currently undergoing review). Which could be reused for python if we want and if it gets approved for javascript.

[2022-11-18 21:31] BethanyG commented on #3112
I would be delighted if you'd like to take this on!  Do you also want to do the concept write-up?  I'll assign both to you, and you can decide.  😄   Ping me if you have questions or want to talk through things/bounce ideas around.

[2022-11-18 21:35] BethanyG commented on #3112
PS

You don't have to wait for approval in JS if you think the same concept exercise works in a Python context.  I'd say go through and change the syntax and submit a draft here -- we can (quickly, I promise!) talk through it.  I don't have as firm a grip on JS as I do on Python, so can't enumerate off the top of my head where there would be differences -- but I'm sure they're not substantial.

[2022-11-18 21:36] BethanyG commented on #3111
Assigning to myself, as I can't seem to assign directly to @meatball133 yet without them commenting.  @meatball133 -- just comment here, and then I can assign.  Or shout **NO!** if you don't want it.  😉

[2022-11-18 21:44] meatball133 commented on #3112
You can assign me to both. I will do a quick rewrite until tomorrow so I can show you the exercise in python

[2022-11-18 22:47] meatball133 commented on #3112
The story(not 100% done):
# Instructions

Your friend is a train driver and has to drive cargo trains between cities.
Although your friend isn't amazing with handling the computers and would like some help with it.
Your friend would like your help organizing the train and correcting mistakes in the data.

[code]

## 1. Create a list of all wagons

Your friend has been keeping track of each wagon i

[2022-11-19 00:27] BethanyG commented on #3112
I actually think that's a great start!  I especially like the tasks that get at moving things in a list and also inserting them.  It's a little-discussed use case for multiple assignment -- but a powerful one, since you can replace many indexing and slicing scenarios with it.  The tests will be fun to write for that, since we may want to implement checks to push students away from alternate method

[2022-11-19 00:55] BethanyG commented on #3112
Ok.  Here are a few nits/thoughts  😄

1.  We'll want to clean up the variable names at some point to be snake_case.  Not a big deal right now.
2.  Ditto for the references to arrays.  Python calls them `lists` 🙄 .  Again, so not a big deal right now.
3.  Task 1 takes care of `*args`.  Wonder if we should insert a task 2 that is explicit about `**kwargs`? ( _As I side note, I think it's customary t

[2022-11-19 04:25] BethanyG commented on #3205
Hi @fabiorzfreitas 👋🏽

Thank you for filing this issue and sharing your perspectives on the Python track ordering and our (very much a work in progress!!) syllabus. We really appreciate the feedback.

**First things first:**

1.  `lambdas` are not required for **any** exercise on the Python track as it stands. They make life easier in a couple of circumstances (_mostly in the two or three exercise

[2022-11-19 05:36] fabiorzfreitas commented on #3205
Hi, @BethanyG ,

First of all, allow me to thank you for this very gentle, yet thorough response. I was a bit afraid I would be "yelled at" or treated harshly, as it often happens in the internet when you're not very knowledgeable on a given subject. This makes me want to engage even more in the community!

---

Onto the answer itself, now I'm feeling really better about `lambdas`. The things you

[2022-11-19 08:32] Guillermo-N commented on #3096
Hello;
I am working on this, so if you can label it as `[claimed]` and assign it to me will be 👌.

I was thinking about adding some class diagrams to `introduction.md`, I would like to ask if there is any style guideline to follow regarding graphics. Just to fit the looks of it to the rest of the page.

[2022-11-19 09:28] meatball133 commented on #3112
Well, the goal of the "train-driver" exercises for javascript was to be able to split 1 exercise into 2. The javascript exercise is made for the "rest and spread" operator. Which in python would be the `*` and `**`. There is another exercise that covers unpacking and deep unpacking for javascript. I more or less thought that it still could be a good starting point to build on.

We could add an exe

[2022-11-19 09:45] meatball133 commented on #3112
Also I didn't want to spend too much time rewriting the story to fit python if we didn't want to continue with this story

[2022-11-19 18:35] meatball133 commented on #3112
I have worked on the syllabus. I see myself using "you" quite often. Is that something that should be avoided?

[2022-11-19 20:26] meatball133 commented on #3112
Not 100% finished but I wanted to know if I missed something that should be in it or if I added something that shouldn't be in it.

# Unpacking and Multiple Assignment

Unpacking refers to the act of extracting the elements of a collection, such as a list, tuple, or dictionary, into variables.
With unpacking, there are some special operators used: `*` and `**`.
When unpacking a list or tuple, the

[2022-11-19 20:26] meatball133 commented on #3112
Not 100% finished but I wanted to know if I missed something that should be in it or if I added something that shouldn't be in it.

[2022-11-19 20:28] BethanyG commented on #3112
I don't think it's bad.  It is conversational and familiar -- but so is the exercise setup.  It talks about a friend coming to the student for some problem solving, and is written second-person.

I did do a re-write, to see if you liked it better.  But since we are both online, do you want to hop in a call and pair on stuff?

[2022-11-19 20:28] meatball133 commented on #3112
Sure

[2022-11-19 20:29] BethanyG commented on #3112
Ok.  Let me transfer to a desk & get  a link.  😄

[2022-11-19 20:34] BethanyG commented on #3112
Are you on Slack?  If so I will DM there.

[2022-11-20 10:56] meatball133 commented on #3112
Alright, some changes:

Added links (feel free to change them/ add some).

Took in your feedback, I am not sure I covered everything so if you find something just let me know.

[2022-11-21 03:58] BethanyG commented on #3096
Hi @Guillermo-N 👋🏽

Apologies for the delay - I've assigned this issue to you.  Thanks so much for taking it on! ✨

We really don't have a style guide for graphics.  In the past (_due to exercises being downloadable to a students machine_), we largely shied away from graphics.  So the overarching advice is to make sure that you don't _solely_ rely on graphics to explain things, since you can't be

[2022-11-21 10:51] Guillermo-N commented on #3096
That is true, I didn't thought about the Markdown not be render.
Because the graphics are simple I will try to do them in ASCII.

That should be okay, right?

[2022-11-24 07:30] #3112 closed

[2022-11-24 07:30] #3111 closed

[2022-11-28 06:52] Guillermo-N commented on #3096
Just submitted what I think can be the a first revision.