[2014-02-28 08:57] kytrinyx opened #1 "Configure Travis CI build"
See https://github.com/exercism/exercism.io/blob/e3c60fd1c91c49e23942a1d2ea99a9c1cbb55790/test/python/check-exercises.py for the current build

[2014-02-28 08:58] #1 closed, assigned to nobody

[2014-02-28 18:25] kytrinyx opened #2 "Python test files should not mask ImportErrors"
Copied from exercism/exercism.io#1376 - reported by @hop

Please see the original discussion for details.

---

In case there is an import error in the implementation of the exercise, the misleading error message `'Could not find wordcount.py. Does it exist?'` is emitted and the original error message is hidden.

I'm not entirely sure what a good alternative would look like, but something like thi

[2014-02-28 18:55] kytrinyx opened #3 "Implement Python exercises"
Copied from exercism/exercism.io#272 reported by @BrianHicks

----

This is a placeholder issue for converting ruby/clojure exercises to Python.

(I'm thinking ruby/clojure since Python is a mix of OO and functional, depending on what's most appropriate)

- [x] accumulate (not appropriate) ([md](https://github.com/exercism/x-common/blob/master/accumulate.md), [yml](https://github.com/exercism/x-co

[2014-03-20 00:55] sjakobi opened #12 "The README for octal is ruby-specific"
This is the current README.md for the octal exercise as downloaded by `exercism fetch python octal`:

[code]

What do I have to do to adapt it for Python?

[2014-03-20 01:09] #12 closed, assigned to nobody

[2014-03-27 18:06] sjakobi opened #21 "Let Travis check that that all exercises are listed in EXERCISES.txt"

[2014-04-02 12:36] sjakobi opened #30 "Allow creative error messages"
In several exercises the tests require that a solution raise an error message for a bad input.
Usually these tests also demand a specific error message, for example [this test](https://github.com/exercism/xpython/blob/master/octal/octal_test.py) for the octal exercise:

[code]

It demands that the error message is _exactly_ "Invalid octal digit: 8".

This precludes students from coming up with goo

[2014-04-05 07:33] ewtoombs opened #33 "bob_test.py: invalid syntax in python3"
All strings are unicode in python3, so u"..." is a syntax error. Patch:

[code]

This patch might not work in python 2, but who cares. We should only be officially supporting python 3, anyway, since all new code should be written in python 3, and people new to python should be learning python 3. And anyway, python 3 is much nicer when it comes to handling different character encodings and raw byte

[2014-04-06 02:00] fluxusfrequency opened #34 "Error when fetching anagram"
Got this message when trying to run `exercism fetch` after submitting `twelve-days`:

[code]

[2014-04-06 04:12] #34 closed, assigned to nobody

[2014-04-09 06:36] #33 closed, assigned to nobody

[2014-04-17 12:29] sjakobi opened #52 "Python3 compatibility"
While many students already solve assignments with Python3, we currently don't know which test suites actually run with Python3 and which require manual adaptation by the students.

To fix this, I propose that we (@kytrinyx?) create a new development branch "py3k" and take the following steps:
1. Configure Travis to use Python versions 2.7, 3.3 and, once available, 3.4.
2. Determine from the build

[2014-04-27 00:41] #52 closed, assigned to nobody

[2014-05-09 22:08] fluxusfrequency opened #71 "Times and Multiplied By in Wordy"
Do we really need to have both "times" and "multiplied by" supported in the Wordy exercise? It seems like one or the other would suffice.

[2014-05-09 23:39] #71 closed, assigned to nobody

[2014-05-10 14:24] #21 closed, assigned to nobody

[2014-06-11 16:57] #2 closed, assigned to nobody

[2014-06-27 16:42] sjakobi opened #79 "Prefer functional style solutions where classes aren't necessary"
As @0xae has demonstrated in #75, there are quite a few exercises that currently demand a class-based solution although they could be solved more idiomatically in a functional style.

I have singled out the following exercises that could be adapted in the same way as the bob exercise - although a few of these cases may be debatable:
- [x] rna-transcription
- [x] word-count
- [x] anagram
- [x] beer

[2014-06-28 11:15] #30 closed, assigned to nobody

[2014-06-29 00:25] #79 closed, assigned to nobody

[2014-08-18 09:20] sjakobi opened #99 "Reorder problem list in config.json, deprecate some"
The current order of the exercises doesn't seem to make much sense - "leap" and "etl" come very late, "hamming" and "point-mutations" are basically the same, etc.

For the reordering, are there other important criteria apart from difficulty?

I'd also like to focus the nitpicking community by deprecating some exercises whose core problem appears in other exercises.

[2014-08-24 15:19] kytrinyx opened #100 "Recommend using a linter to warn about style recommendations"
Right now the docs suggest that people use pip8 to automatically reformat code.

Another option is to use a linter, such as pylint, to simply warn about style violations. This sometimes help people learn about what the style recommendations are in a language. See comment here: https://github.com/exercism/docs/issues/54#issuecomment-53186490

[2014-08-24 21:45] #100 closed, assigned to nobody

[2014-08-31 19:18] kytrinyx opened #101 "Delete configlet binaries from history?"
I made a really stupid choice a while back to commit the cross-compiled
binaries for configlet (the tool that sanity-checks the `config.json`
against the implemented problems) into the repository itself.

Those binaries are HUGE, and every time they change the entire 4 or 5 megs get
recommitted. This means that cloning the repository takes a ridiculously long
time.

I've added a script that can be

[2014-08-31 19:27] kytrinyx opened #102 "Change design of meetup problem"
@pminten brought up a very good point about the API of meetup being
pretty terrible (See exercism/exercism.io#950).

If the meetup problem has not already been fixed in this track, we should
improve the test suite and example code to give the API a better design.

[2014-09-02 06:32] #102 closed, assigned to nobody

[2014-09-02 13:29] #101 closed, assigned to nobody

[2014-09-18 08:35] sjakobi opened #105 "Why do we skip tests?"
The following exercises contain tests marked with the decorator
`@unittest.skipUnless('NO_SKIP' in os.environ, "Not implemented yet")`:
- minesweeper
- ocr-numbers
- pascals-triangle
- secret-handshake
- wordy

In order to run all tests in these exercises the user is expected either to comment out/delete the decorators or to set the `NO_SKIP` environment variable.
While both methods are trivial on

[2014-09-18 13:18] #99 closed, assigned to nobody

[2014-09-24 17:52] AstraLuma opened #109 "Bob readme does not say how to run tests"
I'm seeing many, many submissions to the bob problem which are misformatted by using `class Bob` instead of `def bob`. If they ran the test case, this would immediately catch it.

As the first excercise, the bob readme should give the command that runs the test cases (`python3 bob_test.py`).

[2014-09-25 06:30] #109 closed, assigned to nobody

[2014-09-25 07:48] ghost opened #111 "Allergies test case issue"
https://github.com/exercism/xpython/blob/master/allergies/allergies_test.py#L26
... to ...
https://github.com/exercism/xpython/blob/master/allergies/allergies_test.py#L36

TC: test_allergic_to_just_peanuts -- self.assertEqual(['peanuts'], Allergies(2).list
TC: test_allergic_to_everything -- sum([2**x for x in range(0,8)]) == 255
TC: test_ignore_non_allergen_score_parts -- self.assertEqual(['eggs']

[2014-09-25 09:09] #111 closed, assigned to nobody

[2014-09-25 09:29] mihai-scurtu opened #113 "Small text error in JS readme files"
All of the ones I've downloaded say

[code]

regardless of the actual problem test case filename.

I'd propose just leaving it at `$ jasmine-node .` which I run anyway.

Otherwise, great concept! Really having fun with the exercises.

[2014-09-25 16:23] #113 closed, assigned to nobody

[2014-09-26 01:41] #105 closed, assigned to nobody

[2014-09-26 08:34] sjakobi opened #115 "Hamming exercise should compare only strings of same length"
See the main issue at https://github.com/exercism/exercism.io/issues/1867.

I guess the exercise should implement the actual definition of the Hamming distance as found on [Wikipedia](http://en.wikipedia.org/wiki/Hamming_distance).

That definition was used in the [Point Mutations exercise](https://github.com/exercism/xpython/blob/master/point-mutations/example.py) that I deprecated in favor of th

[2014-09-27 15:55] kytrinyx opened #117 "Name nucleobases, not nucleosides"
In other words, we should rename the values in the RNA transcription problem to reflect the following:
- `cytidine` -> `cytosine`
- `guanosine` -> `guanine`
- `adenosine` -> `adenine`
- `thymidine` -> `thymine`
- `uridine` -> `uracil`

[2014-09-28 07:27] emiller42 opened #119 "largest-series-product - invalid test case"
The following test case for this exercise doesn't appear to be valid:

[code]

in the previous 'series' exercise, it was defined that passing a length argument of 0 should raise a ValueError.  But in this case, it expects a return value.  Further, it expects a return value of 1, but I don't see any reason why 1 would be the proper response given these arguments.

[2014-09-28 15:40] #119 closed, assigned to nobody

[2014-09-28 20:13] #115 closed, assigned to nobody

[2014-09-30 01:46] #117 closed, assigned to nobody

[2014-09-30 13:22] betojulio opened #122 "leap year test file bug."
The problem is that the File passes None
type results as False.

![screen shot 2014-09-26 at 9 50 09 am](https://cloud.githubusercontent.com/assets/6899441/4458623/ab3566b8-48a4-11e4-9502-4d88d6e4d857.png)

[2014-09-30 14:12] AstraLuma opened #123 "Bob Tests produces different results between 2/3"
Under Python 2: `'ÜMLäÜTS!'.isupper() is`True`, but`u'ÜMLäÜTS!'.isupper()`is`False`.

Under Python 3: `'ÜMLäÜTS!'.isupper()` is `False`

The problem is that the string is using precomposed characters and under Python 2, `str` is encoded in the source code encoding of the tests (UTF-8).

[2014-10-09 03:07] #123 closed, assigned to nobody

[2014-10-09 03:09] #122 closed, assigned to nobody

[2014-10-15 10:28] kytrinyx opened #130 "Fix crypto-square to use a square, not groups of five"
Somewhere along the line we lost the _square_ part of the crypto square problem, replacing the grouping with the standard groupings of 5.

The test suite should be updated to reflect the squarishness of this problem.

See https://github.com/exercism/x-common/pull/28

[2014-10-18 02:07] fluxusfrequency opened #131 "Exercism fetch does not pull secret-handshake"
From the CLI, if I have an empty secret-handshake folder and run `exercism fetch`, the test is not populated. `exercism fetch python secret-handhake` does work, though. Not sure if this is a CLI or xpython issue.

[2014-10-19 20:42] Dog opened #132 "Running All Unit Tests"
I keep finding myself wondering what problem I was working on last. I thought it might be a good idea to run all of the unit tests to figure out where I am. I tried using the command `python -m unitest discover` and `python -m unittest discover . '*_test.py'`, but none of the tests run.

Am I using the command wrong? Is there another way to run all the unit tests?

[2014-10-20 01:28] LegalizeAdulthood opened #133 "Update queen attack to use _'s not O's for empty spaces"
See the updated [problem description](https://github.com/exercism/x-common/blob/master/queen-attack.md)

[2014-10-20 15:15] #130 closed, assigned to nobody

[2014-10-21 01:44] #133 closed, assigned to nobody

[2014-10-21 20:00] sjakobi opened #138 "Overhaul the Ocr Numbers exercise"
The current test suite is pretty rudimentary compared to those on other language tracks like [Go](https://github.com/exercism/xgo/blob/master/ocr-numbers/ocr_numbers_test.go) or [Haskell](https://github.com/exercism/xhaskell/blob/master/ocr-numbers/ocr-numbers_test.hs).

Also, the ASCII numbers in the test suite should be well formatted.

There's some discussion regarding the exercise here: https:

[2014-10-24 07:48] sjakobi opened #141 "Change sum-of-multiples exercise to require a function instead of a class"
At the core of the exercise is a simple mapping from a collection of numbers to a sum of multiples of those factors. This can be represented as a simple mathematical function and doesn't require any manipulation of an object.

The test suite should therefore require (and import) a function `sum_of_multiples` instead of a class.

For some discussion regarding the exercise see https://github.com/exe

[2014-10-27 22:46] #132 closed, assigned to nobody

[2014-11-24 02:35] #141 closed, assigned to nobody

[2014-12-04 14:31] kytrinyx opened #150 "How to set up a local dev environment"
See issue exercism/exercism.io#2092 for an overview of operation welcome contributors.

-----------------------

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository describes

[2014-12-16 20:53] mambocab opened #151 "Faulty test for Grade School"
## Problem

The [`README` for the Grade School exercise](https://github.com/exercism/x-common/blob/master/grade-school.md) states that the `School` object should be able to

However, [the corresponding test](https://github.com/exercism/xpython/blob/master/grade-school/grade_school_test.py#L37) does not enforce sorting by grade, since `dict` objects are unordered:

[code]
## Goal

This test should

[2014-12-24 20:26] #151 closed, assigned to nobody

[2014-12-28 21:25] fluxusfrequency opened #153 "Is Sublist correct"
Is this test actually correct?

[code]

Shouldn't it be a sublist?
@sjakobi @betegelse

[2014-12-28 21:26] fluxusfrequency opened #154 "Is Sublist correct"
Is this test actually correct?

[code]

Shouldn't it be a sublist?
@sjakobi @betegelse

[2014-12-28 21:34] #154 closed, assigned to nobody

[2014-12-28 21:49] #153 closed, assigned to nobody

[2015-01-14 16:28] sjakobi commented on #131
Are there any updates on this issue, @fluxusfrequency + @kytrinyx?

Otherwise I'd like to close this because it doesn't seem to be related to xpython specifically.

[2015-01-14 16:47] fluxusfrequency commented on #131
I have nothing to add, but go ahead and close it if you like. Seems like a CLI issue?

[2015-01-14 21:43] kytrinyx commented on #131
I lost track of this one, but it's probably an API issue rather than a CLI one. I'm going to open a new ticket for it in the exercism.io repo.

[2015-01-14 21:43] #131 closed

[2015-01-24 17:58] kytrinyx opened #163 "gigasecond: use times (not dates) for inputs and outputs"
A duration of a gigasecond should be measured in seconds, not
days.

The `gigasecond` problem has been implemented in a number of languages,
and this issue has been generated for each of these language tracks.
This may already be fixed in this track, if so, please make a note of it
and close the issue.

There has been some discussion about whether or not gigaseconds should
take daylight savings ti

[2015-01-24 20:10] Dog commented on #163
I can confirm the issue exists in xpython. I'm working on a fix now.

[2015-01-24 20:36] #163 closed

[2015-02-23 22:59] tstirrat15 opened #168 "Testing Text-Heavy Exercises"
I'm working on the Twelve Days problem right now, and it's reminding me of something that's been annoying me as I've worked through the exercises.

The default AssertionError that prints to the terminal contains a diff of the two bodies of text, but the diff is hard to parse when you're dealing with large bodies of text, and what's extra/missing from your program's output isn't immediately apparen

[2015-02-24 16:34] kytrinyx commented on #168
That's a really good question, and it's a problem in all of the tracks. I don't have answers, I just wanted to say that I'm interested in hearing if other people have useful input on this.

[2015-02-24 19:43] tstirrat15 commented on #168
One thing that sounds like it could be fairly robust across languages is to have the test write the output of each function to a local file in some standard format, and then call an external diff utility.

It'd add another hoop for the user to jump through, in that they'd have to have the diff utility available.

[2015-02-25 15:14] kytrinyx commented on #168
Mac and linux boxes would always have the basic `diff` available, does windows have something like that?

[2015-02-28 19:47] tstirrat15 commented on #168
I doubt it, but I don't know. One thought: is `git` a part of the backbone of `exercism`? Because then there should be a default `difftool` that you can call using `git`.

[2015-03-01 01:30] kytrinyx commented on #168
No, there's no assumption that people use git.

[2015-03-23 00:10] outkaj commented on #168
It looks like there is a built-in equivalent of diff for Windows, called FC (FC file1 file2 would be the equivalent of diff file1 file2). I'm running Linux, so I can't verify this, but could someone running Windows confirm?

[2015-03-23 00:25] kytrinyx commented on #168
@jwood803 @LegalizeAdulthood - would you be able to verify this?

[2015-03-23 01:06] tstirrat15 commented on #168
I just checked it, and it exists.

It's a very simple command-line utility, and doesn't seem like it would be much more useful than the output of the tests.

[Here's](https://gist.github.com/tstirrat15/7de75c79708bd965802f) what it returned when I was playing with it.

[2015-03-23 03:11] jwood803 commented on #168
A quick search didn't turn up anything useful in terms of the .NET crowd. I'll keep at it to see if there's a solution for this in terms of Windows other than downloading an actual merge tool lie WinMerge.

[2015-03-23 03:26] outkaj commented on #138
It looks from #137 like the exercise was updated to some degree, but that you still want some cleanup and expansion of the test suite. If that's still the case, I can take a look at it.

[2015-03-23 06:58] outkaj commented on #3
I'd be willing to assist with porting the remaining exercises to Python if there's still interest in doing so.

[2015-03-23 15:07] kytrinyx commented on #168
Now that I think of it... @isodore do you happen to know what the inherent diffing capabilities of windows are? I imagine that you've been down this route with approvals tests.

[2015-03-23 15:09] kytrinyx commented on #3
Thank you -- yes! We're always looking to improve the existing tracks both in terms of making problems better and adding new problems.

The problem API contributing guide has a good overview of how the language tracks are put together: github.com/exercism/x-api/blob/master/CONTRIBUTING.md

[2015-03-23 15:10] kytrinyx commented on #138
That would be lovely, thanks!

[2015-03-23 17:22] isidore commented on #168
Yes this is exactly approvaltests. There are a host of options for windows. The best would be to look at the diffreporter in either the Java or c# version of approval tests. Will send link when not on my phone...

Llewellyn Falco

[2015-03-23 22:22] isidore commented on #168
https://github.com/approvals/ApprovalTests.Java/tree/master/java/org/approvaltests/reporters/windows

but this is even more complete

https://github.com/approvals/ApprovalTests.Net/tree/master/ApprovalTests/Reporters

[2015-03-24 01:22] outkaj commented on #3
I put together a list of unimplemented exercises. Let me know if I am missing anything. I will also investigate to see if any are foregone for Python, but it looks like that's unlikely given the discussion above.

bank-account
binary-search-tree
bottles
clock
connect
custom-set
dot-dsl
food-chain
forth
go-counting
linked-list
list-ops
parallel-letter-frequency
pig-latin
robot-simulator
saddle-poin

[2015-03-24 01:55] kytrinyx commented on #168
Sweet, thanks!

[2015-03-24 01:56] kytrinyx commented on #3
That list looks good.

There aren't any foregone exercises in python: https://github.com/exercism/xpython/blob/master/config.json#L68

[2015-04-26 04:20] #150 closed

[2015-06-20 13:21] ishan-marikar opened #184 "Inconsistency in Python Test for Bob Exercise"
I was going coding through the exercises and I noticed that I couldn't really pass a certain test:

[code]

The code that I used:
[code]

According to the readme, if we yell at him (assuming that by yelling, you mean that the input either ends with an exclamation mark or is in upper case), Bob should respond with 'Whoa, chill out!'. Seeing as the input for the above test both contains uppercase le

[2015-06-20 14:44] kytrinyx commented on #184
Thanks @ishan-marikar :)

Are there any tests that define that an exclamation point means shouting?

[2015-06-20 20:25] ishan-marikar commented on #184
[code]

I went through the test code and noticed that every sentence that included the exclamation mark was in the upper case, so I guess it might have been incorrect to assume that. .-.

[2015-06-20 20:26] #184 closed

[2015-07-02 22:29] spthm opened #186 "Allergies' "test_allergic_to_everything" implicitly requires a specific list ordering"
[code]
This requires that `Allergies(255).list` return items in exactly the same order as they are written above. If the order is not important, [` assertItemsEqual()`](https://docs.python.org/2/library/unittest.html#unittest.TestCase.assertItemsEqual) is better. Unfortunately, in Python 3 this was renamed to `assertCountEqual()`, which _does not exist_ in Python 2.7. So perhaps `assertEqual(sorte

[2015-07-02 23:49] Dog commented on #186
Order isn't important in the result, though the order does in a way give a hint it is related to binary. Feel free to do a pull request, because I think it would be better to not force order.

We can handle the change between Python 2 and 3 without too much of an issue. Using a library like six would make it easier to maintain, but it would probably be difficult to make people install it.

I think

[2015-07-03 00:13] Dog opened #187 "Reworking Allergies"
Looking through Allergies, I think it may make sense to do a rewrite. The exercise seems to be intended to practice using binary to represent state, but in execution we really use the Allergy class like a container. Its really a set. We look up allergies with the is_allergic_to function with the allergy as a key. If I were writing the class, I'd probably make it work along these lines:

[code]

Wh

[2015-07-03 02:14] kytrinyx commented on #187
I originally made it to introduce the idea of bitmasks to some people I was mentoring. I think that it could probably benefit from an overhaul, and am absolutely open to suggestions.

[2015-07-03 04:53] Dog commented on #187
What if we did bit masks through rgb and greyscale conversion? You take in a bunch of values simulating an image that you are converting. You could also extend it with another exercise to simulate compression in an image.

[2015-07-04 14:39] kytrinyx commented on #187
I think that sounds like a great exercise!

[2015-07-04 20:37] spthm commented on #187
Hope you don't mind if I throw my 2c into this, before acting on #186.

+1 on the rgb/greyscale conversion. Actually, writing a code to convert 24-bit color to RGB (or hex) is the simplest example I can think of that both _requires_ bit manipulation __and__ isn't _completely abstract_, like e.g. a hash function.

If you wanted to make the Allergies test point toward using a bitfield, it might be a

[2015-07-04 23:06] kytrinyx commented on #187
@spthm Yeah, you're probably right that the README could be improved (and that it's an issue for x-common) I'm just not sure in what way, without (as you say) giving the game away.

Writing the numbers in binary form in the test is an interesting suggestion.

[2015-07-07 21:46] Dog commented on #187
@kytrinyx I can mock up an exercise. Would you like it focused on only RGB/Greyscale conversion, or should I also consider adding in a lossy compression component? Would I propose it via a pull request in x-common with the original test cases as a pull request in xpython?

@spthm I'll try to take a look into that by Friday. I think you are right about it being a you-get-it-or-you-don't problem. I

[2015-07-08 23:21] kytrinyx commented on #187
Yeah, I'd love to see a suggestion for the exercise. Two PRs that reference each other would be great -- one in x-common where all the track maintainers can discuss the problem itself, and another with the test cases in python.

I don't know if the lossy compression component makes sense here--I think I just don't have a good picture of what it would look like with or without it.

[2015-07-09 16:27] Dog commented on #187
I did some more thinking about it, and I think doing lossy compression is too much.

Initially I was thinking I could have people make a data structure for their image, and then implement a naive solution using that structure. The data structure would be composed of chunks for the full image. Each chunk represents a region of pixels with a color value. If a pixel is within a tolerance of its neigh

[2015-07-10 13:27] kytrinyx commented on #187
Yeah, that sounds complicated, let's just stick with the rgb/grayscale piece.

[2015-07-10 22:46] Dog commented on #3
Saw in the xocaml track that we can now hit an endpoint to see what problems need to be implemented. It is the ToDo key:

http://x.exercism.io/tracks/python

[2015-07-12 19:07] Ben-Baert opened #189 "Ignore all tests except the first one by default"
It'd be useful to have unittest.SkipTest decorators that ignores all but the first test. This way, you can try to make the first test work, once it works, delete the next unittest.SkipTest decorator, make the code pass that test, etc., instead of being overloaded by a barrage of tests that fail.

I've noticed that this approach seems to be used in some language tracks (e.g. Rust), but it'd be usef

[2015-07-12 20:00] Dog commented on #189
We have documentation for that workflow, but it doesn't seem to have been pushed to the live site.

You can find the documentation here:
https://github.com/exercism/xpython/blob/master/docs/WORKFLOW.md

@kytrinyx How do I get this change pushed to live?

[2015-07-13 02:07] kytrinyx commented on #189
At the moment the documentation is half-way between two systems. It needs to be in the docs site to go live. I'll copy it over.

[2015-07-13 02:10] kytrinyx commented on #189
I'm deploying https://github.com/exercism/docs/commit/56020d8e7f4a599c3c92c7ebba0f8c95ca3538e6 now.

[2015-07-17 23:34] Dog commented on #189
@kytrinyx Thanks. I consider this issue closed then. If not, please reopen.

[2015-07-17 23:34] #189 closed

[2015-08-03 05:53] jmluy opened #192 "Additional test case for last day in february for meetup exercise"
Add a test for last xxxday of february where february has only 4 weeks (2009, 2015).

[2015-08-06 23:22] kytrinyx commented on #192
Good find, thanks!

[2015-08-11 19:38] ZacharyRSmith commented on #186
I ```assertEqual(sorted(expected), sorted(actual))``` in commit 7ba9220a55d626d0211f3ee9c5beedd47dddf4c4 of pull request #194

[2015-08-13 02:02] kytrinyx commented on #186
That works for me, thanks!

[2015-08-13 02:02] #186 closed

[2015-09-08 20:39] Peque opened #204 "Font size perhaps too big in <blockquote>"
I think the quoted text should have similar (if not the same) size to the rest of the text in the nitpicks. See the image bellow:

![blockquote](https://cloud.githubusercontent.com/assets/526577/9746744/ef132f9e-5679-11e5-9808-aab8568d1817.png)

Instead, it could be a little gray and/or in italics and/or with a different background color.

[2015-09-08 20:41] kytrinyx commented on #204
Agreed.

[2015-09-08 21:00] Peque commented on #204
Font resized
----------
![00](https://cloud.githubusercontent.com/assets/526577/9747165/6387b9b0-567c-11e5-859d-4e684e7e0680.png)

Font resized + italic + gray
----------
![02](https://cloud.githubusercontent.com/assets/526577/9747167/64cfa238-567c-11e5-98cb-65c942f58f2e.png)

Font resized + background color
----------
![03](https://cloud.githubusercontent.com/assets/526577/9747296/30702142-567d-1

[2015-09-08 21:02] Peque commented on #204
I personally prefer the second or the third alternative. :stuck_out_tongue_winking_eye:

BTW: I just noticed I created this issue in `xpython` rather than in `exercism.io`. I should probably have posted this there, right? Do you want me to close this and reopen it there?

[2015-09-08 21:39] kytrinyx commented on #204
Ah, I didn't notice that this was in xpython. Yeah, if you wouldn't mind re-opening it in exercism.io that would be great.

I like the middle suggestion best.

[2015-09-08 21:59] #204 closed

[2015-09-08 22:01] Peque commented on #204
Issue re-opened: https://github.com/exercism/exercism.io/issues/2521

[2015-10-15 19:20] Dog opened #208 "Grade School False Positives"
I believe we could better catch false positives on this exercise with inspect.

https://docs.python.org/2/library/inspect.html#inspect.isgenerator

[2015-10-17 19:05] kytrinyx commented on #208
Do you have specific examples of false positives that the current test suite isn't catching?

[2015-10-19 03:19] Dog commented on #208
The problem is that if the user uses a structure that is unordered, they may get lucky and pass the suite.
https://github.com/exercism/xpython/issues/151

I wrote this as a reminder to investigate if inspect may allow us to better handle the case. Right now we check if they use a generator, sequence, or a class which implements the python magic method `__reversed__` to check if they are using an o

[2015-10-19 12:10] kytrinyx commented on #208
Ah, right. That makes sense. Thanks for clarifying.

[2015-10-26 22:10] #192 closed

[2015-11-06 08:56] behrtam opened #210 "Add missing stub/skeleton files"
I only worked on the *Python* and *Go* track and I noticed a small difference. In the go track (at least for the first 5 problems) there are always stub files, while in the python track there are only stub files for `hello-world` and `bob`.
Maybe there shouldn't be stub files for all exercises, but at least for most of them and definitely for the first exercises. It would make the start easier and

[2015-11-06 13:39] kytrinyx commented on #210
We had a few discussions in the Go track about how many stub files to support, and our answer (a small handful, not too many) was kind of arbitrary, but so far it seems to have worked out.

[2015-11-07 22:26] behrtam opened #214 "Make all exercises PEP8 compliant except line length"
I would like to make all exercises PEP8 compliant except line length (E501) like I already did with the `secret-handshake` 14b726c. Now I am not sure what's the best way to do this. With one pull request for all or a single pull request per exercise that is not compliant.

Exercises with 5 problems on average: [~~'wordy'~~, ~~'word-count'~~, ~~'poker'~~, ~~'simple-cipher'~~, 'nucleotide-count', ~~

[2015-11-07 23:18] Dog commented on #214
I would prefer it was submitted per exercise, with the commit message prepending the exercise.

Something like:

wordy: PEP8 Compliance Updated

[2015-11-10 12:27] behrtam commented on #214
The end is in sight.🏁

[2015-11-10 12:55] behrtam opened #234 "word_count: test mixed case"
I just saw a [solution](http://exercism.io/submissions/6f98994392d649f39ce480c3c1886e2f?i=1) to the `word_count` exercise where my feeling was that this shouldn't pass all tests. There is already one mixed case test, but it has a specific word order so that this solution works.

[code]

[2015-11-10 22:45] Dog commented on #234
The reason for this is that a change was applied to the test to normalize case.

https://github.com/exercism/xpython/commit/0314cbf4d6e6fe4cdf54f3dbf464ddad0cfc1253

It was justified because other language tracks expect normalization - specifically ruby and clojure in the pull request. I also noticed Haskell does this normalization.

[2015-11-10 22:48] Dog commented on #214
Has this issue been completed?

[2015-11-10 22:56] behrtam commented on #234
The very brief [README](https://github.com/exercism/x-common/blob/master/word-count.md) let's space for all sorts of implementation/speculation. The provided example does not need normalization.
If so many tracks expect normalization why hasn't the minimalistic readme been improved?

My simple solution to the mixed case test is to expand the test string `"go Go GO"` to
`"go Go GO Stop stop"` and a

[2015-11-10 23:22] behrtam commented on #214
Just created the last 4 pull requests.

[2015-11-10 23:22] #214 closed

[2015-11-11 11:34] behrtam commented on #210
I had a closer look into the `xgo` repo and saw even there only ~20% of the exercises have stub files. If I understand the `xruby` repo correct they don't have stub files at all.

So, I think this issue should be closed.

[2015-11-12 11:25] kytrinyx commented on #234
I actually don't mind which direction the user normalizes to, and I think that it would be nice to leave that up to the person solving the problem. I like this suggested approach and wouldn't mind changing the other tracks to use it.

[2015-11-12 11:26] kytrinyx commented on #210
Yepp, agreed.

[2015-11-12 11:26] #210 closed

[2015-11-12 11:55] behrtam commented on #234
Okay, did it for the Python track.

[2015-11-13 12:09] behrtam opened #245 "accumulate: Remove deprecation status"
The exercise `accumulate` is currently deprecated [config.json#L58](https://github.com/exercism/xpython/blob/master/config.json#L58) and I would like to change that. The only hint to the reason for the deprecation I could find was in the [example.py](https://github.com/exercism/xpython/blob/master/accumulate/example.py#L1).

The [README.md](https://github.com/exercism/x-common/blob/master/accumula

[2015-11-13 12:17] kytrinyx commented on #245
You make a good argument. @Dog, what do you think? Do you recall any other reasons why we deprecated it?

[2015-11-13 13:41] behrtam commented on #245
I did a little digging and it turns out @sjakobi deprecated it. https://github.com/exercism/xpython/commit/bf9b7804a67dce1bbea263ec2fe5cb1fb4af7141#diff-06b2d3b23dce96e1619d2b53d6c947ecR55

[2015-11-15 16:26] Dog commented on #245
I am not sure, but I seem to recall it was deprecated for being too easy an assignment.

[2015-11-15 20:11] sjakobi commented on #245
Another aspect was my impression that the name of the exercise is rather unfortunate. "Accumulation" is usually understood to be something different than transforming each element of a collection in the same way.
Deprecating the exercise probably wasn't the best solution for that problem though.

[2015-11-15 20:11] sjakobi commented on #245
Another aspect was my impression that the name of the exercise is rather unfortunate. "Accumulation" is usually understood to be something different than transforming each element of a collection in the same way.
Deprecating the exercise probably wasn't the best solution for that problem though.

[2015-11-15 22:47] kytrinyx commented on #245
I think we should rename the exercise across the board to fix the naming issue. I'll open an issue in the x-common repository.

[2015-11-16 00:15] soniakeys commented on #245
Python has itertools.accumulate that does exactly this, right?  I don't know much about functional languages but I would expect a number of them would have a function for this.  If a number of them call it something besides accumulate, maybe that would be a better name.  If not, maybe accumulate is okay.

I thought it was a little strange that the readme makes a special exception for Elixir and Li

[2015-11-18 22:23] #234 closed

[2015-11-20 20:41] behrtam commented on #138
Can this be closed because #173 did expand the test suite for ocr-numbers sufficiently?

[2015-11-20 21:08] kytrinyx commented on #138
Yepp, good call.

[2015-11-20 21:08] #138 closed

[2015-11-20 23:05] behrtam commented on #208
Is there a real difference between for example `isinstance(foo, types.GeneratorType)` or `inspect.isgenerator(foo)`?

[2015-11-20 23:49] Dog commented on #208
I looked into the source and found that `inspect.isgenerator(foo)` actually calls `isinstance(foo, types.GeneratorType)`

https://hg.python.org/cpython/file/2.7/Lib/inspect.py#l179

[2015-11-20 23:49] #208 closed

[2015-11-21 10:32] behrtam opened #253 "word-count: Normalization independent testing"
When @wobh added a test for normalization in #207 @kytrinyx noted the following:

Sadly this is only true for that single test case, all other 10 assume lower case normalization.

The best way to fix this would be if Python or some built-in package like `unittest` would provide us with a case insensitive string comparison function or something like it. I couldn't find one but there has to be somet

[2015-11-21 15:30] kytrinyx commented on #253
I discovered that a bit later: https://github.com/exercism/x-common/pull/128

I don't know what the solution is.

[2015-11-22 12:08] behrtam opened #256 "word-count: watch acceptance after change"
*Not an issue more a mental note.* We should keep an eye on `word-count` now that we have made the split more complicated (#251) and we test unicode (#252). Many linux/mac user might use 2.7 which is not unicode by default.
The task is still pretty easy but maybe not the best 2nd exercise for beginner.

*comments*
http://exercism.io/submissions/2347082298814e2aa721effc72cc3cb7
http://exercism.io/s

[2015-11-22 16:44] wobh commented on #253
Sorry for the oversight. Thank you for bringing it up. I looked around, and turned up this SO question from 2011 where case desensitizing strings in Python is discussed: http://stackoverflow.com/questions/62567/ignore-case-in-python-strings. I don't have any immediate sense of what, if anything from there is useful here.

[2015-11-22 21:57] behrtam commented on #256
http://exercism.io/submissions/2347082298814e2aa721effc72cc3cb7

[2015-11-25 15:29] kytrinyx commented on #256
For what it's worth if we move an exercise farther back, it doesn't affect people who already did the exercise.

[2015-11-25 18:08] Dog commented on #245
I believe this issue can be closed due to the discussion in https://github.com/exercism/x-common/issues/129. Are you alright with that @behrtam ?

[2015-11-25 18:16] #245 closed

[2015-11-26 10:18] behrtam opened #260 "acronym: implement new exercise"
The exercise `acronym` ([md](https://github.com/exercism/x-common/blob/master/acronym.md), [yml](https://github.com/exercism/x-common/blob/master/acronym.yml)) is a very easy one `''.join(word[0].upper() for word in words.split())`. Should we implement it or should we add it to the "foregone" section in the `config.json`.

[2015-11-29 10:53] behrtam commented on #256
While some start with a very hacky first iteration, my feeling is the changes don't make it too complicated.

[2015-11-29 10:53] #256 closed

[2015-12-01 08:19] behrtam opened #271 "Investigate automated test suite generation based on JSON"
Shouldn't be that complicated to write an automated test suite generator which uses the `*.json` file from the `x-common` repo. This could make the initial work for implementing new exercises easier.

See https://github.com/exercism/todo/issues/8

[2015-12-01 18:19] gytdau opened #272 "Skeleton files should be included in all problems to make it easier"
I'm on the Python section, and I've found that only a few challenges include a skeleton file. This is helpful, since you can then start coding without the delay of creating your own file. Example: the Bob challenge comes with bob.py:

[code]

It'd be great if a skeleton file like this was included in all of the challenges, to make things just a little bit easier for everyone.

[2015-12-01 19:21] behrtam commented on #272
I already had a similar feeling #210.

[2015-12-01 20:57] kytrinyx commented on #272
We originally put stub files in early exercises because some people are stumped about how to even start solving the problem without a stub file in place.

However, I've found that one important part of TDD for me has been to recognize categories of errors. Recognizing the type of error that comes from a missing file and a missing constant or definition seems like a fairly important step to me.

I

[2015-12-01 21:06] kytrinyx commented on #271
The tricky thing is that the format isn't necessarily consistent yet (and we don't know if it should be). But there might be a small handful of formats, which would definitely help.

[2015-12-03 09:08] behrtam commented on #272
I see it exactly the other way around. While I agree that recognizing categories of errors is an important skill but once you have created 1-3 files and know how to find out the function signatures this task get's boring and is just an unnecessary step.

[2015-12-03 10:09] gytdau commented on #272
In any case, I see creating the file as a mild annoyance. It would be nice if the file was created for you, but this is not a huge issue.

[2015-12-10 05:14] outkaj commented on #260
Why not implement it but with the caveat "your solution can only be 1 or 2 lines" or something similar? This could encourage users who are unfamiliar to learn more about Python's built-in functions and list comprehension support.

[2015-12-10 05:24] outkaj opened #279 "Need TESTS.md"
"Running the Tests" section [here] (http://exercism.io/languages/python) currently reads "We're missing the documentation about how to run the tests". This should be fixed by adding a TESTS.md file to docs/ with appropriate directions.

[2015-12-10 05:30] outkaj opened #280 "Need LEARNING.md"
"Learning Python" section [here] (http://exercism.io/languages/python) currently reads "We don't have any good resources for learning this from scratch". This should be fixed by adding a LEARNING.md file to docs/ with relevant resources.

This and #279 are good candidates for [24pullrequests] (http://24pullrequests.com/).

[2016-01-21 00:56] kytrinyx opened #282 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-01-24 11:56] oalbe opened #284 "Luhn exercise: are you sure about the checksums in the tests?"
Hey there,

I was solving the exercise `luhn.py` and I'm noticing quite a weird thing.
When I did this exercise for the JavaScript track, some of the checksums were different from what they are in the Python track. Isn't the Luhn method supposed to generate always the same results regardless of the language?

Here are some example:
*luhn_test.py*
[code]

*luhn.spec.js*
[code]

As you can see, the

[2016-01-24 17:17] kytrinyx commented on #284
I'm not sure about the checksums in the tests--they should be the same. It would be great to figure out what the correct inputs/outputs are and then extract all the data into a luhn.json file per https://github.com/exercism/todo/issues/110

Then we could normalize all of the tracks that have this exercise.

If you have time to figure out what the right numbers are, would you mind adding them to ex

[2016-01-25 10:04] oalbe commented on #284
Yep, I can do that, but it will take me a while since I don't have much free time at the moment. I will submit a comment there as soon as I will have the thing sorted out. And I apologize in advance if this will end up protracting for a bit.

[2016-01-25 15:51] kytrinyx opened #287 "Travis CI build is failing across the board... somewhat mysteriously"
Since it started happening consistently and quite suddenly, I wonder if something changed on Travis CI's end with how they set up the environment.

If someone has a moment to dig into what's going on, that would be great.

[2016-01-25 15:53] kytrinyx commented on #287
Ah. See discussion in https://github.com/exercism/xpython/pull/285 -- @oalbe has a suggestion. I'll give it a try.

[2016-01-25 15:54] kytrinyx commented on #284
No worries at all -- that's the nature of this beast. Now that it's documented, someone else might have time to take a look as well.

[2016-01-25 17:05] petertseng commented on #287
I dug into it and have [the explanation](https://github.com/exercism/xpython/pull/283#issuecomment-174270903) for what's going on, but I'm not stylistically opinionated enough to decide how to fix it (either do what the violations direct, or ignore them), so I leave that up to y'all.

[2016-01-25 17:52] kytrinyx commented on #287
Ah, OK, that explanation makes senes. Yeah, I don't have any strong opinions on this (not being a python dev, and all).

[2016-01-25 19:38] behrtam commented on #287
it's a good idea to only make use of `lambda` to use a function without assigning it, like:
[code]

[2016-01-25 20:09] behrtam commented on #284
Not all languages that implement this exercise use those two numbers in their tests, but for example `ruby` and `java` match with `javascript`. Looks like the Python checksums are wrong.
http://www.ee.unb.ca/cgi-bin/tervo/luhn.pl?N=4913
http://www.ee.unb.ca/cgi-bin/tervo/luhn.pl?N=201773

[2016-01-25 22:48] behrtam commented on #287
I have no experience with continuous integration. We could change the `travis-ci` config, to work with a fixed flake8 version `pip install flake8==2.5.1` so we don't break builds without changing anything, only because there is a new `flake8` version. The down side is, that we would need to upgrade the `travis-ci`config every time we want to use a new version of `flake8` (shouldn't happen too ofte

[2016-01-25 23:51] kytrinyx commented on #287
If it's not something that happens too often, I think it's worth it to just change the travis-ci configuration (`.travis.yml`).

[2016-01-26 10:02] petertseng commented on #287
1. Short term: Thanks for dealing with this; other PRs are good to go once they rebase (I know because I rebased mine and it's good)

2. Long term: Pinning versions would indeed help prevent things like this; y'all would have to periodically check for new versions as y'all deem appropriate. Note that you would want to pin at least pep8 in addition to flake8. Probably also pyflakes too. Reasoning b

[2016-01-26 10:42] behrtam commented on #287
`flake8` changed their pinning from `"pep8 >= 1.5.7, < 1.6"` in 2.4 to `"pep8 >= 1.5.7, != 1.6.0, != 1.6.1, != 1.6.2"` in 2.5. They basically decided against pinning ([Issue](https://gitlab.com/pycqa/flake8/issues/32)). So I think we should pin down all the versions.

[2016-01-26 12:16] behrtam commented on #260
Yes why not. Should also be an easy task to figure out how to at new exercises to the python track.

[2016-01-27 11:51] behrtam opened #294 "check tests against the config.json"
As discovered by @oalbe while working on the test runner (`check-exercises.py` #286) it would be good if the actual executed tests are checked against the listed exercises in the `config.json`. Maybe we could also stop running tests for deprecated exercises.

[2016-01-27 11:59] behrtam opened #295 "pinning versions in travis-ci config"
As discussed in #287 it might be a good idea to pinn the version of `flake8` and its dependencies in the travis-ci config (`.travis.yml`).

**Edit:** Maybe we can use https://requires.io to monitor our dependencies. Never used it.

[2016-01-27 11:59] #287 closed

[2016-01-27 12:00] #282 closed

[2016-01-27 16:24] kytrinyx commented on #294
Yeah, that would be great. Configlet checks that the configured problems all exist, but this sounds like it would solve a different problem.

[2016-01-27 16:39] oalbe commented on #294
Ehm... I think I did this. I mean, I modified the `check-exercises.py` script so that it now only runs tests if they are in the `'problems'` key of the `config.json` file and prints something in other cases.

What I was wondering is: is it okay to submit a PR even when one could use some peer-review first? (like I do in this case)

P.S.: I've seen the in the `config.json` file there is an `'ignore

[2016-01-27 17:11] kytrinyx commented on #294
Yepp, that's the perfect use case for a PR. Sometimes we open them when we just want to have a discussion about something and it's easier to show what we mean than to describe it.

Yeah, once all of the tracks have moved everything to `exercises/` then I'll remove that and update configlet to stop checking.

[2016-01-27 17:21] oalbe commented on #294
Alright, so I will do the PR. let's see how it goes.

[2016-01-29 23:20] kytrinyx opened #297 "Testing the new blazon tool. Please ignore."
If you're curious, you can look at it at github.com/exercism/blazon -- it's for when we add new shared json data
for an exercise, or when we want to submit an issue to all of the active tracks.

[2016-01-29 23:21] #297 closed

[2016-01-29 23:45] kytrinyx opened #298 "triangle: incorrect test in some tracks"
Please check if there's a test that states that a triangle with sides 2, 4, 2 is invalid. The triangle inequality states that for any triangle, the sum of the lengths of any two sides must be greater than or equal to the length of the remaining side. If this doesn't affect this track, go ahead and just close the issue.

[2016-01-30 11:48] behrtam commented on #298
[code]
I'm not totally sure what to do. Should the test case just be removed or should we test it as "isosceles" instead?

[2016-01-30 15:35] kytrinyx commented on #298
Let's test in as isosceles--it's a good edge case to have, I think.

[2016-01-31 14:37] behrtam commented on #298
We should wait until this discussion is settled: https://github.com/exercism/xerlang/issues/85

[2016-01-31 17:01] kytrinyx commented on #298
Agreed.

[2016-02-06 13:39] #260 closed

[2016-02-08 10:48] behrtam commented on #284
@oalbe Do you want to make the small adjustment to the luhn implementation?

[2016-02-08 11:12] oalbe commented on #284
@behrtam I thought I did. I mean, I [created](https://github.com/exercism/todo/issues/110) the `luhn.json` with the corrected values for the exercise. I thought it was automatically generated from there. Am I wrong?

[2016-02-08 11:32] behrtam commented on #284
Sadly the test suite is not generated automatically (yet #271). Also the python example implementation needs to be changed slightly according to the new test cases.

[2016-02-08 11:45] oalbe commented on #284
Oh I see. I can totally do the changes if you prefer, so you can focus on something else. But not right this moment, probably in some hours or tomorrow.

[2016-02-08 11:46] behrtam opened #306 "Add monitoring of dependencies"
To avoid manually checking for changed dependencies, now that we introduced version pinning (#305), maybe we could use https://requires.io to do that for us. As you can see in my [fork](https://requires.io/github/behrtam/xpython/requirements/?branch=travis-version-pinning) the versions are extracted successfully.

There are three ways to get notified:

- include a badge into our readme [![Requirem

[2016-02-08 11:48] behrtam commented on #284
Nice, I don't think it's urgent so take all the time you need.

[2016-02-08 11:56] behrtam commented on #298
So my understanding of the erlang issue is that while `2, 4, 2` is a special triangle (degenerated - basically a line) we will treat it as not a triangle (has no area) to keep this exercise simple. So maybe the x-common description needs to be updated but the python test case can stay as it is.

[2016-02-08 21:46] kytrinyx commented on #306
I'd be happy to activate it. Ill take a look at it today.

[2016-02-08 21:56] kytrinyx commented on #306
OK, I think that should work.

[2016-02-08 23:19] behrtam commented on #306
Thank you.

[2016-02-08 23:19] #306 closed

[2016-02-08 23:19] #295 closed

[2016-02-09 17:47] oalbe commented on #284
@behrtam I was working on the resolution of this thing, but I noticed a problem. My fork of the repo didn't sync with the original repo (which is, this one). I am assuming this is because of the pending docs PR I made on the `master` branch directly. Fact is that I wouldn't want to mess something up by committing to a not-updated fork and then pull-requesting from there.

Any idea how to solve thi

[2016-02-14 01:54] kytrinyx commented on #284
If you already have your luhn stuff on master, then my suggestion is to create a backup:

[code]

Then reset master to whatever is on upstream, check out a new branch (e.g. luhn-checksums) and then cherrypick the luhn commit(s) to the new, clean branch.

To make sure your master is exactly what is upstream you can run:

[code]

(this assumes that you have this repo, exercism/xpython, as a remote n

[2016-02-14 11:41] oalbe commented on #284
@kytrinyx Actually I don't have the fixes for this solution pushed, I was doing things locally when I realized the problem, but can revert anytime. What I'm not sure about is: wouldn't a reset on the `master` of my fork automatically close the open PR from master (the one with the two docfiles)? I mean, if I reset my fork to the state of exercism/xpython then the doc files will get deleted and thi

[2016-02-14 22:46] kytrinyx commented on #284
It would only close it if you pushed your reset up to the fork.

[2016-02-15 19:45] oalbe commented on #284
I think I'll wait. The reset should be automatically pushed to my fork when I push the fix for this issue, and I want to avoid making new messes.

[2016-02-15 20:14] #279 closed

[2016-02-15 20:14] #280 closed

[2016-02-16 08:10] rahmonov opened #309 "Running the tests"
Isn't it better to run the tests like `python bob_test.py`? Without installing a third party `pytest`

[2016-02-16 09:29] behrtam commented on #309
Thinking about this (maybe I miss something) using `py.test` doesn't add any value in our case. The `unittest` module also offers the option `-f, --failfast` that acts like `-x` option of `py.test`. Also the output looks almost the same.

Normally one would choose `py.test` because it reduces the needed boiler plate code (but we do use the `unittest` module) and it is more `idiomatic` python than

[2016-02-16 19:07] Dog commented on #309
The advantage pytest gave is it allowed you to run all tests for all exercises at one time. It was implemented by the maintainer that came before me, and I just kept pytest because it was the one they had used.

[2016-02-16 20:55] behrtam commented on #309
The failfast option for `unittest` was added in 2.7.

So maybe we should rewrite [TESTS.md](https://github.com/exercism/xpython/blob/master/docs/TESTS.md) to show the `unittest` way (without 3rd party packages) as the default option and mention `pytest` as simple possibility to run all tests for all exercises.

[2016-02-17 00:11] #284 closed

[2016-02-20 00:05] Dog commented on #309
To make sure my last comment was understood, there is a difference between fail fast and failed first.

Fail fast may be available in unittest, but it does not support running the failed test first the next time it is run.

[2016-02-21 07:07] matts-code opened #312 "bob_test doesn't fully test bob specification"
The bob test suite doesn't test the case of ending a non-question statement with whitespace.  You can see that by this code passing all given tests, but failing if a test case of a statement with trailing whitespace is given.

[code]

An example test case is

[code]

[2016-02-21 19:25] kytrinyx commented on #312
Would you be interested in submitting a patch for this?

We have common test inputs/outputs in the x-common repository: https://github.com/exercism/x-common/blob/master/bob.json -- I don't think we have this test case in there, either.

[2016-02-21 20:15] matts-code commented on #312
Sure. I'm working on it now.

[2016-02-21 21:07] kytrinyx commented on #312
Thanks!

[2016-02-24 05:08] bkarlovitz commented on #3
Are the exercises in the list from @outkaj (three comments up) to be implemented? I'd be happy to do a few. @kytrinyx

[2016-02-24 13:37] behrtam commented on #3
Sure go ahead, but maybe start with one instead of *a few* in parallel. If you need any help or some feedback, join the gitter dev channel or just open an issue or a PR (even if the exercise is not ready). There are many people happy to help.

The exercises in the todo list right now are:
- [ ] alphametics
- [ ] bank-account
- [ ] binary-search-tree
- [ ] binary-search
- [ ] bowling
- [ ] change
-

[2016-02-24 16:36] bkarlovitz commented on #3
@behrtam Thanks :) I'll start with one.

[2016-03-08 23:07] k4rtik opened #315 "Workflow is missing on exercism.io"
There used to be a workflow section in Python language documentation on the main website containing https://github.com/exercism/xpython/blob/master/docs/WORKFLOW.md, it's gone now.

[2016-03-09 15:48] kytrinyx commented on #315
Ah, this file should have been renamed--but I missed it. I'll fix that now.

Thanks for catching it!

[2016-03-09 16:34] kytrinyx commented on #315
Both files exist. Can you tell if I should just copy workflow -> tests, or do we need to carefully merge the content?

[2016-03-09 17:43] k4rtik commented on #315
@kytrinyx I hope that question is not for me, I do not know. I noticed this as I had referred to it when I started practicing python last July, dropped it and continued again couple weeks ago.

[2016-03-09 17:51] kytrinyx commented on #315
It was :) But "nope" is a totally fair answer.

I'll see if I can sort it out.

[2016-03-10 10:38] behrtam commented on #315
So we need to merge `TESTS.md` and `WORKFLOW.md`? If you don't want to look into it, I can try to figure that one out later this day.

[2016-03-10 14:02] kytrinyx commented on #315
Yepp, we need to merge `TESTS.md` and `WORKFLOW.md` into just `TESTS.md`.

That would be great, @behrtam, thanks! If you don't get to it, it'll be on my list.

[2016-03-13 16:24] kytrinyx commented on #298
There was a bit of confusion with this issue. I've summarized my current understanding here: https://github.com/exercism/x-common/issues/202

I am closing this issue. If necessary I will open a new issue once we have come to an agreement about how to resolve the inconsistencies and what exact steps to take.

[2016-03-13 16:24] #298 closed

[2016-03-13 19:54] kytrinyx opened #317 "Verify "Largest Series Product" exercise implementation"
There was some confusion in this exercise due to the ambiguous use of the term _consecutive_ in the README. This could be taken to mean _contiguous_, as in consecutive by position, or as in _consecutive numerically_. The the README has been fixed (https://github.com/exercism/x-common/pull/200).

**Please verify that the exercise is implemented in this track correctly** (that it finds series of con

[2016-03-14 11:18] behrtam commented on #317
The implementation was/is correct, but we were missing some standard test cases.

[2016-03-14 11:18] #317 closed

[2016-03-23 12:32] petertseng opened #319 "Pass explicit list of multiples in "Sum of Multiples" exercise rather than defaulting to 3 and 5"
Hello, as part of https://github.com/exercism/x-common/issues/198 we'd like to make the sum of multiples exercise less confusing. Currently, the [README](https://github.com/exercism/x-common/blob/master/sum-of-multiples.md) specifies that if no multiples are given it should default to 3 and 5.

We'd like to remove this default, so that a list of multiples will always be specified by the caller. Th

[2016-03-26 12:29] #315 closed

[2016-04-02 10:40] de2Zotjes opened #322 "Grade school test is imposing unnecessary restrictions on implementations"
The tests for the grade school exercise assert against an attribute of the class to implement. This imposes restrictions on the name and type of the attribute. Elsewhere in the testsuite the data is accessed via the 'grade' method, that is possible for all tests.

[2016-04-02 16:07] kytrinyx commented on #322
That's a good observation. We've seen this problem in a number of different language tracks, and have slowly been improving the test suite to allow a wider variety of approaches in the solutions.

[2016-04-02 17:20] kytrinyx opened #323 "Verify that nothing links to help.exercism.io"
The old help site was deprecated in December 2015. We now have content that is displayed on the main exercism.io website, under each individual language on http://exercism.io/languages.

The content itself is maintained along with the language track itself, under the `docs/` directory.

We decided on this approach since the maintainers of each individual language track are in the best position to

[2016-04-02 19:51] de2Zotjes commented on #322
Since you agree this is an issue I have taken the liberty to create what I think is an improved set of tests for the grade-school exercise

[2016-04-02 19:51] #322 closed

[2016-04-02 22:05] kytrinyx commented on #3
We have a new process that you can use to find exercises to implement.
You can read all about it [here](https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#porting-an-exercise-to-another-language-track).

I'm closing this issue in favor of the process described in the Contributing guide linked to above.

Thanks!

[2016-04-02 22:05] #3 closed

[2016-04-03 17:36] kotp commented on #319
This should be closed, due to the merge of #327 and this will also signal to exercism/x-common#198 that this is done.

[2016-04-03 17:41] petertseng commented on #319
excellent, many thanks.

[2016-04-03 17:41] #319 closed

[2016-04-03 18:41] #323 closed

[2016-04-06 23:54] kytrinyx commented on #323
Don't mind me.

I'm adding a reference so we get a visual "todo" list in the top level issue,
https://github.com/exercism/todo/issues/181

[2016-04-07 02:38] kytrinyx opened #328 "scrabble-score: replace 'multibillionaire' with 'oxyphenbutazone'"
The word _multibillionaire_ is too long for the scrabble board. _Oxyphenbutazone_, on the other hand, is legal.

Please verify that there is no test for _multibillionaire_ in the scrabble-score in this track. If the word is included in the test data, then it should be replaced with _oxyphenbutazone_. Remember to check the case (if the original is uppercase, then the replacement also should be).

I

[2016-04-07 02:38] kytrinyx commented on #328
Fixed in https://github.com/exercism/xpython/pull/181

[2016-04-07 02:38] #328 closed

[2016-04-07 02:48] kytrinyx opened #329 "binary: improve tests for invalid numbers"
We should have separate tests for:

- alphabetic characters at the beginning of a valid binary number
- alphabetic characters at the end of a valid binary number
- alphabetic characters in the middle of an otherwise valid binary number
- invalid digits (e.g. 2)

If the test suite for binary has test cases that cover these edge cases, this issue can safely be closed.

See https://github.com/exercis

[2016-04-07 02:58] kytrinyx opened #330 "rna-transcription: don't transcribe both ways"
I can't remember the history of this, but we ended up with a weird non-biological thing in the RNA transcription exercise, where some test suites also have tests for transcribing from RNA back to DNA. This makes no sense.

If this track does have tests for the reverse transcription, we should remove them, and also simplify the reference solution to match.

If this track doesn't have any tests for

[2016-04-07 10:06] behrtam commented on #330
The python version contains only DNA to RNA.

[2016-04-07 10:06] #330 closed

[2016-04-07 10:14] behrtam commented on #329
The current status looks like this ...
- [X] alphabetic characters at the beginning of a valid binary number
- [X] alphabetic characters at the end of a valid binary number
- [ ] alphabetic characters in the middle of an otherwise valid binary number
- [X] invalid digits (e.g. 2)

So, we only need to add the case "10convert01" as suggested by @odeits.

[2016-04-07 15:37] kytrinyx commented on #329
Yeah, absolutely.

[2016-04-12 11:15] #168 closed

[2016-04-12 11:15] #187 closed

[2016-04-12 11:22] behrtam commented on #272
I just started to work on the **Scala** track and it's really annoying to create the files. We should create them for all exercises. Mostly without any code, so we don't force specific ways of solving the problems.

[2016-04-12 11:55] behrtam commented on #309
Okay, so `pytest` adds the possibility to run the test first that failed in the last run.

Than I think we should rewrite the `docs/TEST.md` to first mention how to run the tests with the build-in tools and mention `pytest` (what, how, why) as addition.

[2016-04-12 11:56] behrtam commented on #312
@matts-code do you need any help?

[2016-04-13 14:49] kytrinyx commented on #272
Do you mean completely empty files? Or with empty function definitions?

[2016-04-14 10:19] johnjullies opened #332 "missing/incorrect command"
On "Installing pytest" on http://exercism.io/languages/python, the first command is `pip install` which should be `pip install pystest`.

[2016-04-14 11:01] behrtam commented on #272
The test suits define the *class* and/or *function* names, so I would add them as the developer has no choice about that. It's just tiring work that doesn't add any learning value.

[2016-04-14 11:07] behrtam commented on #332
Good catch! That somehow got lost in a merge 20 days ago ...
https://github.com/exercism/xpython/commit/ffa11c6f2c4ef46cf5cf5501968968128b458a15#diff-40736f68964f825efc4f1d54bfc3ab51L5

[2016-04-14 11:18] #332 closed

[2016-04-17 13:23] kytrinyx commented on #272
That sounds reasonable to me.

[2016-04-19 18:02] LegalizeAdulthood commented on #168
**Note:** The approvals test framework isn't implemented for all the language tracks on exercism.

[2016-04-19 19:10] kytrinyx commented on #168
Yeah, not even close, but some of the ideas there could help us figure out what to do with the text-heavy exercises.

[2016-04-19 19:21] LegalizeAdulthood commented on #168
Yeah, I sometimes wish that unit test frameworks in general would act more like diff tools when comparing text.  It's particularly annoying when the difference is due to misplaced whitespace and you're having a real hard time seeing it in output that says "a really big long interesting string with lots of words in it" !+ "a really biglong interesting string with lots of words in it"

[2016-04-19 19:31] kytrinyx commented on #168
I have lost SO much time due to differences in trailing whitespace.

[2016-04-20 11:00] behrtam commented on #168
The default python unittest diff is not so bad as it underlines the missing comma and whitespace in my example.

[code]

[2016-04-21 13:06] kytrinyx commented on #168
Oh, wow. The underlines help a lot.

[2016-05-07 14:18] iamharshit opened #335 "not an issue but a doubt"
please explain the meaning of the word `-teenth` in the exercise http://exercism.io/exercises/python/meetup/readme ,it isn't clear as described

[2016-05-08 14:24] kytrinyx commented on #335
"teenth" is the suffix given to many of the numbers between 10 and 20 in English in its ordinal form.

First, second, third, ..., thirteenth, fourteenth, fifteenth, etc.

[2016-05-09 10:34] iamharshit commented on #335
i got it

[2016-05-09 10:36] iamharshit commented on #335
@kytrinyx
Just wanted an advice, if we got stuck at a problem in that case what should we do ?

[2016-05-09 14:24] kytrinyx commented on #335
You could try the support chat channel http://gitter.im/exercism/support or post the solution you have with a comment explaining where you're stuck:

[code]

[2016-05-09 14:24] #335 closed

[2016-05-20 22:15] rachelkelly opened #336 "No 'year' module to import for use in test for xpython: leap exercise"
Test failure because could not find `year` module to import.  I located another appropriate module to import: `calendar` with method `isleap` for purposes of testing.

Running Python 2.7.10, native install on OSX 10.11.4.

I place as an issue rather than PR because a) unsure how to test for inclusion with Python >= 3.3 and b) if user needs to use a different version of Python then that should be e

[2016-05-20 22:59] rachelkelly commented on #336
I see that the test file has certain expectations of the function name and the file name.  This should be made explicit and I will submit a PR

[2016-05-20 22:59] #336 closed

[2016-05-22 05:14] kytrinyx commented on #336
Hi @rachelkelly, thanks for this!

I'm not familiar with the Python track, but my immediate thought is that the `leap` module is not an existing module that people would import from somewhere, but rather that it's the module that they would write as a solution to this. If this is the case and it's confusing, then we probably need to document this better.

[2016-05-28 17:28] IanWhitney opened #337 "New tests for the Pangram problem"
We have found that the Pangram tests miss edge cases allowing students to pass all of the current tests with an incorrect implementation.

To cover these cases we have added new tests to the Pangram test set. Those new tests were added [in this commit](https://github.com/exercism/x-common/commit/1cc803d847d146faf460982617fad2c2194d3dd2#diff-aadf160c690615b0ad89e2f12b8e779b)

Since this track imple

[2016-06-13 14:18] kytrinyx opened #338 "Copy track icon into language track repository"
Right now all of the icons used for the language tracks (which can be seen at http://exercism.io/languages) are stored in the exercism/exercism.io repository in `public/img/tracks/`. It would make a lot more sense to keep these images along with all of the other language-specific stuff in each individual language track repository.

There's a pull request that is adding support for serving up the t

[2016-06-26 13:37] IanWhitney opened #342 "Sublist tests pass with no implementation"
http://exercism.io/submissions/bc21579f3bf54f6d99a39093d8396157

A member of my Kata group reports that all tests pass with that implementation. It's, uh, very concise. But I don't think it's accurate.

[2016-06-26 23:55] patricksjackson commented on #342
The simple fix for this is an extra test for checking for unique return values, so I threw together the pull request for that.

That implementation above still passes all the other tests, so there may be a better way to do it.

[2016-07-08 09:17] bordeltabernacle commented on #338
In case it hasn't been noticed, this issue can be closed after PR #339 @kytrinyx @Dog :+1:

[2016-07-08 20:58] patricksjackson opened #344 "series, largest-series-product: Conflict when running all tests"
`py.test` gives you the option of running all the tests at once, which is part of the reason why it's used instead of the simpler `unittest` (#309).

When I actually try executing it I hit a problem. It appears that the "largest-series-product" problem reused the filename in the series problem (Both tests use `from series import ...`, so both tests expect a `series.py`). Pytest ignores one of them

[2016-07-09 05:29] Dog commented on #338
Thanks @bordeltabernacle

[2016-07-09 05:29] #338 closed

[2016-07-12 23:32] patricksjackson commented on #329
Since binary is in the process of being deprecated (exercism/x-common#279) this issue can probably be closed.

[2016-07-16 12:43] lbain commented on #272
For what it's worth, I learned about how python file/function names can be imported from Exercism because the default file and functions weren't supplied. Hello World simply uses `import hello_world` and then explicitly calls `hello_world.hello()` from there. But the next exercise (leap year) uses `from year import is_leap_year` and it took me a bit of investigating to work out how it all fits tog

[2016-07-17 01:08] kytrinyx commented on #329
Yeah, I think you're right about that.

[2016-07-17 01:08] #329 closed

[2016-07-20 19:42] patricksjackson commented on #312
Just to ping this thread, it looks like @matts-code contributed this additional test case to x-common (exercism/x-common#186) but since we don't automatically generate the test suite for python it needs to be added here as well.

It's probably safe to assume he's not coming back to add it at this point. I'd be happy to put it together if you want.

[2016-07-20 22:21] Dog commented on #312
@patricksjackson Sure, I'm hoping to go through the pull requests in the next couple of days to try to resolve the backlog we have going on. If you'd like to take the issue, let me know and I'll hold off.

[2016-07-21 15:54] MariiaKravtsova opened #348 "Gigasecond Readme is unclear"
I found it hard to understand what the problem "Write a program that will calculate the date that someone turned or will celebrate their 1 Gs anniversary." was asking for. I am not sure how to re-word it, but I hope someone can think of a more clear way.

[2016-07-21 19:11] Dog commented on #348
This would be an issue for https://github.com/exercism/x-common, as the ReadMes are shared across tracks.

[2016-07-21 19:11] #348 closed

[2016-07-21 19:13] #312 closed

[2016-07-24 23:08] kytrinyx commented on #344
@Dog Would you mind taking a look at this?

[2016-07-25 23:33] #337 closed

[2016-07-25 23:58] Dog commented on #344
I'll be able to take a closer look after Siggraph.

[2016-07-28 21:13] #342 closed

[2016-08-01 07:36] Dog commented on #272
@lbain 's situation is why I've been resistant to including skeleton files. I also feel that the later exercises take longer to implement, and the tediousness of it I feel is usually felt at the beginning by people who have more experience programming. I felt keeping skeleton files out at least forces people figure out how imports work, and as exercises get more difficult it becomes less of an iss

[2016-08-01 07:45] Dog commented on #344
I believe it is a real issue, and that it is affecting more tests than just the two mentioned. For example, several exercises like rna-transcription and point-mutations expect a file dna.py. I did have py.test break with those two exercises, despite them passing in their respective folders.

Unfortunately I think the correct way to fix the problem may be to standardize the exercise files to follow

[2016-08-01 19:21] kytrinyx commented on #344
For the API to work (in order to not deliver the example solutions to people) we need the filename to be called something with example in it.

In some of the other tracks we have a makefile that copies the exercises to a temporary directory and renames the example files to the expected file name. I don't know if that would be appropriate here.

[2016-08-01 22:09] Dog commented on #344
Its fine that the example solution is example.py. I'm suggesting we change the filename users create for their solution to be `<exercise_name>.py`. Sorry, I think its more clear what I am suggesting now that I have the markup fixed above.

[2016-08-02 00:48] kytrinyx commented on #344
I would prefer to normalize and break a few things rather than keep going down a path that requires us to handle things manually or work around weird edge cases.

[2016-08-18 20:57] kytrinyx opened #353 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-08-24 05:29] Dog commented on #344
This issue should now be fixed. Please feel free to reopen if there is an issue.

[2016-08-24 05:29] #344 closed

[2016-09-28 11:30] behrtam opened #364 "Add Python 3.6 to the travis build"
We should validate and finally add Python 3.6 to the travis test setup. https://github.com/exercism/xpython/blob/master/.travis.yml#L9

[2016-10-03 06:35] surajnarwade commented on #364
I would like to take this task.

[2016-10-07 07:12] tewe commented on #272
Having stubs would take the fun out of exercises that require special method names, like Clock.

How about storing the file name in the exercise? Then `exercism submit` wouldn't have to ask and a new `exercism edit` could launch an empty $EDITOR.

[2016-10-07 18:56] patricksjackson commented on #272
@tewe Those may be good suggestions for the client, as the client would have to build those in before we used it here, and I'm not familiar enough to know why they chose not to do that.

May be a good question for https://github.com/exercism/cli

[2016-10-17 02:34] treyhunner opened #373 "Suggestions for making clock exercise more idiomatic"
I teach Python and I sometimes send folks I'm mentoring to Exercism for more practice. 👍

I have some suggestions to make the clock exercise feel slightly more Pythonic. As I noted below, I'm very happy to open pull requests for each of these suggestions.
#### Comparability

Equality of `Clock` objects is tested, but other comparisons (e.g. `<` and `>`) are not checked.

It might be a good exercis

[2016-10-18 00:48] patricksjackson commented on #373
The reason the exercise looks like it does is to match the common tests laid out in [x-common](http://github.com/exercism/x-common), either that or it was directly ported from something like JavaScript. That helps for consistency across tracks and saves the maintainers time designing the test suites.

I'm not one of the maintainers here, but I think filling out the operators as you described is a

[2016-10-18 02:24] treyhunner commented on #373
@patricksjackson it tests for `str` but not `repr`. Given that `str` gives something like '05:05', I think it should have both (since `repr` tends to provide a description of how to construct a duplicate object).

[2016-10-19 14:44] behrtam commented on #364
Looks like the nightly build works with our existing code base: https://travis-ci.org/exercism/xpython/jobs/168941309

[2016-10-19 14:44] #364 closed

[2016-10-19 23:24] treyhunner commented on #373
For the 6 comparisons, you only need to implement 2 if you use [functools.total_ordering][total_ordering] (which is available in Python 2 and Python 3):

[code]

I agree that this is advanced for the third exercise. I think classes in general are a bit advanced for the third exercise. Unless folks are switching from an OOP language like Java, classes can be a very tricky concept initially.

The co

[2016-10-20 08:51] behrtam opened #376 "requires.io badge incorrectly outdated"
The requires.io badge [Requirements Status](https://requires.io/github/exercism/xpython/requirements/?branch=master) still shows as outdated. Somehow it doesn't reflect the changes #363 in the `requirements-travis.txt`.

[2016-10-20 08:54] behrtam opened #377 "Is the SETUP.md still needed?"
Do we still need the single `SETUP.md` on the repo root level with the "new" `docs/` directory?

[2016-10-21 15:14] behrtam commented on #373
Maybe the another option is to move it down a bit anyway and add decorated tests `@unittest.skip("advanced")` for all the additional stuff. So people that already know more about python classes, can do them if they want to.

[2016-10-21 19:30] treyhunner commented on #373
@behrtam: I like both of those ideas! 👍

[2016-10-23 21:13] kytrinyx commented on #377
Yeah, they're for different purposes. SETUP.md gets merged into the exercise READMEs, whereas the docs/ stuff gets included in the documentation on the exercism.io website.

[2016-10-23 21:53] #377 closed

[2016-10-23 21:58] behrtam commented on #353
The old key has been removed with #379.

Maybe we should ask people (or at least some) when they submit a problem how they would rate the problem on a 1-10 scale and than we can set the difficulty based on that survey data.

[2016-10-23 22:07] kytrinyx commented on #353
That could work. Would you mind suggesting it in https://github.com/exercism/discussions/issues? That way we can get more people in on the discussion.

[2016-10-25 13:35] behrtam commented on #373
Okay, do you have the time and interest to work on the new example implementation and the additional skipped tests?

[2016-10-26 08:45] behrtam opened #382 "Add test data versioning"
_quote from the xgo readme_

I want to work on test generation in the coming days and I think versioning of test data might come in handy for this. Anyway it even makes sense without automatic test generation.

So, the question is how do we want to implement it.

**xgo**
They work with two variables in the program and in the test file which is checked by the test. If the test program or test data

[2016-10-26 22:10] laurauzcategui opened #384 "I will implement simple-linked-list"
Newbie in exercism :hand# would like a review on my 1st pull request: #383

[2016-10-27 10:08] behrtam commented on #376
So I wrote to their support ...

Sorry @kytrinyx that I have to bother you again with this. Maybe a last try if this service fails again, we can just remove it.

[2016-10-27 10:09] behrtam commented on #353
https://github.com/exercism/discussions/issues/92

[2016-10-27 10:09] #353 closed

[2016-10-28 10:56] behrtam opened #389 "Add special python methods to linked-list"
In the original pr that added the **linked-list** problem it was suggested to additionally implement some of the special python functions (see _Extra Credit Ideas_ https://github.com/exercism/xpython/pull/212#issuecomment-154601145).

So it would be nice to add methods like `__iter__` and `__len__` (maybe more, if they make sense) with skipped tests (`@unittest.skip("advanced")`) so that people wh

[2016-11-02 18:54] behrtam opened #391 "Run skipped tests"
The **allergies** exercise has an additional [test case](https://github.com/exercism/xpython/blob/master/exercises/allergies/allergies_test.py#L35-L37) which is skipped. If the tests get executed with the `.test/check-exercises.py` script during the travis build, even skipped tests should be run.

[2016-11-03 12:02] behrtam commented on #382
Maybe there will someday also be a `version` key in the `canonical-data.json` that might help with this task (see https://github.com/exercism/x-common/issues/336 for details).

[2016-11-03 14:35] #309 closed

[2016-11-10 04:56] paradime opened #393 "Clock has too many tests to run at once when starting"
Hey, I just completed the clock exercise and had an issue with the test suite. Because there are so many tests, it's hard to use TDD when all of the tests are failing at the same time. In the ruby challenges, we typically skip unimplemented tests and remove the skip after we get the last test to pass. This allows us to use the previous tests as a regression suite while focusing on the new piece of

[2016-11-10 05:03] paradime commented on #393
Closing because this is a duplicate of #189 and #171

[2016-11-10 05:03] #393 closed

[2016-11-10 14:38] behrtam commented on #393
Just out of curiosity. You would prefer to edit the test suite everytime you made a test green instead of running `py.test -x --ff bob_test.py` which would need you to install pytest beforehand (http://exercism.io/languages/python/tests). To me both isn't optimal.

[2016-11-10 15:02] randydsmithjr opened #394 "Suggestion for possible learning resource"
They also have the PyCharm Education Edition which has interactive courses in it. It also contains an Adaptive Python course. I'm personally going to try it but as someone who has been learning for more than a month, I'm not sure how well I can review it since I originally started on Codecademy Pro.

[2016-11-10 18:47] paradime commented on #393
Yea, I skipped over the instructions because I thought they'd be similar to the ruby/javascript/elixir tracks where it might look something like this:

[code]
so by default, the only test that's run is the first one. Then when you make that pass, you 'unskip' (the x represents a skip) or 'uncomment out' that test.

There also might be a concern that there might be too many tests. a 50 case test su

[2016-11-15 07:10] treyhunner commented on #373
@behrtam: yes, but slowly. I'm putting this on my list of stuff to look into in a couple weeks.

If someone else gets to this first please feel free to do this without me. 😄

[2016-11-20 15:33] kytrinyx opened #395 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-21 09:53] behrtam commented on #395
https://github.com/exercism/discussions/issues/97#issuecomment-261892107

[2016-11-21 09:53] #395 closed

[2016-11-25 22:07] kytrinyx commented on #376
Aaah, I missed this. I'll try to get this sorted this weekend.

[2016-11-30 09:08] behrtam commented on #376
With the update of the requirements #399 and the restart it looks good/green again. Thanks!

[2016-11-30 09:08] #376 closed

[2016-11-30 21:30] kytrinyx commented on #376
Awesome, thanks for chasing that down and explaining exactly what I needed to do to get it fixed. It made it very easy.

[2016-12-16 18:46] kytrinyx opened #400 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2016-12-28 04:33] Zclegg opened #401 "Instructions unclear"
For the first two python exercises (`Hello World` and `Leap`), it is pretty obvious what is supposed to happen. `Hello World` takes a string as an input, does some stuff, and returns another string. `Leap` has a number as an input and returns either True or False.

The instructions for `Clock` are

which doesn't make much sense to a newbie like me.

What is a valid input? 20 s? 3:20 pm? half past

[2017-01-11 02:12] IanWhitney opened #402 "Changes to Luhn tests"
We recently rewrote the test suite for the Luhn exercise. Since this track implements Luhn, please [take a look at the new canonical_data.json file](https://github.com/exercism/x-common/blob/master/exercises/luhn/canonical-data.json) and see if your track should update its implementation or tests.

Details on the test changes and the motivation can be found in [the PR](https://github.com/exercism/

[2017-01-28 00:31] rootulp opened #407 "Python version support: 3.3 or 3.5?"
The [README](https://github.com/exercism/xpython/blob/master/README.md) states:

I'm confused. Should we test with Python**3.3** or Python**3.5**? If all exercises must be compatible with 3.3 upwards should we instruct users to test with Python3.3 instead?

[2017-01-30 09:30] behrtam commented on #407
Our CI build is [configured](https://github.com/exercism/xpython/blob/master/.travis.yml#L6-L10) to test with Python 2.7, 3.3, 3.4 ... and the exercises also run with 3.2 or 2.6 I guess. So, the user should just use what ever Python he or she has. If they don't have Python installed, they should probably head for the latest 3.X version.

Contributors to this track should make sure that we support

[2017-01-30 22:34] rootulp commented on #407
Would you mind if I updated the README to reflect this?

[2017-01-31 00:22] behrtam commented on #407
That would be great. Maybe we can find a way so that we don't need to change the readme every time we get a new Python release.

[2017-01-31 17:58] rootulp commented on #407
I think this depends on what versions of Python we want to officially support. If we commit to supporting Python 2.7 and 3.3 and upwards I think it makes sense to instruct contributors to test with those versions. Our CI builds can continue to check for later versions of Python 3.X which I would expect to reasonably pass given they pass 3.3.

[2017-02-15 11:39] richardgiddings opened #414 "list-ops test case for mixed types"
In the list-ops Python exercise there is a test test_reverse_mixed_types that tests a tuple. Should we have this test if we are writing list operations?

[2017-02-15 12:40] behrtam commented on #414
I don't fully understand your question. What do you mean by "should we have this test"? Do you mean it should be removed or are you asking if your code should fulfill that test?

[2017-02-15 12:56] richardgiddings commented on #414
Sorry it wasn't clear. I thought the test should be removed as it is testing tuples rather than lists.

[2017-02-15 13:11] behrtam commented on #414
Yes, the test suite for this exercise definitely needs to be improved. It's not only this one test case: #413

[2017-02-15 15:59] richardgiddings commented on #414
I see, I would say in that case to change test_reverse_empty to:

def test_reverse_empty(self):
    self.assertEqual([], list_ops.reverse([]]))

and remove the test case test_reverse_mixed_types.

I think there are also some unnecessary calls to tuple() but I don't think they affect the purpose of the tests as they are not passing tuples to the list_ops functions.

There is also an argument for ch

[2017-02-15 16:06] richardgiddings commented on #414
Also test_pos_leng could pass a list instead of a tuple.

[2017-02-16 19:43] pheanex commented on #272
Let's get this started -> #415  Please Review
@tewe I also renamed the files such that the name of the test- and implementation-files can be deduced from the exercise-name
I'm with @gytdau and think adding initial/minimal skeleton files makes it more convenient for people  to get started with a new exercise and removes the boring/repititious task of creating new files. So they can get started righ

[2017-02-17 08:02] behrtam commented on #272
We can create any empty file which is required due to being imported in the test file, that makes sense to me. But having every exercise already started with a `class`, `function` or what ever doesn't look like a good idea to me ...

[2017-02-17 08:03] pheanex commented on #272
what about your argument on on 14 Apr 2016 here?

[2017-02-17 09:26] behrtam commented on #272
To explain my schizophrenic self. Let's take the `luhn` exercise as an example. Right now we only provide the test file with the line `from luhn import Luhn`. So, we should definitely provide a `luhn.py` file, no question about that. But how much more should be thought about carefully. Options would be ...

- an empty file

- a minimalistic class
[code]

- a class with all methods
[code]

To provi

[2017-02-17 09:35] tewe commented on #272
I vote for the empty file. People should be free to satisfy an API expecting a class with a function (or a duck) of the same name.

[2017-02-17 15:59] pheanex commented on #272
one advantage of already providing the names would be more comparable solutions. But i can also the advantage of it being part of the exercise, although a bit strenouos if you do more exercises in a session.
=> How do we decide? Is it by voting or does @behrtam pick one?

[2017-02-17 16:03] tewe commented on #272
I want diverse solutions, not comparable ones.

[2017-02-20 08:02] pheanex commented on #272
=> Fallback: Finding decision by default: "By voting" => 2/1 for minimal-skeletton-files
=> I updated the PR => Please review again.

[2017-02-22 08:52] NobbZ opened #416 "Problems with Python word_count_test"
@Miles-Williams commented on [Tue Feb 21 2017](https://github.com/exercism/exercism.io/issues/3385)

Fetched the word-count exercise for Python and the test file won't open in IDLE.

I'm on a Win7 32bit machine and running Python 3.6. I've had no issues with the previous 6 exercises.

When I try to open it by right-clicking and selecting "Edit in IDLE" it just fails to open. It's not that IDLE can

[2017-02-22 10:01] behrtam commented on #416
This seems to be a known [issue21084](https://bugs.python.org/issue21084) with tkinter/python.

One way would be to remove the unicode stuff, not only in this exercise – https://github.com/exercism/x-common/issues/441.

[2017-02-22 10:06] #294 closed

[2017-02-22 11:18] behrtam opened #417 "Should we forgo any missing exercises"
Right now there are 36 exercises that are not yet part of the python track. Besides [implementing](https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#implementing-a-completely-new-exercise) or finishing those, there is also the option ([config.json#L465](https://github.com/exercism/xpython/blob/master/config.json#L46)) to decide not to implement certain problems if they don't make se

[2017-02-22 16:09] #389 closed

[2017-02-26 20:49] jonmcalder commented on #416
I agree with @behrtam: surely it would be better to remove the unicode test case? There are no unicode test cases included at [x-common](https://github.com/exercism/x-common/blob/master/exercises/word-count/canonical-data.json) either which suggests to me that managing character sets isn't really within the core scope of the exercise.

[2017-03-05 09:02] jdh747 opened #421 "Implement bowling exercise"

[2017-03-05 14:08] dzhoshkun opened #423 "Inconsistency in Kindergarten Garden exercise"
The [problem description][prob] says there are 12 children in the class (named Alice through Larry), however the [test suite includes a test with other names][test30]. This is a bit confusing. I think it would be better to keep the README and the test suite consistent.

[prob]: https://github.com/exercism/x-common/blob/master/exercises/kindergarten-garden/description.md
[test30]: https://github.co

[2017-03-07 16:19] behrtam commented on #414
Now with #413 merged, everything should be about lists.

[2017-03-07 16:19] #414 closed

[2017-03-08 08:50] behrtam commented on #271
The inconsistent format should be a thing of the past: https://github.com/exercism/x-common/pull/602

[2017-03-10 23:01] cmlang42 opened #430 "Hello-World just a bit over a newbie level?"
Just thinking a bit about the Hello-World exercise for Python and that it might be a bit above a complete newbie level. In order for a few of the tests to pass an if statement is needed to test the incoming value. While this is low level material, I recommend that maybe it be more simple to have the function simply return the "Hello, World!" string.

[2017-03-10 23:30] behrtam commented on #430
You are not the first or only one that thinks that way. It should change in the future: https://github.com/exercism/x-common/issues/520

[2017-03-12 14:13] #272 closed

[2017-03-16 08:03] #430 closed

[2017-03-16 12:40] #402 closed

[2017-03-16 12:45] #401 closed

[2017-03-16 12:52] #394 closed

[2017-03-19 18:46] rootulp commented on #391
The **linked-list** exercise also has two additional [test cases](https://github.com/exercism/xpython/blob/master/exercises/linked-list/linked_list_test.py#L47) which are skipped.

[2017-03-19 22:49] rootulp opened #434 "Maximum Line Length"
The [Code Style](https://github.com/exercism/xpython#code-style) section states:

[PEP8 ](https://www.python.org/dev/peps/pep-0008/#maximum-line-length) states:

However we encourage developers to check code style with:
[code]

Why do we use a max-line-length of 99 characters instead of 79 characters?

[2017-03-19 23:47] behrtam commented on #434
https://github.com/exercism/xpython/pull/299

[2017-03-19 23:59] rootulp commented on #434
I like this number because it is prescribed by the style guide we conform to. I don't see a reason to override this standard.

[2017-03-20 00:17] behrtam commented on #434
We only `"largely obey the PEP8"` ... and I just see no reason to work with a hard limit of 80 characters only because IBM choose that [number for their punchcards](http://softwareengineering.stackexchange.com/questions/148677/why-is-80-characters-the-standard-limit-for-code-width). The goal should be to avoid long lines but not at all costs.

[2017-03-20 00:37] rootulp commented on #434
I didn't know the IBM punchcard was the origin for the 80 character limit - thanks for sharing!

This [StackOverflow](https://stackoverflow.com/questions/110928/is-there-a-valid-reason-for-enforcing-a-maximum-width-of-80-characters-in-a-code?page=1&tab=votes#tab-top) answer resonates with me:

Also the [Google Style Guide](https://google.github.io/styleguide/pyguide.html#Line_length) also uses a 8

[2017-03-20 09:25] behrtam commented on #434
Most of the arguments for the limit of 80 are totally esoteric ... but just working with `flake8` default settings would make things a little bit easier for new people. But to get to that point we would need to uglify some parts of our code like `grep_test.py` only because of one or two characters over the hard limit:

[code]

[code]

[2017-03-20 12:16] behrtam commented on #434
@rootulp I really like your input and this track could use more people like you. So let's just merge #438 and get real things done instead of arguing about tabs vs spaces or 79 vs 99 max line length.

[2017-03-20 12:23] #400 closed

[2017-03-20 21:53] rootulp commented on #434
Awesome! I feel strongly that this is the case.

[2017-03-20 22:30] #407 closed

[2017-03-22 02:38] cmlang42 commented on #373
Hello @behrtam and @TruthfulTechnology. I was wanting to get started with contributing to exercism and the python/c++ tracks. Would this be an issue that I might be able to pick up?

[2017-03-22 02:41] cmlang42 commented on #430
Thanks @behrtam!

[2017-03-22 05:11] treyhunner commented on #373
@cmlang42 I don't plan to take action to write code regarding this issue soon. This fell through the cracks of my to do list, so please feel free to pick it up if you're motivated to do so.

[2017-03-22 10:16] behrtam opened #440 "Parameter order in assertEqual() statements"
We have both ways of ordering the parameters actual, expected result of the `assertEqual()` method.

While the Python implementation uses indifferent names (first, second - [code](https://github.com/python/cpython/blob/master/Lib/unittest/case.py#L816)) all examples use the order actual followed by expected ([python doc – basic-example](https://docs.python.org/3/library/unittest.html#basic-example

[2017-03-22 10:21] behrtam commented on #373
@cmlang42 if you need any help just ask. If you get stuck just create a pull request with what you have even if it's not finished and we continue from there.

[2017-03-22 17:42] pheanex commented on #440
(actual, expected) looks good to me. I am in favour of consistency.

[2017-03-22 19:34] #416 closed

[2017-03-22 19:36] behrtam opened #445 "Rework word-count exercise to be consistent"
In 2015 we decided to make the `word-count` exercise more interesting and not only split on white spaces (https://github.com/exercism/xpython/pull/177) which was inspired by the Haskell track. Since than other tracks where against it and so Haskell moved back to white space only (https://github.com/exercism/xhaskell/issues/501). This is also the way the canonical test data looks like. So maybe we

[2017-03-22 22:40] rootulp commented on #440
I think conforming to the Python doc basic example is a god idea. (Actual, expected) seems right.

[2017-03-23 02:27] cmlang42 commented on #373
I created a PR (#447) for the part of moving the clock exercise later in the fetch order.  Here is a page with my notes for review of my understanding of the layout of the project:  (since I am a newbie on this project)
http://www.cmlang.com/blog/exercism-issue-fix-walkthrough/

@treyhunner @behrtam

This should, at least address the issue of the complexity of the example being to close to the beg

[2017-03-23 09:16] NobbZ opened #448 "[clock] magic methods and their non-introduction"
In gitters [exercism/support](https://gitter.im/exercism/support)-channel there was a student asking for help with the exercise, because the README wasn't clear enough for him. We were able to help him with that.

While @kotp discovered via pair programming that already the previous exercises weren't properly tested but just printing to stdout, he teached the student the fundamentals of testing be

[2017-03-23 09:28] kotp commented on #448
Thank you @NobbZ for writing that up.

[2017-03-23 09:54] NobbZ commented on #448
I also forgot in my summary, that I'd suggest to use `__str__()` over `__repr__()` in the example as well.

[2017-03-23 12:37] #440 closed

[2017-03-23 13:02] NobbZ commented on #448
Oh, and as we are already in the discussion... Neither `hello-world` nor `leap` are using objects/classes. So there is an overwhelming amount of new stuff in this exercise without preparing the student properly.

[2017-03-23 13:06] behrtam commented on #448
Thanks for the input. Some of the points were already mentioned in #373. So hopefully we can rework this exercise very sone.

As a quick fix it should be moved down in the config.json list (#447).

[2017-03-23 13:12] NobbZ commented on #448
Oh, I haven't realized that there was already an issue open, because I skimmed for `clock` at the beginning of the subject rather than inbetween...

So sorry for the noise then. I'll close this one in favor of #373, which seems to be not only better written but also some fresh ideas.

[2017-03-23 13:12] #448 closed

[2017-03-23 13:19] behrtam commented on #448
While the other issue mentions the str/repr part and that it is too early in the track it acutely aims at making it even more complex. As no one really started to work on that it got lost that the exercise is still in a very wrong spot. So, it was good that you brought the attention back to those problems. I hope we didn't scare too many people.

[2017-03-23 15:56] behrtam opened #450 "Update grains exercise (tests and example)"
The exercise **grains** is missing some exception tests that are part of the canonical test data.
https://github.com/exercism/x-common/blob/master/exercises/grains/canonical-data.json#L55-L72

To add those tests the example implementation also needs to be updated. This task might be similar to the changes done in PR 439: https://github.com/exercism/xpython/pull/439/files

[2017-03-23 20:34] kotp commented on #448
I am just glad that someone popped into the gitter chat room to make inquiries.

[2017-03-24 01:24] cmlang42 commented on #450
I will take a look at this.

[2017-03-27 19:59] wojciechrak opened #458 "Pangram exercise contains non-ASCII characters test"
According to this issue: https://github.com/exercism/x-common/issues/441
such test cases should be removed.

Edit:
Silly me, should've check the pull requests first.
It's done here: https://github.com/exercism/xpython/pull/442

[2017-03-27 20:01] #458 closed

[2017-03-29 13:06] csabella commented on #445
As you said, it makes the exercise more interesting to split on more than white space.  Since it was an early exercise, I found it quite challenging to come up with a solution to do more than just split().  So, while it was an excellent exercise to learn from, it may be too early in the ordering (assuming that the exercises get progressively more difficult) to introduce both complicated splitting

[2017-04-02 15:36] #434 closed

[2017-04-04 16:00] kytrinyx opened #462 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-04 16:04] #462 closed

[2017-04-05 18:59] behrtam commented on #462
Okay, we should be ready: https://github.com/exercism/xpython/commit/af1cdf3246a5e275016062c546eabdcd25f280b9

[2017-04-05 19:13] kytrinyx commented on #462
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-07 19:50] catherinedevlin opened #464 "convert to assert-based tests?"
Since the instructions suggest running the tests with `py.test` anyway, there's no need to use heavyweight `unittest`-based tests.  `py.test` supports simple `assert` tests, which I think would be much clearer and less intimidating for new programmers to understand.

For example, `hello_world_test.py` could be slimmed down to
[code]

... unless there's some exercism-specific reason not to do so?

[2017-04-08 06:37] behrtam commented on #464
While we suggest to use `py.test` it would actually be interesting to know how many people really install it or just stick to the built-in stuff.

Every exercise can be solved without the need to install 3rd party packages. The same is true for the tests, we even make sure that it runs on 2.7, 3.3, 3.4, ... because many people can't or don't know how to install another python version.

Without any

[2017-04-09 17:44] behrtam commented on #464
Do you really think the difference is so huge that it would be worth to force everyone to install `py.test` even if most of the people already run `py.test`? We would save 4 lines per test file (import, class, run main) and sometimes have a nicer simpler assert line and in other cases, it maybe isn't  really simpler.

A – unittest
[code]
A – unittest
[code]

B - unittest
[code]

B - py.test
[code]

[2017-04-09 20:12] hop opened #466 "allergies:"
`AllergiesTests` does not subclass `unittest.TestCase`

[2017-04-09 20:19] #466 closed

[2017-04-09 20:19] behrtam commented on #466
Sorry and thanks for the hint.

[2017-04-11 10:05] #450 closed

[2017-04-11 16:55] cmlang42 commented on #423
Agreed. The problem description does list the "children in the class" and the "disordered test" specifies names that are not on that class list. I propose to change the disordered test to use names from the list in the problem description.

@behrtam - I would like to work on this issue.

[2017-04-11 17:18] behrtam commented on #423
We should work on this at the `x-common` level first.

[2017-04-17 17:35] rootulp commented on #445
+1 for conforming to the [canonical data](https://github.com/exercism/x-common/blob/master/exercises/word-count/canonical-data.json)

[2017-04-19 08:09] behrtam commented on #464
The difference is very small and there are many people that don't use `py.test` ([survey](https://gist.github.com/behrtam/9b1aaae227b5e67dd145ecd5f74e58eb)).

[2017-04-19 08:09] #464 closed

[2017-04-19 08:13] behrtam commented on #382
Versions are added gradually, so the next step is validation: https://github.com/exercism/discussions/issues/133

[2017-04-19 08:13] #382 closed

[2017-04-19 08:14] #253 closed

[2017-05-01 08:49] behrtam opened #471 "Rework phone-numbers"
The canonical test data has been updated [(canonical-data.json)](https://github.com/exercism/x-common/blob/master/exercises/phone-number/canonical-data.json) but I think there is more work to be done than just adding the missing test cases.

### Invalid input

Right now invalid input is handled by returning `10 * "0"`. I think we should probably switch this to `Exceptions` instead.

### exercise e

[2017-05-07 12:23] behrtam commented on #423
https://github.com/exercism/x-common/pull/770

[2017-05-07 12:23] #423 closed

[2017-06-04 02:20] kytrinyx opened #476 "meetup: incorrect test"
@Ef-Eff reported in https://github.com/exercism/exercism.io/issues/3552:

The last test for the Python challenge  Meetup is written incorrectly, it is simply missing the parentheses for the function after the exception.
This:
`def test_nonexistent_fifth_monday_of_february_2015(self):
        self.assertRaises(MeetupDayException, meetup_day, 2015, 2, 'Monday',
                          '5th')`
Shou

[2017-06-04 13:26] behrtam commented on #476
It is written correctly as it is right now.

If you take a look at the python docs ([see this](https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertRaises)) you will see that `assertRaises(exception, callable, *args, **kwds)` takes a callable and than the arguments for that. This way you don't actually call the function your self.

While it's correct, I still think we could impr

[2017-06-04 13:48] behrtam opened #477 "Improve exception tests"
Maybe we should change the way we test exceptions (see #476) to always use a `context manger` as this way is easier to understand.

[code]

## Steps
- [ ]  update old tests
- [ ] document this in the readme for new exercises

[2017-06-04 13:52] #476 closed

[2017-06-04 13:55] behrtam opened #478 "Add information about stub files to readme"
In #415 we decided to use stub files for all exercises. This practice should be documented in the readme.

[2017-06-08 09:04] #478 closed

[2017-06-08 13:38] TApicella opened #480 "Add example test to README"
Currently, README files have a description of the exercise and goals, but refrain from mentioning implementation details However, the test suite does require a specific format for inputs and outputs, particularly for handling invalid results (some check for a raised exception, others will accept an empty string).

Including one of the tests in the README would give a programmer all of the informat

[2017-06-08 13:40] TApicella opened #481 "Change test suite naming convention to use test_ as a prefix"
Currently, the naming convention is foo.py and foo_test.py.  Changing to test_foo.py would be more tab-complete friendly when using the command line.

[2017-06-09 07:05] behrtam commented on #480
The READMEs for the exercises are maintained language independent: https://github.com/exercism/x-common/tree/master/exercises

As you mention exceptions ... so we would at least need to include a basic test and an exception test in the readme. If we would have multiple functions or a class with multiple methods, we would need to copy 2-5 tests into the readme and update them in both places if we c

[2017-06-09 07:14] behrtam commented on #481
We might have to check if this plays well with [configlet](https://github.com/exercism/configlet) and we would need to update [check-exercises.py](https://github.com/exercism/xpython/blob/master/test/check-exercises.py) but I think that should be possible.

[2017-06-20 14:09] chuckwondo opened #487 "kindergarten-garden: bugs in unit test"
The `test_disordered_test` method has 2 bugs in it. The following calls specify the wrong student names:

[code]
The correct names, are `"Samantha"` and `"Roger"`, respectively.

[2017-06-20 16:02] behrtam commented on #487
As discussed in #423 they are not wrong but the tests should definitely be updated according to the new canonical test data.

[2017-06-20 16:11] chuckwondo commented on #487
I'm not sure I quite follow what #423 is trying to solve, but I believe the test case is actually wrong.

Regardless of the fact that the names are different from the "default" names, the names that I claim are erroneous do not line up with the list of names and the list of plant codes in `test_disordered_test`, which is why I'm claiming them to be erroneous. Changing them to the names I specified

[2017-07-09 11:51] pyup-bot opened #490 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create separate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2017-07-09 12:01] #490 closed

[2017-07-13 08:56] #384 closed

[2017-07-13 08:56] #421 closed

[2017-07-13 08:56] #271 closed

[2017-07-13 08:56] #373 closed

[2017-08-11 16:47] JanKaifer opened #509 "Function in templates should have parameters?"
I feel better if I have the parameters in template (maybe because I'm used to it from other sites). When I've been solving first problem with input I didn't knew how I'm supposed to get input. I had to look in the tester script.

[2017-08-11 18:55] behrtam commented on #509
But shouldn't choosing a good name for parameters be part of solving the exercises?

[2017-08-11 21:34] JanKaifer commented on #509
You can always rename it 😄

[2017-08-14 01:29] kotp opened #512 "Gitter Room... migrate to exercism/python"
The room (and badge in Readme) would do well to be moved to https://gitter.im/exercism/python as currently references to issues here are becoming broken, and the link to the chat room is also broken from the Readme file.

[2017-08-15 14:41] #480 closed

[2017-08-15 14:41] #481 closed

[2017-08-18 16:59] skabbass1 commented on #417
@behrtam
Are you still looking for contributions on this issue ( implementing the 36 exercises not part of the python track). Also  just curious to know why you think certain problems don't make sense for the python track (I haven't looked through all the exercises so just asking for my information :) )

[2017-08-20 19:00] m-a-ge commented on #509
Fixed in https://github.com/exercism/python/pull/510

[2017-08-21 12:04] JanKaifer commented on #509
@m-a-ge well its not fixed yet because I fixed just one exercise. But others templates ar still without parameters. If you find this as a good idea then all exercises should be modified.
I don't know where to write it to let others know that new exercises should have parameters in template. And to tell contributors that someone could upgrade other exercises as well.

PS. Thanks for patience and so

[2017-08-21 19:37] m-a-ge commented on #509
@JanKaifer, got it now
I'll reopen the issue then

[2017-08-22 06:19] JanKaifer commented on #509
Thx

[2017-08-22 13:21] JanKaifer commented on #509
Hi, how can I add label to this issue? I'm contributor so I should have the rights. But I don't have theses checkboxes for adding labels. I'd love to mark this as beginner friendly or even first-timers-only.
Thx

[2017-08-22 15:14] m-a-ge commented on #509
@JanKaifer, I've added requested label.

[2017-08-22 17:12] m-a-ge commented on #512
I am not that familiar with Gitter and not sure how one can create a chat room and redirect others to a new one. Should investigate

[2017-08-24 20:55] kotp commented on #512
How I did it for the Ruby (and others) room was create the new room, and announce in the old room.  I also added them in manually to the new room.  I then took about a week or so (over a weekend for sure, maybe two) to give time to know about the room.  And eventually deleted the old room.

[2017-08-24 20:56] kotp commented on #512
Once the room is created on Gitter, the links in the Readme will automatically work, as they point to python, rather than xpython.

[2017-08-26 17:02] #487 closed

[2017-09-02 10:16] behrtam commented on #512
@kotp thanks for the detailed steps https://gitter.im/exercism/python

[2017-09-02 10:16] #512 closed

[2017-09-05 23:37] matthewmorgan opened #520 "Increase 80-character limit for linting to 120(?) chars"
The 80-character limit made sense when most people were using low-resolution displays without a lot of screen real estate, but its usefulness has passed.

It seems good to have a limit, but does it need to stay at a mere 80 characters?

[2017-09-06 19:26] behrtam commented on #520
#299 #434 ... I once was against this strict limit, but it's a de facto standard in the Python world.
I would not say "its usefulness has passed", if you solve exercises in split view with the code and the tests side by side it still helps. Also we have to have a limit at some point, so why not use the suggested limit from the official Python style guid `PEP8`.

[2017-09-06 23:25] lilislilit commented on #509
#521 Mostly covers it, I hope :)

[2017-09-06 23:39] matthewmorgan commented on #520
@behrtam I guess this is a 'tabs vs spaces' kind of a thing.  As a contributor (potential contributor?) to the track, it's painful to have my builds fail because one of my lines is 81 characters long.  I do think that maybe a 16-year old style guide should be taken with a grain of salt, but I understand that's a choice that the track maintainers have made.

The contributing guide mentions PEP8 bei

[2017-09-06 23:42] #520 closed

[2017-09-07 14:27] JanKaifer commented on #509
Thanks for changing all exercises.
I'm wondering If this issue should be closed (because it's changed everywhere) or left open (as info for new exercises).

[2017-09-07 18:15] lilislilit opened #524 "Alphametics reference solution"
I noticed, when running test/check-exercises.py that test for alphametics take almost 220 seconds, give or take. I am not sure, maybe there is more optimal solution out there somewhere?

[2017-09-07 18:38] JanKaifer commented on #509
@m-a-ge could you please un-merge my PR #514 because as @behrtam says in #521 there should be just one exercise per PR as in #510.

(Maybe we could make on exception with this rule because this will create lot of PRs. But @m-a-ge @behrtam  are the leaders here :smile: .)

[2017-09-07 19:39] m-a-ge commented on #509
First of all, @lilislilit and @JanKaifer thanks for working on this!
To be honest I don't want to revert #514, we can always create a new PR to improve params naming if required
And I also agree that creating PRs for each exercise can be time consuming and unnecessary

[2017-09-08 00:43] lilislilit commented on #509
@m-a-ge I agree, I don't have that much of a preference, but it would be like...a few dozen PR's. We should come to agreement with @behrtam then.

[2017-09-08 07:10] eliaahadi commented on #384
Was this implemented? I saw a double linked list, but not a simple one.

[2017-09-08 07:36] m-a-ge commented on #384
There is https://github.com/exercism/python/tree/master/exercises/linked-list in https://github.com/exercism/python/tree/master/exercises

@eliaahadi, is there a point in implementing a simple one?

[2017-09-08 15:12] lilislilit commented on #509
@JanKaifer  I revied the list on the top, and there are far too many items there, that are already implemented. These are those that left, not that impossible(Hacktoberfest is around the corner!):

Binary Search Tree
Custom Set
Bowling
Food Chain
Bank Account
Forth
React
Compute the result for a game of Hex / Polygon
Simple Linked List(? seems like it is already done in linked-list)
Dominoes
Paral

[2017-09-08 15:18] eliaahadi commented on #384
Doubly linked list does cover simple one, that said for a beginner programmer, doubly is harder and to build skills progressively, simple linked list is easier to start with. If this is something that is easy to implement, then we can consider doing it. Otherwise, no need for this. Also, the name of linked list should be updated to "Doubly Linked List" instead of just "Linked List" since I was act

[2017-09-08 16:42] m-a-ge commented on #509
Should we create a separate issue for each of mentioned exercises and label them accordingly for Hacktoberfest?

I've merged it, thanks

[2017-09-08 16:44] m-a-ge commented on #384
@eliaahadi, got it.
Do feel like implementing it?

[2017-09-12 14:17] behrtam commented on #524
Just looked at this and saw that it is a solution created by me. It looks like a simple brute force approche, so if you can find a better solution that would be great.
I don't remember but I guess I didn't spend much time to finde something that is better/faster.

[2017-09-22 14:12] cmccandless opened #527 "Complex Numbers: Incorrect test case"
Case `test_multiply_numbers_with_real_and_imaginary_part` appears to test under the assumption that the correct implementation of (a + bi) * (c + di) = (ac + bdi) (or, using the data from the test: (1 + 2i) * (-5 + 10i) is expected to equal (-5 + 20i)).

The correct formula for this operation is [(a + bi) * (c  + di) = (ac - bd) + (ad + bc)i](http://mathworld.wolfram.com/ComplexMultiplication.html

[2017-09-22 15:39] m-a-ge commented on #527
@lilislilit could you please take a look at it when you have some time?

[2017-09-22 16:41] cmccandless commented on #527
Due to my lack of knowledge of how GitHub web works, I accidentally created a new issue, #528, and attached a pull request.

[2017-09-23 16:23] N-Parsons commented on #471
I've updated the tests cases in PR #529 because they were leading to a discrepancy between the README and the tests, and thus caused me some confusion when I was implementing my solution. The README said that the area and exchange codes must start with [2-9], but the tests were all using an area code starting with 1.

### Invalid input
I agree that raising an exception would be preferable to retur

[2017-09-24 08:13] shaleh opened #530 "alphametics: not all intended tests are run"
When using Python's `unittest` framework, a test method must have the word 'test' in it.

 * solution_must_have_unique_value_for_each_letter
 * leading_zero_solution_is_invalid
 * puzzle_with_six_letters

Are all not run. You can see this with `python ./alphametics_test.py -v`.

[2017-09-24 08:14] shaleh opened #531 "alphametics: please order the unit tests"
Python runs the tests based on their alphabetic sorting not their physical order in the file.

It would be nice to have the small cases first and then the larger. The invalid checks are fine at the beginning or the end.

[2017-09-24 08:41] shaleh commented on #524
Wow. It runs in 30s or less on my couple of year old laptop.

[2017-09-24 10:24] m-a-ge commented on #530
Thanks for creating this one, @shaleh!

[2017-09-24 17:34] shaleh commented on #530
I can submit a PR.

[2017-09-24 20:10] m-a-ge commented on #530
@shaleh, it would be really appreciated

[2017-09-25 17:48] shaleh opened #534 "grep: why is a unit test messing with files??"
This is what mocking and monkey patching are for.

[2017-09-25 18:01] shaleh opened #535 "binary-search: ValueError is the wrong exception to use"
From the Python docs:

    ValueError Raised when a built-in operation or function receives an argument
    that has the right type but an inappropriate value

Why not have the test mimic the result of `find` and return -1?

I like how the Go version of this exercise has the developer return the position the requested item would have in the container if the item is not found. So the user of the ro

[2017-09-26 15:18] JanKaifer commented on #509
Hi, could you ( @lilislilit ) please wrote exact names?
I found just half of your list.

PS: sorry for long inactivity

[2017-10-01 05:43] tallpants commented on #535
@shaleh `ValueError` is what's raised by the `index()` method, which is why I think it's fine here as well.

See: https://docs.python.org/3.6/tutorial/datastructures.html?highlight=index

[2017-10-01 07:43] shaleh commented on #535
Fair enough. `index` gives the impression that the item is expected to exist the user just does not know where. Search does not give that same impression. But I can see why it was chosen here.

[2017-10-01 08:46] #530 closed

[2017-10-01 08:55] behrtam commented on #534
Sure, but how would you do it without 3rd party stuff and still support Python2.X. `unittest.mock.mock_open` would be perfect for this, but it is only available since Python3.3 I think.

https://docs.python.org/3/library/unittest.mock.html#mock-open

[2017-10-01 09:01] behrtam commented on #531
Important point, never thought about that.

[2017-10-01 16:27] shaleh commented on #534
Pass in a "file" object. Then you can use fake files.

On October 1, 2017 1:55:23 AM PDT, Tammo Behrends <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-10-02 09:10] sjwarner-bp commented on #509
I've just done this for the `acronym.py` template. I hope I did it ok, I am new to this! Please let me know if there is anything I could have done better.

[2017-10-02 15:29] sjwarner-bp commented on #531
[code]

[2017-10-02 18:03] shaleh commented on #531
Sounds like the easiest and most attractive solution. The other is to embed the order in the method names: `test001FirstTest` `test002AnotherTest` and so one.

[2017-10-02 19:09] m-a-ge commented on #530
@shaleh, thanks for your help and sorry for the delay!

[2017-10-02 19:22] shaleh commented on #530
No worries @m-a-ge

[2017-10-02 21:52] m-a-ge opened #537 "accumulate: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #538 "all-your-base: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #539 "allergies: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #540 "alphametics: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #541 "anagram: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #542 "atbash-cipher: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #543 "beer-song: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #544 "binary-search: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #545 "binary: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #546 "bob: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #547 "book-store: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #548 "bracket-push: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #549 "change: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #550 "circular-buffer: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #551 "clock: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #552 "collatz-conjecture: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #553 "crypto-square: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #554 "diamond: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #555 "difference-of-squares: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #556 "etl: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #557 "flatten-array: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #558 "gigasecond: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #559 "grade-school: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #560 "grains: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #561 "grep: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #562 "hamming: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #563 "hello-world: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #564 "hexadecimal: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #565 "house: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #566 "kindergarden-garden: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #567 "largest-series-product: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #568 "leap: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:52] m-a-ge opened #569 "linked-list: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:53] m-a-ge opened #570 "list-ops: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:53] m-a-ge opened #571 "luhn: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-02 21:53] m-a-ge opened #572 "matrix: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 00:09] smt923 commented on #537
Looks like accumlate already has parameters in it's placeholder? If it should be something else I'd like to work on this but it looks okay already to me:

[code]
https://github.com/exercism/python/blob/master/exercises/accumulate/accumulate.py#L1

[2017-10-03 00:11] smt923 commented on #538
I'd like to work on this - if there's no placeholder already should I add it (all_your_base.py)? With the added parameters too of course

[2017-10-03 00:18] smt923 commented on #552
Working on this one as well (a lot of these are done already, should I make another issue marking ones which have examples + parameters?)

[2017-10-03 02:14] prakashdanish commented on #572
could you explain what needs to be done with an example?

[2017-10-03 02:35] pamtdoh commented on #558
I've made a pull request on this one. #589

[2017-10-03 04:10] kabiir commented on #417
@behrtam I can contribute binary-search-tree exercise should I open a new issue for it or reference the closed one #388 in my PR

[2017-10-03 06:10] m-a-ge commented on #417
@kabiir, that is awesome.
I'm planning to open issues for these exercises as part of Hacktoberfest. Will it work for you?

[2017-10-03 06:12] m-a-ge opened #597 "acronym: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #598 "meetup: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #599 "minesweeper: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #600 "nth-prime: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #601 "nucleotide-count: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #602 "orc-numbers: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #603 "octal: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #604 "palindrome-products: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #605 "pangram: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #606 "pascals-triangle: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #607 "perfect-numbers: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #608 "phone-number: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #609 "pig-latin: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #610 "point-emulations: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #611 "poker: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #612 "prime-factors: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #613 "protein-translation: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:12] m-a-ge opened #614 "proverb: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #615 "pythagorean-triplet: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #616 "queen-attack: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #617 "rail-fence-cipher: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #618 "raindrops: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #619 "rectangles: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #620 "rna-transcription: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #621 "robot-name: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #622 "robot-simulator: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #623 "roman-numerals: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #624 "rotational-cipher: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #625 "run-length-encoding: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:13] m-a-ge opened #626 "saddle-points: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 06:52] #597 closed

[2017-10-03 07:11] m-a-ge opened #634 "say: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #635 "scale-generator: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #636 "scrabble-score: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #637 "secret-handshake: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #638 "series: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #639 "sieve: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #640 "simple-cipher: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #641 "space-age: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #642 "strain: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #643 "sublist: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #644 "sum-of-multiples: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #645 "tournament: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #646 "transpose: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #647 "triangle: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #648 "trinary: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #649 "twelve-days: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #650 "two-fer: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #651 "variable-length-quantity: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #652 "word-count: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #653 "word-search: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #654 "wordy: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:11] m-a-ge opened #655 "zebra-puzzle: add parameters to exercise placeholder"
We would like you to help us add expected parameters in placeholder templates as described in #509 to make it easier for learners to start working on the exercise in question.

Feel free to ask any questions, we'll be glad to help!

[2017-10-03 07:13] m-a-ge commented on #509
@JanKaifer, thanks for your list. I'm creating separate issues for each of these exercises  as part of Hacktoberfest.
I hope you and @lilislilit will contribute since you've committed a lot of in this.

[2017-10-03 07:38] a-arpit94 commented on #638
#656

[2017-10-03 07:41] mikeyny commented on #655
Hy , @m-a-ge  can i work on this ?

[2017-10-03 07:43] sharno opened #658 "simple-cipher: add parameters to exercise placeholder"
As described in #509 to make it easier for learners to start working on the exercise in question. I'm just creating this issue for followup with a pull request specific to this exercise

[2017-10-03 07:44] subkrish commented on #612
@m-a-ge I am on this issue.

[2017-10-03 07:45] mikeyny commented on #655
I've been looking at the test case though , it seems the function doesn't take any parameters

[2017-10-03 07:46] sharno commented on #658
I'm really sorry I didn't notice #640

[2017-10-03 07:46] #658 closed

[2017-10-03 08:01] RCMainak commented on #612
Ops...

[2017-10-03 08:09] a-arpit94 commented on #654
#656

[2017-10-03 10:11] gabriellhrn commented on #653
It looks like [it's done for `word-search`](https://github.com/exercism/python/blob/master/exercises/word-search/word_search.py#L26).

[2017-10-03 10:58] kabiir commented on #417
@m-a-ge  Yes of course! I'm excited to start coding.

[2017-10-03 11:33] saurabhchalke commented on #608
I would like to contribute to this one.

[2017-10-03 11:49] saurabhchalke commented on #608
I have fixed the issue in #675

[2017-10-03 12:00] saurabhchalke commented on #607
I would like to take take this up.

[2017-10-03 12:06] TanmayGoyal commented on #600
@m-a-ge I will take it

[2017-10-03 12:17] saurabhchalke commented on #607
Fixed the issue in #675

[2017-10-03 15:11] lilislilit commented on #527
@cmccandless thanks a bunch for the fix, I was away from civilization for quite some time

[2017-10-03 16:58] saurabhchalke commented on #608
Issue fixed in #687

[2017-10-03 17:06] saurabhchalke commented on #607
Issue fixed in #688

[2017-10-03 18:44] m-a-ge commented on #527
@cmccandless I've merged #528
@lilislilit I'm glad you're back :simple_smile:

[2017-10-03 19:12] m-a-ge commented on #653
@gabriellhrn thanks, looks like I opened it by mistake

[2017-10-03 19:12] #653 closed

[2017-10-03 19:33] m-a-ge commented on #655
Ops, my bad. @mikeyny, thanks for checking

[2017-10-03 19:33] #655 closed

[2017-10-03 19:52] m-a-ge commented on #658
@sharno thanks for your initiative anyway, I like it 😉

[2017-10-03 21:27] JanKaifer commented on #548
There already is parameter named "string" which is good enough i think. bracket_string_to_verify is too long in my opinion.

[2017-10-04 05:58] jnaulty commented on #543
@m-a-ge
beer-song: :robot:  already [parameterized](https://github.com/exercism/python/blob/master/exercises/beer-song/beer_song.py#L1) :robot:
:man_singer:

[2017-10-04 06:14] JanKaifer commented on #509
@m-a-ge do you need help with merging PRs?

[2017-10-04 07:40] m-a-ge commented on #509
@JanKaifer it definitely take some time to go through all of them, to be honest.
Do you want to become a maintainer of the track?

[2017-10-04 07:42] m-a-ge commented on #543
@jnaulty sorry, bro, my bad.
And thanks for checking

[2017-10-04 07:42] #543 closed

[2017-10-04 07:49] m-a-ge commented on #548
Honestly I don't like 'string` option since it does not give any real meaning. I guess it's better to have something more suitable

[2017-10-04 08:18] parinporecha commented on #646
@m-a-ge I'd like to take this up. Can you please assign this issue to me?

[2017-10-04 09:09] parinporecha commented on #646
#700

[2017-10-04 09:14] parinporecha commented on #636
#701

[2017-10-04 09:19] parinporecha commented on #622
#702

[2017-10-04 09:32] parinporecha commented on #615
#703

[2017-10-04 09:42] parinporecha commented on #606
#705

[2017-10-04 09:50] parinporecha commented on #542
#706

[2017-10-04 10:21] m-a-ge commented on #636
Fixed in #701

Thanks, @parinporecha

[2017-10-04 10:21] #636 closed

[2017-10-04 10:45] #542 closed

[2017-10-04 10:55] #654 closed

[2017-10-04 11:29] #598 closed

[2017-10-04 11:45] #564 closed

[2017-10-04 12:02] m-a-ge commented on #537
@smt923 thanks for checking.
I believe we can change existing names to something more meaningful
What do you think?

[2017-10-04 12:06] m-a-ge commented on #538
@smt923 oh, that should be fixed, thanks!

[2017-10-04 12:06] #538 closed

[2017-10-04 12:10] #568 closed

[2017-10-04 12:15] m-a-ge commented on #552
@smt923 no. I think I'll have to go over all exercises after all open issues will be closed to check everything once again

[2017-10-04 12:23] #562 closed

[2017-10-04 15:40] #558 closed

[2017-10-04 16:28] JanKaifer commented on #509
I would love to. At least try it 😀.

[2017-10-04 16:38] m-a-ge commented on #608
there are two PRs for the same issue: #591 and #687
@Sukhj1nder created his PR first, so it would be fair to merge it.

@saurabhchalke, don't be discouraged, there will be enough issues in this repo thought the month

[2017-10-04 16:41] #609 closed

[2017-10-04 17:09] mostlybadfly commented on #545
I believe this placeholder already has parameters.  I just wanted to make sure I understand before taking a look. Is one needed here?

[2017-10-04 19:16] #620 closed

[2017-10-04 19:34] Sukhj1nder commented on #608
@m-a-ge Is there any issue with the commit, or is it all good to merge?

[2017-10-04 19:34] #626 closed

[2017-10-04 19:38] m-a-ge commented on #545
@mostlybadfly this a good thing you asked before working on a PR. The exercise has a parameter (`string`), but it is too general, I think we come with something more meaningful

[2017-10-04 19:40] m-a-ge commented on #608
I want to hear @saurabhchalke`s opinion and we will figure something out

[2017-10-04 19:42] Sukhj1nder commented on #608
cool, sounds good. :)

[2017-10-04 19:45] JanKaifer commented on #548
In PR #583 we (with @atg-abhishek) came up with `input_string` and `bracket_string`. Don't know which describes parameter better.

[2017-10-04 20:06] saurabhchalke commented on #608
Alright, no problem. I'll look for some other issue in the repo. @m-a-ge

[2017-10-04 20:24] #608 closed

[2017-10-05 00:09] smt923 commented on #537
I was gonna say, I feel like if anything they should match the README, and that seems to have done it ^

[2017-10-05 10:11] #625 closed

[2017-10-05 15:09] #648 closed

[2017-10-05 15:14] #641 closed

[2017-10-05 15:29] #634 closed

[2017-10-05 16:09] #613 closed

[2017-10-05 16:26] #561 closed

[2017-10-05 16:34] #554 closed

[2017-10-05 16:50] m-a-ge commented on #601
Fixed in #711

[2017-10-05 16:50] #601 closed

[2017-10-05 16:55] #599 closed

[2017-10-05 16:59] #652 closed

[2017-10-05 18:45] #602 closed

[2017-10-05 18:59] #527 closed

[2017-10-05 19:04] cmccandless commented on #477
I like the idea; it improves readability significantly.

Maybe we could take advantage of the Hacktoberfest momentum and create another wave of issues for this?

[2017-10-05 19:05] #567 closed

[2017-10-05 19:14] cmccandless opened #720 "Assign open issues to user once claimed"
Especially with the high number of open issues for Hacktoberfest, it would be very helpful to make an effort to actually assign issues to a user once they have begun working on a fix. This way, it is easy to filter on unassigned to see what issues are not yet being worked on.

Recommend "discussion" label for this issue.

[2017-10-05 19:16] m-a-ge commented on #477
good idea, @cmccandless!
It would be somewhat hard to create a list of all affected exercises I think

[2017-10-05 19:17] m-a-ge commented on #720
Ok, I'll bear that in mind, thanks

[2017-10-05 19:17] cmccandless commented on #477
I can begin to make a list.

[2017-10-05 19:19] m-a-ge commented on #477
@cmccandless that would be awesome!

Once we have a list we can create separate issues for each exercise

[2017-10-05 19:22] m-a-ge commented on #611
Fixed in #611

[2017-10-05 19:22] #611 closed

[2017-10-05 19:25] #650 closed

[2017-10-05 19:31] #605 closed

[2017-10-05 19:33] cmccandless commented on #477
#### Affected exercises:
- [binary-search](https://github.com/exercism/python/blob/master/exercises/binary-search/binary_search_test.py#L29-L40)
- [binary](https://github.com/exercism/python/blob/master/exercises/binary/binary_test.py#L34-L44)
- [meetup](https://github.com/exercism/python/blob/master/exercises/meetup/meetup_test.py#L401-L403)
- [minesweeper](https://github.com/exercism/python/blob

[2017-10-05 19:34] #614 closed

[2017-10-05 19:45] cmccandless commented on #610
This exercise is deprecated; should we bother fixing it?

[2017-10-05 19:49] m-a-ge commented on #610
@cmccandless deprecated, could give more details? I'm a bit lost

[2017-10-05 19:52] #552 closed

[2017-10-05 19:53] cmccandless commented on #610
From the [README](/exercism/python/blob/master/exercises/point-mutations/README.md) for point-mutations:

[2017-10-05 21:06] #603 closed

[2017-10-05 21:09] #617 closed

[2017-10-05 21:13] #612 closed

[2017-10-05 21:18] #553 closed

[2017-10-05 21:25] subkrish commented on #544
@m-a-ge This issue can be closed. The file already has parameters.

[2017-10-05 21:27] #563 closed

[2017-10-05 21:35] m-a-ge commented on #544
@subkrish looks like it, thanks for checking

It would be great to change `array` to `list_of_numbers` or something similar. `array` does not sound Pythonish to me, maybe it's just me

[2017-10-05 21:36] subkrish commented on #544
@m-a-ge Sure. I'm on it, I'll make the change.

[2017-10-05 21:59] subkrish commented on #621
@m-a-ge Do parameters need to be added this file also? Looks like it is already there.

[2017-10-05 23:22] SaschaMann opened #724 "complex-numbers: operator overloading"
The complex-number exercise testsuite and [example](https://github.com/lilislilit/python/blob/master/exercises/complex-numbers/example.py) use methods `add`, `mul` etc. instead of the operators `__add__`, `__mul__`. Using the latter, one could do `ComplexNumber(1, 2) + ComplexNumber(3, 4)` instead of `ComplexNumber(1, 2).add(ComplexNumber(3, 4))` which might be a more natural/pythonic way to write

[2017-10-06 05:13] m-a-ge commented on #724
@SaschaMann, good point, thanks! I totally agreed.

I will showcase use of Python`s magic methods an operator overloading (Java for example does not have such luxury) in action. Perhaps it would be a good idea to include a hint explaining what it is in the exercise as well

[2017-10-06 05:17] m-a-ge commented on #621
Yeah, looks like parameters are not required for this one due nature of the exercise, output is generated upon class creation.

I'm closing the issue. Thanks for checking, @subkrish

[2017-10-06 05:17] #621 closed

[2017-10-06 05:18] #544 closed

[2017-10-06 05:48] #616 closed

[2017-10-06 05:52] #606 closed

[2017-10-06 05:57] #545 closed

[2017-10-06 08:50] rozuur commented on #647
I would like to work on this.

[2017-10-06 10:01] m-a-ge commented on #720
@cmccandless,

Looks like it isn't possible, from [docs](https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/)

I suggest claiming the issue with empty [WIP] PR (with this tag in its title stating that work is in progress)

[2017-10-06 10:02] m-a-ge commented on #647
@rozuur ok, feel free to create an empty [work in progress] PR

[2017-10-06 10:06] #537 closed

[2017-10-06 10:07] m-a-ge commented on #537
@smt923 thanks for clarification

[2017-10-06 10:09] #539 closed

[2017-10-06 10:11] #540 closed

[2017-10-06 10:14] #637 closed

[2017-10-06 11:10] cmccandless commented on #720
Good to know, thanks for looking into it.

[2017-10-06 11:10] #720 closed

[2017-10-06 11:32] #541 closed

[2017-10-06 11:35] #623 closed

[2017-10-06 11:37] #624 closed

[2017-10-06 14:07] cmccandless commented on #724
`__abs__()` can also be overridden.

[2017-10-06 16:04] cmccandless commented on #417
I've implemented `dominoes`  at #726.

[2017-10-06 17:39] cmccandless opened #727 "clock: operator overloading"
Like #724, `Clock.add()` in `clock` could be replaced with operator override `__add__`.

[2017-10-06 17:50] cmccandless commented on #549
Exercise already has expected parameters in the template; no fix required.

[2017-10-06 17:59] m-a-ge commented on #549
@cmccandless thanks for checking, closing this one

[2017-10-06 17:59] #549 closed

[2017-10-06 18:08] #572 closed

[2017-10-06 18:59] m-a-ge commented on #417
Updated list of not yet implemented exercises excluding deprecated ones and those which were implemented since Feb 22 (24 in total):

- markdown
- bank-account
- pov
- dot-dsl
- connect
- two-bucket
- sgf-parsing
- zipper
- ledger
- simple-linked-list #385
- forth
- binary-search-tree #388
- tree-building
- error-handling
- react
- parallel-letter-frequency
- hangman
- custom-set
- diffie-hellman

[2017-10-06 19:05] m-a-ge opened #729 "markdown: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #730 "bank-account: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #731 "pov: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #732 "dot-dsl: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #733 "connect: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #734 "two-bucket: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #735 "sgf-parsing: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #736 "zipper: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #737 "ledger: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #738 "simple-linked-list: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #739 "forth: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #740 "binary-search-tree: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #741 "tree-building: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #742 "error-handling: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #743 "react: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #744 "parallel-letter-frequency: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #745 "hangman: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #746 "custom-set: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #747 "diffie-hellman: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #748 "go-counting: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #749 "dominoes: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #750 "food-chain: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] ikhadykin opened #751 "paasio: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:05] m-a-ge opened #752 "spiral-matrix: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-06 19:06] m-a-ge commented on #738
You can find #385 useful

[2017-10-06 19:07] m-a-ge commented on #740
#388 can be useful

[2017-10-06 19:10] m-a-ge commented on #749
@cmccandless have already created PR #726

[2017-10-06 19:11] m-a-ge commented on #417
@kabiir I've created issues as promised 😉

[2017-10-06 20:30] akshitgrover commented on #752
@m-a-ge I will work on this problem.
Can I?

[2017-10-06 20:38] m-a-ge commented on #752
@akshitgrover, sure, got ahead

[2017-10-06 20:40] akshitgrover commented on #752
@m-a-ge I will create a PR ASAP, right now I have 2 exams left.
These are getting over on 8th of October.

[2017-10-06 20:40] LU4XLII commented on #750
Can i?

[2017-10-06 21:01] m-a-ge commented on #750
@LU4XLII sure, have fun
I suggest creating an empty [WIP]  PR - https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md#avoiding-duplicate-work to claim it

[2017-10-06 21:03] m-a-ge commented on #752
@akshitgrover there is no rush, take your time and good luck on your exams 😉

[2017-10-06 21:21] akshitgrover commented on #752
@m-a-ge Thankyou 😄

[2017-10-06 21:27] vaibhavsingh97 commented on #745
can i take up this issue?

[2017-10-06 22:42] m-a-ge commented on #745
@vaibhavsingh97 of course

I suggest creating an empty [WIP] PR - https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md#avoiding-duplicate-work to claim it

[2017-10-06 23:19] forgeRW commented on #744
@m-a-ge Can I work on this?

[2017-10-07 01:14] aes421 commented on #730
I'd like to take a look at this one.

[2017-10-07 04:58] m-a-ge commented on #730
@aes421 that is awesome, good luck!

[2017-10-07 05:00] m-a-ge commented on #744
@forgeRW definitely, good luck and have fun 😉

I suggest creating an empty [WIP] PR - https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md#avoiding-duplicate-work to claim it

[2017-10-07 06:02] #615 closed

[2017-10-07 06:12] #646 closed

[2017-10-07 06:26] #547 closed

[2017-10-07 06:37] #607 closed

[2017-10-07 06:39] #618 closed

[2017-10-07 06:41] #635 closed

[2017-10-07 06:44] #639 closed

[2017-10-07 06:47] #604 closed

[2017-10-07 06:57] #557 closed

[2017-10-07 07:03] m-a-ge commented on #638
#656 was closed and not merged, a separate PR for this particular exercise is needed

[2017-10-07 07:19] m-a-ge commented on #752
As it turned out there an opened PR #526
I somehow missed that (the past few days were crazy), sorry

[2017-10-07 07:30] m-a-ge commented on #746
Apparently there is #479 but it looks abandoned

[2017-10-07 07:34] m-a-ge commented on #734
There is an opened PR #483 but it looks abandoned

[2017-10-07 07:48] m-a-ge commented on #555
Guys, there are 3 open PRs for this one #594, #581, #585

After merging one of them, I'll close others

[2017-10-07 09:35] parthsharma2 commented on #734
Can i take up this issue?

[2017-10-07 11:28] m-a-ge commented on #734
@parthsharma2 I think yes, since there is no activity in #483

[2017-10-07 12:55] parthsharma2 commented on #734
Is the uuid generated automatically??

[2017-10-07 12:56] yunchih commented on #733
I am doing this.

[2017-10-07 13:07] rozuur commented on #647
@m-a-ge done

[2017-10-07 13:20] akshitgrover commented on #738
@m-a-ge I will work on this, but since this PR won't count if i enable automatic merge, so please merge this PR manually, Cool?

[2017-10-07 15:02] cptjackson commented on #734
Hey – feel free to use my implementation if you'd like. I've been snowed under with other stuff the last couple of months!

[2017-10-07 15:52] yunchih commented on #748
I will be doing this!

[2017-10-07 15:58] parthsharma2 commented on #734
#760 Travis CI Check passed. I think the uuid was causing it to fail.

[2017-10-07 18:33] m-a-ge commented on #734
No, you should generate it yourself. It's possible to use special tooling for exercism.
But it's also possible to use online generators - https://www.uuidgenerator.net/

[2017-10-07 18:34] m-a-ge commented on #734
@parthsharma2 yes, there is a special validation for that

[2017-10-07 18:46] #643 closed

[2017-10-07 18:49] m-a-ge commented on #748
@yunchih good luck

I suggest creating an empty [WIP] PR - https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md#avoiding-duplicate-work to claim it

[2017-10-07 18:53] m-a-ge commented on #738
@akshitgrover I didn't quite understand what you mean, could you clarify?

[2017-10-07 19:01] m-a-ge commented on #647
@rozuur I left a minor comment in your PR, please take a look

[2017-10-07 19:09] akshitgrover commented on #738
Read hactoberfest rules.

[2017-10-08 05:51] rodrigocam commented on #740
I'm working on it!

[2017-10-08 06:51] rozuur commented on #647
@m-a-ge I have used side_a, side_b and side_c notation instead of x,y, and z.

[2017-10-08 09:25] Rajdeep400 commented on #750
can i ?

[2017-10-08 09:35] m-a-ge commented on #750
@Rajdeep400 I'd say yes since @LU4XLII the closed claiming PR

@LU4XLII, do you still working on this?

[2017-10-08 09:47] #734 closed

[2017-10-08 09:59] #647 closed

[2017-10-08 10:01] m-a-ge commented on #740
@rodrigocam, I suggest creating an empty [WIP] PR - https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md#avoiding-duplicate-work to claim it

[2017-10-08 10:06] m-a-ge commented on #740
@rodrigocam ah, I see, you've done that, but forgot to add a reference to this issue in order to add visibility. I strongly recommend always doing it, it saves a lot of time.

Please also note that there are some special ['closing issue' keywords](https://help.github.com/articles/closing-issues-using-keywords/) that you can put in description of your PR and Github will take care of closing the cor

[2017-10-08 10:31] m-a-ge commented on #738
@akshitgrover

And?

[2017-10-08 13:35] LU4XLII commented on #750
@m-a-ge I have made a second pull request with the complete exercise.

[2017-10-08 13:41] m-a-ge commented on #750
@LU4XLII could you reference this issue in your PR description to indicate that you're working on it?

It's generally not a good idea to closing existing PR and creating a new one because it's harder for maintainers to track progress etc. If you are not sure how to update already opened PR, feel free to ask

[2017-10-08 15:00] m-a-ge opened #769 "markdown: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-08 15:00] m-a-ge opened #770 "bank-account: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-08 15:00] m-a-ge opened #771 "pov: implement exercise"
There are exercises that are not yet implemented in Python track (the full list of them - https://github.com/exercism/python/issues/417#issuecomment-334841778).
You can help us change this situation by implementing this one. Ref #417

The guide ["Implement an exercise from specification"](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md) will he

[2017-10-08 15:01] #769 closed

[2017-10-08 15:02] m-a-ge commented on #769
Duplicate

[2017-10-08 15:03] m-a-ge commented on #770
Duplicated

[2017-10-08 15:03] #770 closed

[2017-10-08 16:35] N-Parsons commented on #771
Looks like this is a duplicate of #731 ?

[2017-10-08 17:02] m-a-ge commented on #771
Yeah 😞
I've accidentally started a script for issue creation with old data. I'll close this one

Thanks, @N-Parsons

[2017-10-08 17:02] #771 closed

[2017-10-08 20:44] rodrigocam commented on #740
Alright, thanks! Which methods do you want in the binary search tree? I create an insert method and preorder, inorder and postorder traversals.

[2017-10-08 22:59] N-Parsons opened #774 "Cryptographic exercises should highlight the existence of the `secrets` module"
Python 3.6 introduced the `secrets` module, which provides cryptographically stronger randomness than the `random` module. Since this is only available in Python 3.6+, `random` needs to be used in the example code in order maintain backwards compatibility.

I think it's important that any exercise involving cryptography should highlight the existence of the `secrets` module in Python 3.6+ and expl

[2017-10-08 23:00] rodrigocam commented on #740
I made a pull request with the implementation, please take a look!

[2017-10-08 23:29] aes421 commented on #730
Hey @m-a-ge I read up on rebasing.  Do you want me to squash all my commits into one?

[2017-10-09 07:46] m-a-ge commented on #740
@rodrigocam thanks! You've created two PRs #773 and #768. Could you please close one to avoid confusion.

It's up to you

[2017-10-09 07:49] m-a-ge commented on #730
@aes421 that would be great.
There still some unwanted comments in your PR, could you get rid of them?

[2017-10-09 11:34] rodrigocam commented on #740
Ok, sorry. I closed one of them, please take a look (:

[2017-10-09 12:29] aes421 commented on #730
@m-a-ge  Did you mean unwanted commits?

[2017-10-09 13:32] ackerleytng commented on #644
Hi! This is my first pull request ever! I'm trying to understand how pull requests work...

I've completed all the necessary edits and pushed to my `sum-of-multiples-add-parameters` branch at `ackerleytng/python`.

Do I have to make another pull request after this push, or is this good enough?

[2017-10-09 13:48] m-a-ge commented on #730
The ones highlighted in yellow:
![image](https://user-images.githubusercontent.com/6649477/31341211-78117964-ad11-11e7-8f6f-34d2b3bdd554.png)

[2017-10-09 14:11] #550 closed

[2017-10-09 14:13] #551 closed

[2017-10-09 14:19] #559 closed

[2017-10-09 14:26] #566 closed

[2017-10-09 14:48] #644 closed

[2017-10-09 14:52] m-a-ge commented on #644
@ackerleytng no, it looks Ok. I merged it btw 😄

[2017-10-09 14:54] #619 closed

[2017-10-09 17:52] LU4XLII commented on #750
@m-a-ge I have updated the original pull request and closed the second, is this ok now?

[2017-10-09 18:07] N-Parsons opened #784 "All exercise test files should reference canonical data version"
Currently some of the test files reference `x-common//canonical-data.json` with a version number, and a few test files lack any such a reference. Additionally, `x-common` was recently renamed to `problem-specifications`, so references to `x-common` are inherently outdated and potentially confusing.

Having a consistent version string should help with maintenance, since a script can fairly easily b

[2017-10-09 18:52] m-a-ge commented on #750
@LU4XLII give me some time to review it :godmode:

[2017-10-09 18:53] cmccandless opened #786 "Hacktoberfest topic missing from repository topics"
To fully participate in Hacktoberfest, the `hacktoberfest` topic should be added to the repository. See [openfaas/faas](https://github.com/openfaas/faas) for example.

[2017-10-09 19:00] m-a-ge commented on #786
Thanks for the tip, but I can't change repo description and list of topics

[2017-10-09 19:19] cmccandless commented on #786
Actually, this is my fault, I missed something. Looking at the [rules for maintainers](https://hacktoberfest.digitalocean.com), simply tagging issues with `hacktoberfest` should be enough.

[2017-10-09 19:19] #786 closed

[2017-10-09 19:22] m-a-ge commented on #784
Thanks for raising the issue, it's important one.
I think the second option is a way to go and it should be automated. Unfortunately, I have a lot of going on right now, so I can't do it right now

The other thing is that some tests can be trak specific, so it can be also stated in the comment giving the reader a sense of the reason for such decision

[2017-10-09 22:19] ackerleytng commented on #644
Thanks!

[2017-10-09 22:36] N-Parsons commented on #784
I had some free time this evening, so I put together a [fairly rough script for checking the state of version numbering](https://gist.github.com/N-Parsons/9a99d9be6df07e470faf7a9310abbd23). I put [the results into a gist](https://gist.github.com/N-Parsons/b68a02c4413099d0d49531daaa7bcc62) to save making a very long post here, and I have summarised the results below.

**Up-to-date:** 33
**Out-of-da

[2017-10-09 23:10] aes421 commented on #730
@m-a-ge Got everything cleaned up.  What should I do next to finish off the pull request?

[2017-10-10 01:02] shramesh commented on #735
I have opened a [WIP PR #789](https://github.com/exercism/python/pull/789) to work on this issue.

[2017-10-10 01:53] aes421 commented on #417
Is Bowling deprecated?  It's on the unimplemented list, but I don't see an issue for it.  If it's up for grabs I can do it when I finish my current PR.

[2017-10-10 07:17] m-a-ge commented on #730
@aes421 I (or someone else) will review it once again to make sure everything is Ok and merge it.
Might take some time considering amount of activity this month. I'll try to do it today

[2017-10-10 07:21] m-a-ge commented on #784
@N-Parsons wow, that's awesome!
The next step will be a creation of issues for required exercises and linking them with this issue

[2017-10-10 07:30] #556 closed

[2017-10-10 07:35] m-a-ge commented on #417
@aes421 hm, looks like I've missed that exercise somehow.
Feel free to open a new PR any time (there is no need to wait until your other PR are merged). Only make sure you'll use different branch based on `upstream/master` when you start working.
Link to Problem Specification for the exercise - https://github.com/exercism/problem-specifications/tree/master/exercises/bowling

[2017-10-10 07:37] #569 closed

[2017-10-10 12:37] aes421 commented on #730
No problem, I understand.  Thanks!

[2017-10-11 05:59] #560 closed

[2017-10-11 11:59] rohitrango commented on #638
Is this issue still open?

[2017-10-11 12:03] m-a-ge commented on #638
@rohitrango yeah, I think so, since there are no open PRs linked to the issue

[2017-10-11 12:12] rohitrango commented on #638
I'm getting myself familiar with the platform, after which I can start working on it. Can I?

[2017-10-11 14:53] rohitrango commented on #638
So I did a little bit of homework and found that there should ideally be one PR for each exercise. This issue doesn't point to any specific exercise. Should I search and fix some other issue? Please correct me if I'm wrong.

[2017-10-11 16:17] m-a-ge commented on #638
@rohitrango the name of the exercise is stated in the header of the issue:
 `series: add parameters to exercise placeholder`

Yes, there should be one PR per one issue, it's easier that way to review them

[2017-10-11 16:19] #622 closed

[2017-10-11 19:21] #747 closed

[2017-10-11 20:34] #638 closed

[2017-10-11 20:55] KrishanBhasin commented on #741
Can I have a go at this?

[2017-10-12 07:01] #548 closed

[2017-10-12 07:12] #546 closed

[2017-10-12 10:09] N-Parsons commented on #784
I realised that some deprecated exercises were included, so I added a check for that, as well as checking whether the version string references `x-common`.

**Script:** [gist (rev 2)](https://gist.github.com/N-Parsons/9a99d9be6df07e470faf7a9310abbd23)
**Results:** [gist (rev 4)](https://gist.github.com/N-Parsons/b68a02c4413099d0d49531daaa7bcc62)

### Summary:
**Up-to-date:** 0
**Up-to-date, but `x

[2017-10-12 13:01] m-a-ge commented on #784
@N-Parsons how do you think we should proceed, for which exercises we should open issues?

[2017-10-12 14:17] cmccandless opened #794 "two-bucket: Fix incorrect test case"
Canonical data was recently changed for this exercise to [fix an incorrect test case](/exercism/problem-specifications/issues/911). The [implementation](https://github.com/exercism/python/blob/master/exercises/two-bucket/two_bucket_test.py#L28) for the updated test data should be updated as well.

[2017-10-12 18:45] #794 closed

[2017-10-14 10:39] N-Parsons commented on #784
I've written a script to automate the update for the 33 exercises that reference `x-common`, so I'm ready to submit those PRs whenever you want - do you want issues to exist for them first? The script is set-up to create separate PRs for each, since I presume that this is preferable?

The "Out-of-date" and "Unknown" categories will need a more manual approach, so I think issues should be created f

[2017-10-14 11:00] m-a-ge commented on #784
@N-Parsons that is awesome.
I think that you can create a single PR for all 33 exercises that reference x-common.
But for "Out-of-date" and "Unknown" seperate issues should be created for people to check them. I think I'll add `hacktoberfest` and `beginner-friendly` labels

Will it work for you?

[2017-10-14 11:25] N-Parsons commented on #784
@m-a-ge, that's fine - I'll tweak my script and do the pull request now.

[2017-10-14 11:29] m-a-ge commented on #784
@N-Parsons I guess one commit message would be enough, since it solves one issue

[2017-10-14 12:06] m-a-ge opened #808 "Add missing topics for exercises in config.json"
In preparation for a new version of Exercism topics will play a crucial role, so it's very important to have them for each exercise. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics f

[2017-10-14 12:19] m-a-ge opened #809 "isogram: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can

[2017-10-14 12:20] m-a-ge opened #810 "gigasecond: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can

[2017-10-14 12:20] m-a-ge opened #811 "bob: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can

[2017-10-14 12:20] m-a-ge opened #812 "run-length-encoding: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can

[2017-10-14 12:20] m-a-ge opened #813 "meetup: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can

[2017-10-14 12:20] m-a-ge opened #814 "difference-of-squares: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can

[2017-10-14 12:20] m-a-ge opened #815 "anagram: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can

[2017-10-14 12:20] m-a-ge opened #816 "allergies: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can

[2017-10-14 12:20] m-a-ge opened #817 "series: add topics"
As stated in #808 we need to add topics for exercises. They should be relevant to the exercise even though you might be able to solve it without encountering that topic. Here is the list of commonly used topics in every track - https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt, please use topics from this list or add one if you think it's missing but required.
Hint: you can